<table class="table bordered show-table">
    <tbody>
        <tr class="sonata-ba-view-container">
            <th>{{ 'label.pessoal.servidor.matricula'|trans }}</th>
            <td><span class="left">{{ field.data.registro }}</span></td>
        </tr>
        <tr class="sonata-ba-view-container">
            <th>{{ 'cgm'|trans }}</th>
            <td><span class="left">{{ field.data.numcgm ~ ' - ' ~ field.data.nom_cgm }}</span></td>
        </tr>
        <tr class="sonata-ba-view-container">
            <th>{{ 'lotacao'|trans }}</th>
            <td><span class="left">{{ field.data.orgao ~ ' - ' ~ field.data.desc_orgao }}</span></td>
        </tr>
        <tr class="sonata-ba-view-container">
            <th>{{ 'label.ferias.regimeFuncao'|trans }}</th>
            <td><span class="left">{{ field.data.desc_regime_funcao ~ ' - ' ~ field.data.desc_funcao }}</span></td>
        </tr>
    </tbody>
</table>
