<div class="row">
    <table class="bordered highlight">
        <thead>
        <tr>
            <th width="3%"></th>
            <th width="50%">{{ 'label.itens.item'|trans }}</th>
            <th class="right-align">{{ 'label.ordem.itemUnidade'|trans }}</th>
            <th class="right-align">{{ 'label.ordem.codCentro'|trans }}</th>
            <th class="right-align">{{ 'label.ordem.solicitacaoOc'|trans }}</th>
            <th class="right-align">{{ 'label.ordem.atendidoOc'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in field.data.itens %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ item.nom_item }}</td>
                <td class="right-align">{{ item.nom_unidade }}</td>
                <td class="right-align">{{ item.nom_centro }}</td>
                <td class="right-align">{{ item.solicitado_oc }}</td>
                <td class="right-align">{{ item.atendido_oc }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
