{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "CoreBundle::Sonata/standard_layout.html.twig" %}

{#{% import 'CoreBundle:Sonata/CRUD:base_show_macro.html.twig' as show_helper %}#}

{% block actions %}
    {% include 'CoreBundle:Sonata/CRUD:action_buttons.html.twig' %}
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': sonata_admin.adminPool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% block content %}
    {{ breadcrumb() }}
    <div class="sonata-ba-delete center valign-wrapper delete-box">
        <div class="box box-danger container valign">
            {#<div class="box-header valign">#}
                {#<h3 class="col s12 box-title">{{ 'title_delete'|trans({}, 'SonataCoreBundle') }}</h3>#}
            {#</div>#}
            <div class="box-body col s12">
                {% if admin.customMessageDelete is defined and admin.customMessageDelete != false %}
                    <h4 class="blue-text text-darken-4">{{ admin.customMessageDelete|trans({'%object%': admin.toString(object)}, 'SonataCoreBundle') }}</h4>
                {% else %}
                    <h4 class="blue-text text-darken-4">{{ 'message_delete_confirmation'|trans({'%object%': admin.toString(object)}, 'SonataCoreBundle') }}</h4>
                {% endif %}
            </div>
            {#{{ show_helper.render_groups(admin, object, elements, admin.showtabs.default.groups, has_tab) }}#}
            <div class="box-footer clearfix col s12">
                <form method="POST" action="{{ admin.generateObjectUrl('delete', object) }}">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}">
                        {#{{ 'delete_or'|trans({}, 'SonataCoreBundle') }}#}
                        <div class="col s6">
                            <a class="btn grey darken-1 btn-bold cancel" href="#" onclick="window.history.back();" {#href="{{ admin.generateObjectUrl('edit', object) }}"#}><i></i>Cancelar{#{ 'link_action_edit'|trans({}, 'SonataCoreBundle') }#}</a>
                        </div>
                        <div class="col s6">
                            <button type="submit" class="btn btn-danger btn-bold"><i class="fa fa-trash"></i> {{ 'btn_delete'|trans({}, 'SonataCoreBundle') }}</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
    {#<div class="row">#}
        {#{% if admin.hasroute('list') and admin.isGranted('LIST') %}#}
            {#<div class="col s8 initial">#}
                {#<a  class="btn-floating white-text blue darken-4 btn-success" href="{{ admin.generateUrl('list') }}"><i class="material-icons">arrow_back</i>{</a>#}
            {#</div>#}
        {#{% endif %}#}
    {#</div>#}
{% endblock %}
