{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}


{#

This code manage the one-to-many association field popup

#}
{% set defaultObjectId = sonata_admin.admin.defaultObjectId %}
{% autoescape false %}

<!-- edit one association -->

<script type="text/javascript">

    // handle the add link
    var field_add_{{ id }} = function(event) {
        event.preventDefault();
        event.stopPropagation();

        var defaultObjectId = "{{ defaultObjectId }}";
        var form = jQuery(this).closest('form');

        var $link = jQuery('#field_container_{{ id }}').find('.load-more');

        if ( !$link.hasClass('load-more--loading') ) {
            $link.addClass('load-more--loading');
        }

        jQuery(form).ajaxSubmit({
            url: '{{ path('sonata_admin_append_form_element', {
                'code':      sonata_admin.admin.root.code,
                'elementId': id,
                defaultObjectId : sonata_admin.admin.root.id(sonata_admin.admin.root.subject),
                'uniqid':    sonata_admin.admin.root.uniqid,
                'subclass': app.request.query.get('subclass'),
            } + sonata_admin.field_description.getOption('link_parameters', {})) }}',
            type: "POST",
            dataType: 'html',
            data: {_xml_http_request: true},
            success: function (html) {
                if (!html.length) {
                    return;
                }

                jQuery('#field_container_{{ id }}').replaceWith(html); // replace the html

                Admin.shared_setup(jQuery('#field_container_{{ id }}'));

                if (jQuery('input[type="file"]', form).length > 0) {
                    jQuery(form).attr('enctype', 'multipart/form-data');
                    jQuery(form).attr('encoding', 'multipart/form-data');
                }
                jQuery('#sonata-ba-field-container-{{ id }}').trigger('sonata.add_element');


                // remove loading status' class
                jQuery(this).removeClass('load-more--loading');
            },
            error: function() {
                // remove loading status' class
                $link.removeClass('load-more--loading');
                $.urbemModal()
                        .setTitle('<div class="alert alert-warning-modal alert-dismissable"></div>')
                        .setBody('<h4 class="text-center">Ocorreu um erro ao carregar o conteúdo.<br />Entre em contato com o suporte.</h4>')
                        .open()
                ;
                return false;
            }
        });

        return false;
    };

    var field_widget_{{ id }} = false;

    // this function initialize the popup
    // this can be only done this way has popup can be cascaded
    function start_field_retrieve_{{ id }}(link) {
        moneyUnmask();

        link.onclick = null;

        // initialize component
        field_widget_{{ id }} = jQuery("#field_widget_{{ id }}");

        // add the jQuery event and loading status to <a> element
        jQuery(link)
            .addClass('load-more--loading')
            .click(field_add_{{ id }})
            .trigger('click')
        ;

        return false;
    }
</script>

<!-- / edit one association -->

{% endautoescape %}
