{% set grupoVencimento = field.data.grupoVencimento %}
<div class="box-body  no-padding">
    <table class="table show-table">
        <tbody>
            <tr class="sonata-ba-view-container">
                <th>{{ "label.definirVencimentos.grupoCredito" | trans }}</th>
                <td>{{ grupoVencimento.codGrupo ~ '/' ~ grupoVencimento.anoExercicio ~ ' - ' ~ grupoVencimento.fkArrecadacaoCalendarioFiscal.fkArrecadacaoGrupoCredito.descricao }}</td>
            </tr>
            <tr class="sonata-ba-view-container">
                <th>{{ "label.calendarioFiscal.gruposVencimentos" | trans }}</th>
                <td>{{ grupoVencimento.descricao }}</td>
            </tr>
            <tr class="sonata-ba-view-container">
                <th>{{ "label.calendarioFiscal.vencimentoValorIntegral" | trans }}</th>
                <td>{{ grupoVencimento.dataVencimentoParcelaUnica|date('d/m/Y') }}</td>
            </tr>
            <tr class="sonata-ba-view-container">
                <th>{{ "label.calendarioFiscal.limiteInicial" | trans }}</th>
                <td>{{ grupoVencimento.limiteInicial }}</td>
            </tr>
            <tr class="sonata-ba-view-container">
                <th>{{ "label.calendarioFiscal.limiteFinal" | trans }}</th>
                <td>{{ grupoVencimento.limiteFinal }}</td>
            </tr>
        </tbody>
    </table>
</div>