{% block form_row %}
    <table class="table show-table">
        <tbody>
            <tr class="sonata-ba-view-container">
                <th>{{ form_label(form.numOrgao) }}</th>
                <td>
                    {{ form_widget(form.numOrgao) }}
                    {{ form_errors(form.numOrgao) }}
                </td>
            </tr>

            <tr class="sonata-ba-view-container">
                <th>{{ form_label(form.fkOrcamentoUnidade) }}</th>
                <td>
                    {{ form_widget(form.fkOrcamentoUnidade) }}
                    {{ form_errors(form.fkOrcamentoUnidade) }}
                </td>
            </tr>

            <tr class="sonata-ba-view-container">
                <th>{{ form_label(form.gerenciador) }}</th>
                <td>
                    {{ form_widget(form.gerenciador) }}
                    {{ form_errors(form.gerenciador) }}
                </td>
            </tr>

            <tr class="sonata-ba-view-container">
                <th>{{ form_label(form.participante) }}</th>
                <td>
                    {{ form_widget(form.participante) }}
                    {{ form_errors(form.participante) }}
                </td>
            </tr>

            <tr class="sonata-ba-view-container">
                <th>{{ form_label(form.fkSwCgmPessoaFisica) }}</th>
                <td>
                    {{ form_widget(form.fkSwCgmPessoaFisica) }}
                    {{ form_errors(form.fkSwCgmPessoaFisica) }}
                </td>
            </tr>

            <tr class="sonata-ba-view-container">
                <th>{{ form_label(form.numeroProcessoAdesao) }}</th>
                <td>
                    {{ form_widget(form.numeroProcessoAdesao) }}
                    {{ form_errors(form.numeroProcessoAdesao) }}
                </td>
            </tr>

            <tr class="sonata-ba-view-container">
                <th>{{ form_label(form.exercicioAdesao) }}</th>
                <td>
                    {{ form_widget(form.exercicioAdesao) }}
                    {{ form_errors(form.exercicioAdesao) }}
                </td>
            </tr>

            <tr class="sonata-ba-view-container">
                <th>{{ form_label(form.dtAdesao) }}</th>
                <td>
                    {{ form_widget(form.dtAdesao) }}
                    {{ form_errors(form.dtAdesao) }}
                </td>
            </tr>

            <tr class="sonata-ba-view-container">
                <th>{{ form_label(form.dtPublicacaoAvisoIntencao) }}</th>
                <td>
                    {{ form_widget(form.dtPublicacaoAvisoIntencao) }}
                    {{ form_errors(form.dtPublicacaoAvisoIntencao) }}
                </td>
            </tr>

            <tr>
                <th>&nbsp;</th>
                <td>
                    <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Remover"><i class="material-icons">remove_circle</i></a>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock form_row %}