{% block form_row %}
    <table class="table show-table">
        <tbody>
            <tr class="sonata-ba-view-container">
                <th>{{ form_label(form.dataCotacao) }}</th>
                <td>
                    {{ form_widget(form.dataCotacao) }}
                    {{ form_errors(form.dataCotacao) }}
                </td>
            </tr>

            <tr class="sonata-ba-view-container">
                <th>{{ form_label(form.fkAlmoxarifadoCatalogoItem) }}</th>
                <td>
                    {{ form_widget(form.fkAlmoxarifadoCatalogoItem) }}
                    {{ form_errors(form.fkAlmoxarifadoCatalogoItem) }}
                </td>
            </tr>

            <tr class="sonata-ba-view-container">
                <th>{{ form_label(form.numItem) }}</th>
                <td>
                    {{ form_widget(form.numItem) }}
                    {{ form_errors(form.numItem) }}
                </td>
            </tr>

            <tr class="sonata-ba-view-container">
                <th>{{ form_label(form.vlCotacaoPrecoUnitario) }}</th>
                <td>
                    {{ form_widget(form.vlCotacaoPrecoUnitario) }}
                    {{ form_errors(form.vlCotacaoPrecoUnitario) }}
                </td>
            </tr>

            <tr class="sonata-ba-view-container">
                <th>{{ form_label(form.quantidadeCotacao) }}</th>
                <td>
                    {{ form_widget(form.quantidadeCotacao) }}
                    {{ form_errors(form.quantidadeCotacao) }}
                </td>
            </tr>

            <tr class="sonata-ba-view-container">
                <th>{{ form_label(form.precoUnitario) }}</th>
                <td>
                    {{ form_widget(form.precoUnitario) }}
                    {{ form_errors(form.precoUnitario) }}
                </td>
            </tr>

            <tr class="sonata-ba-view-container">
                <th>{{ form_label(form.quantidadeLicitada) }}</th>
                <td>
                    {{ form_widget(form.quantidadeLicitada) }}
                    {{ form_errors(form.quantidadeLicitada) }}
                </td>
            </tr>

            <tr class="sonata-ba-view-container">
                <th>{{ form_label(form.quantidadeAderida) }}</th>
                <td>
                    {{ form_widget(form.quantidadeAderida) }}
                    {{ form_errors(form.quantidadeAderida) }}
                </td>
            </tr>

            <tr class="sonata-ba-view-container">
                <th>{{ form_label(form.percentualDesconto) }}</th>
                <td>
                    {{ form_widget(form.percentualDesconto) }}
                    {{ form_errors(form.percentualDesconto) }}
                </td>
            </tr>

            <tr class="sonata-ba-view-container">
                <th>{{ form_label(form.fkSwCgm) }}</th>
                <td>
                    {{ form_widget(form.fkSwCgm) }}
                    {{ form_errors(form.fkSwCgm) }}
                </td>
            </tr>

            <tr class="sonata-ba-view-container">
                <th>{{ form_label(form.ordemClassificacaoFornecedor) }}</th>
                <td>
                    {{ form_widget(form.ordemClassificacaoFornecedor) }}
                    {{ form_errors(form.ordemClassificacaoFornecedor) }}
                </td>
            </tr>

            <tr>
                <th>&nbsp;</th>
                <td>
                    <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Remover"><i class="material-icons">remove_circle</i></a>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock form_row %}