<table class="table show-table">
    <tbody>
        <tr class="sonata-ba-view-container">
            <th>{{ form_label(form.fkOrcamentoEntidade) }}</th>
            <td>
                {{ form_widget(form.fkOrcamentoEntidade) }}

                {% if show_error %}
                    {{ form_errors(form.fkOrcamentoEntidade) }}

                {% endif %}
            </td>
        </tr>

        <tr class="sonata-ba-view-container">
            <th>{{ form_label(form.numeroRegistroPrecos) }}</th>
            <td>
                {{ form_widget(form.numeroRegistroPrecos) }}

                {% if show_error %}
                    {{ form_errors(form.numeroRegistroPrecos) }}

                {% endif %}
            </td>
        </tr>

        <tr class="sonata-ba-view-container">
            <th>{{ form_label(form.interno) }}</th>
            <td>
                {{ form_widget(form.interno) }}

                {% if show_error %}
                    {{ form_errors(form.interno) }}

                {% endif %}
            </td>
        </tr>

        <tr class="sonata-ba-view-container">
            <th>{{ form_label(form.dataAberturaRegistroPrecos) }}</th>
            <td>
                {{ form_widget(form.dataAberturaRegistroPrecos) }}

                {% if show_error %}
                    {{ form_errors(form.dataAberturaRegistroPrecos) }}

                {% endif %}
            </td>
        </tr>

        <tr class="sonata-ba-view-container">
            <th>{{ form_label(form.fkSwCgm) }}</th>
            <td>
                {{ form_widget(form.fkSwCgm) }}

                {% if show_error %}
                    {{ form_errors(form.fkSwCgm) }}

                {% endif %}
            </td>
        </tr>

        <tr class="sonata-ba-view-container">
            <th>{{ form_label(form.exercicioLicitacao) }}</th>
            <td>
                {{ form_widget(form.exercicioLicitacao) }}

                {% if show_error %}
                    {{ form_errors(form.exercicioLicitacao) }}

                {% endif %}
            </td>
        </tr>

        <tr class="sonata-ba-view-container">
            <th>{{ form_label(form.codigoModalidadeLicitacao) }}</th>
            <td>
                {{ form_widget(form.codigoModalidadeLicitacao) }}

                {% if show_error %}
                    {{ form_errors(form.codigoModalidadeLicitacao) }}

                {% endif %}
            </td>
        </tr>

        <tr class="sonata-ba-view-container">
            <th>{{ form_label(form.numeroModalidade) }}</th>
            <td>
                {{ form_widget(form.numeroModalidade) }}

                {% if show_error %}
                    {{ form_errors(form.numeroModalidade) }}

                {% endif %}
            </td>
        </tr>

        <tr class="sonata-ba-view-container">
            <th>{{ form_label(form.numeroProcessoLicitacao) }}</th>
            <td>
                {{ form_widget(form.numeroProcessoLicitacao) }}

                {% if show_error %}
                    {{ form_errors(form.numeroProcessoLicitacao) }}

                {% endif %}
            </td>
        </tr>

        <tr class="sonata-ba-view-container">
            <th>{{ form_label(form.dataAtaRegistroPreco) }}</th>
            <td>
                {{ form_widget(form.dataAtaRegistroPreco) }}

                {% if show_error %}
                    {{ form_errors(form.dataAtaRegistroPreco) }}

                {% endif %}
            </td>
        </tr>

        <tr class="sonata-ba-view-container">
            <th>{{ form_label(form.dataAtaRegistroPrecoValidade) }}</th>
            <td>
                {{ form_widget(form.dataAtaRegistroPrecoValidade) }}

                {% if show_error %}
                    {{ form_errors(form.dataAtaRegistroPrecoValidade) }}

                {% endif %}
            </td>
        </tr>

        <tr class="sonata-ba-view-container">
            <th>{{ form_label(form.objeto) }}</th>
            <td>
                {{ form_widget(form.objeto) }}

                {% if show_error %}
                    {{ form_errors(form.objeto) }}

                {% endif %}
            </td>
        </tr>

        <tr class="sonata-ba-view-container">
            <th>{{ form_label(form.fkSwCgmPessoaFisica) }}</th>
            <td>
                {{ form_widget(form.fkSwCgmPessoaFisica) }}

                {% if show_error %}
                    {{ form_errors(form.fkSwCgmPessoaFisica) }}

                {% endif %}
            </td>
        </tr>

        <tr class="sonata-ba-view-container">
            <th>{{ form_label(form.descontoTabela) }}</th>
            <td>
                {{ form_widget(form.descontoTabela) }}

                {% if show_error %}
                    {{ form_errors(form.descontoTabela) }}

                {% endif %}
            </td>
        </tr>

        <tr class="sonata-ba-view-container">
            <th>{{ form_label(form.processoLote) }}</th>
            <td>
                {{ form_widget(form.processoLote) }}

                {% if show_error %}
                    {{ form_errors(form.processoLote) }}

                {% endif %}
            </td>
        </tr>

        <tr class="sonata-ba-view-container">
            <td colspan="2">
                Licitação
            </td>
        </tr>

        <tr class="sonata-ba-view-container">
            <td colspan="2">
                {% form_theme form.fkTcemgRegistroPrecosLicitacoes 'PrestacaoContasBundle::Tribunal/MG/Configuracao/RegistroPrecos/form_fkTcemgRegistroPrecosLicitacoes.html.twig' %}
                {{ form_widget(form.fkTcemgRegistroPrecosLicitacoes) }}
            </td>
        </tr>
    </tbody>
</table>
