{% block form_row %}
    <tr class="sonata-ba-view-container">
        <th>{{ form_label(form.quantidade) }}</th>
        <td>
            {{ form_widget(form.quantidade) }}
            {{ form_errors(form.quantidade) }}
        </td>
    </tr>

    <tr class="sonata-ba-view-container">
        <th>{{ form_label(form.fkTcemgItemRegistroPrecos) }}</th>
        <td>
            {{ form_widget(form.fkTcemgItemRegistroPrecos) }}
            {{ form_errors(form.fkTcemgItemRegistroPrecos) }}
        </td>
    </tr>

    <tr class="sonata-ba-view-container">
        <th>{{ form_label(form.fkTcemgRegistroPrecosOrgao) }}</th>
        <td>
            {{ form_widget(form.fkTcemgRegistroPrecosOrgao) }}
            {{ form_errors(form.fkTcemgRegistroPrecosOrgao) }}
        </td>
    </tr>

    <tr>
        <th>&nbsp;</th>
        <td>
            <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Remover"><i class="material-icons">remove_circle</i></a>
        </td>
    </tr>

{% endblock form_row %}