{% block form_row %}
    <table class="table show-table">
        <tbody>
            <tr class="sonata-ba-view-container">
                <th>{{ form_label(form.exercicioLicitacao) }}</th>
                <td>
                    {{ form_widget(form.exercicioLicitacao) }}
                    {{ form_errors(form.exercicioLicitacao) }}
                </td>
            </tr>

            <tr class="sonata-ba-view-container">
                <th>{{ form_label(form.fkComprasModalidade) }}</th>
                <td>
                    {{ form_widget(form.fkComprasModalidade) }}
                    {{ form_errors(form.fkComprasModalidade) }}
                </td>
            </tr>

            <tr class="sonata-ba-view-container">
                <th>{{ form_label(form.fkLicitacaoLicitacao) }}</th>
                <td>
                    {{ form_widget(form.fkLicitacaoLicitacao) }}
                    {{ form_errors(form.fkLicitacaoLicitacao) }}
                </td>
            </tr>
        </tbody>
    </table>

{% endblock form_row %}