{% block form_row %}
    <table class="table show-table">
        <tbody>
            <tr class="sonata-ba-view-container">
                <th>{{ form_label(form.codLote) }}</th>
                <td>
                    {{ form_widget(form.codLote) }}
                    {{ form_errors(form.codLote) }}
                </td>
            </tr>

            <tr class="sonata-ba-view-container">
                <th>{{ form_label(form.descricaoLote) }}</th>
                <td>
                    {{ form_widget(form.descricaoLote) }}
                    {{ form_errors(form.descricaoLote) }}
                </td>
            </tr>

            <tr class="sonata-ba-view-container">
                <th>{{ form_label(form.percentualDescontoLote) }}</th>
                <td>
                    {{ form_widget(form.percentualDescontoLote) }}
                    {{ form_errors(form.percentualDescontoLote) }}
                </td>
            </tr>

            <tr class="sonata-ba-view-container">
                <td colspan="2">
                    Itens
                </td>
            </tr>

            <tr class="sonata-ba-view-container">
                <td colspan="2">
                    <a href="#" id="add-item_fkTcemgItemRegistroPrecos" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir">
                        <i class="material-icons">add_circle</i>
                    </a>
                </td>
            </tr>

            <tr class="sonata-ba-view-container">
                <td colspan="2">
                    {% form_theme form.fkTcemgItemRegistroPrecos 'PrestacaoContasBundle::Tribunal/MG/Configuracao/RegistroPrecos/form_fkTcemgItemRegistroPrecos.html.twig' %}
                    {{ form_widget(form.fkTcemgItemRegistroPrecos) }}
                </td>
            </tr>
        </tbody>
    </table>

{% endblock form_row %}