{% extends "base.html.twig" %}
{% block content %}
<div class="">
    <div class="col s12 title-edit box-title-rh">
        <h5>curso edit</h5>
        <div class="divider grey title-divider"><p>1</p></div>
    </div>
    <div class="row">
        {{ form_start(edit_form) }}
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(edit_form.nomCurso, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(edit_form.nomCurso, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(edit_form.nomCurso) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(edit_form.codGrau, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(edit_form.codGrau, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(edit_form.codGrau) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(edit_form.codAreaConhecimento, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(edit_form.codAreaConhecimento, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(edit_form.codAreaConhecimento) }}
        </div>
    </div>
    <div class="row">
        <div class="col s9">
            <a  class="btn-floating white-text blue darken-4" href="{{ path('estagio_configuracao_curso_index') }}"><i class="material-icons">arrow_back</i></a>
        </div>
        <div class="col s2 right-align">
            <button type="submit" class="waves-effect waves-light btn blue darken-4" value="Salvar"><i class="material-icons left">save</i> Salvar</button>
        </div>
        {{ form_end(edit_form) }}
        <div class="hide-on-med-and-down col l1 right-align">
            {{ form_start(delete_form) }}
            <button class="btn waves-effect waves-light white-text grey tooltipped" data-position="right" data-delay="50" data-tooltip="Excluir" value="Delete" type="submit" name="action"><i class="material-icons">delete</i></button>
            {{ form_end(delete_form) }}
        </div>
    </div>
</div>
{% endblock %}
