{% extends "base.html.twig" %}
{% block content %}
<div class="container-rh">
    <div class="row title-index filtro filtro-sonata z-depth-0 filtro-rh">
        <form method="get" name="frm" action="{{ path('estagio_configuracao_curso_index')}}">
            <div class="col s3 field-filtro">
                  <label for="curso" class="control-label label-rh">Curso</label>
                <div>
                    <input id="curso" name="curso" type="text" class="input-rh">
                </div>
            </div>
            <div class="col s1 busca-rh">
                <div class="buscar center">
                    <button type="submit" class="hide-on-med-and-down btn waves-effect waves-light blue-darken-4">
                        <i class="material-icons">search</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <a class="left hide-on-med-and-down waves-effect waves-light btn blue darken-4 add-rh" href="{{ path('estagio_configuracao_curso_new') }}"><i class="material-icons left icon-rh">add</i>Incluir</a>
    </div>
    <div class="row">
        <table class="bordered highlight">
            <thead class="thead-rh">
                <tr class="sonata-ba-list-field-header">
                    {#<th class="th-rh">Codcurso</th>#}
                    <th class="th-rh">Nome do Curso</th>
                    <th class="th-rh">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for curso in cursos %}
                <tr>
                    {#<td class="td-rh"><a href="{{ path('estagio_configuracao_curso_show', { 'id': curso.codCurso }) }}">{{ curso.codCurso }}</a></td>#}
                    <td class="td-rh">{{ curso.nomCurso }}</td>
                    <td class="td-rh">
                        <div class="btn-group">
                            <a href="{{ path('estagio_configuracao_curso_show', { 'id': curso.codCurso }) }}" data-position="left" data-delay="50" data-tooltip="Detalhe" class="btn btn-delete-sonata blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped" data-tooltip-id="d5c891dc-189c-f92e-efa7-e36184b2038c">
                                <i class="fa fa-search-plus"></i>
                            </a>
                            <a href="{{ path('estagio_configuracao_curso_edit', { 'id': curso.codCurso }) }}" data-position="left" data-delay="50" data-tooltip="Editar" class="btn btn-delete-sonata blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped" data-tooltip-id="d5c891dc-189c-f92e-efa7-e36184b2038c">
                                <i class="material-icons">edit</i>
                            </a>
                            <button type="submit" class="btn btn-delete-sonata blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped" data-position="right" data-delay="50" data-tooltip="Excluir" data-tooltip-id="3fac1630-635c-78bc-454d-e0e8301e2298">
                                <i class="material-icons">delete</i>
                            </button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="center">
            {{ knp_pagination_render(cursos) }}
        </div>
    </div>
</div>
{% endblock %}
