{% extends "base.html.twig" %}
{% block content %}
<div class="">
    <div class="col s12 title-edit box-title-rh">
        <h5>Curso</h5>
        <div class="divider grey title-divider"><p>1</p></div>
    </div>
    <div class="row">
        {{ form_start(form) }}
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(form.nomCurso, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(form.nomCurso, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(form.nomCurso) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(form.codGrau, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(form.codGrau, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(form.codGrau) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(form.codAreaConhecimento, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(form.codAreaConhecimento, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(form.codAreaConhecimento) }}
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <a class="btn-floating white-text blue darken-4" href="{{ path('estagio_configuracao_curso_index') }}"><i class="material-icons">arrow_back</i></a>
        </div>
        <div class="col s6 right-align">
            <button type="submit" class="hide-on-med-and-down waves-effect waves-light btn blue darken-4"><i class="material-icons left">save</i>Salvar</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
