{% extends "base.html.twig" %}
{% block content %}
<div class="">
    <div class="col s10 title-show">
        <h5>Curso</h5>
    </div>
    <div class="hide-on-med-and-down col l1 right-align">
        <a class="top-btn btn waves-effect waves-light white-text blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Editar" href="{{ path('estagio_configuracao_curso_edit', { 'id': curso.codCurso }) }}"><i class="material-icons">edit</i></a>
    </div>
    <div class="hide-on-med-and-down col l1 right-align">
        {{ form_start(delete_form) }}
        <button class="top-btn btn waves-effect waves-light white-text blue darken-4 tooltipped" data-position="right" data-delay="50" data-tooltip="Excluir" value="Delete" type="submit" name="action"><i class="material-icons">delete</i></button>
        {{ form_end(delete_form) }}
    </div>
    <div class="col s12">
        <table class="striped bordered show-table">
        <tbody>
            <tr>
                <th class="right-rh">Codcurso</th>
                <td>{{ curso.codCurso }}</td>
            </tr>
            <tr>
                <th class="right-rh">Nomcurso</th>
                <td>{{ curso.nomCurso }}</td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="col s12 marg">
        <a  class="btn-floating white-text blue darken-4" href="{{ path('estagio_configuracao_curso_index') }}"><i class="material-icons">arrow_back</i></a>
    </div>
</div>
{% endblock %}
