<div class="sonata-ba-collapsed-fields">

    {% for swDocumento in swDocumentoArray %}

    <div class="form_row col s3 campo-sonata"
         id="sonata-ba-field-container-{{ fileFieldPrefix }}{{ swDocumento.codDocumento }}">
        <label class=" control-label"
               for="{{ fileFieldPrefix }}{{ swDocumento.codDocumento }}">
            {{ swDocumento.nomDocumento }}
        </label>
        <div class="sonata-ba-field sonata-ba-field-standard-natural ">
            <input type="file" id="{{ fileFieldPrefix }}{{ swDocumento.codDocumento }}"
                   name="{{ fileFieldPrefix }}{{ swDocumento.codDocumento }}"
                   class="campo-sonata form-control">
        </div>
    </div>

    {% else %}

        <div class="form_row col s12 campo-sonata">
            {{ 'swProcesso.nenhumDocumento'|trans({}, 'flashes') }}
        </div>

    {% endfor %}
</div>
