<div class="row">
    <div class="box box-primary">
        <div class="box-header col s12">
            <h2 class="col s12 box-title left-align show">
                {{ 'label.convenioAdmin.convenio'|trans }}
            </h2>
            <div class="divider grey title-divider"></div>
        </div>
        <div class="box-body">
            <div class="col s12">
                <table class="table show-table">
                    <tbody>
                    <tr class="sonata-ba-view-container">
                        <th>{{ 'label.convenioAdmin.numConvenio'|trans }}</th>
                        <td>{{ admin.convenio.numConvenio ~ "/" ~ admin.convenio.exercicio }}</td>
                    </tr>
                    <tr class="sonata-ba-view-container">
                        <th>{{ 'label.convenioAdmin.codTipoConvenio'|trans }}</th>
                        <td>{{ admin.convenio.fkLicitacaoTipoConvenio.descricao }}</td>
                    </tr>
                    <tr class="sonata-ba-view-container">
                        <th>{{ 'label.convenioAdmin.codObjeto'|trans }}</th>
                        <td>{{ admin.convenio.fkComprasObjeto.descricao }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
