<div class="row">
    <div class="col s11 servidor-table">
        <a style="font-size: 16px">
            <i class="mdi mdi-newspaper"></i>
            {{ 'label.movimentacaoSefip'|trans }}
        </a>
    </div>
    <div class="col s1">
        <a class="tooltipped"
           href="{{ path('urbem_recursos_humanos_pessoal_assentamento_movsefipsaida_create', {'codigoSefip': object.codSefip}) }}"
           data-toggle="tooltip" data-placement="top" title="{{ "incluir"|trans }}">
            <i class="mdi mdi-plus-circle right small"></i>
        </a>
    </div>
    <table class="col s12 highlight bordered">
        <thead class="thead-rh">

            <th class="th-rh">{{ 'label.codigoCategoria'|trans }}</th>
            <th class="th-rh">{{ 'label.categoria'|trans }}</th>
            <th class="th-rh">{{ 'label.indicativo'|trans }}</th>
            <th class="th-rh" width="100">{{ 'acoes'|trans }}</th>
        </thead>
        <tbody>
        {% for categoriasSefip in object.fkPessoalMovSefipSaida.fkPessoalMovSefipSaidaCategorias %}
            <tr>
                <td class="td-rh">{{ categoriasSefip.codCategoria }}</td>
                <td class="td-rh">{{ categoriasSefip.fkPessoalCategoria.descricao   }}</td>
                <td class="td-rh">{{ categoriasSefip.indicativo }}</td>
                <td>
                    <div class="btn-group">
                        <a href="{{ path('urbem_recursos_humanos_pessoal_assentamento_movsefipsaida_edit', { 'id': admin.getObjectKey(categoriasSefip) }) }}"
                           class="hide-on-med-and-down blue-text text-darken-4 tooltipped left"
                           data-toggle="tooltip" data-placement="top" title="{{ 'editar'|trans }}">
                            <i class="material-icons">edit</i>
                        </a>
                        <a href="{{ path('urbem_recursos_humanos_pessoal_assentamento_movsefipsaida_delete', { 'id': admin.getObjectKey(categoriasSefip) }) }}"
                           class="hide-on-med-and-down blue-text text-darken-4 tooltipped left"
                           data-toggle="tooltip" data-placement="top" title="{{ 'deletar'|trans }}">
                            <i class="material-icons">delete</i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
