{% if field.data.item is not null %}
    {% set item = field.data.item %}
    <div class="row">
        <table class="col s12 highlight bordered">
            <tr>
                <th class="th-rh text-right" width="200">{{ 'label.autorizacao.item'|trans }}</th>
                <td class="text-left">{{ item  }}</td>
            </tr>
            <tr>
                <th class="th-rh text-right">{{ 'label.entradaDiversos.unidade'|trans }}</th>
                <td class="text-left">{{ item.fkAdministracaoUnidadeMedida }}</td>
            </tr>
            <tr>
                <th class="th-rh text-right">{{ 'label.autorizacao._completarTanque'|trans }}</th>
                <td class="text-left">{{ item.completarTanque }}</td>
            </tr>
            <tr>
                <th class="th-rh text-right">{{ 'label.reciboExtra.saldo'|trans }}</th>
                <td class="text-left">{{ item.saldo|number_format(4, ',', '.') }}</td>
            </tr>
        </table>
    </div>
{% endif %}
