{% if field.data.autorizacao is not null %}
    {% set autorizacao = field.data.autorizacao %}
    {% set usuario = field.data.usuario %}
    <div class="row">
        <table class="col s12 highlight bordered">
            <tr>
                <th class="th-rh text-right" width="200">{{ 'label.autorizacao.autorizacao'|trans }}</th>
                <td class="text-left">{{ autorizacao.codAutorizacao ~ '/' ~ autorizacao.exercicio  }}</td>
            </tr>
            <tr>
                <th class="th-rh text-right">{{ 'label.autorizacao.almoxarife'|trans }}</th>
                <td class="text-left">{{ usuario.fkSwCgm }}</td>
            </tr>
            <tr>
                <th class="th-rh text-right">{{ 'label.autorizacao.veiculo'|trans }}</th>
                <td class="text-left">{{ autorizacao.fkFrotaVeiculo }}</td>
            </tr>
            <tr>
                <th class="th-rh text-right">{{ 'label.autorizacao.motorista'|trans }}</th>
                <td class="text-left">{{ autorizacao.fkSwCgm2 }}</td>
            </tr>
        </table>
    </div>
{% endif %}
