<tr class="sonata-ba-view-container">
    <th>{{ 'label.arrecadacaoConsultaNotaAvulsa.numeracao'|trans }}</th>
    <td>{{ admin.info['numeracao'] }}</td>
</tr>

<tr class="sonata-ba-view-container">
    <th>{{ 'label.arrecadacaoConsultaNotaAvulsa.vencimento'|trans }}</th>
    <td>{{ admin.info['dt_vencimento'] }}</td>
</tr>

<tr class="sonata-ba-view-container">
    <th>{{ 'label.arrecadacaoConsultaNotaAvulsa.situacao'|trans }}</th>
    <td>{{ admin.info['situacao_parcela'] }}</td>
</tr>

<tr class="sonata-ba-view-container">
    <th>{{ 'label.arrecadacaoConsultaNotaAvulsa.valorPagar'|trans }}</th>
    <td>{{ admin.info['valor_a_pagar']|number_format(2, ',', '.') }}</td>
</tr>

<tr class="sonata-ba-view-container">
    <th>{{ 'label.arrecadacaoConsultaNotaAvulsa.juros'|trans }}</th>
    <td>{{ admin.info['valor_juros_a_pagar']|number_format(2, ',', '.') }}</td>
</tr>

<tr class="sonata-ba-view-container">
    <th>{{ 'label.arrecadacaoConsultaNotaAvulsa.multa'|trans }}</th>
    <td>{{ admin.info['valor_multa_a_pagar']|number_format(2, ',', '.') }}</td>
</tr>

<tr class="sonata-ba-view-container">
    <th>{{ 'label.arrecadacaoConsultaNotaAvulsa.correcao'|trans }}</th>
    <td>{{ admin.info['valor_correcao_a_pagar']|number_format(2, ',', '.') }}</td>
</tr>

<tr class="sonata-ba-view-container">
    <th>{{ 'label.arrecadacaoConsultaNotaAvulsa.totalPagar'|trans }}</th>
    <td>{{ admin.info['valor_total_a_pagar']|number_format(2, ',', '.') }}</td>
</tr>
