<table class="table show-table">
    <thead>
        <tr>
            <th>{{ 'label.arrecadacaoConsultaNotaAvulsa.servico'|trans }}</th>
            <th>{{ 'label.arrecadacaoConsultaNotaAvulsa.aliquota'|trans }}</th>
            <th>{{ 'label.arrecadacaoConsultaNotaAvulsa.valorDeclarado'|trans }}</th>
            <th>{{ 'label.arrecadacaoConsultaNotaAvulsa.deducao'|trans }}</th>
            <th>{{ 'label.arrecadacaoConsultaNotaAvulsa.valorRetido'|trans }}</th>
            <th>{{ 'label.arrecadacaoConsultaNotaAvulsa.valorLancado'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in object.getFkArrecadacaoNota().getFkArrecadacaoNotaServicos() %}
            <tr class="sonata-ba-view-container">
                <td style="width:30%">
                    {{ admin.info['descricao_servico'] }}
                </td>
                <td>
                    {{ admin.info['aliquota']|number_format(2, ',', '.') }}
                </td>
                <td>
                    {{ admin.info['valor_declarado']|number_format(2, ',', '.') }}
                </td>
                <td>
                    {{ admin.info['valor_deducao']|number_format(2, ',', '.') }}
                </td>
                <td></td>
                <td>
                    {{ admin.info['valor_lancado']|number_format(2, ',', '.') }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
