<tr class="sonata-ba-view-container">
    <th>{{ 'label.arrecadacaoConsultaNotaAvulsa.prestadorServico'|trans }}</th>
    <td>{{ '%d - %s'|format(admin.info['numcgm_prestador'], admin.info['nomcgm_prestador']) }}</td>
</tr>

<tr class="sonata-ba-view-container">
    <th>{{ 'label.arrecadacaoConsultaNotaAvulsa.inscricaoEconomica'|trans }}</th>
    <td>{{ admin.info['inscricao_economica'] }}</td>
</tr>

<tr class="sonata-ba-view-container">
    <th>{{ 'label.arrecadacaoConsultaNotaAvulsa.modalidade'|trans }}</th>
    <td>
        {{ '%d - %s'|format(admin.info['cod_modalidade'], admin.info['descricao_modalidade']) }}
    </td>
</tr>

<tr class="sonata-ba-view-container">
    <th>{{ 'label.arrecadacaoConsultaNotaAvulsa.competencia'|trans }}</th>
    <td>{{ admin.info['competencia'] }}</td>
</tr>

<tr class="sonata-ba-view-container">
    <th>{{ 'label.arrecadacaoConsultaNotaAvulsa.tomadorServicos'|trans }}</th>
    <td>{{ '%d - %s'|format(admin.info['numcgm_tomador'], admin.info['nomcgm_tomador']) }}</td>
</tr>

<tr class="sonata-ba-view-container">
    <th>{{ 'label.arrecadacaoConsultaNotaAvulsa.serie'|trans }}</th>
    <td>{{ admin.info['nro_serie'] }}</td>
</tr>

<tr class="sonata-ba-view-container">
    <th>{{ 'label.arrecadacaoConsultaNotaAvulsa.nroNota'|trans }}</th>
    <td>{{ admin.info['nro_nota'] }}</td>
</tr>

<tr class="sonata-ba-view-container">
    <th>{{ 'label.arrecadacaoConsultaNotaAvulsa.dataEmissao'|trans }}</th>
    <td>{{ admin.info['dt_emissao'] }}</td>
</tr>

<tr class="sonata-ba-view-container">
    <th>{{ 'label.arrecadacaoConsultaNotaAvulsa.situacao'|trans }}</th>
    <td>{{ admin.info['situacao_nota'] }}</td>
</tr>
