{% extends "CoreBundle::Sonata/standard_layout.html.twig" %}

{% import 'CoreBundle:Sonata/CRUD:base_show_macro.html.twig' as show_helper %}


{% block show %}
    <div class="container-rh">
        <div class="row">
            <div class="col s12 profile-box">
                <h2 class="blue-text text-darken-4 left">
                    <i class="mdi mdi-file-document left grey-text medium"></i>
                    <span style="padding-top: 10px">{{ 'label.recursosHumanos.contratoServidorDecimo.cgm'|trans }}
                        - {{ object.matricula }}</span>
                </h2>

                <p class="divider grey col s12"></p>

                <div class="col s3 little-box">
                    <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.recursosHumanos.contratoServidorDecimo.matricula'|trans }}</h6>
                    <h6 class="col s12 grey-text text-darken-1">{{ object.dados.registro }}</h6>
                </div>

                <div class="col s3 little-box">
                    <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.recursosHumanos.contratoServidorDecimo.dataRescisao'|trans }}</h6>
                    <h6 class="col s12 grey-text text-darken-1">{{ object.dados.dt_rescisao }}</h6>
                </div>

                <div class="col s3 little-box">
                    <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.recursosHumanos.contratoServidorDecimo.causa'|trans }}</h6>
                    <h6 class="col s12 grey-text text-darken-1">{{ object.dados.num_causa~' - '~object.dados.descricao_causa }}</h6>
                </div>

                <div class="col s3 little-box">
                    <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.recursosHumanos.contratoServidorDecimo.competencia'|trans }}</h6>
                    <h6 class="col s12 grey-text text-darken-1">{{ object.competencia }}</h6>
                </div>

                <div class="col s3 little-box">
                    <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.recursosHumanos.contratoServidorDecimo.periodoMovimentacao'|trans }}</h6>
                    <h6 class="col s12 grey-text text-darken-1">{{ object.periodo }}</h6>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s11 servidor-table">
                <a class="btn-lg tooltipped"
                   data-position="left"
                   data-delay="50"
                   data-tooltip="Incluir">
                    <i class="fa fa-cubes left"></i>
                    {{ 'label.recursosHumanos.contratoServidorDecimo.evento'|trans }}
                </a>
            </div>
            <div class="col s1">
                <a href="{{ path('urbem_recursos_humanos_folha_pagamento_registro_evento_rescisao_create',{'id': object.codPeriodoMovimentacao~'~'~object.dados.cod_contrato }) }}"
                   class="btn-lg"><i class="mdi mdi-plus-circle "></i></a>
            </div>

            <table class="col s12 highlight bordered">
                <thead class="thead-rh">
                <tr class="sonata-ba-list-field-header">
                    <th class="th-rh">#</th>
                    <th class="th-rh">{{ 'label.recursosHumanos.contratoServidorDecimo.codigo'|trans }}</th>
                    <th class="th-rh">{{ 'label.recursosHumanos.contratoServidorDecimo.evento'|trans }}</th>
                    <th class="th-rh">{{ 'label.recursosHumanos.contratoServidorDecimo.desdobramento'|trans }}</th>
                    <th class="th-rh">{{ 'label.recursosHumanos.contratoServidorDecimo.valor'|trans }}</th>
                    <th class="th-rh">{{ 'label.recursosHumanos.contratoServidorDecimo.quantidade'|trans }}</th>
                    <th class="th-rh" width="10%">{{ 'acoes'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for fixo in object.eventosFixos %}
                    <tr>
                        <td class="td-rh">{{ loop.index }}</td>
                        <td class="td-rh">{{ fixo.codigo }}</td>
                        <td class="td-rh">{{ fixo.descricao }}</td>
                        <td class="td-rh">{{ fixo.desdobramento_texto}}</td>
                        <td class="td-rh">{{ fixo.valor|number_format(2, ',', '.') }}</td>
                        <td class="td-rh">{{ fixo.quantidade|number_format(2, ',', '.') }}</td>
                        <td class="td-rh">
                            <div class="btn-group">
                                <a class="hide-on-med-and-down blue-text text-darken-4 tooltipped left"
                                   data-position="left"
                                   data-delay="50"
                                   data-tooltip="Editar"
                                   href="{{ path('urbem_recursos_humanos_folha_pagamento_registro_evento_rescisao_edit', { 'id': fixo.cod_registro~'~'~fixo.timestamp~'~'~fixo.desdobramento~'~'~fixo.cod_evento }) }}">
                                    <i class="material-icons">edit</i>
                                </a>
                                <a class="hide-on-med-and-down blue-text text-darken-4 tooltipped right"
                                   data-position="left"
                                   data-delay="50"
                                   data-tooltip="Excluir"
                                   href="{{ path('urbem_recursos_humanos_folha_pagamento_registro_evento_rescisao_delete', { 'id': fixo.cod_registro~'~'~fixo.timestamp~'~'~fixo.desdobramento~'~'~fixo.cod_evento }) }}">
                                    <i class="material-icons">delete</i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% if object.apresentaAbaBase %}
            <div class="row">
                <div class="col s12 servidor-table">
                    <a class="btn-lg tooltipped"
                       data-position="left"
                       data-delay="50"
                       data-tooltip="Incluir">
                        <i class="fa fa-cubes left"></i>
                        {{ 'label.recursosHumanos.contratoServidorDecimo.eventosBasesCadastrados'|trans }}
                    </a>
                </div>

                <table class="col s12 highlight bordered">
                    <thead class="thead-rh">
                    <tr class="sonata-ba-list-field-header">
                        <th class="th-rh">#</th>
                        <th class="th-rh">{{ 'label.recursosHumanos.contratoServidorDecimo.codigo'|trans }}</th>
                        <th class="th-rh">{{ 'label.recursosHumanos.contratoServidorDecimo.evento'|trans }}</th>
                        <th class="th-rh">{{ 'label.recursosHumanos.contratoServidorDecimo.valor'|trans }}</th>
                        <th class="th-rh">{{ 'label.recursosHumanos.contratoServidorDecimo.desdobramento'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for base in object.eventosBases %}
                        <tr>
                            <td class="td-rh">{{ loop.index }}</td>
                            <td class="td-rh">{{ base.codigo }}</td>
                            <td class="td-rh">{{ base.descricao }}</td>
                            <td class="td-rh">{{ base.valor|number_format(2, ',', '.') }}</td>
                            <td class="td-rh">{{ base.desdobramento_texto }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

    </div>
{% endblock show %}
