{% extends "CoreBundle::Sonata/standard_layout.html.twig" %}

{% import 'CoreBundle:Sonata/CRUD:base_show_macro.html.twig' as show_helper %}

{% block actions %}
    {% include 'CoreBundle:Sonata/CRUD:action_buttons.html.twig' %}
{% endblock %}

{% block tab_menu %}
    {{ knp_menu_render(admin.sidemenu(action), {
        'currentClass' : 'active',
        'template': sonata_admin.adminPool.getTemplate('tab_menu_template')
    }, 'twig') }}
{% endblock %}

{% block content %}
<div class="container-rh">
    <div class="row">
        <div class="col s12 profile-box">
            <h2 class="blue-text text-darken-4 left" style="margin: 1.78rem 0 0 0">
                <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                <span class="grey-text bold" style="padding-top: 10px; font-weight: bold">
                    {{ object.mapa.codMapa }} -{{ object.mapa.fkComprasObjeto.descricao }}
                </span>
            </h2>
            <a href="{{ path('urbem_patrimonial_compras_mapa_edit', { 'id': object.mapa|objectKey }) }}"
               class="serv-btn right">
                <i class="material-icons right">edit</i>
            </a>
            <h6 class="divider grey col s12"></h6>

            <div class="col s3 little-box">
                <h6 class="col s12 blue-text text-darken-4 profile-titles">
                    {{ 'label.mapa.codTipoLicitacao'|trans }}
                </h6>
                <h6 class="col s12 grey-text text-darken-1">
                    {{ object.mapa.fkComprasTipoLicitacao.descricao }}
                </h6>
            </div>

            <div class="col s3 little-box">
                <h6 class="col s12 blue-text text-darken-4 profile-titles">
                    {{ 'label.mapa.exercicio'|trans }}
                </h6>
                <h6 class="col s12 grey-text text-darken-1">
                    {{ object.mapa.exercicio }}
                </h6>
            </div>

            <div class="col s3 little-box">
                <h6 class="col s12 blue-text text-darken-4 profile-titles">
                    {{ 'label.mapa.data'|trans }}
                </h6>
                <h6 class="col s12 grey-text text-darken-1">
                    {{ object.mapa.timestamp|date('d/m/Y') }}
                </h6>
            </div>

            <div class="col s3 little-box">
                <h6 class="col s12 blue-text text-darken-4 profile-titles">
                    {{ 'label.almoxarifado.requisicao.status'|trans }}
                </h6>
                <h6 class="col s12 grey-text text-darken-1">
                    {% if object.anulacao == false %}
                        <span class="label label-success">Ativo</span>
                    {% else %}
                        <span class="label label-danger">Anulado</span>
                    {% endif %}
                </h6>
            </div>
            <div class="col s12">
                {% if object.anulacao == false %}
                    <div class="col s6 center" style="margin-bottom: 10px">
                        <a class="white-text blue darken-4 btn btn-success save"
                           href="{{ path('urbem_patrimonial_compras_mapa_anular_all_solicitacoes', { 'id': object.mapa|objectKey }) }}">
                            <i class="fa fa-ban left"></i>Anular Solicitações
                        </a>
                    </div>
                {% else %}
                    <div class="col s6 center" style="margin-bottom: 10px">
                        <a class="white-text btn btn-success save grey lighten-2 disabled">
                            <i class="fa fa-ban left"></i>Anular Solicitações
                        </a>
                    </div>
                {% endif %}
                <div class="col s6 center" style="margin-bottom: 10px">
                    <a class="white-text blue darken-4 btn btn-success save"
                       href="{{ path('urbem_patrimonial_compras_mapa_salvar_relatorio', { 'id': object.mapa|objectKey }) }}">
                        <i class="mdi mdi-file-document left"></i>Emitir Mapa de Compra
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s11 servidor-table" style="margin-top: 20px">
                <a class="btn-lg ">
                    <i class="fa fa-map-o left" aria-hidden="true"></i>
                    {{ 'label.mapa.dadosSolicitacoesMapas'|trans }}
                </a>
            </div>
            <div class="col s1" style="margin-top: 20px">
                {% if object.anulacao == false %}
                    <a href="{{ path('urbem_patrimonial_compras_mapa_solicitacao_create',{'id': object.mapa|objectKey }) }}"
                       class="btn-lg"><i class="mdi mdi-plus-circle"></i></a>
                {% endif %}
            </div>
            <table class="col s12 highlight bordered">
                <thead class="thead-rh">
                <tr class="sonata-ba-list-field-header">
                    <th class="th-rh">{{ 'label.mapa.solicitacao'|trans }}</th>
                    <th class="th-rh">{{ 'label.mapa.exercicio'|trans }}</th>
                    <th class="th-rh">{{ 'label.mapa.entidade'|trans }}</th>
                    <th class="th-rh">{{ 'label.mapa.valorTotalSolicitado'|trans }}</th>
                    <th class="th-rh">{{ 'label.mapa.valorOutrosMapas'|trans }}</th>
                    <th class="th-rh">{{ 'label.mapa.valorNesteMapa'|trans }}</th>
                    <th class="th-rh" width="10%">{{ 'acoes'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for solicitacao in object.solicitacoes %}
                    <tr>
                        <td class="td-rh">{{ solicitacao.cod_solicitacao }}</td>
                        <td class="td-rh">{{ solicitacao.exercicio }}</td>
                        <td class="td-rh">{{ solicitacao.nom_entidade }}</td>
                        <td class="td-rh"
                            style="white-space: nowrap; text-align: right;">R$ {{ solicitacao.valor_total|number_format(2, '.', ',') }}</td>
                        <td class="td-rh"
                            style="white-space: nowrap; text-align: right;">R$ {{ (solicitacao.total_mapas - solicitacao.total_mapa)|number_format(2, '.', ',') }}</td>
                        <td class="td-rh"
                            style="white-space: nowrap; text-align: right;">R$ {{ solicitacao.total_mapa|number_format(2, '.', ',') }}</td>
                        <td class="td-rh">
                            <div class="btn-group">
                                {% if object.anulacao == false %}
                                    <a class="hide-on-med-and-down blue-text text-darken-4 tooltipped right"
                                       data-position="left"
                                       data-delay="50"
                                       data-tooltip="Excluir"
                                       href="{{ path('urbem_patrimonial_compras_mapa_solicitacao_delete', { 'id': solicitacao.exercicio ~ '~' ~ object.mapa.codMapa ~ '~' ~ solicitacao.exercicio_solicitacao ~ '~' ~ solicitacao.cod_entidade~ '~' ~ solicitacao.cod_solicitacao}) }}">
                                        <i class="material-icons">delete</i>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col s12 servidor-table">
                <a class="btn-flat">
                    <i class="fa fa-map-pin left" aria-hidden="true"></i>
                    {{ 'label.mapa.itensMapa'|trans }}
                </a>
            </div>
            <table class="col s12 highlight bordered">
                <thead class="thead-rh">
                <tr class="sonata-ba-list-field-header">
                    <th class="th-rh" width="5%">#</th>
                    <th class="th-rh">{{ 'label.mapa.solicitacao'|trans }}</th>
                    <th class="th-rh">{{ 'label.mapa.item'|trans }}</th>
                    <th class="th-rh">{{ 'label.patrimonial.compras.mapaItem.dotacaoOrcamentaria'|trans }}</th>
                    <th class="th-rh">{{ 'label.patrimonial.compras.mapaItem.qtdeSolicitada'|trans }}</th>
                    <th class="th-rh">{{ 'label.patrimonial.compras.mapaItem.qtdMapa'|trans }}</th>
                    <th class="th-rh">{{ 'label.patrimonial.compras.mapaItem.valorReferencia'|trans }}</th>
                    <th class="th-rh">{{ 'label.mapa.vlTotal'|trans }}</th>
                    <th class="th-rh" width="10%">{{ 'acoes'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in object.itens %}
                    <tr>
                        <td class="td-rh">{{ loop.index }}</td>
                        <td class="td-rh">{{ item.cod_solicitacao }}</td>
                        <td class="td-rh">{{ item.nom_item }}</td>
                        <td class="td-rh">{{ item.cod_despesa }} - {{ item.dotacao_nom_conta }}</td>
                        <td class="td-rh"
                            style="white-space: nowrap; text-align: right;">{{ item.quantidade_solicitada }}</td>
                        <td class="td-rh"
                            style="white-space: nowrap; text-align: right;">{{ item.quantidade_mapa }}</td>
                        <td class="td-rh" style="white-space: nowrap; text-align: right;">
                            R$ {{ item.valor_unitario }}</td>
                        <td class="td-rh" style="white-space: nowrap; text-align: right;">
                            R$ {{ item.valor_total_mapa }}</td>
                        <td class="td-rh">
                            <div class="btn-group">
                                {% if object.anulacao == false %}
                                    <a class="hide-on-med-and-down blue-text text-darken-4 tooltipped right"
                                       data-position="left"
                                       data-delay="50"
                                       data-tooltip="Excluir"
                                       href="{{ path('urbem_patrimonial_compras_mapa_item_mapa_delete', { 'id': item.exercicio_solicitacao ~ '~' ~ object.codMapa ~ '~' ~ item.exercicio_solicitacao ~ '~' ~ item.cod_entidade ~ '~' ~ item.cod_solicitacao ~ '~' ~ item.cod_centro ~ '~' ~ item.cod_item ~ '~' ~ item.lote}) }}">
                                        <i class="material-icons">delete</i>
                                    </a>
                                    <a class="hide-on-med-and-down blue-text text-darken-4 tooltipped right"
                                       data-position="left"
                                       data-delay="50"
                                       data-tooltip="Editar"
                                       href="{{ path('urbem_patrimonial_compras_mapa_item_mapa_edit', { 'id': item.exercicio_solicitacao ~ '~' ~ object.codMapa ~ '~' ~ item.exercicio_solicitacao ~ '~' ~ item.cod_entidade ~ '~' ~ item.cod_solicitacao ~ '~' ~ item.cod_centro ~ '~' ~ item.cod_item ~ '~' ~ item.lote}) }}">
                                        <i class="material-icons">edit</i>
                                    </a>

                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <div class="col s12 servidor-table" style="margin-top:20px;">
                    <a class="btn-flat">
                        <i class="fa fa-map-pin left" aria-hidden="true"></i>
                        {{ 'label.patrimonial.compras.mapaItem.totais'|trans }}
                    </a>
                </div>
                <table id="table-orgao" class="col s12 highlight bordered">
                    <thead class="thead-rh">
                    <tr>
                        <th class="th-rh" width="1"></th>
                        <th class="th-rh">{{ 'label.patrimonial.compras.mapaItem.item'|trans }}</th>
                        <th class="th-rh">{{ 'label.patrimonial.compras.mapaItem.qtdeTotal'|trans }}</th>
                        <th class="th-rh">{{ 'label.patrimonial.compras.mapaItem.vlUltimaCompra'|trans }}</th>
                        <th class="th-rh">{{ 'label.patrimonial.compras.mapaItem.vlReservado'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in object.itens %}
                        <tr>
                            <td class="td-rh">{{ loop.index }}</td>
                            <td class="td-rh">{{ item.nom_item }}</td>
                            <td class="td-rh"
                                style="white-space: nowrap; text-align: right;">{{ item.quantidade_mapa }}</td>
                            <td class="td-rh"
                                style="white-space: nowrap; text-align: right;">{{ item.valor_ultima_compra }}</td>
                            <td class="td-rh" style="white-space: nowrap; text-align: right;">
                                R$ {{ item.valor_total_mapa }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4" style="white-space: nowrap; text-align: right;"><b>Total:</b></td>
                        <td style="white-space: nowrap; text-align: right;"><b>R$ {{ object.vlTotalItems }}</b></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="sonata-ba-form-actions well well-small form-actions row">
            <div class="col s8 initial">
                <a href="{{ path('urbem_patrimonial_compras_mapa_list') }}"
                   class="back btn-floating white-text blue darken-4 btn-success">
                    <i class="material-icons">arrow_back</i>
                    Add a comment to this line
                </a>
            </div>
        </div>
    </div>
    {% endblock content %}
