<table class="table show-table">
    <tbody>
        <tr class="sonata-ba-view-container">
            <th>{{ 'label.servidor.datanascimento'|trans }}</th>
            <td class="dtNascimento"></td>
        </tr>
        <tr class="sonata-ba-view-container">
            <th>{{ 'label.servidor.sexo'|trans }}</th>
            <td class="sexo"></td>
        </tr>
        <tr class="sonata-ba-view-container">
            <th>{{ 'label.servidor.rg'|trans }}</th>
            <td class="rg"></td>
        </tr>
        <tr class="sonata-ba-view-container">
            <th>{{ 'label.servidor.cpf'|trans }}</th>
            <td class="cpf"></td>
        </tr>
        <tr class="sonata-ba-view-container">
            <th>{{ 'label.servidor.endereco'|trans }}</th>
            <td class="enderecoCompleto"></td>
        </tr>
        <tr class="sonata-ba-view-container">
            <th>{{ 'label.telefone_residencial'|trans }}</th>
            <td class="foneResidencial"></td>
        </tr>
        <tr class="sonata-ba-view-container">
            <th>{{ 'label.telefone_celular'|trans }}</th>
            <td class="foneCelular"></td>
        </tr>
    </tbody>
</table>
