{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}
{% block field %}
    <table class="highlight bordered">
        <thead class="thead-rh">
        <tr>
            <th style="text-align: center !important;">{{ 'Nível'|trans }}</th>
            <th style="text-align: center !important;">{{ 'label.catalogo.mascara'|trans }}</th>
            <th style="text-align: center !important;">{{ 'label.descricao'|trans }}
        </tr>
        </thead>
        <tbody>
        {% if admin.data.fkAlmoxarifadoCatalogoNiveis is not empty  %}
            {% for catalogoNiveis in admin.data.fkAlmoxarifadoCatalogoNiveis %}
            <tr>
                <td class="td-rh">{{ catalogoNiveis.nivel }}</td>
                <td class="td-rh">{{ catalogoNiveis.mascara }}</td>
                <td class="td-rh">{{ catalogoNiveis.descricao }}</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="td-rh" colspan="3">Não existe itens cadastrados</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}
