{% extends "base_home_cards.html.twig" %}
{% block content %}
<div class="container">
    <div class="col s12">
        <div class="col s12">
            <h5 class="blue-text text-darken-4">Emitir Empenho</h5>
            <div class="divider grey title-divider"><p>1</p></div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_financeiro_empenho_emitir_empenho_autorizacao_list') }}">
                    <h6><i class="mdi mdi-verified medium"></i></h6>
                    <h6 class="truncate center">Por Autorização</h6>
                </a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_financeiro_empenho_emitir_empenho_autorizacao_list') }}"
                       class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Consultar">
                        <i class="material-icons">search</i>
                    </a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_financeiro_empenho_emitir_empenho_diversos_create') }}">
                    <h6><i class=" mdi mdi-chart-bubble medium"></i></h6>
                    <h6 class="truncate center">Diversos</h6>
                </a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_financeiro_empenho_emitir_empenho_diversos_create') }}"
                       class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Editar">
                        <i class="material-icons">edit</i>
                    </a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_financeiro_empenho_emitir_empenho_complementar_create') }}">
                    <h6><i class=" mdi mdi-chart-arc medium"></i></h6>
                    <h6 class="truncate center">Complementar</h6>
                </a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_financeiro_empenho_emitir_empenho_complementar_create') }}"
                       class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Editar">
                        <i class="material-icons">edit</i>
                    </a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_financeiro_empenho_reemitir_empenho_list') }}">
                    <h6><i class=" mdi mdi-replay medium"></i></h6>
                    <h6 class="truncate center">Reemitir</h6>
                </a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_financeiro_empenho_reemitir_empenho_list') }}"
                       class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Detalhes">
                        <i class="material-icons">print</i>
                    </a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_financeiro_empenho_consultar_empenho_list') }}">
                    <h6><i class=" mdi mdi-file-find medium"></i></h6>
                    <h6 class="truncate center">Consultar</h6>
                </a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_financeiro_empenho_consultar_empenho_list') }}"
                       class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Consultar">
                        <i class="material-icons">search</i>
                    </a>
                </h5>
            </div>
        </div>
    </div>
        <div class="col l6">
            <div class="col s12">
                <h5 class="blue-text text-darken-4">Anulação Empenho</h5>
                <div class="divider grey title-divider"><p>1</p>
            </div>
        </div>
        <div class="col s6 m6 l6">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_financeiro_empenho_anular_empenho_list') }}">
                    <h6><i class=" mdi mdi-block-helper medium"></i></h6>
                    <h6 class="truncate center">Anular</h6>
                </a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_financeiro_empenho_anular_empenho_list') }}"
                       class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Consultar">
                        <i class="material-icons">search</i>
                    </a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l6">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_financeiro_empenho_reemitir_anulacao_empenho_list') }}">
                    <h6><i class=" mdi mdi-replay medium"></i></h6>
                    <h6 class="truncate center">Reemitir Anulação</h6>
                </a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_financeiro_empenho_reemitir_anulacao_empenho_list') }}"
                       class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Consultar">
                        <i class="material-icons">search</i>
                    </a>
                </h5>
            </div>
        </div>
    </div>

    <div class="col s6">
        <div class="col s12">
            <h5 class="blue-text text-darken-4">Vincular Empenho</h5>
            <div class="divider grey title-divider"><p>1</p></div>
        </div>
        <div class="col s6 m6 l6">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_financeiro_empenho_empenho_contrato_list') }}">
                    <h6><i class="mdi mdi-account-switch medium"></i></h6>
                    <h6 class="truncate center">Por Contrato</h6>
                </a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_financeiro_empenho_empenho_contrato_list') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Consultar">
                        <i class="material-icons">edit</i>
                    </a>
                </h5>
            </div>
        </div>

        <div class="col s6 m6 l6">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_financeiro_empenho_empenho_convenio_list') }}">
                    <h6><i class="mdi mdi-account-switch medium"></i></h6>
                    <h6 class="truncate center">Por Convênio</h6>
                </a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_financeiro_empenho_empenho_convenio_list') }}"
                       class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Editar">
                        <i class="material-icons">edit</i>
                    </a>
                </h5>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
