<table class="table table-condensed table-custom signature" style="margin-top: 20px">
    <thead>
    <tr>
        <th colspan="12" class="grey text-center">Assinaturas</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td colspan="4" class="text-center">
            <p>Autorizo a despesa</p>
            <p>{{ dadosEmpenho.nomPrefeitura }}, {{ dadosEmpenho.dtEmpenhoLiteral }}</p>
            <hr class="signature-line">
            {% if dadosEmpenho.assinaturas.0 is defined %}
                <p class="signature-name">{{ dadosEmpenho.assinaturas.0.nom_cgm }}</p>
                <p>{{ dadosEmpenho.assinaturas.0.cargo }}</p>
            {% else %}
            {% endif %}
        </td>
        {% if dadosEmpenho.assinaturas.1 is defined %}
            <td colspan="4" class="text-center">
                <p>Contadoria</p>
                <p>Empenhado</p>
                <hr class="signature-line">
                <p>Conferido</p>
                <hr class="signature-line">
                <p class="signature-name">{{ dadosEmpenho.assinaturas.1.nom_cgm }}</p>
                <p>{{ dadosEmpenho.assinaturas.1.cargo }}</p>
            </td>
        {% else %}
        {% endif %}
        {% if dadosEmpenho.assinaturas.2 is defined %}
            <td colspan="4" class="text-center">
                <p>Contadoria</p>
                <p>Empenhado</p>
                <hr class="signature-line">
                <p>Conferido</p>
                <hr class="signature-line">
                <p class="signature-name">{{ dadosEmpenho.assinaturas.2.nom_cgm }}</p>
                <p>{{ dadosEmpenho.assinaturas.2.cargo }}</p>
            </td>
        {% else %}
        {% endif %}

        <td colspan="12" class="text-center">
            <p>Pague-se</p><br><br><br>
            <hr class="signature-line">
            <br>
        </td>
    </tr>
    </tbody>
</table>