{% trans_default_domain 'FOSUserBundle' %}
<div class="box-recovery">
    <div class="header">
        <i class="material-icons large left amber-text shadow">check_circle</i>
        <div class="header center">
            <h6 class="big-6 left-align">{{ 'resetting.flash.success'|trans }}</h6>
            <div class="fos_user_user_show">
                <h6 class="left-align">{{ 'profile.show.username'|trans }}: {{ user.username }}</h6>
                <h6 class="left-align">{{ 'profile.show.email'|trans }}: {{ user.email }}</h6>
            </div>
            <h6 class="right-align"><a href="/"><i class="mdi mdi-arrow-left-bold-circle-outline"></i>Voltar pro URBEM</a></h6>
        </div>
    </div>
</div>
