<div class="col s12">
    <table id="box-itens" class="col s12 highlight bordered">
        <thead class="thead-rh">
        <tr class="sonata-ba-list-field-header">
            <th class="th-rh">#</th>
            <th class="th-rh">{{ 'label.mapa.solicitacao'|trans }}</th>
            <th class="th-rh">{{ 'label.mapa.item'|trans }}</th>
            <th class="th-rh">{{ 'label.patrimonial.compras.mapaItem.qtdeSolicitada'|trans }}</th>
            <th class="th-rh">{{ 'label.patrimonial.compras.mapaItem.qtdNoMapa'|trans }}</th>
            <th class="th-rh">{{ 'label.patrimonial.compras.mapaItem.valorReferencia'|trans }}</th>
            <th class="th-rh">{{ 'label.patrimonial.compras.mapaItem.vlTotal'|trans }}</th>
        </tr>
        </thead>
        <tbody>
            <tr><td colspan="7">Nenhuma solicitação selecionada</td></tr>
        </tbody>
    </table>
</div>
