<form id="form" method="post">
    <div class="box-body no-padding">
        <table class="table show-table">
            <tbody>
                <tr class="sonata-ba-view-container">
                    <th>Responsável (Módulo)</th>
                    <td>
                        {{ form.vars.value.fkSwCgm }} <br />
                        <b>({{ form.vars.value.fkTceprTipoModulo }})</b>
                    </td>
                </tr>

                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.dtBaixa) }}</th>
                    <td>
                        {% if form.vars.value.dtBaixa is null %}
                            {{ form_widget(form.dtBaixa) }}
                            {{ form_errors(form.dtBaixa) }}

                        {% else %}
                            {{ form.vars.value.dtBaixa | date('d/m/Y') }}

                        {% endif %}
                    </td>
                </tr>

                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.descricaoBaixa) }}</th>
                    <td>
                        {% if form.vars.value.descricaoBaixa is null %}
                            {{ form_widget(form.descricaoBaixa) }}
                            {{ form_errors(form.descricaoBaixa) }}

                        {% else %}
                            {{ form.vars.value.descricaoBaixa }}

                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <input type="hidden" name="key" value="{{ key }}" />

    <div class="sonata-ba-collapsed-fields custom-form">
        <div class="sonata-ba-form-actions well well-small form-actions row">
            <div class="col s12">
                <div class="col s12 right-align initial">
                    <button type="submit" class="white-text blue darken-4 btn btn-success save" name="save_update"><i class="material-icons left">input</i>Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<style>
    .custom-form .select2-container {height: 34px !important;}
</style>

<script>
    $('select.form-control').select2();
    $('#form').submit( function(e){
        e.preventDefault();
    });

</script>