{% if field.data.requisicao is not null %}
    {% set requisicao = field.data.requisicao %}
    <div class="row">
        <table class="col s12 highlight bordered">
            <tr>
                <th class="th-rh text-right" width="200">{{ 'label.almoxarifado.requisicao.exercicio'|trans }}</th>
                <td class="text-left">{{ requisicao.exercicio }}</td>
            </tr>
            <tr>
                <th class="th-rh text-right">{{ 'label.almoxarifado.requisicao.codRequisicao'|trans }}</th>
                <td class="text-left">{{ requisicao.codRequisicao }}</td>
            </tr>
            <tr>
                <th class="th-rh text-right">{{ 'label.almoxarifado.requisicao.almoxarifado'|trans }}</th>
                <td class="text-left">{{ requisicao.fkAlmoxarifadoAlmoxarifado }}</td>
            </tr>
            <tr>
                <th class="th-rh text-right">{{ 'label.almoxarifado.requisicao.dtRequisicao'|trans }}</th>
                <td class="text-left">{{ requisicao.dtRequisicao|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th class="th-rh text-right">{{ 'label.almoxarifado.requisicao.observacao'|trans }}</th>
                <td class="text-left">{{ requisicao.observacao }}</td>
            </tr>
            <tr>
                <th class="th-rh text-right">{{ 'label.almoxarifado.requisicao.requisitante'|trans }}</th>
                <td class="text-left">{{ requisicao.fkSwCgm }}</td>
            </tr>
            <tr>
                <th class="th-rh text-right">{{ 'label.almoxarifado.requisicao.solicitante'|trans }}</th>
                <td class="text-left">{{ requisicao.fkAdministracaoUsuario }}</td>
            </tr>
        </table>
    </div>
{% endif %}
