<tr class="sonata-ba-view-container">
	<tr class="sonata-ba-view-container">
	    <th>{{ 'label.economicoAtividadeModalidadeLancamento.tipoValor'|trans }}</th>
	    <td>{{ admin.tipoValor }}</td>
	</tr>
</tr>

<tr class="sonata-ba-view-container">
	<tr class="sonata-ba-view-container">
	    <th>{{ 'label.economicoAtividadeModalidadeLancamento.valor'|trans }}</th>
	    <td>{{ admin.object.getValor()|number_format(2, ',', '.') }}</td>
	</tr>
</tr>

{% if admin.object.getFkEconomicoAtividadeModalidadeMoedas().count() %}
	<tr class="sonata-ba-view-container">
		<th>{{ 'label.economicoAtividadeModalidadeLancamento.moeda'|trans }}</th>
	    <td>{{ admin.object.getFkEconomicoAtividadeModalidadeMoedas().first().getFkMonetarioMoeda() }}</td>
	</tr>
{% endif %}

{% if admin.object.getFkEconomicoAtividadeModalidadeIndicadores().count() %}
	<tr class="sonata-ba-view-container">
		<th>{{ 'label.economicoAtividadeModalidadeLancamento.indicadorEconomico'|trans }}</th>
	    <td>{{ admin.object.getFkEconomicoAtividadeModalidadeIndicadores().first().getFkMonetarioIndicadorEconomico() }}</td>
	</tr>
{% endif %}
