<table class="table table-bordered js-table-lista-atividades">
    <thead>
        <tr>
            <th></th>
            <th>{{ 'label.economicoCadastroEconomicoModalidadeLancamento.codigo'|trans }}</th>
            <th>{{ 'label.economicoCadastroEconomicoModalidadeLancamento.descricao'|trans }}</th>
            <th>{{ 'label.economicoCadastroEconomicoModalidadeLancamento.modalidade'|trans }}</th>
            <th>{{ 'label.economicoCadastroEconomicoModalidadeLancamento.valor'|trans }}</th>
            <th>{{ 'label.economicoCadastroEconomicoModalidadeLancamento.indexador'|trans }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="sonata-ba-tbody ui-sortable"></tbody>
</table>
