<table class="bordered highlight">
    <thead>
    <tr>
        <th>{{ 'label.itens.codigo'|trans }}</th>
        <th>{{ 'label.itens.codigo'|trans }}</th>
        <th>{{ 'label.itens.aberta'|trans }}</th>
        <th>{{ 'label.itens.fechada'|trans }}</th>
        <th>{{ 'label.itens.situacaoFolha'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if complementarFechadas|length > 0 %}
        {% for complementar in complementarFechadas %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ complementar.cod_complementar }}</td>
                <td>{{ complementar.data_abertura }}</td>
                <td>{{ complementar.data_fechamento }}</td>
                <td>{{ complementar.situacao }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="5">Nenhum registro encontrado!</td>
        </tr>
    {% endif %}
    </tbody>
</table>
