{% extends "base.html.twig" %}
{% block content %}
<div class="container">
        <div class="row">
        </div>
        <div class="col s5">
            <div class="row">
                <div class="col s10">
                    <h3 class="blue-text text-darken-4">Registre</h2>
                </div>
                <div class="col s12 divider">
                </div>
            </div>
            <div class="row">
                <div class="col s2">
                    <a href="{{ path('folha_pagamento_folha_complementar') }}" class="serv-btn btn-floating waves-effect waves-light blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Registrar"><i class="material-icons">note_add</i></a>
                </div>
                <div class="col s10">
                    <h5 class="blue-text text-darken-4"><a href="{{ path('folha_pagamento_folha_complementar') }}">Folha complementar</a></h5>
                    {#<p> sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>#}
                </div>
            </div>
            <div class="row">
                <div class="col s2">
                    <a href="{{ path('folha_pagamento_folha_complementar_registrar_evento_complementar_por_contrato') }}" class="serv-btn btn-floating waves-effect waves-light blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Registrar"><i class="material-icons">turned_in</i></a>
                </div>
                <div class="col s10">
                    <h5 class="blue-text text-darken-4"><a href="{{ path('folha_pagamento_folha_complementar_registrar_evento_complementar_por_contrato') }}">Evento por contrato na folha complementar</a></h5>
                    {#<p> sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>#}
                </div>
            </div>
        </div>
        <div class="col s2">
            <p></p>
        </div>
        <div class="col s5">
            <div class="row">
                <div class="col s12">
                    <h3 class="blue-text text-darken-4">Consulte</h2>
                </div>
                <div class="col s12 divider">
                </div>
            </div>
            <div class="row">
                <div class="col s2">
                    <a href="{{ path('folha_pagamento_folha_complementar_calcular_folha_complementar') }}" class="serv-btn btn-floating waves-effect waves-light blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Calcular"><i class="mdi mdi-calculator"></i></a>
                </div>
                <div class="col s10">
                    <h5 class="blue-text text-darken-4"><a href="{{ path('folha_pagamento_folha_complementar_calcular_folha_complementar') }}">Calcular Folha complementar</a></h5>
                    {#<p> sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>#}
                </div>
            </div>
            <div class="row">
                <div class="col s2">
                    <a href="{{ path('folha_pagamento_folha_complementar_consultar_registro_evento_complementar') }}" class="serv-btn btn-floating waves-effect waves-light blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Consultar"><i class="fa fa-line-chart"></i></a>
                </div>
                <div class="col s10">
                    <h5 class="blue-text text-darken-4"><a href="{{ path('folha_pagamento_folha_complementar_consultar_registro_evento_complementar') }}">Registro de evento na folha complementar</a></h5>
                    {#<p> sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>#}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
