{% extends "base_home_cards.html.twig" %}
{% block content %}
        <div class="container">
            <div class="container">
                <h4 class="blue-text text-darken-4">Lançamento Contábil</h4>
                <div class="divider grey title-divider"><p>1</p></div>
            </div>
            <div class="container">
                <div class="col s6 m6 l3">
                    <div class="card-panel col s12 hoverable center card-inside-blue">
                        <a href="{{ path('urbem_financeiro_contabilidade_lote_list')}}">
                            <h6><i class="fa fa-expand medium" aria-hidden="true"></i></h6>
                            <h6 class="truncate center"><br/>Lançamentos </h6>
                        </a>
                        <p></p>
                        <div class="divider col s12"></div>
                        <h5 class="left">
                            <a href="{{ path('urbem_financeiro_contabilidade_lote_create')}}"
                               class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">add_circle</i></a>
                        </h5>
                        <h5 class="right">
                            <a href="{{ path('urbem_financeiro_contabilidade_lote_list')}}"
                               class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">search</i></a>
                        </h5>
                    </div>
                </div>
                <div class="col s6 m6 l3">
                    <div class="card-panel col s12 hoverable center card-inside-blue">
                        <a href="{{ path('contabilidade_lancamento_contabil_implantacao_saldo') }}">
                            <h6><i class="mdi mdi-format-horizontal-align-center medium"></i></h6>
                            <h6 class="truncate center"><br/>Implantação de Saldo</h6>
                        </a>
                        <p></p>
                        <div class="divider col s12"></div>
                        <h5 class="right">
                            <a href="{{ path('contabilidade_lancamento_contabil_implantacao_saldo') }}"
                               class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Editar"><i class="material-icons">edit</i></a>
                        </h5>
                    </div>
                </div>
                <div class="col s6 m6 l3">
                    <div class="card-panel col s12 hoverable center card-inside-blue">
                        <a href="{{ path('contabilidade_lancamento_contabil_saldo_balanco') }}">
                            <h6><i class="fa fa-balance-scale medium" aria-hidden="true"></i></h6>
                            <h6 class="truncate center"><br/>Saldos de Balanço</h6>
                        </a>
                        <p></p>
                        <div class="divider col s12"></div>
                        <h5 class="right">
                            <a href="{{ path('contabilidade_lancamento_contabil_saldo_balanco') }}"
                               class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Saldo de Balanço"><i class="material-icons">edit</i></a>
                        </h5>
                    </div>
                </div>
                <div class="col s6 m6 l3">
                    <div class="card-panel col s12 hoverable center card-inside-blue">
                        <a href="{{ path('urbem_financeiro_contabilidade_cancelar_abertura_restos_a_pagar_list') }}">
                            <h6><i class="fa fa-ban medium" aria-hidden="true"></i></h6>
                            <h6 class="center">Cancelar Abertura de Restos a Pagar</h6>
                        </a>
                        <p></p>
                        <div class="divider col s12"></div>
                        <h5 class="right">
                            <a href="{{ path('urbem_financeiro_contabilidade_cancelar_abertura_restos_a_pagar_list') }}"
                               class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Cancelar Abertura de Restos a Pagar"><i class="material-icons">edit</i></a>
                        </h5>
                    </div>
                </div>
                <div class="col s6 m6 l3">
                    <div class="card-panel col s12 hoverable center card-inside-blue">
                        <a href="{{ path('contabilidade_lancamento_contabil_gerar_lancamento_credito_receber') }}">
                            <h6><i class="mdi mdi-file-chart medium"></i></h6>
                            <h6 class="center"><br/>Gerar Lançamentos Créditos a Receber</h6>
                        </a>
                        <p></p>
                        <div class="divider col s12"></div>
                        <h5 class="right">
                            <a href="{{ path('contabilidade_lancamento_contabil_gerar_lancamento_credito_receber') }}"
                               class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Gerar Lançamentos Créditos a Receber"><i class="material-icons">edit</i></a>
                        </h5>
                    </div>
                </div>
                <div class="col s6 m6 l3">
                    <div class="card-panel col s12 hoverable center card-inside-blue">
                        <a href="{{ path('contabilidade_lancamento_contabil_abertura_orcamento_anual') }}">
                            <h6><i class="mdi mdi-timetable medium"></i></h6>
                            <h6 class="center"><br/>Abertura de <br/>Orçamento Anual</h6>
                        </a>
                        <p></p>
                        <div class="divider col s12"></div>
                        <h5 class="right">
                            <a href="{{ path('contabilidade_lancamento_contabil_abertura_orcamento_anual') }}"
                               class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Abertura de Orçamento Anual"><i class="material-icons">edit</i></a>
                        </h5>
                    </div>
                </div>
                <div class="col s6 m6 l3">
                    <div class="card-panel col s12 hoverable center card-inside-blue">
                        <a href="{{ path('contabilidade_lancamento_contabil_abertura_restos_pagar') }}">
                            <h6><i class="mdi medium mdi-cash-multiple"></i></h6>
                            <h6 class="center"><br/>Abertura de <br/>Restos a Pagar</h6>
                        </a>
                        <p></p>
                        <div class="divider col s12"></div>
                        <h5 class="right">
                            <a href="{{ path('contabilidade_lancamento_contabil_abertura_restos_pagar') }}"
                               class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Cancelar Abertura de Restos a Pagar"><i class="material-icons">edit</i></a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}
