<div class="row">
    <div class="col s12 servidor-table">
        <a class="btn-lg tooltipped"
           data-position="left"
           data-delay="50"
           data-tooltip="Incluir">
            <i class="fa fa-cubes left"></i>
            {{ 'label.recursosHumanos.contratoServidorPeriodo.eventosBasesCadastrados'|trans }}
        </a>
    </div>

    <table class="col s12 highlight bordered">
        <thead class="thead-rh">
        <tr class="sonata-ba-list-field-header">
            <th class="th-rh">#</th>
            <th class="th-rh">{{ 'label.recursosHumanos.contratoServidorPeriodo.codigo'|trans }}</th>
            <th class="th-rh">{{ 'label.recursosHumanos.contratoServidorPeriodo.evento'|trans }}</th>
            <th class="th-rh">{{ 'label.recursosHumanos.contratoServidorPeriodo.valor'|trans }}</th>
            <th class="th-rh">{{ 'label.recursosHumanos.contratoServidorPeriodo.quantidade'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for base in object.eventosBases %}
            <tr>
                <td class="td-rh">{{ loop.index }}</td>
                <td class="td-rh">{{ base.codigo }}</td>
                <td class="td-rh">{{ base.descricao }}</td>
                <td class="td-rh">{{ base.valor|number_format(2, ',', '.') }}</td>
                <td class="td-rh">{{ base.quantidade|number_format(2, ',', '.') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
