{% extends "base_home_cards.html.twig" %}
{% block content %}
<div class="container">
    <div class="container">
        <h4 class="blue-text text-darken-4"><i class="mdi mdi-square-inc-cash left"></i>Configuração Folha Pagamento</h4>
            <div class="divider grey title-divider"><p>1</p></div>
    </div>
    <div class="container">
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable">
                <a href="{{ path('urbem_recursos_humanos_folha_pagamento_configuracao_create') }}"><h6 class="truncate center">Alterar Configuração</h6></a>
                <div class="divider col s12"></div>
                <h5 class="right">
                    <a href="{{ path('urbem_recursos_humanos_folha_pagamento_configuracao_create') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Editar"><i class="material-icons">edit</i></a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable">
                <a href="{{ path('urbem_recursos_humanos_folha_pagamento_sequencia_calculo_list')}}"><h6 class="truncate center">Sequência de Cálculo</h6></a>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_recursos_humanos_folha_pagamento_sequencia_calculo_create')}}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                </h5>
                <h5 class="right">
                    <a href="{{ path('urbem_recursos_humanos_folha_pagamento_sequencia_calculo_list')}}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable">
                <a href="{{ path('urbem_recursos_humanos_folha_pagamento_pensao_funcao_padrao_list')}}"><h6 class="truncate center">Cálculo da Pensão Alimentícia</h6></a>
                <div class="divider col s12"></div>
                <h5 class="right">
                    <a href="{{ path('urbem_recursos_humanos_folha_pagamento_pensao_funcao_padrao_list')}}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Listar"><i class="material-icons">list</i></a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable">
                <a href="{{ path('urbem_recursos_humanos_folha_pagamento_configuracao_configuracao_beneficio_list') }}"><h6 class="truncate center">Cálculo de Benefícios</h6></a>
                <div class="divider col s12"></div>
                <h5 class="right">
                    <a href="{{ path('urbem_recursos_humanos_folha_pagamento_configuracao_configuracao_beneficio_list')}}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Listar"><i class="material-icons">list</i></a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable">
                <h6 class="truncate center"><a href="{{ path('urbem_recursos_humanos_folha_pagamento_configurar_ferias_create') }}">Configurar Férias</a></h6>
                <div class="divider col s12"></div>
                <h5 class="right">
                    <a href="{{ path('urbem_recursos_humanos_folha_pagamento_configurar_ferias_create') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Editar"><i class="material-icons">edit</i></a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable">
                <h6 class="truncate center"><a href="{{ path('urbem_recursos_humanos_folha_pagamento_configuracao_calculo_decimo_terceiro_create',{id : 27}) }}">Cálculo 13 salário</a></h6>
                <div class="divider col s12"></div>
                <h5 class="right">
                    <a href="{{ path('urbem_recursos_humanos_folha_pagamento_configuracao_calculo_decimo_terceiro_create',{id : 27}) }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Editar"><i class="material-icons">edit</i></a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable">
                <a href="{{ path('urbem_recursos_humanos_folha_pagamento_config_empenho_list')}}"><h6 class="truncate center">Configuração Autorização de Empenho</h6></a>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_recursos_humanos_folha_pagamento_config_empenho_create')}}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                </h5>
                <h5 class="right">
                    <a href="{{ path('urbem_recursos_humanos_folha_pagamento_config_empenho_list')}}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable">
                <a href="{{ path('urbem_recursos_humanos_folha_pagamento_configuracao_eventos_desconto_externo_list')}}"><h6 class="truncate center">Evento Desconto Externo</h6></a>
                <div class="divider col s12"></div>

                <h5 class="right">
                    <a href="{{ path('urbem_recursos_humanos_folha_pagamento_configuracao_eventos_desconto_externo_list')}}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable">
                <h6 class="truncate center"><a href="{{ path('urbem_recursos_humanos_folha_pagamento_configuracao_contracheque_list') }}">Contracheque</a></h6>
                <div class="divider col s12"></div>
                <h5 class="right">
                    <a href="{{ path('urbem_recursos_humanos_folha_pagamento_configuracao_contracheque_list') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Listar"><i class="material-icons">list</i></a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable">
                <a href="{{ path('urbem_recursos_humanos_folha_pagamento_configuracao_valores_diversos_list')}}"><h6 class="truncate center">Valores Diversos</h6></a>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_recursos_humanos_folha_pagamento_configuracao_valores_diversos_create')}}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                </h5>
                <h5 class="right">
                    <a href="{{ path('urbem_recursos_humanos_folha_pagamento_configuracao_valores_diversos_list')}}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable">
                <a href="{{ path('urbem_recursos_humanos_folha_pagamento_configuracao_ipe_list')}}"><h6 class="truncate center">IPERS</h6></a>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_recursos_humanos_folha_pagamento_configuracao_ipe_create')}}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                </h5>
                <h5 class="right">
                    <a href="{{ path('urbem_recursos_humanos_folha_pagamento_configuracao_ipe_list')}}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable">
                <a href="{{ path('urbem_recursos_humanos_folha_pagamento_configuracao_totais_folha_list')}}"><h6 class="truncate center">Totais da Folha</h6></a>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_recursos_humanos_folha_pagamento_configuracao_totais_folha_create')}}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                </h5>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
