<div class="col s12">
    <div class="col s1 right" style="margin-top: 10px">
        <span class="icon-input">
            <i class="material-icons">add_circle</i>
        </span>
        <input class="white-text blue darken-4 btn btn-success save col s12" type="button" name="manuaisLotacao" id="manuaisLotacao" value="Incluir">
    </div>
</div>
<div class="col s12 lotacao">
    <h3 class="col s10 box-title left-align show">{{ 'label.recursosHumanos.configuracao.lotacaoLista'|trans }}</h3>
    <div class="divider grey lighten-1  title-divider"></div>
    <table id="tableLotacaoManuais" class="bordered highlight" style="width:100%">
        <tr class="tr-rh">
            <th class="th-rh">{{ 'label.recursosHumanos.configuracao.descricao'|trans }}</th>
            <th class="th-rh">{{ 'label.recursosHumanos.configuracao.pao'|trans }}</th>
            <th class="th-rh">{{ 'label.acao'|trans }}</th>
        </tr>
        <tr class="tr-rh row-modelo-lotacao" style="display:none;">
            <td class="td-rh descricao">
                <input type="hidden" class="imput-lotacao" name="lotacao[]" />
            </td>
            <td class="td-rh pao"></td>
            <td class="td-rh removeLotacao"><i class="material-icons blue-text text-darken-4">delete</i></td>
        </tr>
        {#{% for proprietario in field.data.lotacao|sort %}#}
            {#{% if proprietario.promitente == false %}#}
                {#<tr class="tr-rh row-lotacao" id="lotacao-{{ proprietario.fkSwCgm.numcgm }}">#}
                    {#<td class="td-rh cgm">#}
                        {#<input type="hidden" value="{{ admin.getObjectKey(proprietario) }}" class="imput-proprietario" name="lotacao_old[]" />#}
                        {#{{ proprietario.fkSwCgm.numcgm }}#}
                    {#</td>#}
                    {#<td class="td-rh nome">{{ proprietario.fkSwCgm.nomCgm }}</td>#}
                    {#<td class="td-rh descricaoItemAutorizacao"></td>#}
                    {#<td class="td-rh remove"><i class="material-icons blue-text text-darken-4">delete</i></td>#}
                {#</tr>#}
            {#{% endif %}#}
        {#{% endfor %}#}
        <tr class="tr-rh empty-row-lotacao">
            <td colspan="4">{{ 'listagemVazia'|trans }}</td>
        </tr>
    </table>
</div>
