<table class="table table-bordered">
    <tbody>
        <tr>
            <td rowspan="5" style="border-bottom: 0; border-left: 0; border-top: 0">
                <img class="responsive-img" style="height: 65px; margin-top: 20px"
                     src="http://urbem.cnm.org.br/bundles/portal/images/logo_urbem.png">
            </td>
            <th rowspan="5" colspan="6">
                {{ arConfiguracao.nom_prefeitura }}<br />
                Fone/Fax: {{ arConfiguracao.fone }} / {{ arConfiguracao.fax }}<br />
                E-mail: {{ arConfiguracao.e_mail }}<br />
                {{ arConfiguracao.logradouro }}, {{ arConfiguracao.numero }} -  {{ arConfiguracao.bairro }}<br />
                CNPJ: {{ arConfiguracao.cnpj }}
            </th>
            <td>{{ arConfiguracao.nom_modulo }}</td>
            <td>
                <span class="bold">Versão:</span>
                {{ versao }}
            </td>

        </tr>
        <tr>
            <td>{{ arConfiguracao.nom_funcionalidade }}</td>
            <td>
                <span class="bold">Usuario:</span>
                {{ usuario.username }}
            </td>
        </tr>
        <tr>
            <td>{{ arConfiguracao.nom_acao }}</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2">
                <span class="bold">Emissão:</span>
                {{ dtEmissao|date("d/m/Y") }}
                <span class="bold">Hora:</span>
                {{ dtEmissao|date("H:i:s") }}

            </td>
        </tr>
    </tbody>
</table>
<div class="divider">
    <p></p>
</div>
