{% extends "base_home_cards.html.twig" %}
{% block content %}
<div class="container white z-depth-1 form reports">
    <h4 class="blue-text text-darken-4"><i class="mdi mdi-file-document left"></i>Relatorios Folha Pagamento</h4>
    <div class="divider"></div>
    <div class="col s3">
        <div class="section">
            <a href="{{ path('urbem_recursos_humanos_folha_pagamento_relatorios_eventos_contrato_create') }}"><h6 class="truncate">Eventos por Contrato</h6></a>
            <p class="left-align text-cardpanel">Emita aqui um Relatório com todos os Eventos cadastrados para o Servidor.</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <a href="{{ path('urbem_recursos_humanos_folha_pagamento_relatorios_ficha_financeira_create') }}"><h6 class="truncate">Ficha Financeira</h6></a>
            <p class="left-align text-cardpanel">Emita aqui Fichas Financeiras dos Servidores para virificação de informações diversas.</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h6 class="truncate"><span class="grey-text">Eventos</span></h6>
            <p class="left-align text-cardpanel">Emita aqui um relatório com todos os Eventos cadastrados, ou utilize filtros para um relatório mais objetivo.</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <a href="{{ path('urbem_recursos_humanos_folha_pagamento_relatorios_folha_analitica_sintetica_create') }}"><h6 class="truncate">Folha Analítica/Sintética</h6></a>
            <p class="left-align text-cardpanel">Confira aqui informações referentes às manutenções das Folhas dos Servidores de forma Analítica ou Sintética.</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <a href="{{ path('urbem_recursos_humanos_folha_pagamento_relatorios_customizavel_eventos_create') }}">
            <h6 class="truncate">Customizavel de Eventos</h6></a>
            <p class="left-align text-cardpanel">Emita aqui informações referentes aos eventos de determinada folha de pagamento do servidor.</p>
        </div>
    </div>
    <div class="col s3">
        <div class="divider"></div>
        <div class="section">
            <h6 class="truncate"><span class="grey-text">Créditos por Banco</span></h6>
            <p class="left-align text-cardpanel">Emita aqui relações de pagamentos Efetuados aos Servidores por banco e agência.</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h6 class="truncate"><span class="grey-text">FGTS</span></h6>
            <p class="left-align text-cardpanel">Emita aqui informações de recolhimento do FGTS dos Servidores regidos pela CLT.</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <a href="{{ path('urbem_recursos_humanos_folha_pagamento_relatorios_contribuicao_previdenciaria_create') }}"><h6 class="truncate">Contribuição Previdénciaria</h6></a>
            <p class="left-align text-cardpanel">.</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <a href="{{ path('urbem_recursos_humanos_folha_pagamento_relatorios_contra_cheque_create') }}"><h6 class="truncate">Contracheque</h6>
            </a><p class="left-align text-cardpanel">Emita aqui os Contracheques dos Servidores.</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h6 class="truncate"><span class="grey-text">IRRF</span></h6>
            <p class="left-align text-cardpanel">Emita aqui informações sobre o IRRF dos Servidores.</p>
        </div>
    </div>
    <div class="col s3">
        <div class="divider"></div>
        <div class="section">
            <a href="{{ path('urbem_recursos_humanos_folha_pagamento_termo_rescisao_create') }}"><h6 class="truncate">Termo de Rescisão</h6></a>
            <p class="left-align text-cardpanel">Emita aqui o Termo de Rescisão Contratual do Servidor. Lembrando que este termo é emitido no momento da rescisão na ação Gestão Recursos Humanos | Pessoal | Rescisão de Contrato | Rescindir Contrato.</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h6 class="truncate"><span class="grey-text">Informações Mensais</span></h6>
            <p class="left-align text-cardpanel">Emita aqui uma Planilha para preenchimento manual da movimentação mensal do Servidor. Este relatório é para o caso de este órgão utilizar a metodologia de trabalho com registros manuais das movimentações do mês.</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <a href="{{ path('urbem_recursos_humanos_folha_pagamento_relatorios_recibo_ferias_create') }}"><h6 class="truncate"> Recibo de Férias </h6></a>
            <p class="left-align text-cardpanel">Emita aqui o Recibo de Férias dos Servidores.</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <a href="{{ path('urbem_recursos_humanos_folha_pagamento_bancario_pensao_judicial_relatorio_create') }}"><h6 class="truncate"> Bancário de Pensão Judicial </span></h6></a>
            <p class="left-align text-cardpanel">Aqui você poderá emitir informações dos pagamentos das pensões judiciais por Bancos.</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h6 class="truncate"><span class="grey-text">Comprovante de Rendimentos IRRF</span></h6>
            <p class="left-align text-cardpanel">Emita aqui os Comprovantes de Rendimentos a serem entregues aos Servidores</p>
        </div>
    </div>
    <div class="col s3">
        <div class="divider"></div>
        <div class="section">
            <h6 class="truncate"><span class="grey-text">Resumo obrigações sociais</span></h6>
            <p class="left-align text-cardpanel">Emita aqui um relatório com um resumo das obrigações sociais dos Servidores de acordo com o tipo de previdência. </p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h6 class="truncate"><span class="grey-text">Recibo de Pensão Judicial</span></h6>
            <p class="left-align text-cardpanel">Emita aqui o Recibo da Pensão Judicial.</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h6 class="truncate"><span class="grey-text">Totais de Folha</span></h6>
            <p class="left-align text-cardpanel">Gere aqui um relatório de Eventos com seus Elementos de Despesa. Antes, é necessário configurar quais serão os Eventos na ação Gestão Recursos Humanos | Folha de Pagamento | Configurações | Totais de Folha.</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h6 class="truncate"><span class="grey-text">GPS</span></h6>
            <p class="left-align text-cardpanel">Emita aqui a Guia de Previdência Social.</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h6 class="truncate"><span class="grey-text">Auditoria da Folha</span></h6>
            <p class="left-align text-cardpanel">Este relatório permite obter informações comparativas dos registros efetuados na folha de pagamento do Servidor.</p>
        </div>
    </div>
</div>
{% endblock content %}
