{% extends "CoreBundle::Sonata/standard_layout.html.twig" %}

{% block content %}
    <div class="container-rh">
        <div class="row">
            <div class="col s12 profile-box">
                <h2 class="blue-text text-darken-4 left" style="margin: 1.78rem 0 0 0">
                    <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                    <span class="grey-text bold" style="padding-top: 10px; font-weight: bold">
                    Termo de Rescisão
                </span>
                </h2>

                <h6 class="divider grey col s12"></h6>

                {% if total > 0 %}
                    <div class="col s6 little-box">
                    <h6 class="col s12 blue-text text-darken-4 profile-titles">
                    Contratos
                    </h6>
                    <h6 class="col s12 grey-text text-darken-1">
                    {{ total }}
                    </h6>
                    </div>

                    <div class="col s6 little-box">
                    <h6 class="col s12 blue-text text-darken-4 profile-titles">
                    Arquivo
                    </h6>
                    <h6 class="col s12 grey-text text-darken-1">
                    {{ filename }}
                    </h6>
                    </div>

                    <div class="col s6 initial">
                    <a href="{{ path('urbem_recursos_humanos_folha_pagamento_termo_rescisao_download_arquivo') }}?filename={{ filename }}"
                    class="btn white-text blue darken-4 btn-success">
                    <i class="material-icons">receipt</i>
                    Download
                    </a>
                    </div>
                    {% else %}
                        <div class="col s6 little-box">
                            <h6 class="col s12 blue-text text-darken-4 profile-titles">
                                Contratos
                            </h6>
                            <h6 class="col s12 grey-text text-darken-1">
                                {{ total }}
                            </h6>
                        </div>
                {% endif %}


            </div>

            <div class="sonata-ba-form-actions well well-small form-actions row">
                <div class="col s8 initial">
                    <a href="{{ path('urbem_recursos_humanos_folha_pagamento_termo_rescisao_create') }}"
                       class="back btn-floating white-text blue darken-4 btn-success">
                        <i class="material-icons">arrow_back</i>
                        Add a comment to this line
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
