{% extends "base_home_cards.html.twig" %}

{% block title %}HOME{% endblock title %}


{% block menu %}
    {% include '::partials/menu.html.twig' %}
{% endblock menu %}

{% block content %}
<!--SUB-MODULOS-->
<div class="container">
    <div class="container col s12 m12 l12">
        <h4 class="titles left blue-text text-darken-4">Módulo Administrativo</h4>
    </div>
    <div class="row">
        <!--Administração-->
        <div class="col s10 m6 l3">
            <div class="card small white">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" title="Sub Módulo Administração" id="abrecard">
                        <img class="activator responsive-img"
                             src="{{ asset('/bundles/administrativo/images/admin.png') }}">
                    </a>
                </div>
                <div class="card-content white">
                    <span class="card-title activator blue-text text-darken-4 truncate flow-text">Administração</span>
                </div>
                <div class="card-reveal">
                    <div class="col s12 titulo-inside-card truncate">
                        <i class="material-icons icoTitMenu left">list</i> Administração
                        <span class="card-title grey-text text-darken-4 closeHomeNovo"><i class="material-icons right">close</i></span>
                    </div>
                    <div class="setaMenu"></div>
                    <div class="menuHomeNovo">
                        <p class="link-cards"><a href="{{ path('administracao_sistema_home') }}">Sistema</a></p>
                        <p class="link-cards"><a href="{{ path('configuracao_edit', {id: 'administracao'}) }}">{{ 'configuracao.titulo_menu' | trans }}</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_administrativo_administracao_auditoria_list') }}">{{ 'auditoria.titulo_menu' | trans }}</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_administrativo_administracao_usuarios_list') }}">Usuários</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_administrativo_administracao_grupo_list') }}">Grupo de Acesso</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_administrativo_administracao_atributo_list') }}">Atributo</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_administrativo_administracao_gerador_calculo_funcao_list') }}">Gerador de cálculo</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_administrativo_administracao_assinatura_list') }}">Assinaturas</a></p>
                        <p class="link-cards"><a href="{{ path('administracao_relatorios_home') }}">Relatórios</a></p>
                    </div>
                </div>
            </div>
        </div>

        <!--CGM-->
        <div class="col s10 m6 l3">
            <div class="card small white">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" title="Sub Módulo CGM" id="abrecard">
                        <img class="activator responsive-img"
                             src="{{ asset('/bundles/administrativo/images/cgm.png') }}">
                    </a>
                </div>
            </a>
                <div class="card-content white">
                    <span class="card-title activator blue-text text-darken-4 truncate flow-text">CGM</span>
                </div>
                <div class="card-reveal">
                    <div class="col s12 titulo-inside-card truncate">
                        <i class="material-icons icoTitMenu left">list</i> CGM
                        <span class="card-title grey-text text-darken-4 closeHomeNovo"><i class="material-icons right">close</i></span>
                    </div>
                    <div class="setaMenu"></div>
                    <div class="menuHomeNovo">
                        <p class="link-cards"><a href="{{ path('urbem_administrativo_atributo_list') }}">Atributo</a></p>
                        <p class="link-cards"><a href="{{ path('administracao_cgm_home') }}">Manutenção do CGM</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_administrativo_logradouro_list') }}">Manutenção do logradouro</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_administrativo_cgm_sw_bairro_list') }}">Manutenção de bairro</a></p>
                    </div>
                </div>
            </div>
        </div>

        <!--Protocolo-->
        <div class="col s10 m6 l3">
            <div class="card small white">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" title="Sub Módulo Protocolo" id="abrecard">
                        <img class="activator responsive-img"
                             src="{{ asset('/bundles/administrativo/images/protocolo.png') }}">
                    </a>
                </div>
                <div class="card-content white">
                    <span class="card-title activator blue-text text-darken-4 truncate">Protocolo</span>
                </div>
                <div class="card-reveal">
                    <div class="col s12 titulo-inside-card truncate">
                        <i class="material-icons icoTitMenu left">list</i> Protocolo
                        <span class="card-title grey-text text-darken-4 closeHomeNovo"><i class="material-icons right">close</i></span>
                    </div>
                    <div class="setaMenu"></div>
                    <div class="menuHomeNovo">
                        <p class="link-cards"><a href="{{ path('urbem_administrativo_administracao_configuracao_create', { 'id': 5 }) }}">Configuração</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_administrativo_motivo_arquivamento_list') }}">Motivo do arquivamento</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_administrativo_protocolo_atributo_assunto_list') }}">Atributo de assunto</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_administrativo_protocolo_documento_processo_list') }}">Documento de processo</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_administrativo_protocolo_classificacao_list') }}">Classificação de assunto</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_administrativo_protocolo_assunto_processo_list') }}">Assunto de processo</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_administrativo_protocolo_tramite_processo_list') }}">Trâmite de processo</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_administrativo_protocolo_processo_list') }}">Processo</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_administrativo_protocolo_processo_imprimir_etiqueta_create') }}">Imprimir Etiqueta</a></p>
                    </div>
                </div>
            </div>
        </div>

        <!--Normas-->
        <div class="col s10 m6 l3">
            <div class="card small white">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" title="Sub Módulo Normas" id="abrecard">
                        <img class="activator responsive-img"
                             src="{{ asset('/bundles/administrativo/images/normas.png') }}">
                    </a>
                </div>
                <div class="card-content white">
                    <span class="card-title activator blue-text text-darken-4 truncate">Normas</span>
                </div>
                <div class="card-reveal">
                    <div class="col s12 titulo-inside-card truncate">
                        <i class="material-icons icoTitMenu left">list</i> Normas
                        <span class="card-title grey-text text-darken-4 closeHomeNovo"><i class="material-icons right">close</i></span>
                    </div>
                    <div class="setaMenu"></div>
                    <div class="menuHomeNovo">
                        <p class="link-cards"><a href="{{ path('urbem_administrativo_normas_tipo_norma_list') }}">Tipo de norma</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_administrativo_normas_norma_list') }}">Norma</a></p>
                    </div>
                </div>
            </div>
        </div>

        <!--Organograma-->
        <div class="col s10 m6 l3">
            <div class="card small white">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" title="Sub Módulo Organograma" id="abrecard">
                        <img class="activator responsive-img"
                             src="{{ asset('/bundles/administrativo/images/calendar.png') }}">
                    </a>
                </div>
                <div class="card-content white">
                    <span class="card-title activator blue-text text-darken-4 truncate">Organograma</span>
                </div>
                <div class="card-reveal">
                    <div class="col s12 titulo-inside-card truncate">
                        <i class="material-icons icoTitMenu left">list</i> Organograma
                        <span class="card-title grey-text text-darken-4 closeHomeNovo"><i class="material-icons right">close</i></span>
                    </div>
                    <div class="setaMenu"></div>
                    <div class="menuHomeNovo">
                        <p class="link-cards"><a href="{{ path('urbem_administrativo_organograma_organograma_list') }}">Configurar Organograma</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_administrativo_organograma_de_para_orgao_dto_create') }}">Migrar Organograma</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_administrativo_migracao_organograma_create') }}">Processar Migração do Organograma</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_administrativo_organograma_orgao_list') }}">Órgãos</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_administrativo_organograma_local_list') }}">Local</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
