{% extends "base_home_cards.html.twig" %}
{% block content %}
<div class="container">
    <div class="container">
        <h4 class="blue-text text-darken-4">Assentamento</h4>
        <div class="divider grey title-divider"><p>1</p></div>
    </div>
    <div class="container">
        <div class="col s6 m6 l3 card-bank">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_recursos_humanos_assentamento_configuracao_list') }}">
                    <h6><i class="mdi mdi-settings medium"></i></h6>
                    <h6 class="truncate center">Configurar Assentamento</h6>
                </a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_recursos_humanos_assentamento_configuracao_create') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                </h5>
                <h5 class="right">
                    <a href="{{ path('urbem_recursos_humanos_assentamento_configuracao_list') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3 card-bank">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_recursos_humanos_assentamento_condicao_list') }}">
                    <h6><i class="mdi mdi-table-edit medium"></i></h6>
                    <h6 class="center">Condições de Averbação e Protelação</h6>
                </a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_recursos_humanos_assentamento_condicao_create') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                </h5>
                <h5 class="right">
                    <a href="{{ path('urbem_recursos_humanos_assentamento_condicao_list') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3 card-bank">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_recursos_humanos_assentamento_gerar_assentamento_list') }}">
                    <h6><i class="fa fa-plus-square medium"></i></h6>
                    <h6 class="truncate center">Gerar Assentamento</h6>
                </a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_recursos_humanos_assentamento_gerar_assentamento_create') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                </h5>
                <h5 class="right">
                    <a href="{{ path('urbem_recursos_humanos_assentamento_gerar_assentamento_list') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                </h5>
            </div>
        </div>
    </div>
    <div class="container">
        <h4 class="blue-text text-darken-4">Parametrizações</h4>
        <div class="divider grey title-divider"><p>1</p></div>
    </div>
    <div class="container">
        <div class="col s6 m6 l3 card-bank">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_recursos_humanos_assentamento_classificacao_list')}}">
                    <h6><i class="mdi mdi-lan medium"></i></h6>
                    <h6 class="truncate center">Classificação</h6>
                </a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_recursos_humanos_assentamento_classificacao_create')}}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                </h5>
                <h5 class="right">
                    <a href="{{ path('urbem_recursos_humanos_assentamento_classificacao_list')}}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3 card-bank">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_recursos_humanos_pessoal_assentamento_sefip_list')}}">
                    <h6><i class="fa fa-money medium" aria-hidden="true"></i></h6>
                    <h6 class="truncate center">SEFIP</h6>
                </a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_recursos_humanos_pessoal_assentamento_sefip_create')}}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                </h5>
                <h5 class="right">
                    <a href="{{ path('urbem_recursos_humanos_pessoal_assentamento_sefip_list')}}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                </h5>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
