{% extends "base.html.twig" %}
{% block content %}
<div class="sonata-ba-show col s12">
    <div class="sonata-ba-view">
        <div class="row">
            <h5 class="col s10 box-title left-align ">{{ 'label.configuracaoPpa.titulo'|trans }}</h5>
            <div class="divider grey lighten-1  title-divider"></div>
            {{ form_start(form) }}
                <div class="col s4" style="margin: 0 0 1% 1.5%;">
                    {{ form_widget(form.fontesRecurso) }}
                    {{ form_label(form.fontesRecurso, null, {'label_attr': {'class': 'label-rh'}}) }}
                    {{ form_errors(form.fontesRecurso) }}
                </div>
                <div class="col s12">
                    <div class="col s6 add space">
                        <a class="btn-floating white-text blue darken-4 btn-success" href="{{ path('ppa_configuracao_home') }}"><i class="material-icons">arrow_back</i></a>
                    </div>
                    <div class="col s6 right-align">
                        <button type="submit" id="form_submit" name="form[submit]"
                                class="white-text blue darken-4 btn btn-success save right">
                            <i class="material-icons left">save</i>{{ 'label.configuracaoPpa.salvar'|trans }}
                        </button>
                    </div>
                </div>
            {{form_end(form) }}
        </div>
    </div>
</div>
{% endblock content %}
{% block javascripts %}
    <script>
        $( "[type=checkbox]" ).css('display', 'none');
    </script>
{% endblock javascripts %}
