<table class="bordered highlight">
    <thead>
    <tr>
        <th width="3%"></th>
        <th class="right-align">{{ 'label.gradeHorario.dia'|trans }}</th>
        <th class="right-align">{{ 'label.gradeHorario.horaEntrada' |trans }}</th>
        <th class="right-align">{{ 'label.gradeHorario.horaSaida'|trans }}</th>
        <th class="right-align">{{ 'label.gradeHorario.horaEntrada2' |trans }}</th>
        <th class="right-align">{{ 'label.gradeHorario.horaSaida2'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for turno in turnos %}
        <tr>
            <td>{{ loop.index }}</td>
            <td class="right-align">{{ turno.nom_dia }}</td>
            <td class="right-align">{{ turno.hora_entrada }}</td>
            <td class="right-align">{{ turno.hora_saida }}</td>
            <td class="right-align">{{ turno.hora_entrada_2 }}</td>
            <td class="right-align">{{ turno.hora_saida_2 }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>