<div class="form-group input-field col s6 exercicio-fixed-sonata">
    <select class="select-ano-hide" name="_exercicio">
        <option value="">{{ 'label.exercicio'|trans }}</option>
        {% for ano in ano_range %}
            {% if ano == urbem_session.exercicio %}
                <option value="{{ ano }}" selected="selected">{{ ano }}</option>
            {% else %}
                <option value="{{ ano }}">{{ ano }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
