<div class="form-group col s6 exercicio-fixed">
    <select class="browser-default select-ano form-control" name="_exercicio">
        <option value="">{{ 'label.exercicio'|trans }}</option>
        {% for ano in ano_range %}
            {% if ano == urbem_session.exercicio %}
                <option value="{{ ano }}" selected="selected">{{ ano }}</option>
            {% else %}
                <option value="{{ ano }}">{{ ano }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
