<!-- Trigger/Open The Modal -->
<button id="Moduls" class="modulos hide-on-med-and-down" data-activates="NewModuls">
    <i class="material-icons white-text">menu</i>
</button>

<!-- The Modal -->
<div class="moduls-box" id="NewModuls" style="z-index: 1000;">
    <div>
        <div class="inside-box-modul">
            <a href="{{ path('administrativo') }}" class="modul">
                <i class="material-icons">settings</i>
                <p>Administrativo 222</p>
            </a>
        </div>
        <div class="inside-box-modul">
            <a href="{{ path('recursos_humanos') }}">
                <i class="fa fa-users" aria-hidden="true"></i>
                <p>Recursos Humanos</p>
            </a>
        </div>
        <div class="inside-box-modul">
            <a href="{{ path('financeiro') }}">
                <i class="material-icons">monetization_on</i>
                <p>Financeiro</p>
            </a>
        </div>
        <div class="inside-box-modul">
            <a href="{{ path('tributario') }}">
                <i class="material-icons">gavel</i>
                <p>Tributario</p>
            </a>
        </div>
        <div class="inside-box-modul">
            <a href="{{ path('patrimonial') }}">
                <i class="material-icons">business</i>
                <p>Patrimonial</p>
            </a>
        </div>
        <div class="inside-box-modul">
            <a href="#">
                <i class="material-icons">refresh</i>
                <p>Rede Simples</p>
            </a>
        </div>
        <div class="inside-box-modul">
            <a href="#">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                <p>Portal do<br /> Gestor</p>
            </a>
        </div>
        <div class="inside-box-modul">
            <a href="#">
                <i class="material-icons">assignment_ind</i>
                <p>Portal de Serviços</p>
            </a>
        </div>
        <div class="inside-box-modul ">
            <a href="#">
                <i class="material-icons">description</i>
                <p>Nota Fiscal Eletrônica</p>
            </a>
        </div>
        <div class="inside-box-modul">
            <a href="#">
                <i class="material-icons">shopping_cart</i>
                <p>Compras Governamentais</p>
            </a>
        </div>
    </div>
</div>


{#<script src="http://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>#}
{#<script>#}
    {#var button = document.getElementById('Moduls'); // Assumes element with id='button'#}

    {#$(window).click(function() {#}
        {#$('#NewModuls').hide('slide', {'direction': 'right'}, 'slow');#}
    {#})#}
        {#.on('keyup', function (event) {#}
            {#if (event.keyCode == 27) {// Esc key#}
                {#var div = document.getElementById('NewModuls');#}
                {#if (div.style.display == 'block') {#}
                    {#$('#NewModuls').hide('slide', {'direction': 'right'}, 'slow');#}
                {#}#}
            {#}#}
        {#});#}

    {#button.onclick = function(event) {#}
        {#$('#NewModuls').on('click', function (event) {#}
            {#event.stopPropagation();#}
        {#});#}
        {#event.stopPropagation();#}
        {#var div = document.getElementById('NewModuls');#}
        {#if (div.style.display !== 'block') {#}
            {#$(div).show('fast');#}
        {#}#}
        {#else {#}
            {#$(div).hide('fast');#}
        {#}#}
    {#};#}
{#</script>#}