<div class="fixed-action-btn click-to-toggle" style="bottom: 25px; right: 2px;">
    <a class="btn-floating blue darken-4 btn-large" href="#">
        <i class="large material-icons text-darken-4">menu</i>
        <span class="sr-only">menu módulos</span>
    </a>
    <ul style="bottom: 50px !important;">
        <li>
            <a href="{{ path('patrimonial') }}" class="btn-floating white" data-html="true">
                <i class="material-icons blue-text text-darken-4">business</i>
            </a>
        </li>
        <li>
            <a href="{{ path('tributario') }}" class="btn-floating white">
                <i class="material-icons blue-text text-darken-4">gavel</i>
            </a>
        </li>
        <li>
            <a href="{{ path('financeiro') }}" class="btn-floating white">
                <i class="material-icons blue-text text-darken-4">monetization_on</i>
            </a>
        </li>
        <li>
            <a href="{{ path('administrativo') }}" class="btn-floating white">
                <i class="material-icons blue-text text-darken-4">settings</i>
            </a>
        </li>
        <li>
            <a href="{{ path('recursos_humanos') }}" class="btn-floating white">
                <i class="material-icons blue-text text-darken-4">supervisor_account</i>
            </a>
        </li>
        <li>
            <a href="#" class="btn-floating white">
                <i class="material-icons  grey-text">refresh</i>
            </a>
        </li>
        <li>
            <a href="#" class="btn-floating white">
                <i class="fa fa-user-plus grey-text" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="#" class="btn-floating white">
                <i class="material-icons  grey-text">assignment_ind</i>
            </a>
        </li>
        <li>
            <a href="#" class="btn-floating white">
                <i class="material-icons  grey-text">description</i>
            </a>
        </li>
        <li>
            <a href="#" class="btn-floating white">
                <i class="material-icons  grey-text">shopping_cart</i>
            </a>
        </li>
    </ul>
</div>