{% extends "base.html.twig" %}
{% block content %}
<div class="container-rh">
    
        <h5 class="blue-text text-darken-4">Editar Feriado</h5>
        <div class="divider grey title-divider"><p>1</p></div>
    
    <div class="row">
        {{ form_start(edit_form) }}
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(edit_form.dtFeriado, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(edit_form.dtFeriado, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(edit_form.dtFeriado) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(edit_form.descricao, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(edit_form.descricao, {'attr': {'class': 'white input-rh'}}) }}
            {{ form_errors(edit_form.descricao) }}
        </div>
        <div class="col s6 field-filtro perce-rh">
            {{ form_label(edit_form.tipoferiado, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(edit_form.tipoferiado) }}
            {{ form_errors(edit_form.tipoferiado) }}
        </div>
        <div class="col s6 field-filtro">
            {{ form_label(edit_form.abrangencia, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(edit_form.abrangencia) }}
            {{ form_errors(edit_form.abrangencia) }}
        </div>
    </div>
    <div class="row">
        <div class="col s9">
            <a  class="btn-floating white-text blue darken-4" href="{{ path('calendario_feriado_index') }}"><i class="material-icons">arrow_back</i></a>
        </div>
        <div class="hide-on-med-and-down col l1 right-align deletar">
            {{ form_start(delete_form) }}
            <button class="btn waves-effect waves-light white-text grey tooltipped" data-position="right" data-delay="50" data-tooltip="Excluir" value="Delete" type="submit" name="action"><i class="material-icons">delete</i></button>
            {{ form_end(delete_form) }}
        </div>
        <div class="col s2 right-align">
            <button type="submit" class="waves-effect waves-light btn blue darken-4" value="Salvar"><i class="material-icons left">save</i> Salvar</button>
        </div>
        {{ form_end(edit_form) }}
    </div>
</div>
{% endblock content %}
