
{% extends "CoreBundle::Sonata/standard_layout.html.twig" %}

{% import 'CoreBundle:Sonata/CRUD:base_show_macro.html.twig' as show_helper %}

{% block actions %}
    {% include 'CoreBundle:Sonata/CRUD:action_buttons.html.twig' %}
{% endblock %}

{% block tab_menu %}
    {{ knp_menu_render(admin.sidemenu(action), {
        'currentClass' : 'active',
        'template': sonata_admin.adminPool.getTemplate('tab_menu_template')
    }, 'twig') }}
{% endblock %}

{% block content %}
    <div class="container-rh">
        <div class="row">
            <div class="col s12 profile-box">
                <h4 class="grey-text text-darken-1 left">
                    {{ 'label.patrimonial.compras.contrato.numContrato'|trans}}: {{ object.contrato.numeroContrato }}
                </h4>
                <a href="{{ path('urbem_patrimonial_compras_contrato_edit', { 'id': object.contrato|objectKey })}}" class="serv-btn right">
                    <i class="material-icons right">edit</i>
                </a>
                <h6 class="divider grey col s12"></h6>
                <h6 class="col s6 blue-text text-darken-4 profile-titles">{{ 'label.patrimonial.contrato.entidade'|trans }}: {{ object.contrato.fkOrcamentoEntidade.fkSwCgm.nomCgm }}</h6>
                <h6 class="col s3 blue-text text-darken-4 profile-titles">{{ 'label.patrimonial.contrato.tipoContrato'|trans }}: {{ object.contrato.fkLicitacaoTipoContrato.descricao }}</h6>
                <h6 class="col s3 blue-text text-darken-4 profile-titles">{{ 'label.patrimonial.contrato.tipoInstrumento'|trans }}: {{ object.contrato.fkLicitacaoTipoInstrumento.descricao }}</h6>
                <h6 class="divider grey col s12"></h6>
                <h6 class="col s3 blue-text text-darken-4 profile-titles">{{ 'label.patrimonial.compras.contrato.dtAssinatura'|trans}}: {{ object.contrato.dtAssinatura|date("d/m/Y") }}</h6>
                <h6 class="col s3 blue-text text-darken-4 profile-titles">{{ 'label.patrimonial.compras.contrato.vencimento'|trans}}: {{ object.contrato.dtAssinatura|date("d/m/Y") }}</h6>
                <h6 class="col s3 blue-text text-darken-4 profile-titles">{{ 'label.patrimonial.compras.contrato.inicioExecucao'|trans}}: {{ object.contrato.inicioExecucao|date("d/m/Y") }}</h6>
                <h6 class="col s3 blue-text text-darken-4 profile-titles">{{ 'label.patrimonial.compras.contrato.fimExecucao'|trans}}: {{ object.contrato.fimExecucao|date("d/m/Y") }}</h6>

            </div>
        </div>
        <div class="row">
            <div class="col s11 servidor-table">
                <a class="btn-lg tooltipped"
                   data-position="left"
                   data-delay="50"
                   data-tooltip="Incluir">
                    <i class="mdi mdi-source-branch left"></i>
                    {{ 'label.patrimonial.compras.contrato.documentoExigidos'|trans}}
                </a>
            </div>
            <div class="col s1">
                <a href="{{ path('urbem_patrimonial_contrato_documento_create',{'id': object.contrato|objectKey })}}"
                {#<a href="{{ path('urbem_patrimonial_contrato_documento_create',{'id': contrato|objectKey })}}"#}
                   class="btn-lg"><i class="mdi mdi-plus-circle right"></i></a>
            </div>
            <table class="col s12 highlight bordered">
                <thead class="thead-rh">
                <tr class="sonata-ba-list-field-header">
                    <th class="th-rh" width="5%">#</th>
                    <th class="th-rh">{{ 'label.codigo'|trans }}</th>
                    <th class="th-rh">{{ 'label.patrimonial.compras.contrato.dtEmissao'|trans }}</th>
                    <th class="th-rh">{{ 'label.patrimonial.compras.contrato.dtValidade'|trans }}</th>
                    <th class="th-rh" width="10%">{{ 'acoes'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for documento in object.documentos %}
                    <tr>
                        <td class="td-rh">{{ loop.index }}</td>
                        <td class="td-rh">{{ documento.numDocumento }}</td>
                        <td class="td-rh">{{ documento.dtEmissao|date("d/m/Y") }}</td>
                        <td class="td-rh">{{ documento.dtValidade|date("d/m/Y") }}</td>
                        <td class="td-rh">
                            <div class="btn-group">
                                <a class="hide-on-med-and-down blue-text text-darken-4 tooltipped left"
                                   data-position="left"
                                   data-delay="50"
                                   data-tooltip="Editar"
                                   href="{{ path('urbem_patrimonial_contrato_documento_edit', { 'id': documento|objectKey }) }}">
                                    <i class="material-icons">edit</i>
                                </a>
                                <a class="hide-on-med-and-down blue-text text-darken-4 tooltipped right"
                                   data-position="left"
                                   data-delay="50"
                                   data-tooltip="Excluir"
                                   href="{{ path('urbem_patrimonial_contrato_documento_delete', { 'id': documento|objectKey }) }}">
                                    <i class="material-icons">delete</i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col s11 servidor-table">
                <a class="btn-lg tooltipped"
                   data-position="left"
                   data-delay="50"
                   data-tooltip="Incluir">
                    <i class="mdi mdi-source-branch left"></i>
                    {{ 'label.patrimonial.compras.contrato.veiculoPublicacao'|trans}}
                </a>
            </div>
            <div class="col s1">
                <a href="{{ path('urbem_patrimonial_publicacao_contrato_create',{'id': object.contrato|objectKey })}}"
                   class="btn-lg"><i class="mdi mdi-plus-circle right"></i></a>
            </div>
            <table class="col s12 highlight bordered">
                <thead class="thead-rh">
                <tr class="sonata-ba-list-field-header">
                    <th class="th-rh" width="5%">#</th>
                    <th class="th-rh">{{ 'label.patrimonial.compras.publicacao_contrato.numPublicacao'|trans }}</th>
                    <th class="th-rh">{{ 'label.patrimonial.compras.publicacao_contrato.dtPublicacao'|trans }}</th>
                    <th class="th-rh">{{ 'label.patrimonial.compras.publicacao_contrato.veiculoPublicidade'|trans }}</th>
                    <th class="th-rh" width="10%">{{ 'acoes'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for publicacao in object.publicacoes %}
                    <tr>
                        <td class="td-rh">{{ loop.index }}</td>
                        <td class="td-rh">{{ publicacao.numPublicacao }}</td>
                        <td class="td-rh">{{ publicacao.dtPublicacao|date("d/m/Y") }}</td>
                        <td class="td-rh">{{ publicacao.fkLicitacaoVeiculosPublicidade.fkSwCgm.nomCgm }}</td>
                        <td class="td-rh">
                            <div class="btn-group">
                                <a class="hide-on-med-and-down blue-text text-darken-4 tooltipped left"
                                   data-position="left"
                                   data-delay="50"
                                   data-tooltip="Editar"
                                   href="{{ path('urbem_patrimonial_publicacao_contrato_edit', { 'id': publicacao|objectKey}) }}">
                                    <i class="material-icons">edit</i>
                                </a>
                                <a class="hide-on-med-and-down blue-text text-darken-4 tooltipped right"
                                   data-position="left"
                                   data-delay="50"
                                   data-tooltip="Excluir"
                                   href="{{ path('urbem_patrimonial_publicacao_contrato_delete', { 'id': publicacao|objectKey }) }}">
                                    <i class="material-icons">delete</i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col s11 servidor-table">
                <a class="btn-lg tooltipped"
                   data-position="left"
                   data-delay="50"
                   data-tooltip="Incluir">
                    <i class="mdi mdi-bank left"></i>
                    ARQUIVOS
                </a>
            </div>
            <div class="col s1">
                <a href="{{ path('urbem_patrimonial_contrato_arquivo_create',{'id': object.contrato|objectKey  })}}"
                   class="btn-lg"><i class="mdi mdi-plus-circle right"></i></a>
            </div>
            <table class="col s12 highlight bordered">
                <thead class="thead-rh">
                <tr class="sonata-ba-list-field-header">
                    <th class="th-rh" width="5%">#</th>
                    <th class="th-rh">{{ 'label.patrimonial.compras.contrato.nomArquivo'|trans }}</th>
                    <th class="th-rh">{{ 'label.patrimonial.contrato.entidade'|trans }}</th>
                    <th class="th-rh" width="10%">{{ 'acoes'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for arquivo in object.arquivos %}
                    <tr>
                        <td class="td-rh">{{ loop.index }}</td>
                        <td class="td-rh">{{ arquivo.nomArquivo }}</td>
                        <td class="td-rh">{{ arquivo.fkLicitacaoContrato.fkOrcamentoEntidade.fkSwCgm.nomCgm }}</td>
                        <td class="td-rh">
                            <div class="btn-group">
                                <a class="hide-on-med-and-down blue-text text-darken-4 tooltipped left"
                                   data-position="left"
                                   data-delay="50"
                                   data-tooltip="Editar"
                                   href="{{ path('urbem_patrimonial_contrato_arquivo_edit', { 'id': arquivo|objectKey }) }}">
                                    <i class="material-icons">edit</i>
                                </a>
                                <a class="hide-on-med-and-down blue-text text-darken-4 tooltipped right"
                                   data-position="left"
                                   data-delay="50"
                                   data-tooltip="Excluir"
                                   href="{{ path('urbem_patrimonial_contrato_arquivo_delete', { 'id': arquivo|objectKey }) }}">
                                    <i class="material-icons">delete</i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col s11 servidor-table">
                <a class="btn-lg tooltipped"
                   data-position="left"
                   data-delay="50"
                   data-tooltip="Incluir">
                    <i class="mdi mdi-bank left"></i>
                    ADITIVOS DE CONTRATO
                </a>
            </div>
            <div class="col s1">
                <a href="{{ path('urbem_patrimonial_compras_contrato_aditivos_create',{'id': object.contrato|objectKey })}}"
                   class="btn-lg"><i class="mdi mdi-plus-circle right"></i></a>
            </div>
            <table class="col s12 highlight bordered">
                <thead class="thead-rh">
                <tr class="sonata-ba-list-field-header">
                    <th class="th-rh" width="5%">#</th>
                    <th class="th-rh">{{ 'label.patrimonial.compras.contrato_aditivo.numAditivo'|trans }}</th>
                    <th class="th-rh">{{ 'label.patrimonial.compras.contrato_aditivo.cgmResponsavelJuridico'|trans }}</th>
                    <th class="th-rh">{{ 'label.patrimonial.compras.contrato_aditivo.dtVencimento'|trans }}</th>
                    <th class="th-rh" width="10%">{{ 'acoes'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for aditivo in object.aditivos %}
                    <tr>
                        <td class="td-rh">{{ loop.index }}</td>
                        <td class="td-rh">{{ aditivo.numAditivo }}</td>
                        <td class="td-rh">{{ aditivo.fkSwCgm.nomCgm  }}</td>
                        <td class="td-rh">{{ aditivo.dtVencimento|date("d/m/Y")  }}</td>

                        <td class="td-rh">
                            <div class="btn-group">
                                <a class="hide-on-med-and-down blue-text text-darken-4 tooltipped left"
                                   data-position="left"
                                   data-delay="50"
                                   data-tooltip="Editar"
                                   href="{{ path('urbem_patrimonial_compras_contrato_aditivos_edit', { 'id': aditivo|objectKey }) }}">
                                    <i class="material-icons">edit</i>
                                </a>
                                <a class="hide-on-med-and-down blue-text text-darken-4 tooltipped right"
                                   data-position="left"
                                   data-delay="50"
                                   data-tooltip="Excluir"
                                   href="{{ path('urbem_patrimonial_compras_contrato_aditivos_delete', { 'id': aditivo|objectKey }) }}">
                                    <i class="material-icons">delete</i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="sonata-ba-form-actions well well-small form-actions row">
        <div class="col s8 initial">
            <a href="{{ path('urbem_patrimonial_compras_contrato_list') }}"
               class="back btn-floating white-text blue darken-4 btn-success">
                <i class="material-icons">arrow_back</i>
                Add a comment to this line
            </a>
        </div>
    </div>
{% endblock content %}
