{% extends "base_home_cards.html.twig" %}

{% block title %}Urbem > Recursos Humanos{% endblock title %}


{% block menu %}
    {% include '::partials/menu.html.twig' %}
{% endblock menu %}

{% block content %}
    <!--SUB-MODULOS-->
<div class="container">
    <!--<div class="container col s12 m12 l12">
        <h4 class="titles left blue-text text-darken-4">Recursos Humanos</h4>
    </div>-->
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    {% if app.session.flashBag.has('error') %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {% for msg in app.session.flashBag.get('error') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    <div class="row">
        <!--CONCURSO-->
        <div class="col s10 m6 l3">
            <div class="card small white hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="{{ path('urbem_recursos_humanos_concurso_list') }}" title="Sub Módulo Concurso" id="abrecard">
                        <img class="activator responsive-img"
                             src="{{ asset('/bundles/recursoshumanos/images/concurso.png') }}">
                    </a>
                </div>
                <div class="card-content white">
                    <a href="{{ path('urbem_recursos_humanos_concurso_list') }}">
                        <span class="card-title activator blue-text text-darken-4 truncate flow-text">
                            Concurso
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <!--CALENDARIO-->
        <div class="col s10 m6 l3">
            <div class="card small white hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="{{ path('calendario_calendario_cadastro_index') }}" title="Sub Módulo Calendário">
                        <img class="activator responsive-img"
                             src="{{ asset('/bundles/recursoshumanos/images/calendar.png') }}">
                    </a>
                </div>
                <div class="card-content white">
                    <a href="{{ path('calendario_calendario_cadastro_index') }}">
                        <span class="card-title activator blue-text text-darken-4 truncate flow-text">
                            Calendário
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <!--PESSOAL-->
        <div class="col s10 m6 l3">
            <div class="card small white hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" title="Sub Módulo Pessoal">
                        <img class="activator responsive-img"
                             src="{{ asset('/bundles/recursoshumanos/images/people.png') }}">
                    </a>
                </div>
                <div class="card-content white">
                    <span class="card-title activator blue-text text-darken-4 truncate flow-text ">
                        Pessoal
                    </span>
                </div>
                <div class="card-reveal">
                    <div class="col s12 titulo-inside-card truncate">
                        <i class="material-icons icoTitMenu left">list</i>Pessoal
                        <span class="card-title grey-text text-darken-4 closeHomeNovo">
                            <i class="material-icons right">close</i>
                        </span>
                    </div>
                    <div class="setaMenu"></div>
                    <div class="menuHomeNovo">
                        <p class="link-cards"><a href="{{ path('urbem_administrativo_administracao_configuracao_create', { 'id': 22 }) }}" >Configuração</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_recursos_humanos_pessoal_servidor_list') }}" >Gerenciar Servidor</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_recursos_humanos_pessoal_pensao_alimenticia_list')}}" >Pensão Alimentícia</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_recursos_humanos_pessoal_aposentadoria_list')}}" >Aposentadoria</a></p>
                        <p class="link-cards"><a href="{{ path('pessoal_assentamento_home') }}" >Assentamento</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_recursos_humanos_pessoal_rescisao_contrato_servidor_list') }}" >Rescisão de Contrato</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_recursos_humanos_pessoal_rescisao_list') }}" >Excluir Rescisão de Contrato</a></p>
                        <p class="link-cards"><a href="{{ path('pessoal_rescisao_home') }}" >Causa de Rescisão</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_recursos_humanos_pessoal_conselho_list') }}" >Conselho</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_recursos_humanos_pessoal_grade_horario_list') }}" >Grade de horário</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_recursos_humanos_pessoal_adidos_cedidos_list') }}" >Adidos e Cedidos</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_recursos_humanos_pessoal_cid_list') }}" >Cadastro Internacional de Doenças</a></p>
                        <p class="link-cards"><a href="{{ path("pessoal_ferias_home") }}">Férias</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_recursos_humanos_pessoal_pensionista_list') }}">Pensionista</a></p>
                        <p class="link-cards"><a  href="{{ path('pessoal_relatorios_index') }}"  >Relatórios</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!--GERENCIAMENTO DE CARGO-->
        <div class="col s10 m6 l3">
            <div class="card small white hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" title="Sub Módulo Gerenciamento de Cargo">
                        <img class="activator responsive-img"
                             src="{{ asset('/bundles/recursoshumanos/images/organograma.png') }}">
                    </a>
                </div>
                <div class="card-content white">
                    <span class="card-title activator blue-text text-darken-4 truncate flow-text">
                        Gerenciamento de Cargo
                    </span>
                </div>
                <div class="card-reveal">
                    <div class="col s12 titulo-inside-card truncate">
                        <i class="material-icons icoTitMenu left">list</i> Gerenciamento de Cargo
                        <span class="card-title grey-text text-darken-4 closeHomeNovo">
                            <i class="material-icons right">close</i>
                        </span>
                    </div>
                    <div class="setaMenu"></div>
                    <div class="menuHomeNovo">
                    <p class="link-cards"><a href="{{ path('urbem_recursos_humanos_pessoal_regime_list') }}" >Regime</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_recursos_humanos_pessoal_cargo_list') }}" >Cargo</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_recursos_humanos_pessoal_cbo_list') }}" >CBO</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_recursos_humanos_pessoal_requisito_list') }}" >Requisitos</a></p>
                </div>
            </div>
        </div>
    </div>

        <!--BENEFICIOS-->
        <div class="col s10 m6 l3">
            <div class="card small white hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" title="Sub Módulo Beneficios">
                        <img class="activator responsive-img"
                             src="{{ asset('/bundles/recursoshumanos/images/benefits.png') }}">
                    </a>
                </div>
                <div class="card-content white">
                    <span class="card-title activator blue-text text-darken-4 truncate">Benefícios</span>
                </div>
                <div class="card-reveal">
                    <div class="col s12 titulo-inside-card truncate">
                        <i class="material-icons icoTitMenu left">list</i> Benefícios
                        <span class="card-title grey-text text-darken-4 closeHomeNovo">
                            <i class="material-icons right">close</i>
                        </span>
                    </div>
                    <div class="setaMenu"></div>
                    <div class="menuHomeNovo">
                    <p class="link-cards"><a href="{{ path('urbem_recursos_humanos_beneficio_vigencia_list') }}" >Faixa de Desconto</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_recursos_humanos_beneficio_valetransporte_list') }}" >Vale-Transporte</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_recursos_humanos_beneficio_linha_list') }}" >Linha</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_recursos_humanos_beneficio_concessao_vale_transporte_list') }}" >Vale-Transporte-Servidor</a></p>
                    <p class="link-cards"><a href="{{ path('beneficio_plano_saude_home') }}" >Plano de Saúde</a></p>
                    {#<p class="link-cards"><a href="#" class="grey-text">Configuração</a></p>#}
                    <p class="link-cards"><a href="{{ path('beneficio_relatorios_index') }}" >Relatorios</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!--FOLHA DE PAGAMENTO-->
        <div class="col s10 m6 l3">
            <div class="card small white hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" title="Sub Módulo Folha de Pagamento">
                        <img class="activator responsive-img"
                             src="{{ asset('/bundles/recursoshumanos/images/payment.png') }}">
                    </a>
                </div>
                <div class="card-content white">
                    <span class="card-title activator blue-text text-darken-4 truncate">Folha de Pagamento</span>
                </div>
                <div class="card-reveal">
                    <div class="col s12 titulo-inside-card truncate">
                        <i class="material-icons icoTitMenu left">list</i> Folha de Pagamento
                        <span class="card-title grey-text text-darken-4 closeHomeNovo">
                            <i class="material-icons right">close</i>
                        </span>
                    </div>
                    <div class="setaMenu"></div>
                    <div class="menuHomeNovo">
                    <p class="link-cards"><a href="{{ path('folha_pagamento_configuracao_home') }}" >Configuração</a></p>
                    <p class="link-cards"><a href="{{ path('folha_pagamento_rotina_mensal_index') }}" >Rotina Mensal</a></p>
                    <p class="link-cards"><a href="{{ path('folha_pagamento_folhas_index') }}" >Folhas</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_recursos_humanos_folha_pagamento_salario_familia_list') }}" >Salario-Familia</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_recursos_humanos_folha_pagamento_padrao_list') }}" >Padrão Salarial</a></p>
                    <p class="link-cards"><a href="{{ path(('urbem_recursos_humanos_folha_pagamento_evento_list'))}}" >Evento</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_recursos_humanos_folha_pagamento_previdencia_previdencia_list')}}" >Previdência</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_recursos_humanos_folha_pagamento_desconto_externo_previdencia_list') }}" >Desconto Externo - Previdência</a></p>
                    <p class="link-cards"><a href="{{ path('folha_pagamento_irrf_index') }}" >IRRF</a></p>
                    <p class="link-cards"><a href="{{ path('folhapagamento_fgts_index') }}" >Configurar FGTS</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_recursos_humanos_folha_pagamento_sindicato_list') }}" >Sindicatos</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_recursos_humanos_folha_pagamento_bases_list') }}" >Bases</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_recursos_humanos_folha_pagamento_vinculo_list') }}" >Vinculo</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_recursos_humanos_folha_pagamento_regime_previdencia_list') }}" >Regime Previdência</a></p>
                    <p class="link-cards"><a href="{{ path('folha_pagamento_relatorios_index') }}" >Relatórios</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!--ESTÁGIO-->
        <div class="col s10 m6 l3">
            <div class="card small white hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" title="Sub Módulo Estágio">
                        <img class="activator responsive-img"
                             src="{{ asset('/bundles/recursoshumanos/images/training.png') }}">
                    </a>
                </div>
                <div class="card-content white">
                    <span class="card-title activator blue-text text-darken-4 truncate">Estágio</span>
                </div>
                <div class="card-reveal">
                    <div class="col s12 titulo-inside-card truncate">
                        <i class="material-icons icoTitMenu left">list</i> Estágio
                        <span class="card-title grey-text text-darken-4 closeHomeNovo">
                            <i class="material-icons right">close</i>
                        </span>
                    </div>
                    <div class="setaMenu"></div>
                    <div class="menuHomeNovo">
                    <p class="link-cards"><a href="{{ path("estagio_configuracao_index") }}" >Configurações</a></p>
                    <p class="link-cards"><a href="{{ path("urbem_recursos_humanos_estagio_instituicao_ensino_list") }}" >Instituições de Ensino</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_recursos_humanos_estagio_entidade_intermediadora_list') }}" >Entidades Intermediadoras</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_recursos_humanos_estagio_estagiario_list') }}" >Estagiários</a></p>
                    <p class="link-cards"><a href="{{ path('estagio_relatorios_index') }}" >Relatórios</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!--INFORMAÇÕES MENSAIS E ANUAIS-->
        <div class="col s10 m6 l3 ">
            <div class="card small white hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" title="Sub Módulo Informações Mensais e Anuais">
                        <img class="activator responsive-img"
                             src="{{ asset('/bundles/recursoshumanos/images/annual.png') }}">
                    </a>
                </div>
                <div class="card-content white">
                    <span class="card-title activator blue-text text-darken-4 truncate">
                        Informações Mensais e Anuais
                    </span>
                </div>
                <div class="card-reveal">
                    <div class="col s12 titulo-inside-card truncate">
                        <i class="material-icons icoTitMenu left">list</i> Informações Mensais e Anuais
                        <span class="card-title grey-text text-darken-4 closeHomeNovo">
                            <i class="material-icons right">close</i>
                        </span>
                    </div>
                    <div class="setaMenu"></div>
                    <div class="menuHomeNovo">
                        <p class="link-cards"><a href="{{ path('informacoes_configuracao_home') }}">Configurar e Exportar Documentos</a></p>
                        <p class="link-cards"><a href="{{ path('informacoes_consignacao_home') }}">Consignação</a></p>
                        <p class="link-cards"><span class="grey-text">Conferência SEFIP</span></p>
                    </div>
                </div>
            </div>
        </div>

        <!--DIARIAS-->
        <div class="col s10 m6 l3">
            <div class="card small white hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" title="Sub Módulo Diarias">
                        <img class="activator responsive-img"
                             src="{{ asset('/bundles/recursoshumanos/images/daily.png') }}">
                    </a>
                </div>
                <div class="card-content white">
                    <span class="card-title activator blue-text text-darken-4 truncate">Diárias</span>
                </div>
                <div class="card-reveal">
                    <div class="col s12 titulo-inside-card truncate">
                        <i class="material-icons icoTitMenu left">list</i> Diárias
                        <span class="card-title grey-text text-darken-4 closeHomeNovo">
                            <i class="material-icons right">close</i>
                        </span>
                    </div>
                    <div class="setaMenu"></div>
                    <div class="menuHomeNovo">
                        <p class="link-cards"><a href="{{ path('urbem_recursos_humanos_diarias_tipo_diaria_list')}}">Configuração</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_recursos_humanos_diarias_diaria_list') }}">Concessão</a></p>
                        <p class="link-cards"><span class="grey-text">Relação de Diárias</span></p>
                    </div>
                </div>
            </div>
        </div>

</div>
{% endblock %}
