{% extends "base.html.twig" %}
{% block content %}
<div class="container-rh">
    <div class="row title-edit">
        <h5>Editar Calendário</h5>
        <div class="divider grey title-divider"><p>1</p></div>
    </div>
    <div class="row">
        {{ form_start(edit_form) }}
        <div class="col s3 field-filtro">
            {{ form_label(edit_form.descricao, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(edit_form.descricao, {'attr': {'class': 'white input-rh'}}) }}
        </div>
        <div class="col s3 field-filtro">
            {{ form_label(edit_form.codFeriado, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(edit_form.codFeriado, {'attr': {'class': 'form-control white basic-multiple'}}) }}
        </div>
        {{ form_widget(edit_form) }}
    </div>
    <div class="row">
        <div class="col s6">
            <a  class="btn-floating white-text blue darken-4" href="{{ path('calendario_calendario_cadastro_list') }}">
                <i class="material-icons">arrow_back</i>
            </a>
        </div>
        <div class="col s6 right-align">
            <button type="submit" class="waves-effect waves-light btn blue darken-4" value="Edit"><i class="material-icons left">save</i>Salvar</button>
            {{ form_end(edit_form) }}
        </div>
    </div>
</div>
{% endblock content %}
