{% extends "base_home_cards.html.twig" %}
{% block content %}
<div class="container box_calendar white">
  <div class="container-rh">
    <div class="row title-index">
        <div class="col s6 center">
            <a href="{{ path('urbem_recursos_humanos_calendario_feriado_list') }}" class="blue darken-4 btn-flat white-text" style="text-transform: capitalize;"><i class="material-icons left">beach_access</i>Eventos</a>
        </div>
        <div class="col s6 center">
            <a href="{{ path('urbem_recursos_humanos_calendario_calendario_cadastro_list') }}" class="blue darken-4 btn-flat white-text" style="text-transform: capitalize;"><i class="material-icons left">add_circle</i>Calendário</a>
        </div>
    </div>
    <div class="divider grey title-divider"> </div>
    <div class="col s12">
        <style>
        	body {
        		margin: 0;
        		padding: 0;
        		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        		font-size: 14px;
        	}

        	#calendar {
        		max-width: 100%;
        		margin: 0 0px;
        	}
        </style>
	    <div id='calendar'></div>
    </div>
  </div>
</div>

{% endblock content %}
{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('/bundles/core/css/fullcalendar.min.css') }}"/>
    <link type="text/css" rel='stylesheet' media='print' href="{{ asset('/bundles/core/css/fullcalendar.print.css') }}"/>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/bundles/core/javascripts/lib/moment.min.js') }}"></script>
    <script src="{{ asset('/bundles/core/javascripts/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('/bundles/core/javascripts/lang/pt-br.js') }}"></script>
    <script src="{{ asset('/bundles/core/javascripts/lang/pt-br.js') }}"></script>
    <script src="{{ asset('/bundles/recursoshumanos/javascripts/calendario/calendarioFullCalendar.js') }}"></script>
    <script>calendario({{(calendarios|json_encode|raw)}});</script>
{% endblock javascripts %}
