{% extends "base.html.twig" %}

{% block title %}{{ 'label.servidor.modulo'|trans }}{% endblock title %}

{% block menu %}
    {% include '::partials/menu.html.twig' %}
{% endblock menu %}

{% block content %}
    <div class="container-rh">
        <div class="row">
            <div class="col s12 profile-box">
                <h4 class="grey-text text-darken-1 left">
                    {{ 'label.patrimonial.licitacao.edital.dadosEdital'|trans }}: {{ edital.numEdital }}
                </h4>
                {% if anulacao is null %}
                    <a href="{{ path('urbem_patrimonial_licitacao_edital_edit', { 'id':  edital.numEdital ~'~' ~ edital.Exercicio  }) }}"
                       class="serv-btn right">
                        <i class="material-icons right">edit</i>
                    </a>
                {% endif %}
                <h6 class="divider grey col s12"></h6>
                <h6 class="col s3 blue-text text-darken-4 profile-titles">{{ 'label.patrimonial.licitacao.edital.exercicio'|trans }}
                    : {{ edital.exercicio }}</h6>
                <h6 class="col s3 blue-text text-darken-4 profile-titles">{{ 'label.patrimonial.licitacao.edital.condicoesPagamento'|trans }}
                    : {{ edital.condicoesPagamento }}</h6>
                <h6 class="col s3 blue-text text-darken-4 profile-titles">{{ 'label.patrimonial.licitacao.edital.dtAprovacaoJuridico'|trans }}
                    : {{ edital.DtAprovacaoJuridico|date("d/m/Y") }}</h6>
                <h6 class="divider grey col s12"></h6>
                <h6 class="col s3 blue-text text-darken-4 profile-titles">{{ 'label.patrimonial.licitacao.edital.dtEntregaPropostas'|trans }}
                    : {{ edital.dtEntregaPropostas|date("d/m/Y") }}
                    {% if edital.horaEntregaPropostas is not null %}
                        ás {{ edital.horaEntregaPropostas }}
                    {% endif %}
                </h6>
                <h6 class="col s3 blue-text text-darken-4 profile-titles">{{ 'label.patrimonial.licitacao.edital.dtAberturaPropostas'|trans }}
                    : {{ edital.dtAberturaPropostas|date("d/m/Y") }}
                    {% if edital.horaAberturaPropostas is not null %}
                        ás {{ edital.horaAberturaPropostas }}
                    {% endif %}
                </h6>
                <h6 class="col s3 blue-text text-darken-4 profile-titles">{{ 'label.patrimonial.licitacao.edital.dtFinalEntregaPropostas'|trans }}
                    : {{ edital.dtFinalEntregaPropostas|date("d/m/Y") }}
                    {% if edital.horaFinalEntregaPropostas is not null %}
                        ás {{ edital.horaFinalEntregaPropostas }}
                    {% endif %}
                </h6>
                <h6 class="col s3 blue-text text-darken-4 profile-titles">{{ 'label.patrimonial.licitacao.edital.dtValidadePropostas'|trans }}
                    : {{ edital.dtValidadeProposta|date("d/m/Y") }}</h6>
                <h6 class="divider grey col s12"></h6>
                <h6 class="col s4 blue-text text-darken-4 profile-titles">{{ 'label.patrimonial.licitacao.edital.localEntregaPropostas'|trans }}
                    : {{ edital.localEntregaPropostas }}</h6>
                <h6 class="col s4 blue-text text-darken-4 profile-titles">{{ 'label.patrimonial.licitacao.edital.localAberturaPropostas'|trans }}
                    : {{ edital.localAberturaPropostas }}</h6>
                <h6 class="col s4 blue-text text-darken-4 profile-titles">{{ 'label.patrimonial.licitacao.edital.localEntregaMaterial'|trans }}
                    : {{ edital.localEntregaMaterial }}</h6>

                <div class="col s12">
                    {% if anulacao is null %}
                        <div class="col s3 center" style="margin-bottom: 10px">
                            {% if passivelAnulacaoImpugnacao == true %}
                                <a class="btn btn-success btn-sm sonata-ba-action"
                                   href="{{ path('urbem_patrimonial_licitacao_anulacao_impugnacao_edital_create', { 'id': edital.numEdital ~'~' ~ edital.Exercicio}) }}"
                                        >
                                    <i class="mdi mdi-file-document left"></i>Anular Impugnação
                                </a>
                            {% else %}
                                <a class="btn btn-success btn-sm sonata-ba-action grey">
                                    <i class="mdi mdi-file-document left"></i>Anular Impugnação
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if anulacao is null %}
                        <div class="col s2 center" style="margin-bottom: 10px">
                            <a class="btn btn-success btn-sm sonata-ba-action"
                               href="{{ path('patrimonio_licitacao_edital_anular', { 'id': edital.numEdital ~'~' ~ edital.Exercicio }) }}"
                                    >
                                <i class="mdi mdi-file-document left"></i>Anular
                            </a>
                        </div>
                    {% endif %}
                    {% if anulacao is null %}
                        {% if passivelSuspensao == false %}
                            <div class="col s2 center" style="margin-bottom: 10px">
                                <a class="btn btn-success btn-sm sonata-ba-action"
                                   href="{{ path('urbem_patrimonial_licitacao_edital_suspenso_create', { 'id': edital.numEdital ~'~' ~ edital.Exercicio }) }}"
                                        >
                                    <i class="mdi mdi-file-document left"></i>Suspender
                                </a>
                            </div>
                        {% else %}
                            <div class="col s2 center" style="margin-bottom: 10px">
                                <a class="btn btn-success btn-sm sonata-ba-action grey">
                                    <i class="mdi mdi-file-document left"></i>Suspender
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if anulacao is null %}
                        {% if passivelSuspensao == true %}
                            <div class="col s3 center" style="margin-bottom: 10px">
                                <a class="btn btn-success btn-sm sonata-ba-action"
                                   href="{{ path('urbem_patrimonial_licitacao_edital_suspenso_delete', { 'id': edital.numEdital ~'~' ~ edital.Exercicio }) }}"
                                        >
                                    <i class="mdi mdi-file-document left"></i>Anular Suspensão
                                </a>
                            </div>
                        {% else %}
                            <div class="col s3 center" style="margin-bottom: 10px">
                                <a class="btn btn-success btn-sm sonata-ba-action grey">
                                    <i class="mdi mdi-file-document left"></i>Anular Suspensão
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                    <div class="col s2 center" style="margin-bottom: 10px">
                        <a class="btn btn-success btn-sm sonata-ba-action">
                            <i class="mdi mdi-file-document left"></i>Reemitir
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s11 servidor-table">
                <a class="btn-flat tooltipped"
                   data-position="left"
                   data-delay="50"
                   data-tooltip>
                    <i class="fa fa-cubes left" aria-hidden="true"></i>
                    {{ 'label.patrimonial.licitacao.publicacaoedital.publicacao'|trans }}
                </a>
            </div>
            <div class="col s1">
                {% if anulacao is null %}
                    <a href="{{ path('urbem_patrimonial_licitacao_publicacao_edital_create', { 'id':  edital.numEdital ~'~' ~ edital.Exercicio}) }}"
                       class="btn-flat"><i class="mdi mdi-plus-circle left"></i></a>
                {% endif %}
            </div>
            <table class="col s12 highlight bordered">
                <thead class="thead-rh">
                <tr class="sonata-ba-list-field-header">
                    <th class="th-rh" width="5%">#</th>
                    <th class="th-rh">{{ 'label.patrimonial.licitacao.publicacaoedital.veiculoPublicacao'|trans }}</th>
                    <th class="th-rh">{{ 'label.patrimonial.licitacao.publicacaoedital.dataPublicacao'|trans }}</th>
                    <th class="th-rh">{{ 'label.patrimonial.licitacao.publicacaoedital.numPublicacao'|trans }}</th>
                    <th class="th-rh">{{ 'label.patrimonial.licitacao.publicacaoedital.observacao'|trans }}</th>
                    <th class="th-rh" width="10%">{{ 'acoes'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for publicacao in publicacoes %}
                    <tr>
                        <td class="td-rh">{{ loop.index }}</td>
                        <td class="td-rh">{{ publicacao.fkLicitacaoVeiculosPublicidade.fkSwCgm }}</td>
                        <td class="td-rh">{{ publicacao.dataPublicacao|date("d/m/Y") }}</td>
                        <td class="td-rh">{{ publicacao.numPublicacao }}</td>
                        <td class="td-rh">{{ publicacao.observacao }}</td>
                        {% if anulacao is null %}
                        <td class="td-rh">
                            <div class="btn-group">
                                <a class="hide-on-med-and-down blue-text text-darken-4 tooltipped left"
                                   data-position="left"
                                   data-delay="50"
                                   data-tooltip="Editar"
                                   href="{{ path('urbem_patrimonial_licitacao_publicacao_edital_edit', { 'id': publicacao|objectKey }) }}">
                                    <i class="material-icons">edit</i>
                                </a>
                                <a class="hide-on-med-and-down blue-text text-darken-4 tooltipped right"
                                   data-position="right"
                                   data-delay="50"
                                   data-tooltip="Excluir"
                                   href="{{ path('urbem_patrimonial_licitacao_publicacao_edital_delete', { 'id': publicacao|objectKey }) }}">
                                    <i class="material-icons">delete</i>
                                </a>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col s12 servidor-table">
                <a class="btn-flat tooltipped"
                   data-position="left"
                   data-delay="50"
                   data-tooltip>
                    <i class="fa fa-cubes left" aria-hidden="true"></i>
                    {{ 'label.patrimonial.licitacao.edital.renuncia'|trans }}
                </a>
            </div>
            <table class="col s12 highlight bordered">
                <thead class="thead-rh">
                <tr class="sonata-ba-list-field-header">
                    <th class="th-rh" width="5%">#</th>
                    <th class="th-rh">{{ 'label.patrimonial.licitacao.edital.cgmFornecedor'|trans }}</th>
                    <th class="th-rh">{{ 'label.patrimonial.licitacao.edital.renuncia'|trans }}</th>
                    <th class="th-rh" width="10%">{{ 'acoes'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for participante in participantes %}
                    <tr>
                        <td class="td-rh">{{ loop.index }}</td>
                        <td class="td-rh">{{ participante.fornecedor }}</td>
                        <td class="td-rh">
                            {% if participante.renuncia_recurso == 1 %}
                                {% set renuncia = 1 %}
                                <span class="label label-success">Sim</span>
                            {% else %}
                                {% set renuncia = 0 %}
                                <span class="label label-danger">Não</span>
                            {% endif %}
                        </td>
                        <td class="td-rh">
                            <div class="btn-group">
                                {% if anulacao is null %}
                                    <a class="hide-on-med-and-down blue-text text-darken-4 tooltipped right"
                                       data-position="left"
                                       data-delay="50"
                                       data-tooltip="Excluir"
                                       href="{{ path('urbem_patrimonial_licitacao_edital_participante_update',
                                       { 'id':  edital.Exercicio ~'~' ~ edital.codEntidade ~'~' ~
                                           edital.codModalidade ~'~' ~ edital.codLicitacao~'~' ~
                                           participante.cgm_fornecedor~'~' ~ renuncia  }) }}">
                                        <i class="material-icons">delete</i>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col s11 servidor-table">
                <a class="btn-flat tooltipped"
                   data-position="left"
                   data-delay="50"
                   data-tooltip>
                    <i class="fa fa-cubes left" aria-hidden="true"></i>
                    {{ 'label.patrimonial.licitacao.impugnacao.impugnados'|trans }}
                </a>
            </div>
            {% if passivelImpugnacao == true %}
                <div class="col s1">
                    <a href="{{ path('urbem_patrimonial_licitacao_edital_impugnado_create', { 'id':  edital.numEdital ~'~' ~ edital.Exercicio}) }}"
                       class="btn-flat"><i class="mdi mdi-plus-circle left"></i></a>
                </div>
            {% endif %}
            <table class="col s12 highlight bordered">
                <thead class="thead-rh">
                <tr class="sonata-ba-list-field-header">
                    <th class="th-rh" width="5%">#</th>
                    <th class="th-rh">Processo</th>
                    <th class="th-rh">Observações</th>
                </tr>
                </thead>
                <tbody>
                {% for impugnado in impugnados %}
                    <tr>
                        <td class="td-rh">{{ loop.index }}</td>
                        <td class="td-rh">{{ impugnado.codProcesso.codProcesso ~'/'~ impugnado.codProcesso.anoExercicio }}</td>
                        <td class="td-rh">{{ impugnado.codProcesso.observacoes }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
