<div class="col s12">
    <div class="col s12 profile-box-processo">
        <h4 class="col s12 blue-text text-darken-4 left">
            <i class="mdi mdi-barcode left"></i>{{ 'label.processo.codigo'|trans }}: {{ processo.codProcesso }}
            <a href="{{ path('urbem_administrativo_protocolo_processo_edit', { 'id': processo.codProcesso ~ '~' ~  processo.anoExercicio })}}" class="btn small-btn white-text blue darken-4 tooltipped right" data-position="left" data-delay="50" data-tooltip="Editar">
                <i class="material-icons">edit</i>
            </a>
        </h4>
        <h6 class="divider grey col s12"></h6>
        <div class="col s3 little-box">
            <h6 class="col s12 left-align blue-text text-darken-4 profile-titles">{{ 'label.classificacao'|trans }}</h6>
            <h6 class="col s12 grey-text text-darken-1">{{ processo.fkSwAssunto.fkSwClassificacao.nomClassificacao }}</h6>
        </div>
        <div class="col s3 little-box">
            <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.assunto'|trans }}</h6>
            <h6 class="col s12 grey-text text-darken-1">{{ processo.fkSwAssunto.nomAssunto }}</h6>
        </div>
        <div class="col s3 little-box">
            <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.processo.confidencial'|trans }}</h6>
            <h6 class="col s12 grey-text text-darken-1">
                {% if processo.confidencial %}
                    <span class="label label-success">Sim</span>
                {% else %}
                    <span class="label label-danger">Não</span>
                {% endif %}
            </h6>
        </div>
        <div class="col s3 little-box">
            <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.exercicio'|trans }}</h6>
            <h6 class="col s12 grey-text text-darken-1">{{ processo.anoExercicio }}</h6>
        </div>
    </div>
</div>