{% extends "base_home_cards.html.twig" %}
{% block content %}
<div class="container">
    <div class="container">
        <a href="#"><h4 class="blue-text text-darken-4"><i class="mdi mdi-book-open-page-variant left"></i>Configuração Estagio</h4></a>
        <div class="divider grey title-divider"><p>1</p></div>
    </div>
    <div class="container">
        <div class="col s6 m4 l4">
            <div class="card-panel col s12 hoverable">
                <a href="{{ path('urbem_recursos_humanos_estagio_area_conhecimento_list') }}"><h5 class="truncate center">Área de Conhecimento</h5></a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_recursos_humanos_estagio_area_conhecimento_create') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                </h5>
                <h5 class="right">
                    <a href="{{ path('urbem_recursos_humanos_estagio_area_conhecimento_list') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                </h5>
            </div>
        </div>
        <div class="col s6 m4 l4">
            <div class="card-panel col s12 hoverable">
                <a href="{{ path('urbem_recursos_humanos_estagio_curso_list') }}"><h5 class="truncate center">Curso</h5></a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_recursos_humanos_estagio_curso_create') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                </h5>
                <h5 class="right">
                    <a href="{{ path('urbem_recursos_humanos_estagio_curso_list') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                </h5>
            </div>
        </div>
        <div class="col s6 m4 l4">
            <div class="card-panel col s12 hoverable">
                <a href="{{ path('urbem_recursos_humanos_estagio_grau_list') }}"><h5 class="truncate center">Grau</h5></a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_recursos_humanos_estagio_grau_create') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                </h5>
                <h5 class="right">
                    <a href="{{ path('urbem_recursos_humanos_estagio_grau_list') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                </h5>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
