<!DOCTYPE html>
<html>
<head>
    {% block header %}
        {% block metas %}
            <meta charset="utf-8">
            <!-- Add to homescreen for Chrome on Android -->
            <meta name="mobile-web-app-capable" content="yes">
            <link rel="icon" sizes="192x192" href="{{ asset('/bundles/core/images/android-desktop.png') }}">

            <!-- Add to homescreen for Safari on iOS -->
            <meta name="apple-mobile-web-app-capable" content="yes">
            <meta name="apple-mobile-web-app-status-bar-style" content="black">
            <meta name="apple-mobile-web-app-title" content="Material Design Lite">
            <link rel="apple-touch-icon-precomposed" href="{{ asset('/bundles/core/images/ios-desktop.png') }}">

            <!-- Tile icon for Win8 (144x144 + tile color) -->
            <meta name="msapplication-TileImage"
                  content="{{ asset('/bundles/core/images/ms-touch-icon-144x144-precomposed.png') }}">
            <meta name="msapplication-TileColor" content="#3372DF">
            <link rel="shortcut icon" href="{{ asset('/bundles/core/images/favicon.png') }}">

            <!-- Compiled and minified CSS -->
            <link type="text/css" rel="stylesheet" href="{{ asset('/bundles/projectbase/css/integracao.css') }}"/>
            <link type="text/css" rel="stylesheet" href="{{ asset('/bundles/core/css/style.css') }}"/>
            <link rel="stylesheet" href="/bundles/sonatacore/vendor/bootstrap/dist/css/bootstrap.min.css">
            <link type="text/css" rel="stylesheet" href="{{ asset('/bundles/core/css/materialize.min.css') }}" media="screen,projection"/>

            <!--Import Google Icon Font-->
            <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="//cdn.materialdesignicons.com/1.6.50/css/materialdesignicons.min.css">
            <script type="text/javascript" src="{{ asset('/bundles/core/javascripts/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('/bundles/core/javascripts/materialize.min.js') }}"></script>
            <!--<script type="text/javascript" src="{{ asset('/bundles/core/javascripts/jquery.maskedinput.js') }}"></script>-->
            <!--<script type="text/javascript" src="{{ asset('/bundles/core/javascripts/jquery.maskMoney.js') }}"></script>-->
            <script type="text/javascript" src="{{ asset('/bundles/core/javascripts/init.js') }}"></script>
            <script type="text/javascript" src="{{ asset('/bundles/core/javascripts/jquery.mask.min.js') }}"></script>
            <script src="{{ asset('/bundles/sonatacore/vendor/select2/select2.js') }}"></script>
            <!--Let browser know website is optimized for mobile-->
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% endblock metas %}
    {% endblock header %}

    <title>{{ wo_render_breadcrumbs({ separator: '>', viewTemplate: "WhiteOctoberBreadcrumbsBundle::titlebreadcrumbs.html.twig" }) }}</title>
    {% block stylesheets %}{% endblock stylesheets %}
</head>
<body>
    {% include '::partials/header.html.twig' %}
    <div class="row back">
      <div class="container base white box_geral z-depth-1">
        {% block content %}
        {% endblock content %}
      </div>
    </div>

    {#{% include '::partials/footer.html.twig' %}#}
</body>

</html>
