<table class="bordered highlight">
    <thead>
        <tr>
            <th>#</th>
            <th>{{ 'label.valorInicial'|trans }}</th>
            <th>{{ 'label.valorFinal'|trans }}</th>
            <th>{{ 'label.percentualDesconto'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for faixa in field.data.faixas %}
        <tr>
            <td>{{ faixa.codFaixa }}</td>
            <td>{{ faixa.vlInicial|number_format_decimal({'fraction_digits': 2}) }}</td>
            <td>{{ faixa.vlFinal|number_format_decimal({'fraction_digits': 2}) }}</td>
            <td>{{ faixa.percentualDesconto|number_format_decimal({'fraction_digits': 2}) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
