<table class="bordered highlight">
    <thead>
        <tr>
            <th>#</th>
            <th>{{ 'label.valetransporte.vigenciaValor'|trans }}</th>
            <th>{{ 'valor'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for custo in admin.subject.fkBeneficioCustos %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ custo.inicioVigencia|date("d/m/Y") }}</td>
                <td>{{ custo.valor|number_format_decimal({'fraction_digits': 2}) }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
