{% extends "base.html.twig" %}

{% block title %}{{ 'label.servidor.modulo'|trans }}{% endblock title %}

{% block menu %}
    {% include '::partials/menu.html.twig' %}
{% endblock menu %}

{% block content %}
    <div class="container-rh">

        {{ form_start(form) }}

        <input type="hidden" name="codTrecho" value="{{ trecho.codTrecho }}">
        <input type="hidden" name="codLogradouro" value="{{ trecho.codLogradouro }}">

        <div class="row col s12">
            <div class="box-header">
                <h2 class="box-title left-align">
                    {{ 'label.imobiliarioTrecho.reativarTrecho'|trans }}
                </h2>
                <div class="divider grey lighten-1  title-divider"><p>1</p></div>
            </div>

            <table class="table show-table">
                <tbody>
                <tr class="sonata-ba-view-container">
                    <th>{{ 'label.imobiliarioTrecho.codTrecho'|trans }}</th>
                    <td>{{ trecho.codigoComposto }}</td>

                </tr>
                <tr class="sonata-ba-view-container">
                    <th>{{ 'label.imobiliarioTrecho.nomLogradouro'|trans }}</th>
                    <td>{{ trecho.fkSwLogradouro }}</td>
                </tr>
                <tr class="sonata-ba-view-container">
                    <th>{{ 'label.imobiliarioTrecho.dataBaixa'|trans }}</th>
                    <td>{{ trecho.fkImobiliarioBaixaTrechos.last.dtInicio|date('d/m/Y') }}</td>
                </tr>
                <tr class="sonata-ba-view-container">
                    <th>{{ 'label.imobiliarioTrecho.motivoBaixa'|trans }}</th>
                    <td>{{ trecho.fkImobiliarioBaixaTrechos.last.justificativa }}</td>
                </tr>
                </tbody>
            </table>


        </div>

        <div class="row col s12">
            {{ form_widget(form) }}
        </div>

        <div class="row col s12">
            <div class="sonata-ba-form-actions form-actions row">
                <div class="col s8 initial left-align">
                    <a class="back btn-floating white-text blue darken-4 btn-success" href="{{ admin.generateUrl('list') }}">
                        <i class="material-icons">arrow_back</i>
                    </a>
                </div>

                <div class="col s2 right-align deletar"></div>

                <div class="col s2 right-align right">
                    <button type="submit" class="waves-effect waves-light btn blue darken-4 btn-bold" value="Encerrar">
                        <i class="mdi mdi-arrow-up-bold left"></i>
                        {{ 'label.imobiliarioTrecho.reativar'|trans }}
                    </button>
                </div>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock content %}
