{% extends "base_home_cards.html.twig" %}
{% block content %}
    <div class="container">
        <div class="container">
            <h4 class="blue-text text-darken-4">Destinação de Recursos</h4>
            <div class="divider grey title-divider"><p>1</p></div>
        </div>
        <div class="container">
            <div class="col s6 m6 l3">
                <div class="card-panel col s12 hoverable center">
                    <a href="{{ path('urbem_financeiro_orcamento_identificador_uso_list') }}">
                        <h6><i class="mdi mdi-account-card-details large"></i></h6>
                        <h6 class="truncate center">Identificador de Uso</h6>
                    </a>
                    <div class="divider col s12"></div>
                    <h5 class="left">
                        <a href="{{ path('urbem_financeiro_orcamento_identificador_uso_create') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                    </h5>
                    <h5 class="right">
                        <a href="{{ path('urbem_financeiro_orcamento_identificador_uso_list') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                    </h5>
                </div>
            </div>
            <div class="col s6 m6 l3">
                <div class="card-panel col s12 hoverable center">
                    <a href="{{ path('urbem_financeiro_orcamento_destinacao_recurso_list') }}">
                        <h6><i class="fa fa-users large" aria-hidden="true"></i></h6>
                        <h6 class="truncate center">Grupo de Destinação</h6>
                    </a>
                    <div class="divider col s12"></div>
                    <h5 class="left">
                        <a href="{{ path('urbem_financeiro_orcamento_destinacao_recurso_create') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                    </h5>
                    <h5 class="right">
                        <a href="{{ path('urbem_financeiro_orcamento_destinacao_recurso_list') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                    </h5>
                </div>
            </div>
            <div class="col s6 m6 l3">
                <div class="card-panel col s12 hoverable center">
                    <a href="{{ path('urbem_financeiro_orcamento_especificacao_destinacao_recurso_list') }}">
                        <h6><i class="mdi mdi-account-location large"></i></h6>
                        <h6 class="truncate center">Especificação das Destinações</h6>
                    </a>
                    <div class="divider col s12"></div>
                    <h5 class="left">
                        <a href="{{ path('urbem_financeiro_orcamento_especificacao_destinacao_recurso_create') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                    </h5>
                    <h5 class="right">
                        <a href="{{ path('urbem_financeiro_orcamento_especificacao_destinacao_recurso_list') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                    </h5>
                </div>
            </div>
            <div class="col s6 m6 l3">
                <div class="card-panel col s12 hoverable center">
                    <a href="{{ path('urbem_financeiro_orcamento_destinacao_detalhamento_recurso_list') }}">
                        <h6><i class="mdi mdi-account-settings large"></i></h6>
                        <h6 class="truncate center">Detalhamento das Destinações</h6>
                    </a>
                    <div class="divider col s12"></div>
                    <h5 class="left">
                        <a href="{{ path('urbem_financeiro_orcamento_destinacao_detalhamento_recurso_create') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                    </h5>
                    <h5 class="right">
                        <a href="{{ path('urbem_financeiro_orcamento_destinacao_detalhamento_recurso_list') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                    </h5>
                </div>
            </div>
            <div class="col s6 m6 l3">
                <div class="card-panel col s12 hoverable center">
                    <a href="#">
                        <h6><i class="grey-text mdi mdi-file-chart large"></i></h6>
                        <h6 class="grey-text truncate center">Contas Contábeis</h6>
                    </a>
                    <div class="divider col s12"></div>
                    <h5 class="left">
                        <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                    </h5>
                    <h5 class="right">
                        <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
