{% extends "CoreBundle::Sonata/standard_layout.html.twig" %}

{% import 'CoreBundle:Sonata/CRUD:base_show_macro.html.twig' as show_helper %}

{% block content %}
    <div class="container-rh">
        <div class="row">
            <div class="col s12 profile-box">
                <h2 class="blue-text text-darken-4 left" style="margin: 1.78rem 0 0 0">
                    <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                    <span class="grey-text bold" style="padding-top: 10px; font-weight: bold">
                    Arquivo IPE/RS
                </span>
                </h2>

                <h6 class="divider grey col s12"></h6>

                <div class="col s6 little-box">
                    <h6 class="col s12 blue-text text-darken-4 profile-titles">
                        Competência
                    </h6>
                    <h6 class="col s12 grey-text text-darken-1">
                        {{ object.stCompetenciaTitulo }}
                    </h6>
                </div>

                <div class="col s6 little-box">
                    <h6 class="col s12 blue-text text-darken-4 profile-titles">
                        Tipo de Cálculo
                    </h6>
                    <h6 class="col s12 grey-text text-darken-1">
                        {{ object.strFolha }}
                    </h6>
                </div>

                <div class="col s6 little-box">
                    <h6 class="col s12 blue-text text-darken-4 profile-titles">
                        Tipo de Emissão
                    </h6>
                    <h6 class="col s12 grey-text text-darken-1">
                        {{ object.strEmissao }}
                    </h6>
                </div>

                <div class="col s6 little-box">
                    <h6 class="col s12 blue-text text-darken-4 profile-titles">
                        Total de Servidores
                    </h6>
                    <h6 class="col s12 grey-text text-darken-1">
                        {{ object.totalServidores }}
                    </h6>
                </div>

                <div class="col s6 initial">
                    <a href="{{ path('urbem_recursos_humanos_ima_configuracao_exportar_ipers_report', {'id':object.hash}) }}"
                       class="btn white-text blue darken-4 btn-success">
                        <i class="material-icons">printer</i>
                        Imprimir
                    </a>
                </div>

                <div class="col s6 initial">
                    <a href="{{ path('urbem_recursos_humanos_ima_configuracao_exportar_ipers_download', {'id':object.hash}) }}"
                       class="btn white-text blue darken-4 btn-success">
                        <i class="material-icons">receipt</i>
                        Download
                    </a>
                </div>
            </div>

            <div class="sonata-ba-form-actions well well-small form-actions row">
                <div class="col s8 initial">
                    <a href="{{ path('informacoes_configuracao_home') }}"
                       class="back btn-floating white-text blue darken-4 btn-success">
                        <i class="material-icons">arrow_back</i>
                        Add a comment to this line
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
