{% extends "base.html.twig" %}
{% block content %}
    <div class="container-rh">
        <div class="col s12 title-edit box-title-rh">
            <h5>{{ 'label.evolucaoDivida'|trans }}</h5>
            <div class="divider grey title-divider"><p>1</p></div>
        </div>
        <div class="row">
            {{ form_start(form) }}
            <div class="col s4 field-filtro select-filtro">
                {{ form_label(form.ppa, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.ppa, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(form.ppa) }}
                <div id="spinner" class="spinner-load-hide spinner-load ">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="col s4 field-filtro select-filtro">
                {{ form_label(form.ano, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.ano, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(form.ano) }}
            </div>
            <div class="col s4 field-filtro select-filtro">
                {{ form_label(form.indicador, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.indicador, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(form.indicador) }}
            </div>
            <div class="col s12" style="margin-top: 20px">
                <button type="submit" class="waves-effect waves-light btn blue darken-4 btn btn-success search right" name="btn_update_and_list">
                    <i class="material-icons left">search</i>Buscar
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock content %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('/bundles/financeiro/javascripts/ldo/configuracao/evolucao_divida.js') }}"></script>
{% endblock javascripts %}