<table class="table table-bordered js-table-lista-grupo-contas">
    <thead>
        <tr>
            <th></th>
            <th>{{ 'label.imaExportarPagamentoBanrisul.agencia'|trans }}</th>
            <th>{{ 'label.imaExportarPagamentoBanrisul.conta'|trans }}</th>
            <th>{{ 'label.imaExportarPagamentoBanrisul.descricao'|trans }}</th>
        </tr>
    </thead>
    <tbody class="sonata-ba-tbody ui-sortable">
        {% if field.data.itens|length > 0 %}
            {% for item in field.data.itens %}
                <tr class="form_row campo-sonata">
                    <td class="control-group">
                        <input type="checkbox" name="grupoContas[]" value="{{ item['id'] }}">
                    </td>
                    <td class="control-group">
                        <span>{{ item['num_agencia'] }}</span>
                    </td>
                    <td class="control-group">
                        <span>{{ item['num_conta_corrente'] }}</span>
                    </td>
                    <td class="control-group">
                        <span>{{ item['descricao'] }}</span>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
