{% extends "CoreBundle::Sonata/standard_layout.html.twig" %}

{% import 'CoreBundle:Sonata/CRUD:base_show_macro.html.twig' as show_helper %}

{% block show %}
    <div class="container-rh">
        <div class="row">
            <div class="col s12 profile-box">
                <h2 class="blue-text text-darken-4 left">
                    <i class="mdi mdi-file-document left grey-text medium"></i>
                    <span style="padding-top: 10px">{{ 'label.recursosHumanos.registrosEventoFerias.matricula'|trans }} {{ object.matricula }}
                        - {{ 'label.recursosHumanos.registrosEventoFerias.cgm'|trans }} {{ object.cgm }} - {{ object.nome }}</span>
                </h2>

                <p class="divider grey col s12"></p>

                <div class="col s3 little-box">
                    <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.recursosHumanos.registrosEventoFerias.competencia'|trans }}</h6>
                    <h6 class="col s12 grey-text text-darken-1">{{ object.competencia }}</h6>
                </div>

                <div class="col s3 little-box">
                    <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.recursosHumanos.registrosEventoFerias.periodoMovimentacao'|trans }}</h6>
                    <h6 class="col s12 grey-text text-darken-1">{{ object.periodo }}</h6>
                </div>

            </div>
        </div>

        {% include 'RecursosHumanosBundle::FolhaPagamento/FolhaFerias/ConsultaRegistrosEventoFerias/show_eventos_cadastrados.html.twig' %}
        {% include 'RecursosHumanosBundle::FolhaPagamento/FolhaFerias/ConsultaRegistrosEventoFerias/show_base_calculo.html.twig' %}

        <div class="col s8 initial">
            <a href="javascript:window.history.back();"
               class="back btn-floating white-text blue darken-4 btn-success">
                <i class="material-icons">arrow_back</i>
            </a>
        </div>
    </div>
{% endblock show %}
