<div class="row">
    <div class="col s11 servidor-table">
        <a class="btn-lg tooltipped"
           data-position="left"
           data-delay="50"
           data-tooltip="Incluir">
            <i class="fa fa-cubes left"></i>
            {{ 'label.recursosHumanos.registrosEventoFerias.baseCalculo'|trans }}
        </a>
    </div>
    <table class="col s12 highlight bordered">
        <thead class="thead-rh">
        <tr class="sonata-ba-list-field-header">
            <th class="th-rh">#</th>
            <th class="th-rh">{{ 'label.recursosHumanos.registrosEventoFerias.codigo'|trans }}</th>
            <th class="th-rh">{{ 'label.recursosHumanos.registrosEventoFerias.evento'|trans }}</th>
            <th class="th-rh">{{ 'label.recursosHumanos.registrosEventoFerias.desdobramento'|trans }}</th>
            <th class="th-rh">{{ 'label.recursosHumanos.registrosEventoFerias.valor'|trans }}</th>
            <th class="th-rh">{{ 'label.recursosHumanos.registrosEventoFerias.quantidade'|trans }}</th>
            <th class="th-rh">{{ 'label.recursosHumanos.registrosEventoFerias.automatico'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for calculo in object.calculos %}
            <tr>
                <td class="td-rh">{{ loop.index }}</td>
                <td class="td-rh">{{ calculo.codigo_base }}</td>
                <td class="td-rh">{{ calculo.descricao_base|upper }}</td>
                <td class="td-rh">{{ calculo.desdobramento_texto|upper}}</td>
                <td class="td-rh">0,00</td>
                <td class="td-rh">0,00</td>
                <td class="td-rh">SIM</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
