<!DOCTYPE html>
<head>
    {% include '::partials/metas.html.twig' %}
    <link rel="stylesheet" href="/bundles/sonatacore/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bundles/sonatacore/vendor/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bundles/sonatacore/vendor/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/bundles/sonataadmin/vendor/admin-lte/dist/css/skins/skin-black.min.css">
    <link rel="stylesheet" href="/bundles/sonataadmin/vendor/iCheck/skins/square/blue.css">
    <link rel="stylesheet" href="/bundles/sonatacore/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/bundles/sonataadmin/vendor/jqueryui/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/bundles/sonatacore/vendor/select2/select2.css">
    <link rel="stylesheet" href="/bundles/sonatacore/vendor/select2-bootstrap-css/select2-bootstrap.min.css">
    <link rel="stylesheet" href="/bundles/sonataadmin/vendor/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css">
    <link rel="stylesheet" href="{{ asset('/bundles/core/css/style.css') }}">
    <link rel="stylesheet" href="/bundles/core/css/sonata-urbem.css">
    <link rel="stylesheet" href="/bundles/sonataadmin/css/layout.css">
    <link rel="stylesheet" href="/bundles/sonataadmin/css/tree.css">
    <link rel="stylesheet" href="{{ asset('/bundles/core/css/jquery.dataTables.min.css') }}">
    <script type="text/javascript" src="{{ asset('/bundles/core/javascripts/bootstrap-datepicker.pt-BR.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/bundles/sonatacore/vendor/moment/min/moment-with-locales.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/bundles/core/javascripts/lodash.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/bundles/core/javascripts/string.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/bundles/core/javascripts/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sonatacore/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/bundles/core/javascripts/urbem-sonata.js') }}"></script>

    <script type="text/javascript" src="{{ asset('/bundles/core/javascripts/urbem-sonata.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/bundles/core/javascripts/urbem-sonata-modal.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/bundles/core/javascripts/urbem-sonata-modal-confirm.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/bundles/core/javascripts/dropdown-menu-action-custom.js') }}"></script>
    <script src="/bundles/sonataadmin/vendor/jquery.scrollTo/jquery.scrollTo.min.js"></script>
    <script src="/bundles/sonatacore/vendor/moment/min/moment.min.js"></script>
    <script src="/bundles/sonataadmin/vendor/jqueryui/ui/minified/jquery-ui.min.js"></script>
    <script src="/bundles/sonataadmin/vendor/jqueryui/ui/minified/i18n/jquery-ui-i18n.min.js"></script>
    <script src="/bundles/sonatacore/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bundles/sonatacore/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/bundles/sonataadmin/vendor/jquery-form/jquery.form.js"></script>
    <script src="/bundles/sonataadmin/vendor/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="/bundles/sonatacore/vendor/select2/select2.min.js"></script>
    <script src="/bundles/sonataadmin/vendor/admin-lte/dist/js/app.min.js"></script>
    <script src="/bundles/sonataadmin/vendor/iCheck/icheck.min.js"></script>
    <script src="/bundles/sonataadmin/vendor/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="/bundles/sonataadmin/vendor/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="/bundles/sonataadmin/vendor/waypoints/lib/shortcuts/sticky.min.js"></script>
    <script src="/bundles/sonataadmin/Admin.js"></script>
    <script src="/bundles/sonataadmin/treeview.js"></script>

    {% set locale = app.request.locale %}
    <script src="{{ asset('bundles/sonatacore/vendor/moment/locale/' ~ locale|lower|replace({'_':'-'}) ~ '.js') }}"></script>
    <script src="{{ asset('bundles/sonatacore/vendor/select2/select2_locale_' ~ locale|replace({'_':'-'}) ~ '.js') }}"></script>
</head>
<body>
<!-- Modal -->
<div id="urbem-modal-container"></div>

    {% include '::partials/header.html.twig' %}

<div class="row back">
    <div class="container white box_geral z-depth-1">
        <div>
            <div>
                <div class="sonata-ba-content">{{ content|raw }}</div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ asset('/bundles/core/javascripts/custom-numeric.js') }}"></script>
<script type="text/javascript" src="{{ asset('/bundles/core/javascripts/custom-formatMoney.js') }}"></script>

{% include '::partials/footer.html.twig' %}

<script type="text/javascript">
    $('select').select2();
</script>

</body>
</html>
