{% extends "base_home_cards.html.twig" %}
{% block content %}
    <div class="container-rh">
        <div class="container">
            <h4 class="blue-text text-darken-4">Configurar e Exportar Pagamentos</h4>
            <div class="divider grey title-divider"><p>1</p></div>
        </div>
        <div class="container">
            <div class="col s6 m6 l3 card-bank">
                <div class="card small bank hoverable">
                    <div class="card-image">
                        <img src="{{ asset('/bundles/recursoshumanos/images/bnc_bb.png') }}">
                    </div>
                    <div class="card-action">
                        <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Configurar"
                           href="{{ path('urbem_recursos_humanos_ima_configuracao_bb_create') }}"><i
                                    class="material-icons">settings</i></a>
                        <a class="right align tooltipped" data-position="bottom" data-delay="50"
                           data-tooltip="Exportar Pagamento"
                           href="{{ path('urbem_recursos_humanos_ima_exportar_remessa_bb_create') }}"><i class="material-icons">picture_as_pdf</i></a>
                    </div>
                </div>
            </div>
            <div class="col s6 m6 l3 card-bank ">
                <div class="card small bank hoverable">
                    <div class="card-image">
                        <img src="{{ asset('/bundles/recursoshumanos/images/bnc_besc.png') }}">
                    </div>
                    <div class="card-action">
                        <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Configurar"
                           href="{{ path('urbem_recursos_humanos_informacoes_configuracao_besc_create') }}"><i class="material-icons">settings</i></a>
                        <a class="right align tooltipped" data-position="bottom" data-delay="50"
                           data-tooltip="Exportar Pagamento"
                           href="#"><i class="material-icons">picture_as_pdf</i></a>
                    </div>
                </div>
            </div>
            <div class="col s6 m6 l3 card-bank ">
                <div class="card small bank hoverable">
                    <div class="card-image">
                        <a href="{{ path('urbem_recursos_humanos_ima_exportar_pagamento_caixa_filtro') }}">
                            <img src="{{ asset('/bundles/recursoshumanos/images/bnc_caixa.png') }}">
                        </a>
                    </div>
                    <div class="card-action">
                        <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Configurar"
                           href="{{ path('urbem_recursos_humanos_ima_configuracao_caixa_create') }}"><i class="material-icons">settings</i>
                        </a>
                        <a class="right align tooltipped" data-position="bottom" data-delay="50" data-tooltip="Exportar Pagamento"
                           href="{{ path('urbem_recursos_humanos_ima_configuracao_caixa_create') }}"><i class="material-icons">picture_as_pdf</i></a>
                    </div>
                </div>
            </div>

            <div class="col s6 m6 l3 card-bank ">
                <div class="card small bank hoverable">
                    <div class="card-image">
                        <img src="{{ asset('/bundles/recursoshumanos/images/bnc_para.png') }}">
                    </div>
                    <div class="card-action">
                        <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Configurar" href="{{ path('urbem_recursos_humanos_informacoes_configuracao_banpara_create') }}"><i class="material-icons">settings</i></a>
                        <a class="right align tooltipped" data-position="bottom" data-delay="50"
                           data-tooltip="Exportar Pagamento"
                           href="#"><i class="material-icons">picture_as_pdf</i></a>
                    </div>
                </div>
            </div>
            <div class="col s6 m6 l3 card-bank ">
                <div class="card small bank hoverable">
                    <div class="card-image">
                        <img src="{{ asset('/bundles/recursoshumanos/images/bnc_bradesco.png') }}">
                    </div>
                    <div class="card-action">
                        <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Configurar"
                           href="{{ path('urbem_recursos_humanos_ima_configuracao_bradesco_create') }}"><i class="material-icons">settings</i></a>
                        <a class="right align tooltipped" data-position="bottom" data-delay="50" data-tooltip="Exportar Pagamento"
                           href="{{ path('urbem_recursos_humanos_ima_configuracao_bradesco_create') }}"><i class="material-icons">picture_as_pdf</i></a>
                    </div>
                </div>
            </div>
            <div class="col s6 m6 l3 card-bank ">
                <div class="card small bank hoverable">
                    <div class="card-image">
                        <img src="{{ asset('/bundles/recursoshumanos/images/bnc_hsbc.png') }}">
                    </div>
                    <div class="card-action">
                        <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Configurar"
                           href="{{ path('urbem_recursos_humanos_ima_configuracao_hsbc_create') }}"><i
                                    class="material-icons">settings</i></a>
                        <a class="right align tooltipped" data-position="bottom" data-delay="50"
                           data-tooltip="Exportar Pagamento"
                           href="{{ path('urbem_recursos_humanos_ima_configuracao_hsbc_create') }}"}><i class="material-icons">picture_as_pdf</i></a>
                    </div>
                </div>
            </div>
            <div class="col s6 m6 l3 card-bank ">
                <div class="card small bank hoverable">
                    <div class="card-image">
                        <a href="{{ path('urbem_recursos_humanos_ima_exportar_pagamento_banrisul_filtro') }}">
                            <img src="{{ asset('/bundles/recursoshumanos/images/bnc_banrisul.png') }}">
                        </a>
                    </div>
                    <div class="card-action">
                        <a class="tooltipped" data-position="bottom" data-delay="50"
                           data-tooltip="Configurar" href="{{ path('urbem_recursos_humanos_informacoes_configuracao_banrisul_create') }}"><i
                                    class="material-icons">settings</i></a>
                        <a class="right align tooltipped" data-position="bottom" data-delay="50" data-tooltip="Exportar Pagamento"
                           href="{{ path('urbem_recursos_humanos_ima_exportar_pagamento_banrisul_filtro') }}"><i class="material-icons">picture_as_pdf</i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h4 class="blue-text text-darken-4">Configurar e Exportar Documentos</h4>
            <div class="divider grey title-divider"><p>1</p></div>
        </div>
        <div class="container">
            <div class="col s6 m6 l3 card-bank">
                <div class="card small bank hoverable">
                    <div class="card-image">
                        <img src="{{ asset('/bundles/recursoshumanos/images/rais.png') }}">
                    </div>
                    <div class="card-action">
                        <a class="tooltipped" data-position="bottom" data-delay="50"
                           data-tooltip="Configurar" href="{{ path('urbem_recursos_humanos_ima_rais_list') }}"><i class="material-icons">settings</i></a>
                        <a class="right align tooltipped" data-position="bottom" data-delay="50" data-tooltip="Gerar"
                           href="#"><i class="material-icons">input</i></a>
                    </div>
                </div>
            </div>
            <div class="col s6 m6 l3 card-bank ">
                <div class="card small bank hoverable">
                    <div class="card-image">
                        <img src="{{ asset('/bundles/recursoshumanos/images/dirf.png') }}">
                    </div>
                    <div class="card-action">
                        <a class="tooltipped" data-position="bottom" data-delay="50"
                           data-tooltip="Configurar" href="{{ path('informacoes_configuracao_dirf_home') }}"><i
                                    class="material-icons">settings</i></a>
                        <a class="right align tooltipped" data-position="bottom" data-delay="50" data-tooltip="Gerar"
                           href="{{ path('urbem_recursos_humanos_informacoes_configuracao_dirf_create') }}"><i class="material-icons">input</i></a>
                    </div>
                </div>
            </div>
            <div class="col s6 m6 l3 card-bank ">
                <div class="card small bank hoverable">
                    <div class="card-image">
                        <img src="{{ asset('/bundles/recursoshumanos/images/caged.png') }}">
                    </div>
                    <div class="card-action">
                        <a class="tooltipped" data-position="bottom" data-delay="50"
                           data-tooltip="Configurar" href="#"><i
                                    class="material-icons">settings</i></a>
                        <a class="right align tooltipped" data-position="bottom" data-delay="50" data-tooltip="Gerar"
                           href="#"><i class="material-icons">input</i></a>
                    </div>
                </div>
            </div>
            <div class="col s6 m6 l3 card-bank ">
                <div class="card small bank hoverable">
                    <div class="card-image">
                        <img src="{{ asset('/bundles/recursoshumanos/images/pasep.png') }}">
                    </div>
                    <div class="card-action">
                        <a class="tooltipped" data-position="bottom" data-delay="50"
                           data-tooltip="Configurar" href="#"><i
                                    class="material-icons">settings</i></a>
                        <a class="right align tooltipped" data-position="bottom" data-delay="50" data-tooltip="Gerar"
                           href="#"><i class="material-icons">input</i></a>
                    </div>
                </div>
            </div>
            <div class="col s6 m6 l3 card-bank ">
                <div class="card small bank hoverable">
                    <div class="card-image">
                        <img src="{{ asset('/bundles/recursoshumanos/images/sefip.png') }}">
                    </div>
                    <div class="card-action">
                        <a class="tooltipped" data-position="bottom" data-delay="50"
                           data-tooltip="Configurar" href="{{ path('urbem_recursos_humanos_ima_configuracao_sefip_create') }}"><i
                                    class="material-icons">settings</i></a>
                        <a class="right align tooltipped" data-position="bottom" data-delay="50" data-tooltip="Gerar"
                           href="{{ path('urbem_recursos_humanos_ima_configuracao_exportar_sefip_create') }}"><i class="material-icons">input</i></a>
                    </div>
                </div>
            </div>
            <div class="col s6 m6 l3 card-bank ">
                <div class="card small bank hoverable">
                    <div class="card-image">
                        <img src="{{ asset('/bundles/recursoshumanos/images/ipers.png') }}">
                    </div>
                    <div class="card-action">
                        <a class="right align tooltipped" data-position="bottom" data-delay="50" data-tooltip="Gerar"
                           href="{{ path('urbem_recursos_humanos_ima_configuracao_exportar_ipers_create') }}"><i class="material-icons">input</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
