<div class="card small white hoverable">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator responsive-img" src="{{ image }}">
    </div>
    <div class="card-content white">
        <span class="card-title activator blue-text text-darken-4 truncate flow-text ">{{ text }}</span>
    </div>
    <div class="card-reveal">
        <div class="col s12 titulo-inside-card truncate">
            <i class="material-icons icoTitMenu left">list</i>{{ text }}
            <span class="card-title grey-text text-darken-4 closeHomeNovo"><i class="material-icons right">close</i></span>
        </div>
        <div class="setaMenu"></div>
        <div class="menuHomeNovo">
            {% for item in items %}
                <h6><a href="{{ item.route }}" >{{ item.text }}</a></h6>
            {% endfor %}
        </div>
    </div>
</div>