<div class="card small white hoverable">
    <div class="card-image waves-effect waves-block waves-light">
        <a href="{{ route }}" title="{{ text }}"><img class="activator responsive-img" src="{{ image }}" alt="{{ text }}"></a>
    </div>
    <div class="card-content white">
        <a href="{{ route }}" title="{{ text }}"><span class="card-title activator blue-text text-darken-4 truncate flow-text">{{ text }}</span></a>
    </div>
</div>