<div>
    <div class="box box-primary">
        <div class="box-header col s12">

        </div>
        <div class="box-body  no-padding">
            {% if admin.documentoNaturezas|length > 0 %}
                {% for item in admin.documentoNaturezas %}
                    <table class="table show-table">
                        <tbody>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'label.ImobiliarioNaturezaTransferencia.nomDocumento'|trans }}</th>
                                <td>{{ item.nomDocumento }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'label.ImobiliarioNaturezaTransferencia.obrigatorio'|trans }}</th>
                                <td>{% if item.cadastro|length > 0 %} {{ 'label.cadastro'|trans }} {% elseif item.transferencia|length > 0 %} {{ 'label.ImobiliarioNaturezaTransferencia.efetivacao'|trans }} {% else %} Não {% endif %}</td>
                            </tr>
                        </tbody>
                    </table>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
