<table class="bordered highlight">
    <thead>
        <tr>
            <th>{{ 'label.gradeHorario.diaSemana'|trans }}</th>
            <th>{{ 'label.gradeHorario.horaEntrada1'|trans }}</th>
            <th>{{ 'label.gradeHorario.horaSaida1'|trans }}</th>
            <th>{{ 'label.gradeHorario.horaEntrada2'|trans }}</th>
            <th>{{ 'label.gradeHorario.horaSaida2'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for faixaturno in object.fkPessoalFaixaTurnos %}
            <tr>
                <td>{{ faixaturno.fkPessoalDiasTurno.nomDia }}</td>
                <td class="text-center">{{ faixaturno.horaEntrada|date("H:i") }}</td>
                <td class="text-center">{{ faixaturno.horaSaida|date("H:i") }}</td>
                <td class="text-center">
                    {% if faixaturno.horaEntrada2 %}
                        {{ faixaturno.horaEntrada2|date("H:i") }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if faixaturno.horaSaida2 %}
                        {{ faixaturno.horaSaida2|date("H:i") }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
