{% extends "base.html.twig" %}

{% block title %} {{ 'label.economico.naturezaJuridica.dadosNatureza'|trans }} {% endblock title %}

{% block content %}
    <div class="container-rh">
        {{ form_start(form) }}
        <div class="row col s12">
            <div class="box-header">
                <h5 class="col s12 box-title left-align show">
                    {{ 'label.economico.servico.dadosAliquota'|trans }}
                </h5>
                <div class="divider grey lighten-1 title-divider"><p>1</p></div>
            </div>
            <table class="table show-table">
                <tbody>
                <tr class="sonata-ba-view-container">
                    <th>{{ 'label.economico.servico.nivel'|trans }}</th>
                    <td>{{ (nivel) ? nivel.nomNivel : '' }}</td>
                </tr>
                <tr class="sonata-ba-view-container">
                    <th>{{ 'label.codigo'|trans }}</th>
                    <td>{{ servico.codServico }}</td>
                </tr>
                <tr class="sonata-ba-view-container">
                    <th>{{ 'label.economico.servico.nomeServico'|trans }}</th>
                    <td>{{ servico.nomServico }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row col s12">
            {{ form_widget(form) }}
            <input type="hidden" name="codServico" value="{{ servico.codServico }}">
        </div>
        <div class="col s10 initial left-align">
            <a class="back btn-floating white-text blue darken-4 btn-success" href="{{ admin.generateUrl('list') }}">
                <i class="material-icons">arrow_back</i>
            </a>
        </div>
        <div class="col s2 right-align">
            <button type="submit" class="waves-effect waves-light btn blue darken-4 btn-bold" value="Baixar">
                <i class="mdi mdi-arrow-down-bold left"></i>
                {{ 'label.economico.servico.alterarAliquota'|trans }}
            </button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock content %}