{% extends "base.html.twig" %}

{% block title %} {{ 'label.economico.naturezaJuridica.dadosNatureza'|trans }} {% endblock title %}

{% block content %}
    <div class="container-rh">
        {{ form_start(form) }}
            <div class="row col s12">
                <div class="box-header">
                    <h5 class="col s12 box-title left-align show">
                        {{ 'label.economico.naturezaJuridica.dadosNatureza'|trans }}
                    </h5>
                    <div class="divider grey lighten-1 title-divider"><p>1</p></div>
                </div>
                <table class="table show-table">
                    <tbody>
                    <tr class="sonata-ba-view-container">
                        <th>{{ 'label.codigo'|trans }}</th>
                        <td>{{ naturezaJuridica.codNatureza }}</td>
                    </tr>
                    <tr class="sonata-ba-view-container">
                        <th>{{ 'label.nome'|trans }}</th>
                        <td>{{ naturezaJuridica.nomNatureza }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row col s12">
                {{ form_widget(form) }}
                <input type="hidden" name="codNatureza" value="{{ naturezaJuridica.codNatureza }}">
            </div>
            <div class="col s10 initial left-align">
                <a class="back btn-floating white-text blue darken-4 btn-success" href="{{ admin.generateUrl('list') }}">
                    <i class="material-icons">arrow_back</i>
                </a>
            </div>
            <div class="col s2 right-align">
                <button type="submit" class="waves-effect waves-light btn blue darken-4 btn-bold" value="Baixar">
                    <i class="mdi mdi-arrow-down-bold left"></i>
                    {{ 'label.economico.baixaNaturezaJuridica.baixar'|trans }}
                </button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock content %}