<div class="sonata-ba-show col s12">
    <div class="sonata-ba-view">
        <div class="row">
            <h3 class="col s10 box-title left-align show">{{ 'label.assinaturaBoletimTesouraria'|trans }}</h3>
            <div class="divider grey lighten-1  title-divider"></div>
            <input type="hidden" id="exercicio" name="exercicio" value="{{ admin.dataCustom.exercicio }}" />
            <div class="col s3">
                <label class="control-label label-rh">{{ 'entidade'|trans }}</label>
                <select id="entidade" name="entidade" class="select2-parameters">
                    {% for key,value in admin.dataCustom.entidades %}
                        <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col s3">
                <label class="control-label label-rh">{{ 'label.cgm'|trans }}</label>
                <select id="cgm" name="cgm" class="select2-parameters">
                    {% for key,value in admin.dataCustom.cgms %}
                        <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col s3 campo-sonata">
                <label class="control-label label-rh">{{ 'label.cargo.cargo'|trans }}</label>
                <input class="input-rh " type="text" id="cargo" name="cargo" value="" />
            </div>
            <div class="col s3">
                <label class="control-label label-rh">{{ 'label.situacao'|trans }}</label>
                <select id="situacao" name="situacao" class="select2-parameters">
                    <option value="1">{{ 'label.ativo'|trans }}</option>
                    <option value="0">{{ 'label.inativo'|trans }}</option>
                </select>
            </div>
            <div class="col s1 right" style="margin-top: 10px">
                <span class="icon-input"><i class="material-icons">add_circle</i></span>
                <input class="white-text blue darken-4 btn btn-success save col s12"
                       type="button" name="assinatura" id="assinatura" value="Incluir" >
            </div>
        </div>
        <div class="row">
            <h3 class="col s10 box-title left-align show">Registros</h3>
            <div class="divider grey lighten-1  title-divider"></div>
            <table id="tableAssinatura" class="bordered highlight" style="width:100%">
                <tr class="tr-rh">
                    <th class="th-rh">{{ 'label.nome'|trans }}</th>
                    <th class="th-rh">{{ 'label.cargo.cargo'|trans }}</th>
                    <th class="th-rh">{{ 'label.situacao'|trans }}</th>
                    <th class="th-rh"></th>
                </tr>
            </table>
        </div>
    </div>
</div>
