{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "CoreBundle::Sonata/standard_layout.html.twig" %}

{% import 'CoreBundle:Sonata/CRUD:base_show_macro.html.twig' as show_helper %}

{% block actions %}
    {% include 'CoreBundle:Sonata/CRUD:action_buttons.html.twig' %}
{% endblock %}

{% block tab_menu %}
    {{ knp_menu_render(admin.sidemenu(action), {
        'currentClass' : 'active',
        'template': sonata_admin.adminPool.getTemplate('tab_menu_template')
    }, 'twig') }}
{% endblock %}

{% block show %}

    <div class="container-rh">
        {# BASE #}
        <div class="row">
            <div class="col s12 profile-box">
                <h3 class="blue-text text-darken-4 left">
                    <i class="fa fa-car left grey-text"></i>{{ object.veiculo.placa }}
                    - {{ object.veiculo.fkFrotaMarca.nomMarca }} - {{ object.veiculo.fkFrotaModelo.nomModelo }}
                </h3>
                {% if not object.veiculo.fkFrotaVeiculoBaixado %}
                    <a href="{{ path('urbem_patrimonial_frota_veiculo_edit', { 'id': object.veiculo.codVeiculo }) }}"
                       class="serv-btn right">
                        <i class="material-icons right">edit</i>
                    </a>
                {% endif %}
                <p class="divider grey col s12"></p>

                <div class="col s3 little-box">
                    <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.veiculo.codTipoVeiculo'|trans }}</h6>
                    <h6 class="col s12 grey-text text-darken-1">{{ object.veiculo.fkFrotaTipoVeiculo.nomTipo }}
                        &nbsp;</h6>
                </div>
                <div class="col s3 little-box">
                    <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.veiculo.prefixo'|trans }}</h6>
                    <h6 class="col s12 grey-text text-darken-1">{{ object.veiculo.prefixo }}&nbsp;</h6>
                </div>
                <div class="col s3 little-box">
                    <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.veiculo.anoFabricacao'|trans }}</h6>
                    <h6 class="col s12 grey-text text-darken-1">{{ object.veiculo.anoFabricacao }}&nbsp;</h6>
                </div>
                <div class="col s3 little-box">
                    <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.veiculo.anoModelo'|trans }}</h6>
                    <h6 class="col s12 grey-text text-darken-1">{{ object.veiculo.anoModelo }}&nbsp;</h6>
                </div>
                <div class="col s3 little-box">
                    <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.veiculo.capacidadeTanque'|trans }}</h6>
                    <h6 class="col s12 grey-text text-darken-1">{{ object.veiculo.capacidadeTanque }}&nbsp;</h6>
                </div>
                <div class="col s3 little-box">
                    <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.veiculo.dtAquisicao'|trans }}</h6>
                    <h6 class="col s12 grey-text text-darken-1">{{ object.veiculo.dtAquisicao.format('d/m/Y') }}
                        &nbsp;</h6>
                </div>
                <div class="col s3 little-box">
                    <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.veiculo.codCategoria'|trans }}</h6>
                    <h6 class="col s12 grey-text text-darken-1">{{ object.veiculo.fkSwCategoriaHabilitacao.nomCategoria }}
                        &nbsp;</h6>
                </div>
                <div class="col s3 little-box">
                    <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.veiculo.codCombustivel'|trans }}</h6>
                    {% for combustivel in object.veiculoCombustivel %}
                    <h6 class="col s6 grey-text text-darken-1">{{ combustivel.fkFrotaCombustivel.nomCombustivel }}</h6>
                    {% endfor %}&nbsp;
                </div>

                {# Tipo Veiculo #}

                {% if object.tipoVeiculo == 'proprio' %}
                    <div class="col s3 little-box">
                        <h6 class="blue-text text-darken-4 profile-titles left">
                            Veiculo Próprio - {{ 'label.veiculoProprio.codBem'|trans }}
                        </h6>
                        {% if not object.veiculo.fkFrotaVeiculoBaixado %}
                            <a href="{{ path('urbem_patrimonial_frota_veiculo_proprio_edit', { 'id': object.proprio.codVeiculo ~ '~' ~ object.proprio.timestamp }) }}"
                               class="serv-btn right">
                                <i class="material-icons right">edit</i>
                            </a>
                        {% endif %}
                        <h6 class="col s12 grey-text text-darken-1">{{ object.proprio.fkPatrimonioBem }}&nbsp;</h6>
                    </div>
                {% elseif object.tipoVeiculo == 'terceiros' %}
                    <div class="col s12 little2-box">
                        <h6 class="col s12 blue-text text-darken-4 profile-titles left">
                            Veiculo de Terceiros
                            {% if not object.veiculo.fkFrotaVeiculoBaixado %}
                                <a href="{{ path('urbem_patrimonial_frota_veiculo_terceiro_edit', { 'id': object.terceiros.codVeiculo ~ '~' ~ object.terceiros.timestamp }) }}"
                                   class="right">
                                    <i class="material-icons right">edit</i>
                                </a>
                            {% endif %}
                        </h6>

                        <div class="col s4">
                            <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.veiculoTerceiro.codProprietario'|trans }}</h6>
                            <h6 class="col s12 grey-text text-darken-1">{{ object.terceiros.fkSwCgm.numcgm }}
                                - {{ object.terceiros.fkSwCgm.nomCgm }}&nbsp;</h6>
                        </div>
                        <div class="col s4">
                            <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.veiculoTerceiro.codLocal'|trans }}</h6>
                            <h6 class="col s12 grey-text text-darken-1">{% if object.terceirosHistorico is not empty %} {{ object.terceirosHistorico.fkOrganogramaLocal.descricao }} {% endif %}
                                &nbsp;</h6>
                        </div>
                        <div class="col s4">
                            <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.veiculoTerceiro.codResponsavel'|trans }}</h6>
                            <h6 class="col s12 grey-text text-darken-1">{% if object.terceirosResponsavel is not empty %} {{ object.terceirosResponsavel|last.fkSwCgm.numcgm }} - {{ object.terceirosResponsavel|last.fkSwCgm.nomCgm }} {% endif %}
                                &nbsp;</h6>
                        </div>
                    </div>
                {% endif %}

                {% include 'PatrimonialBundle:Sonata/Frota/Veiculo/CRUD:show__acoes.html.twig' %}

            </div>
        </div>
        {# END Tipo Veiculo #}

        {# VeiculoLocacao #}
        {% if object.tipoVeiculo == 'terceiros' %}
            <div class="row">
                <div class="col s11 servidor-table">
                    {% if not object.veiculo.fkFrotaVeiculoBaixado %}
                        <a class="btn-lg tooltipped"
                           href="{{ path('urbem_patrimonial_frota_veiculo_locacao_create',{'id': object.veiculo.codVeiculo }) }}"
                           data-position="left"
                           data-delay="50"
                           data-tooltip="Incluir">
                            <i class="material-icons left">location_on</i>
                            {{ 'VeiculoLocacao'|trans }}
                        </a>
                    {% endif %}
                </div>
                <div class="col s1">
                    {% if not object.veiculo.fkFrotaVeiculoBaixado %}
                        <a href="{{ path('urbem_patrimonial_frota_veiculo_locacao_create',{'id': object.veiculo.codVeiculo }) }}"
                           class="btn-lg tooltipped"
                           data-position="right"
                           data-delay="50"
                           data-tooltip="Incluir"
                           id="locacao">
                            <i class="mdi mdi-plus-circle left"></i>
                        </a>
                    {% endif %}
                </div>
                <table class="col s12 highlight bordered">
                    <thead class="thead-rh">
                    <tr class="sonata-ba-list-field-header">
                        <th class="th-rh">{{ 'label.veiculoLocacao.codProcesso'|trans }}</th>
                        <th class="th-rh">{{ 'label.veiculoLocacao.cgmLocatario'|trans }}</th>
                        <th class="th-rh">{{ 'label.veiculoLocacao.codEntidade'|trans }}</th>
                        <th class="th-rh" width="10%">{{ 'acoes'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for locacao in object.terceirosLocacao %}
                        <tr>
                            <td class="td-rh">{{ locacao.fkSwProcesso.codProcesso }}
                                /{{ locacao.fkSwProcesso.anoExercicio }}
                                - {{ locacao.fkSwProcesso.fkSwAssunto.nomAssunto }}</td>
                            <td class="td-rh">{{ locacao.fkSwCgmPessoaJuridica.fkSwCgm.numcgm }}
                                - {{ locacao.fkSwCgmPessoaJuridica.fkSwCgm.nomCgm }}</td>
                            <td class="td-rh">{{ locacao.codEntidade }}
                                - {{ locacao.fkSwCgmPessoaJuridica.fkSwCgm.nomCgm }}</td>
                            <td class="td-rh">
                                <div class="btn-group">
                                    {% if not object.veiculo.fkFrotaVeiculoBaixado %}
                                        <a class="hide-on-med-and-down blue-text text-darken-4 tooltipped left"
                                           data-position="left"
                                           data-delay="50"
                                           data-tooltip="Editar"
                                           href="{{ path('urbem_patrimonial_frota_veiculo_locacao_edit', { 'id': locacao.id }) }}"
                                           id="editLocacao">
                                            <i class="material-icons">edit</i>
                                        </a>
                                        <a class="hide-on-med-and-down blue-text text-darken-4 tooltipped right"
                                           data-position="left"
                                           data-delay="50"
                                           data-tooltip="Excluir"
                                           href="{{ path('urbem_patrimonial_frota_veiculo_locacao_delete', { 'id': locacao.id }) }}">
                                            <i class="material-icons">delete</i>
                                        </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {# END VeiculoLocacao #}

        {# VeiculoCessao #}
        <div class="row">
            <div class="col s11 servidor-table">
                {% if not object.veiculo.fkFrotaVeiculoBaixado %}
                    <a class="btn-lg tooltipped"
                       href="{{ path('urbem_patrimonial_frota_veiculo_cessao_create',{'id': object.veiculo.codVeiculo }) }}"
                       data-position="left"
                       data-delay="50"
                       data-tooltip="Incluir">
                        <i class="material-icons left">local_gas_station</i>
                        {{ 'VeiculoCessao'|trans }}
                    </a>
                {% endif %}
            </div>
            <div class="col s1">
                {% if not object.veiculo.fkFrotaVeiculoBaixado %}
                    <a href="{{ path('urbem_patrimonial_frota_veiculo_cessao_create',{'id': object.veiculo.codVeiculo }) }}"
                       class="btn-lg btn-lg">
                        <i class="mdi mdi-plus-circle left"></i>
                    </a>
                {% endif %}
            </div>
            <table class="col s12 highlight bordered">
                <thead class="thead-rh">
                <tr class="sonata-ba-list-field-header">
                    <th class="th-rh">{{ 'label.veiculoCessao.codProcesso'|trans }}</th>
                    <th class="th-rh">{{ 'label.veiculoCessao.cgmCedente'|trans }}</th>
                    <th class="th-rh">{{ 'label.veiculoCessao.dtInicio'|trans }}</th>
                    <th class="th-rh">{{ 'label.veiculoCessao.dtFim'|trans }}</th>
                    <th class="th-rh" width="10%">{{ 'acoes'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for cessao in object.cessoes %}
                    <tr>
                        <td class="td-rh">{{ cessao.fkSwProcesso.codProcesso }}/{{ cessao.fkSwProcesso.anoExercicio }}
                            - {{ cessao.fkSwProcesso.fkSwAssunto.nomAssunto }}</td>
                        <td class="td-rh">{{ cessao.fkSwCgmPessoaJuridica.fkSwCgm.numcgm }} -
                            {{ cessao.fkSwCgmPessoaJuridica.fkSwCgm.nomCgm }}</td>
                        <td class="td-rh">{{ cessao.dtInicio.format('d/m/Y') }}</td>
                        <td class="td-rh">{{ cessao.dtTermino.format('d/m/Y') }}</td>
                        <td class="td-rh">
                            <div class="btn-group">
                                {% if not object.veiculo.fkFrotaVeiculoBaixado %}
                                    <a class="hide-on-med-and-down blue-text text-darken-4 tooltipped left"
                                       data-position="left"
                                       data-delay="50"
                                       data-tooltip="Editar"
                                       href="{{ path('urbem_patrimonial_frota_veiculo_cessao_edit', { 'id':
                                           cessao.id }) }}"
                                       id="cessao"
                                    >
                                        <i class="material-icons">edit</i>
                                    </a>
                                    <a class="hide-on-med-and-down blue-text text-darken-4 tooltipped right"
                                       data-position="left"
                                       data-delay="50"
                                       data-tooltip="Excluir"
                                       href="{{ path('urbem_patrimonial_frota_veiculo_cessao_delete', { 'id':
                                           cessao.id }) }}">
                                        <i class="material-icons">delete</i>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {# END VeiculoCessao #}

        {# VeiculoDocumento #}
        <div class="row">
            <div class="col s11 servidor-table">
                {% if not object.veiculo.fkFrotaVeiculoBaixado %}
                    <a class="btn-lg tooltipped"
                       href="{{ path('urbem_patrimonial_frota_veiculo_documento_create',{'id': object.veiculo.codVeiculo }) }}"
                       data-position="left"
                       data-delay="50"
                       data-tooltip="Incluir">
                        <i class="mdi mdi-file-document left"></i>
                        {{ 'VeiculoDocumento'|trans }}
                    </a>
                {% endif %}
            </div>
            <div class="col s1">
                {% if not object.veiculo.fkFrotaVeiculoBaixado %}
                    <a href="{{ path('urbem_patrimonial_frota_veiculo_documento_create',{'id': object.veiculo.codVeiculo }) }}"
                       class="btn-lg"><i class="mdi mdi-plus-circle left"></i></a>
                {% endif %}
            </div>
            <table class="col s12 highlight bordered">
                <thead class="thead-rh">
                <tr class="sonata-ba-list-field-header">
                    <th class="th-rh">{{ 'label.veiculoDocumento.codDocumento'|trans }}</th>
                    <th class="th-rh">{{ 'label.veiculoDocumento.exercicio'|trans }}</th>
                    <th class="th-rh">{{ 'label.veiculoDocumento.mes'|trans }}</th>
                    <th class="th-rh">{{ 'label.veiculoDocumento.situacao'|trans }}</th>
                    <th class="th-rh" width="10%">{{ 'acoes'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for documento in object.documentos %}
                    <tr>
                        <td class="td-rh">{{ documento.fkFrotaDocumento.codDocumento }}
                            - {{ documento.fkFrotaDocumento.nomDocumento }}</td>
                        <td class="td-rh">{{ documento.exercicio }}</td>
                        <td class="td-rh">{{ object.documentosMes[documento.codDocumento].descricao }}</td>
                        <td class="td-rh">{% if documento.fkFrotaVeiculoDocumentoEmpenho %} Sim {% else %} Não {% endif %}</td>
                        <td class="td-rh">
                            <div class="btn-group">
                                {% if not object.veiculo.fkFrotaVeiculoBaixado %}
                                    <a class="hide-on-med-and-down blue-text text-darken-4 tooltipped left"
                                       data-position="left"
                                       data-delay="50"
                                       data-tooltip="Editar"
                                       href="{{ path('urbem_patrimonial_frota_veiculo_documento_edit', { 'id': object.veiculo.codVeiculo ~ '~' ~ documento.codDocumento ~ '~' ~ documento.exercicio }) }}"
                                       id="controleDocumento">
                                        <i class="material-icons">edit</i>
                                    </a>
                                    <a class="hide-on-med-and-down blue-text text-darken-4 tooltipped right"
                                       data-position="left"
                                       data-delay="50"
                                       data-tooltip="Excluir"
                                       href="{{ path('urbem_patrimonial_frota_veiculo_documento_delete', { 'id': object.veiculo.codVeiculo ~ '~' ~ documento.codDocumento ~ '~' ~ documento.exercicio }) }}">
                                        <i class="material-icons">delete</i>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {# END VeiculoDocumento #}
        <hr>
        <div class="sonata-ba-form-actions well well-small form-actions row">
            <div class="col s8 initial">
                <a href="{{ path('urbem_patrimonial_frota_veiculo_list') }}"
                   class="back btn-floating white-text blue darken-4 btn-success">
                    <i class="material-icons">arrow_back</i>
                    Add a comment to this line
                </a>
            </div>
        </div>
    </div>
    {# END BASE #}
{% endblock show %}
