{% extends "base.html.twig" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col l10">
            <h4 class="blue-text text-darken-4 title-filtro">{{ 'editar'|trans }} {{ 'label.cargo.modulo'|trans }}</h4>
        </div>
        <div class="hide-on-med-and-down col l2 right-align">
            {{ form_start(delete_form) }}
            <button class="top-btn btn waves-effect waves-light white-text blue darken-4 tooltipped" data-position="right" data-delay="50" data-tooltip="Excluir" value="Delete" type="submit" name="action"><i class="material-icons">delete</i></button>
            {{ form_end(delete_form) }}
        </div>
    </div>
    <div class="row">
        {{ form_start(edit_form, {'attr' : {'class' : 'col s12', 'novalidate': ''}}) }}
        <div class="row">
            <div class="input-field col s12">
                {{ form_widget(edit_form.descricao) }}
                {{ form_label(edit_form.descricao) }}
                {{ form_errors(edit_form.descricao) }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                {{ form_widget(edit_form.cargoCc) }}
                {{ form_label(edit_form.cargoCc) }}
                {{ form_errors(edit_form.cargoCc) }}
            </div>
            <div class="input-field col s6">
                {{ form_widget(edit_form.funcaoGratificada) }}
                {{ form_label(edit_form.funcaoGratificada) }}
                {{ form_errors(edit_form.funcaoGratificada) }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                {{ form_widget(edit_form.atribuicoes, {'attr': {'class': 'materialize-textarea'}}) }}
                {{ form_label(edit_form.atribuicoes) }}
                {{ form_errors(edit_form.atribuicoes) }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                {{ form_widget(edit_form.codEscolaridade, {'value': cargo.codEscolaridade|trans }) }}
                {{ form_label(edit_form.codEscolaridade) }}
                {{ form_errors(edit_form.codEscolaridade) }}
            </div>
            <div class="input-field col s6">
                {{ form_widget(edit_form.codRequisito) }}
                {{ form_label(edit_form.codRequisito) }}
                {{ form_errors(edit_form.codRequisito) }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                {{ form_widget(edit_form.padrao, {'value': padrao|trans }) }}
                {{ form_label(edit_form.padrao) }}
                {{ form_errors(edit_form.padrao) }}
            </div>
            <div class="input-field col s6">
                {{ form_widget(edit_form.cbo, {'value': cbo|trans }) }}
                {{ form_label(edit_form.cbo) }}
                {{ form_errors(edit_form.cbo) }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                {{ form_widget(edit_form.codLote) }}
                {{ form_label(edit_form.codLote) }}
                {{ form_errors(edit_form.codLote) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <a  class="btn-floating white-text blue darken-4" href="{{ path('pessoal_cargo_index') }}"><i class="material-icons">arrow_back</i></a>
        </div>
        <div class="col s6 right-align">
            <button type="submit" class="waves-effect waves-light btn blue darken-4" value="Create">Salvar</button>
        </div>
    </div>
    {{ form_end(edit_form) }}
</div>
{% endblock content %}
