{% extends "base.html.twig" %}
{% block content %}
<div class="container">
        <div class="row">
            <div class="col s10">
                <h4 class="blue-text text-darken-4 title-filtro">{{ 'novo'|trans }} {{ 'label.cargo.modulo'|trans }}</h4>
            </div>
        </div>
    <div class="row">
        {{ form_start(form, {'attr' : {'class' : 'col s12', 'novalidate': ''}}) }}
        <div class="row">
            <div class="input-field col s12">
                {{ form_widget(form.descricao) }}
                {{ form_label(form.descricao) }}
                {{ form_errors(form.descricao) }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                {{ form_widget(form.cargoCc) }}
                {{ form_label(form.cargoCc) }}
                {{ form_errors(form.cargoCc) }}
            </div>
            <div class="input-field col s6">
                {{ form_widget(form.funcaoGratificada) }}
                {{ form_label(form.funcaoGratificada) }}
                {{ form_errors(form.funcaoGratificada) }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                {{ form_widget(form.atribuicoes, {'attr': {'class': 'materialize-textarea'}}) }}
                {{ form_label(form.atribuicoes) }}
                {{ form_errors(form.atribuicoes) }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                {{ form_widget(form.codEscolaridade) }}
                {{ form_label(form.codEscolaridade) }}
                {{ form_errors(form.codEscolaridade) }}
            </div>
            <div class="input-field col s6">
                {{ form_widget(form.codRequisito) }}
                {{ form_label(form.codRequisito) }}
                {{ form_errors(form.codRequisito) }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                {{ form_widget(form.padrao) }}
                {{ form_label(form.padrao) }}
                {{ form_errors(form.padrao) }}
            </div>
            <div class="input-field col s6">
                {{ form_widget(form.cbo) }}
                {{ form_label(form.cbo) }}
                {{ form_errors(form.cbo) }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                {{ form_widget(form.codLote) }}
                {{ form_errors(form.codLote) }}
                {{ form_label(form.codLote) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <a  class="btn-floating white-text blue darken-4" href="{{ path('pessoal_cargo_index') }}"><i class="material-icons">arrow_back</i></a>
        </div>
        <div class="col s6 right-align">
            <button type="submit" class="waves-effect waves-light btn blue darken-4" value="Create">Incluir</button>
        {{ form_end(form) }}
        </div>
    </div>
</div>

{% block javascript %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('/bundles/recursoshumanos/javascripts/pessoal/cargo.js') }}"></script>
{% endblock javascript %}

{% endblock content %}
