<table class="bordered highlight">
    <thead>
    <tr>
        <th class="th-rh" width="20">#</th>
        <th class="th-rh right-align">{{ 'label.perecivel.lote'|trans }}</th>
        <th class="th-rh right-align">{{ 'label.perecivel.dtFabricacao'|trans }}</th>
        <th class="th-rh right-align">{{ 'label.perecivel.dtValidade'|trans }}</th>
        <th class="th-rh right-align">{{ 'label.perecivel.saldoLote'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for perecivel in pereciveis %}
        <tr id="perecivel_{{ loop.index0 }}">
            <td class="td-rh right-align">{{ loop.index }}</td>
            <td class="td-rh right-align">{{ perecivel.lote }}</td>
            <td class="td-rh right-align">{{ perecivel.dtFabricacao|date('d/m/Y') }}</td>
            <td class="td-rh right-align">{{ perecivel.dtValidade|date('d/m/Y') }}</td>
            <td class="td-rh right-align">{{ perecivel.saldoLote|number_format(4, ',', '.') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
