{% extends "base_home_cards.html.twig" %}
{% block content %}
<div class="container">
    <div class="container">
        <h4 class="blue-text text-darken-4">Configuração de Contrato</h4>
        <div class="divider grey title-divider"><p>1</p></div>
    </div>
    <div class="container">
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_recursos_humanos_pessoal_tipo_admissao_list')}}">
                    <h6><i class="mdi mdi-account-settings-variant large"></i></h6>
                    <h6 class="truncate center">Tipo de Admissão</h6>
                </a>
                {#<p class="text-cardicon left-align">Configure os tipos de admissões que o servidor poderá ter em seu contrato. O tipo de admissão é a condição de ingresso do servidor na prefeitura. Para inclusão, basta informar sua descrição.</p>#}
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_recursos_humanos_pessoal_tipo_admissao_create')}}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                </h5>
                <h5 class="right">
                    <a href="{{ path('urbem_recursos_humanos_pessoal_tipo_admissao_list')}}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_recursos_humanos_pessoal_vinculo_empregaticio_list')}}">
                    <h6><i class="mdi mdi-account-switch large"></i></h6>
                    <h6 class="truncate center">Vínculo Empregatício</h6>
                </a>
                {#<p class="text-cardicon left-align">O Vínculo Empregatício é a característica da relação entre o servidor e a prefeitura. Neste momento é realizado seu cadastro, alteração, exclusão ou visualização. Para associá-lo á um contrato de servidor, vá até a funcionalidade de Gerenciar Servidor.</p>#}
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_recursos_humanos_pessoal_vinculo_empregaticio_create')}}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                </h5>
                <h5 class="right">
                    <a href="{{ path('urbem_recursos_humanos_pessoal_vinculo_empregaticio_list')}}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_recursos_humanos_pessoal_categoria_list')}}">
                    <h6><i class="mdi mdi-lan large"></i></h6>
                    <h6 class="truncate center">Categoria</h6>
                </a>
                {#<p class="text-cardicon left-align">A Categoria serve para classificar o servidor perante o contrato na prefeitura. Cadastre, altere, exclua ou visualize as categorias existentes e associe a categoria desejada no Gerenciador de Servidor.</p>#}
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_recursos_humanos_pessoal_categoria_create')}}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                </h5>
                <h5 class="right">
                    <a href="{{ path('urbem_recursos_humanos_pessoal_categoria_list')}}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_recursos_humanos_pessoal_classificacao_agentes_nocivos_list')}}">
                    <h6><i class="mdi mdi-account-alert large"></i></h6>
                    <h6 class="truncate center">Classificação dos agentes nocivos</h6>
                </a>
                {#<p class="text-cardicon left-align">Aqui você caracteriza a qualificação dos agentes nocivos referente à contratação do servidor.</p>#}
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_recursos_humanos_pessoal_classificacao_agentes_nocivos_create')}}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                </h5>
                <h5 class="right">
                    <a href="{{ path('urbem_recursos_humanos_pessoal_classificacao_agentes_nocivos_list')}}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                </h5>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
