{% if admin.contaCorrenteConvenios|length > 0 %}
<td colspan="2">
    <h2 class="box-title left-align show">{{ 'label.monetarioConvenio.contaCorrente'|trans }}</h2>
    <div class="box box-primary">
        <div class="box-body">
            <table class="table show-table-horizontal">
                <thead>
                <tr>
                    <th>{{ 'label.monetarioContaCorrenteConvenio.codBanco'|trans }}</th>
                    <th>{{ 'label.monetarioContaCorrenteConvenio.codAgencia'|trans }}</th>
                    <th>{{ 'label.monetarioContaCorrenteConvenio.codContaCorrente'|trans }}</th>
                    <th>{{ 'label.monetarioContaCorrenteConvenio.variacao'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in admin.contaCorrenteConvenios %}
                    <tr class="sonata-ba-view-container">
                        <td>{{ item.codBanco }}</td>
                        <td>{{ item.codAgencia }}</td>
                        <td>{{ item.codContaCorrente }}</td>
                        <td>{{ item.variacao }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</td>
{% endif %}
