{% if admin.request.requestUri matches "{\/(delete)}" == false and admin.request.requestUri matches "{\/(list)}" == false and admin.request.requestUri matches "{\/(show)}" == false %}
    <div class="row">
        <div class="box box-primary">
            <div class="box-header col s12">
                <h2 class="col s12 box-title left-align show">
                    {{ 'label.manutencaoProposta.manutencaoProposta'|trans }}
                </h2>
                <div class="divider grey title-divider"></div>
            </div>
            <div class="box-body">
                <div class="col s12">
                    <table class="table show-table">
                        <tbody>
                        <tr class="sonata-ba-view-container">
                            <th>{{ 'label.patrimonial.licitacao.codLicitacao'|trans }}</th>
                            <td>{{ admin.proposta.codLicitacao ~ "/" ~ admin.proposta.exercicio }}</td>
                        </tr>
                        <tr class="sonata-ba-view-container">
                            <th>{{ 'label.manutencaoProposta.codEntidade'|trans }}</th>
                            <td>{{ admin.proposta.fkOrcamentoEntidade }}</td>
                        </tr>
                        <tr class="sonata-ba-view-container">
                            <th>{{ 'label.manutencaoProposta.codMapa'|trans }}</th>
                            <td>{{ admin.proposta.fkComprasMapa }}</td>
                        </tr>
                        <tr class="sonata-ba-view-container">
                            <th>{{ 'label.manutencaoProposta.objeto'|trans }}</th>
                            <td>{{ admin.proposta.fkComprasObjeto }}</td>
                        </tr>
                        <tr class="sonata-ba-view-container">
                            <th>{{ 'label.manutencaoProposta.codModalidade'|trans }}</th>
                            <td>{{ admin.proposta.fkComprasModalidade }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endif %}
