<div>
    <div class="box box-primary">
        <div class="box-body  no-padding">
            {% if admin.aliquota|length > 0 %}
            <table class="table show-table">
                <tbody>
                <tr>
                    <td class="box-title left-align" colspan="2"><b>{{ 'label.imobiliarioEdificacao.valoresM2'|trans }}</b></td>
                </tr>
                <tr class="sonata-ba-view-container">
                    <th>{{ 'label.imobiliarioEdificacao.valorTerritorial'|trans }}</th>
                    <td>{{ admin.aliquota.aliquotaTerritorial }}</td>
                </tr>
                <tr class="sonata-ba-view-container">
                    <th>{{ 'label.imobiliarioEdificacao.valorPredial'|trans }}</th>
                    <td>{{ admin.aliquota.aliquotaPredial }}</td>
                </tr>
                <tr class="sonata-ba-view-container">
                    <th>{{ 'label.imobiliarioEdificacao.inicioVigencia'|trans }}</th>
                    <td>{{ admin.aliquota.dtVigencia|date("d/m/Y") }}</td>
                </tr>
                <tr class="sonata-ba-view-container">
                    <th>{{ 'label.imobiliarioEdificacao.fundamentacaoLegalAliquota'|trans }}</th>
                    <td>{{ admin.aliquotaNorma }}</td>
                </tr>
                </tbody>
            </table>
            {% endif %}
            {% if admin.valorM2|length > 0 %}
            <table class="table show-table">
                <tbody>
                <tr>
                    <td class="box-title left-align" colspan="2"><b>{{ 'label.imobiliarioEdificacao.aliquotas'|trans }}</b></td>
                </tr>
                <tr class="sonata-ba-view-container">
                    <th>{{ 'label.imobiliarioEdificacao.valorTerritorial'|trans }}</th>
                    <td>{{ admin.valorM2.valorM2Territorial }}</td>
                </tr>
                <tr class="sonata-ba-view-container">
                    <th>{{ 'label.imobiliarioEdificacao.valorPredial'|trans }}</th>
                    <td>{{ admin.valorM2.valorM2Predial }}</td>
                </tr>
                <tr class="sonata-ba-view-container">
                    <th>{{ 'label.imobiliarioEdificacao.inicioVigencia'|trans }}</th>
                    <td>{{ admin.valorM2.dtVigencia|date("d/m/Y") }}</td>
                </tr>
                <tr class="sonata-ba-view-container">
                    <th>{{ 'label.imobiliarioEdificacao.fundamentacaoLegalAliquota'|trans }}</th>
                    <td>{{ admin.valorM2Norma }}</td>
                </tr>
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
