<div class="col s12">
    <div class="col s1 right" style="margin-top: 10px">
        <span class="icon-input">
            <i class="material-icons">add_circle</i>
        </span>
        <input class="white-text blue darken-4 btn btn-success save col s12" type="button" name="manuais" id="manuais" value="Incluir">
    </div>
</div>
<div class="col s12 eventos">
    <h3 class="col s10 box-title left-align show">{{ 'label.recursosHumanos.folhas.folhaSalario.listaEventos'|trans }}</h3>
    <div class="divider grey lighten-1  title-divider"></div>
    <table id="tableEventos" class="bordered highlight" style="width:100%">
        <tr class="tr-rh">
            <th class="th-rh" style="width: 10%">{{ 'label.recursosHumanos.folhas.folhaSalario.codigo'|trans }}</th>
            <th class="th-rh" style="width: 30%">{{ 'label.recursosHumanos.folhas.folhaSalario.evento'|trans }}</th>
            <th class="th-rh" style="width: 10%">{{ 'label.recursosHumanos.folhas.folhaSalario.prop'|trans }}</th>
            <th class="th-rh" style="width: 10%">{{ 'label.recursosHumanos.folhas.folhaSalario.valor'|trans }}</th>
            <th class="th-rh" style="width: 20%">{{ 'label.recursosHumanos.folhas.folhaSalario.quantidade'|trans }}</th>
            <th class="th-rh" style="width: 10%">{{ 'label.recursosHumanos.folhas.folhaSalario.quantidadeParcelas'|trans }}</th>
            <th class="th-rh" style="width: 10%">{{ 'label.acao'|trans }}</th>
        </tr>
        <tr class="tr-rh row-modelo-eventos" style="display:none;">
            <td class="td-rh codigo" style="width: 10%">
                <input type="hidden" class="imput-eventos" name="eventos[]" />
            </td>
            <td class="td-rh evento" style="width: 30%"></td>
            <td class="td-rh prop" style="width: 10%"></td>
            <td class="td-rh valor" style="width: 10%"></td>
            <td class="td-rh quantidade" style="width: 20%"></td>
            <td class="td-rh quantidadeParcelas" style="width: 10%"></td>
            <td class="td-rh remove" style="width: 10%"><i class="material-icons blue-text text-darken-4">delete</i></td>
        </tr>
        <tr class="tr-rh empty-row-eventos">
            <td colspan="10">{{ 'listagemVazia'|trans }}</td>
        </tr>
    </table>
    <table>
        <tr class="tr-rh">
            <th class="th-rh" colspan="7" style="text-align: left !important;">{{ 'label.recursosHumanos.folhas.folhaSalario.somatorioLancamentos'|trans }}</th>
        </tr>
        <tr class="tr-rh row-modelo-eventos-somatorio">
            <td class="td-rh soma" style="width: 100%"></td>
            <td class="td-rh" style="width: 30%"></td>
            <td class="td-rh" style="width: 10%"></td>
            <td class="td-rh valor-soma" style="width: 10%"></td>
            <td class="td-rh quantidade-soma" style="width: 20%"></td>
            <td class="td-rh quantidadeParcelas-soma" style="width: 10%"></td>
            <td class="td-rh" style="width: 10%"></td>
        </tr>
    </table>
</div>
