{% extends "base.html.twig" %}
{% block content %}
<div class="container-rh">
    <div class="row">
        <div class="col s5">
            <h4 class="blue-text text-darken-4">Registre</h4>
        </div>
        <div class="col s2">
            <h4 class="blue-text text-darken-4"></h4>
        </div>
        <div class="col s5">
            <h4 class="blue-text text-darken-4">Consulte</h4>
        </div>
        <div class="col s5 divider">
        </div>
        <div class="col s2">
            <h4 class="blue-text text-darken-4"></h4>
        </div>
        <div class="col s5 divider">
        </div>
    </div>

    <div class="row">

        <div class="col s5">

            <div class="row">
               <div class="col s2 center-align">
                    <a class="serv-btn btn-floating waves-effect waves-light blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Registrar"><i class="material-icons">attach_money</i></a>
                </div>
                <div class="col s10">
                    <h5 class="blue-text text-darken-4"><a href="{{ path('folha_pagamento_folha_salario_reabrir_fechar_index') }}">Folha de Salário</a></h5>
                    <p> sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s2 center-align">
                    <a class="serv-btn btn-floating waves-effect waves-light blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Registrar"><i class="material-icons">assignment_turned_in</i></a>
                </div>
                <div class="col s10">
                    <h5 class="blue-text text-darken-4"><a href="{{ path('folha_pagamento_folha_salario_registrar_evento_contrato_index') }}">Evento por Contrato</a></h5>
                    <p> sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s2 center-align">
                    <a class="serv-btn btn-floating waves-effect waves-light blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Registrar"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
                </div>
                <div class="col s10">
                    <h5 class="blue-text text-darken-4"><a href="{{ path('folha_pagamento_folha_salario_registrar_importar_lote_index') }}">Lote Eventos</a></h5>
                    <p> sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s2 center-align">
                    <a class="serv-btn btn-floating waves-effect waves-light blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Registrar"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
                </div>
                <div class="col s10">
                    <h5 class="blue-text text-darken-4"><a href="#">Registrar/Importar Lote Eventos/Matrículas</a></h5>
                    <p> sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
            </div>
        </div>
        <div class="col s2">
            <p></p>
        </div>
        <div class="col s5">
            
            <div class="row">
                <div class="col s2 center-align">
                    <a class="serv-btn btn-floating waves-effect waves-light blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Consultar"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                </div>
                <div class="col s10">
                    <h5 class="blue-text text-darken-4"><a href="#">Ficha Financeira</a></h5>
                    <p> sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s2 center-align">
                    <a class="serv-btn btn-floating waves-effect waves-light blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Consultar"><i class="material-icons">assignment_turned_in</i></a>
                </div>
                <div class="col s10">
                    <h5 class="blue-text text-darken-4"><a href="{{ path('folha_pagamento_folha_salario_consultar_registro_eventos_index') }}">Registro de Eventos</a></h5>
                    <p> sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s2 center-align">
                    <a class="serv-btn btn-floating waves-effect waves-light blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Consultar"><i class="fa fa-calculator" aria-hidden="true"></i></a>
                </div>
                <div class="col s10">
                    <h5 class="blue-text text-darken-4"><a href="{{ path('folha_pagamento_folha_salario_calcular_salario_index') }}">Cálculo de Salário</a></h5>
                    <p> sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s2 center-align">
                    <a class="serv-btn btn-floating waves-effect waves-light blue darken-4"><i class="fa fa-calculator" aria-hidden="true"></i></a>
                </div>
                <div class="col s10">
                    <h5 class="blue-text text-darken-4"><a href="{{ path('urbem_recursos_humanos_folha_pagamento_folha_situacao_create') }}" class="tooltipped" data-position="left" data-delay="50" data-tooltip="Cálculo">Fechar/Reabrir Folha de Salário</a></h5>
                    <p> sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s2 center-align">
                    <a class="serv-btn btn-floating waves-effect waves-light blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Consultar"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                </div>
                <div class="col s10">
                    <h5 class="blue-text text-darken-4"><a href="#">Consultar Registros de Evento</a></h5>
                    <p> sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
            </div>
        </div>
    </div>    
</div>
{% endblock content %}
