{% if object.fkLicitacaoConvenioAnulado is not null %}
    <hr>
    {# Convênio Anulado #}
    <div class="row">
        <div class="col s12 profile-box">
            <h2 class="blue-text text-darken-4 left">
                <i class="fa fa-ban fa-lg left grey-text" aria-hidden="true"></i>
                <span style="padding-top: 10px">{{ 'label.convenioAdmin.anulacao'|trans }}</span>
            </h2>
            <p class="divider grey col s12"></p>
            <div class="col s6 little1-box">
                <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.convenioAdmin.anulado.justificativa'|trans }}</h6>
                <h6 class="col s12 grey-text text-darken-1">{{ object.fkLicitacaoConvenioAnulado.justificativa }}</h6>
            </div>
            <div class="col s3 little-box">
                <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.convenioAdmin.anulado.dtAnulacao'|trans }}</h6>
                <h6 class="col s12 grey-text text-darken-1">{{ object.fkLicitacaoConvenioAnulado.dtAnulacao|date('d/m/Y') }}</h6>
            </div>
        </div>
    </div>
{% endif %}
