{% extends "base.html.twig" %}
{% block content %}
    <div class="container-rh">
        <div class="col s12 title-edit box-title-rh">
            <h5>{{ 'label.implantacaoSaldo.filtro'|trans }}</h5>
            <div class="divider grey title-divider"><p>1</p></div>
        </div>
        {{ form_start(form, {'attr' : {'class': 'form-implantacao-saldo'}}) }}
        <div class="row">
            <div class="col s12 m6 l5 offset-l2 field-filtro select-filtro campo-select2">
                {{ form_label(form.codEntidade, null, {'label_attr': {'class': 'control-label label-rh-select'}}) }}
                {{ form_widget(form.codEntidade, {'attr': {'class': 'white input-rh-without-border browser-default form-control'}}) }}
                {{ form_errors(form.codEntidade) }}
            </div>
            <div class="col s12 m6 l5 field-filtro select-filtro campo-select2">
                {{ form_label(form.codGrupo, null, {'label_attr': {'class': 'control-label label-rh-select'}}) }}
                {{ form_widget(form.codGrupo, {'attr': {'class': 'white input-rh-without-border browser-default form-control'}}) }}
                {{ form_errors(form.codGrupo) }}
            </div>
            <div class="col s12 m12 l2">
                <label>{{ 'label.implantacaoSaldo.codigoReduzido'|trans }}</label>
            </div>
            <div class="col s12 m6 l5 campo-select2">
                {{ form_label(form.codContaDe, null, {'label_attr': {'class': 'control-label label-rh-select'}}) }}
                {{ form_widget(form.codContaDe, {'attr': {'class': 'white input-rh-without-border browser-default form-control'}}) }}
                {{ form_errors(form.codContaDe) }}
            </div>
            {#<div class="col s12 m6 l5 initial field-filtro">#}
            <div class="col s12 m6 l5 campo-select2">
                {{ form_label(form.codContaAte, null, {'label_attr': {'class': 'control-label label-rh-select'}}) }}
                {{ form_widget(form.codContaAte, {'attr': {'class': 'white input-rh-without-border browser-default form-control'}}) }}
                {{ form_errors(form.codContaAte) }}
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l12">
                <button type="submit" class="waves-effect waves-light btn blue darken-4 btn btn-success save right" name="btn_update_and_list"><i class="material-icons left">send</i>Avançar</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock content %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('/bundles/financeiro/javascripts/contabilidade/lancamentocontabil/implantacaosaldo/index.js') }}"></script>
{% endblock javascripts %}
