<table class="table show-table">
    <thead>
        <tr>
            <th>{{ 'label.EmpresaDireitoSociedadeAdmin.codigo'|trans }}</th>
            <th>{{ 'label.EmpresaDireitoSociedadeAdmin.nome'|trans }}</th>
            <th>{{ 'label.EmpresaDireitoSociedadeAdmin.quota'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in admin.empresaDireito.getFkEconomicoSociedades() %}
            <tr class="sonata-ba-view-container">
                <td>
                    <span>{{ item.getNumcgm() }}</span>
                </td>
                <td>
                    <span>{{ item.getFkSwCgm().getNomCgm() }}</span>
                </td>
                <td>
                    <span>{{ item.getQuotaSocio()|number_format(2, ',', '.') }}</span>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
