<table class="table show-table js-lista-licenca-table">
    <thead>
        <tr>
            <th>{{ 'label.economicoConsultaCadastroEconomico.exercicio'|trans }}</th>
            <th>{{ 'label.economicoConsultaCadastroEconomico.codigo'|trans }}</th>
            <th>{{ 'label.economicoConsultaCadastroEconomico.especie'|trans }}</th>
            <th>{{ 'label.economicoConsultaCadastroEconomico.modelo'|trans }}</th>
            <th>{{ 'label.economicoConsultaCadastroEconomico.processo'|trans }}</th>
            <th>{{ 'label.economicoConsultaCadastroEconomico.dtInicio'|trans }}</th>
            <th>{{ 'label.economicoConsultaCadastroEconomico.dtTermino'|trans }}</th>
            <th>{{ 'label.economicoConsultaCadastroEconomico.situacao'|trans }}</th>
            <th>{{ 'label.economicoConsultaCadastroEconomico.acoes'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for licenca in admin.licencas %}
            <tr class="sonata-ba-view-container">
                <td>
                    <span>{{ licenca['exercicio'] }}</span>
                </td>
                <td>
                    <span>{{ licenca['cod_licenca'] }}</span>
                </td>
                <td>
                    <span>{{ licenca['especie_licenca'] }}</span>
                </td>
                <td>
                    <span>{{ licenca['nome_documento'] }}</span>
                </td>
                <td>
                    <span>{{ licenca['processo'] }}</span>
                </td>
                <td>
                    <span>{{ licenca['dt_inicio'] }}</span>
                </td>
                <td>
                    <span>{{ licenca['dt_termino'] }}</span>
                </td>
                <td>
                    <span>{{ licenca['situacao'] }}</span>
                </td>
                <td>
                    <a href="#" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list js-consulta-licenca" data-toggle="tooltip" data-placement="bottom" title="{{ 'label.economicoConsultaCadastroEconomico.consultar'|trans }}" data-cod-licenca="{{ licenca['cod_licenca'] }}" data-exercicio="{{ licenca['exercicio'] }}">
                        <i class="fa fa-search fa-lg"></i>
                    </a>

                    <a href="#" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list js-consulta-licenca-voltar" data-toggle="tooltip" data-placement="bottom" title="{{ 'label.economicoConsultaCadastroEconomico.voltar'|trans }}" style="display:none">
                        <i class="fa fa-arrow-left fa-lg"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="js-lista-licenca-atividade-container" style="display:none">
    <h2 class="col s10 box-title left-align show">
        {{ 'label.economicoConsultaCadastroEconomico.cabecalhoListaAtividades'|trans }}
    </h2>

    <table class="table show-table js-lista-licenca-atividade-table">
        <thead>
            <tr>
                <th></th>
                <th>{{ 'label.economicoConsultaCadastroEconomico.codigo'|trans }}</th>
                <th>{{ 'label.economicoConsultaCadastroEconomico.nomeAtividade'|trans }}</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="js-lista-licenca-dias-semana-container" style="display:none">
    <h2 class="col s10 box-title left-align show">
        {{ 'label.economicoConsultaCadastroEconomico.cabecalhoListaHorarios'|trans }}
    </h2>

    <table class="table show-table js-lista-licenca-dias-semana-table">
        <thead>
            <tr>
                <th></th>
                <th>{{ 'label.economicoConsultaCadastroEconomico.diaSemana'|trans }}</th>
                <th>{{ 'label.economicoConsultaCadastroEconomico.hrInicio'|trans }}</th>
                <th>{{ 'label.economicoConsultaCadastroEconomico.hrTermino'|trans }}</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
