{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<a href="{{ path('urbem_tributario_economico_cadastro_economico_consulta_empresa', { 'id': object.getInscricaoEconomica() }) }}" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list" data-toggle="tooltip" data-placement="bottom" title="{{ 'label.economicoConsultaCadastroEconomico.empresa'|trans }}">
    <i class="fa fa-search-plus fa-lg"></i>
</a>

<a href="{{ path('urbem_tributario_economico_cadastro_economico_consulta_responsavel', { 'id': object.getInscricaoEconomica() }) }}" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list" data-toggle="tooltip" data-placement="bottom" title="{{ 'label.economicoConsultaCadastroEconomico.responsavel'|trans }}">
    <i class="fa fa-user fa-lg"></i>
</a>

<a href="{{ path('urbem_tributario_economico_cadastro_economico_consulta_atividade', { 'id': object.getInscricaoEconomica() }) }}" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list" data-toggle="tooltip" data-placement="bottom" title="{{ 'label.economicoConsultaCadastroEconomico.atividade'|trans }}">
    <i class="fa fa-bar-chart fa-lg"></i>
</a>

<a href="{{ path('urbem_tributario_economico_cadastro_economico_consulta_licenca', { 'id': object.getInscricaoEconomica() }) }}" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list" data-toggle="tooltip" data-placement="bottom" title="{{ 'label.economicoConsultaCadastroEconomico.licenca'|trans }}">
    <i class="fa fa-unlock fa-lg"></i>
</a>
