<table class="table show-table">
    <thead>
        <tr>
            <th>{{ 'label.economicoConsultaCadastroEconomico.processo'|trans }}</th>
            <th>{{ 'label.economicoConsultaCadastroEconomico.data'|trans }}</th>
            <th>{{ 'label.economicoConsultaCadastroEconomico.hora'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in admin.cadastroEconomico.getFkEconomicoProcessoCadastroEconomicos() %}
            <tr class="sonata-ba-view-container">
                <td>
                    <span>{{ '%s / %s / %s'|format(item.getFkSwProcesso().getFkSwAssunto().getFkSwClassificacao(), item.getFkSwProcesso().getFkSwAssunto(), item.getFkSwProcesso()) }}</span>
                </td>
                <td>
                    <span>{{ item.getFkSwProcesso().getTimestamp().format('d/m/Y') }}</span>
                </td>
                <td>
                    <span>{{ item.getFkSwProcesso().getTimestamp().format('H:i') }}</span>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
