<tr class="sonata-ba-view-container">
	<th>{{ 'label.economicoConsultaCadastroEconomico.responsavelContabil'|trans }}</th>
	<td>{{ admin.responsavelContabil ? admin.responsavelContabil.getFkSwCgm() : '-' }}</td>
</tr>

<tr class="sonata-ba-view-container">
	<th>{{ 'label.economicoConsultaCadastroEconomico.profissao'|trans }}</th>
	<td>{{ admin.responsavelContabil ? admin.responsavelContabil.getFkCseProfissao().getNomProfissao() : '-' }}</td>
</tr>

<tr class="sonata-ba-view-container">
	<th>{{ 'label.economicoConsultaCadastroEconomico.registro'|trans }}</th>
	<td>{{ admin.responsavelContabil ? "%s - %s"|format(admin.responsavelContabil.getNumRegistro(), admin.responsavelContabil.getFkSwUf().getSiglaUf()) : '-' }}</td>
</tr>
