{% extends "base_home_cards.html.twig" %}
{% block content %}
    <div class="container">
        <div class="container">
            <h4 class="blue-text text-darken-4"> Organograma</h4>
            <div class="divider grey title-divider"><p>1</p></div>
        </div>
        <div class="container">
            <div class="col s6 m6 l4">
                <div class="card-panel col s12 hoverable center">
                    <a href="{{ path('urbem_administrativo_organograma_organograma_list') }}">
                        <h6><i class="mdi mdi-file-tree large"></i></h6>
                        <h6 class="truncate center">Organograma</h6>
                    </a>
                    <p class="text-cardicon left-align">Configurar Organograma</p>
                    <div class="divider col s12"></div>
                    <h5 class="left">
                        <a href="{{ path('urbem_administrativo_organograma_organograma_create') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                    </h5>
                    <h5 class="right">
                        <a href="{{ path('urbem_administrativo_organograma_organograma_list') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                    </h5>
                </div>
            </div>
            <div class="col s6 m6 l4">
                <div class="card-panel col s12 hoverable center">
                    <a href="{{ path('urbem_administrativo_organograma_de_para_orgao_create') }}">
                        <h6><i class="mdi mdi-exit-to-app large"></i></h6>
                        <h6 class="truncate center">Migrar Organograma</h6>
                    </a>
                    <p class="text-cardicon left-align">Configurar Migração do Organograma</p>
                    <div class="divider col s12"></div>
                    <h5 class="left">
                        <a href="{{ path('urbem_administrativo_organograma_de_para_orgao_create') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                    </h5>
                </div>
            </div>
            <div class="col s6 m6 l4">
                <div class="card-panel col s12 hoverable center grey-text">
                    <a href="#" class="grey-text">
                        <h6><i class="grey-text fa fa-spinner large" aria-hidden="true"></i></h6>
                        <h6 class="truncate center grey-text">Processar Migração</h6>
                    </a>
                    <p class="text-cardicon grey-text left-align">Processar Migração do Organograma</p>
                    <div class="divider col s12"></div>
                    <h5 class="left">
                        <a href="#" class="grey-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                    </h5>
                    <h5 class="right">
                        <a href="#" class="tooltipped grey-text" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
