{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if value|length > 0 %}
        <table class="">
            <thead>
            <tr class="sonata-ba-list-field-header">
                <th class="sonata-ba-list-field-header-text th-reducao" style="text-align: center !important; background-color: #dbdbdb !important;">{{ 'label.tabelaConversao.condicaoParametro1'|trans }}</th>
                <th class="sonata-ba-list-field-header-text th-reducao" style="text-align: center !important; background-color: #dbdbdb !important;">{{ 'label.tabelaConversao.condicaoParametro2'|trans }}</th>
                <th class="sonata-ba-list-field-header-text th-reducao" style="text-align: center !important; background-color: #dbdbdb !important;">{{ 'label.tabelaConversao.condicaoParametro3'|trans }}</th>
                <th class="sonata-ba-list-field-header-text th-reducao" style="text-align: center !important; background-color: #dbdbdb !important;">{{ 'label.tabelaConversao.condicaoParametro4'|trans }}</th>
                <th class="sonata-ba-list-field-header-text th-reducao" style="text-align: center !important; background-color: #dbdbdb !important;">{{ 'label.tabelaConversao.valor'|trans }}</th>
            </thead>
            <tbody>
            {% for tabelaConversaoValor in value %}
                <tr class="tr-rh">
                    <td>{{ tabelaConversaoValor.parametro1 }}</td>
                    <td>{{ tabelaConversaoValor.parametro2 }}</td>
                    <td>{{ tabelaConversaoValor.parametro3 }}</td>
                    <td>{{ tabelaConversaoValor.parametro4 }}</td>
                    <td>{{ tabelaConversaoValor.valor }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        -
    {% endif %}
{% endblock %}