<table class="table show-table">
    <tbody>
    <tr class="sonata-ba-view-container">
        <td class="text-center" style="font-weight: bold; color: #616161;">{{ 'label.codigo'|trans }}</td>
        <td class="text-center" style="font-weight: bold; color: #616161;">{{ 'label.descricao'|trans }}</td>
        <td class="text-center" style="font-weight: bold; color: #616161;">{{ 'label.consultarEmpenho.saldoAtual'|trans }}</td>
    </tr>
    {% if field.options.data.itens is not empty %}
        {% for key, item in field.options.data.itens %}
        <tr class="sonata-ba-view-container">
            <td class="td-rh text-center">{{ item.codigo }}</td>
            <td class="td-rh">{{ item.entidade }}</td>
            <td class="td-rh text-center">{{ (item.saldo) ? 0 : '0,00' }}</td>
        </tr>
        {% endfor %}
    {% else %}
        <tr class="sonata-ba-view-container">
            <td class="td-rh text-center"> - </td>
            <td class="td-rh text-center"> - </td>
            <td class="td-rh text-center"> - </td>
        </tr>
    {% endif %}
    </tbody>
</table>