<table class="table show-table">
    <thead>
    <tr>
        <th></th>
        <th>{{ 'label.dividaAtivaConsultaInscricao.lancamentos.exercicio'|trans }}</th>
        <th>{{ 'label.dividaAtivaConsultaInscricao.lancamentos.creditoGrupo'|trans }}</th>
        <th>{{ 'label.dividaAtivaConsultaInscricao.lancamentos.parcelas'|trans }}</th>
        <th>{{ 'label.dividaAtivaConsultaInscricao.lancamentos.valorLancado'|trans }}</th>
        <th>{{ 'label.dividaAtivaConsultaInscricao.lancamentos.valorAtualizado'|trans }}</th>
    </tr>
    </thead>
</table>
