{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<a href="{{ admin.generateObjectUrl('detalhe', object ) }}" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list" data-toggle="tooltip" data-placement="bottom" title="{{ 'label.dividaAtivaConsultaInscricao.consulta'|trans }}">
    <i class="fa fa-search-plus fa-lg"></i>
</a>

<a href="{{ admin.generateObjectUrl('documento', object ) }}" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list" data-toggle="tooltip" data-placement="bottom" title="{{ 'label.dividaAtivaConsultaInscricao.documento'|trans }}">
    <i class="fa fa-book fa-lg"></i>
</a>

<a href="{{ admin.generateObjectUrl('relatorio', object ) }}" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list" data-toggle="tooltip" data-placement="bottom" title="{{ 'label.dividaAtivaConsultaInscricao.relatorio'|trans }}">
    <i class="fa fa-file-text fa-lg"></i>
</a>
