<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>{{ 'label.dividaAtivaConsultaInscricao.documentos.documento'|trans }}</th>
        <th>{{ 'label.dividaAtivaConsultaInscricao.documentos.emissao'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for documento in admin.documentosSemCobranca %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ documento.cod_documento ~ ' - ' ~ documento.nome_documento }}</td>
            <td>{{ documento.dt_emissao }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
