<div class="container header">
    <div class="row">
        <div class="coluna1">
            <p><strong>{{ dadosAutorizacao.nomEntidade }}</strong></p>
            <p><span class="label">Fone/Fax:</span> {{ dadosAutorizacao.foneEntidade }} / </p>
            <p><span class="label">E-mail:</span> {{ dadosAutorizacao.emailEntidade }}</p>
            <p><span class="label">{{ dadosAutorizacao.logradouro }}</p>
            <p><span class="label">CEP:</span> {{ dadosAutorizacao.cepEntidade }}</p>
            <p><span class="label">CNPJ:</span> {{ dadosAutorizacao.cnpjEntidade }}</p>
        </div>
        <div class="col-s6 coluna2">
            <table>
                <tbody>
                    <tr><td colspan="2"><strong>{{ modulo }}</strong></td><td><strong>Versão: {{ versao }}</strong></td></tr>
                    <tr><td colspan="2"><strong>{{ subModulo }}</strong></td><td><strong>Usuário: {{ usuario.username }}</strong></td></tr>
                    <tr><td colspan="3"><strong>{{ funcao }}</strong></td></tr>
                    <tr><td colspan="3">{{ nomRelatorio }}</td></tr>
                    <tr><td colspan="3">Emissão: {{ emissaoDocumento|date("d/m/Y") }}</td><td>Hora: {{ emissaoDocumento|date("h:i:s") }}</tr>
                </tbody>
            </table>
        </div>
        <div class="col-s6 coluna2"></div>
    </div>
</div
