{% extends "base_home_cards.html.twig" %}
{% block content %}
    <div class="container">
        <div class="container">
            <h4 class="blue-text text-darken-4">Saídas</h4>
            <div class="divider grey title-divider"><p>1</p></div>
        </div>
        <div class="container">
            <div class="col s6 m6 l4 center">
                <div class="card-panel col s12 hoverable">
                    <a href="{{ path('urbem_patrimonial_almoxarifado_saida_devolucao_requisicao_list') }}">
                        <h6><i class="fa fa-external-link large" aria-hidden="true"></i></h6>
                        <h5 class="truncate">Requisição</h5>
                    </a>
                    <p></p>
                    <div class="divider col s12"></div>
                    <h5 class="right">
                        <a href="{{ path('urbem_patrimonial_almoxarifado_saida_devolucao_requisicao_list') }}"
                           class="tooltipped"
                           data-position="bottom"
                           data-delay="50"
                           data-tooltip="{{ 'procurar'|trans }}">
                            <i class="material-icons">&#xE8B6;</i>
                        </a>
                    </h5>
                </div>
            </div>
            <div class="col s6 m6 l4 center">
                <div class="card-panel col s12 hoverable">
                    <a href="{{ path('urbem_patrimonial_almoxarifado_saida_autorizacao_abastecimento_list')}}">
                        <h6><i class="mdi mdi-gas-station large"></i></h6>
                        <h5 class="truncate">Autorização de Abastecimentos</h5>
                    </a>
                    <p></p>
                    <div class="divider col s12"></div>
                    <h5 class="right">
                        <a href="{{ path('urbem_patrimonial_almoxarifado_saida_autorizacao_abastecimento_list') }}"
                           class="tooltipped"
                           data-position="bottom"
                           data-delay="50"
                           data-tooltip="{{ 'procurar'|trans }}">
                            <i class="material-icons">&#xE8B6;</i>
                        </a>
                    </h5>
                </div>
            </div>
            <div class="col s6 m6 l4 center">
                <div class="card-panel col s12 hoverable">
                    <a href="{{ path('urbem_patrimonial_almoxarifado_saida_transferencia_list') }}">
                        <h6><i class="fa fa-exchange large" aria-hidden="true"></i></h6>
                        <h5 class="truncate">Saida por Transferência</h5>
                    </a>
                    <p></p>
                    <div class="divider col s12"></div>
                    <h5 class="right">
                        <a href="{{ path('urbem_patrimonial_almoxarifado_saida_transferencia_list') }}"
                           class="tooltipped"
                           data-position="bottom"
                           data-delay="50"
                           data-tooltip="{{ 'procurar'|trans }}">
                            <i class="material-icons">&#xE8B6;</i>
                        </a>
                    </h5>
                </div>
            </div>
            <div class="col s6 m6 l4 center">
                <div class="card-panel col s12 hoverable">
                    <a href="{{ path('urbem_patrimonial_almoxarifado_saida_estorno_list') }}">
                        <h6><i class="fa fa-sign-in large" aria-hidden="true"></i></h6>
                        <h5 class="truncate">Estorno de Entrada</h5>
                    </a>
                    <p></p>
                    <div class="divider col s12"></div>
                    <h5 class="right">
                        <a href="{{ path('urbem_patrimonial_almoxarifado_saida_estorno_list') }}"
                           class="tooltipped"
                           data-position="bottom"
                           data-delay="50"
                           data-tooltip="{{ 'procurar'|trans }}">
                            <i class="material-icons">&#xE8B6;</i>
                        </a>
                    </h5>
                </div>
            </div>
            <div class="col s6 m6 l4 center">
                <div class="card-panel col s12 hoverable">
                    <a href="{{ path('urbem_patrimonial_almoxarifado_saida_diversas_create') }}">
                        <h6><i class="fa fa-random large" aria-hidden="true"></i></h6>
                        <h5 class="truncate">Diversas</h5>
                    </a>
                    <p></p>
                    <div class="divider col s12"></div>
                    <h5 class="left">
                        <a href="{{ path('urbem_patrimonial_almoxarifado_saida_diversas_create') }}"
                           class="tooltipped"
                           data-position="bottom" data-delay="50" data-tooltip="{{ 'incluir'|trans }}">
                            <i class="material-icons">&#xE147;</i>
                        </a>
                    </h5>
                </div>
            </div>
            <div class="col s6 m6 l4 center">
                <div class="card-panel col s12 hoverable">
                    <a href="#">
                        <h6><i class="fa fa-expand large grey-text" aria-hidden="true"></i></h6>
                        <h5 class="truncate grey-text">Reemitir Saidas</h5>
                    </a>
                    <p></p>
                    <div class="divider col s12"></div>
                    <h5 class="right">
                        <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{ 'procurar'|trans }}"><i class="material-icons grey-text">&#xE8B6;</i></a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
