{% block field %}
    <div class="row">
        <div class="box box-primary">
            <div class="box-body">
                <div class="col s12">
                    <table class="table show-table">
                        <tbody>
                        <tr>
                            <th>{{ 'label.pagamentoEstorno.entidade'|trans }}</th>
                            <td>{{ field.data.entidade.numcgm.nomCgm }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'label.pagamentoEstorno.ordemPagamento'|trans }}</th>
                            <td>{{ field.data.object.ordem }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'label.pagamentoEstorno.dataEmissao'|trans }}</th>
                            <td>{{ field.data.ordem.dtEmissao|date('d/m/Y') }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'label.pagamentoEstorno.credor'|trans }}</th>
                            <td>{{ field.data.object.beneficiario }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'label.pagamentoEstorno.valorPago'|trans }}</th>
                            <td>{{ field.data.object.vlOrdem|number_format('2', ',', '.') }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'label.pagamentoEstorno.valorLiquido'|trans }}</th>
                            <td>{{ field.data.object.vlPrestado|number_format('2', ',', '.') }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock field %}
