{% set transferencia = field.data.transferenciaInfo %}
{% set tituloContaReceita = field.data.tituloContaReceita %}
<div class="sonata-ba-show">    <div class="sonata-ba-view">
        <div class="row">
            <div class=" ">
                <div class="box box-primary">
                    <div class="box-body  no-padding">
                        <table class="table show-table">
                            <tbody>
                                <tr class="sonata-ba-view-container">
                                    <th>Recibo</th>
                                    <td>{{ transferencia.codRecibo }}</td>
                                </tr>
                                <tr class="sonata-ba-view-container">
                                    <th>Lote</th>
                                    <td>{{ transferencia.lote }}</td>
                                </tr>
                                <tr class="sonata-ba-view-container">
                                    <th>Boletim</th>
                                    <td>{{ transferencia.boletim }}</td>
                                </tr>
                                <tr class="sonata-ba-view-container">
                                    <th>Data do Boletim</th>
                                    <td>{{ transferencia.dtBoletim|date("m/d/Y") }}</td>
                                </tr>
                                <tr class="sonata-ba-view-container">
                                    <th>Entidade</th>
                                    <td>{{ transferencia.entidade }}</td>
                                </tr>
                                <tr class="sonata-ba-view-container">
                                    <th>Credor</th>
                                    <td>{{ transferencia.credor }}</td>
                                </tr>
                                <tr class="sonata-ba-view-container">
                                    <th>Recurso</th>
                                    <td>{{ transferencia.recurso }}</td>
                                </tr>
                                <tr class="sonata-ba-view-container">
                                    <th>{{ tituloContaReceita }}</th>
                                    <td>{{ transferencia.contaReceita }}</td>
                                </tr>
                                <tr class="sonata-ba-view-container">
                                    <th>Conta Caixa/Bancos</th>
                                    <td>{{ transferencia.contaCreditoBanco }}</td>
                                </tr>
                                <tr class="sonata-ba-view-container">
                                    <th>Histórico</th>
                                    <td>{{ transferencia.historico }}</td>
                                </tr>
                                <tr class="sonata-ba-view-container">
                                    <th>Valor arrecadação</th>
                                    <td>{{ transferencia.valorFormated }}</td>
                                </tr>
                                <tr class="sonata-ba-view-container">
                                    <th>Valor estornado</th>
                                    <td>{{ transferencia.valorEstornadoFormated }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>