{% extends "base_home_cards.html.twig" %}
{% block content %}
    <div class="container">
        <div class="container">
            <h4 class="blue-text text-darken-4">Contrato Compras</h4>
            <div class="divider grey title-divider"><p>1</p></div>
        </div>
        <div class="container">
            <div class="col s6 m6 l6 center">
                <div class="card-panel col s12 hoverable">
                    <a href="{{ path('urbem_patrimonial_compras_contrato_list') }}">
                        <h6><i class="mdi mdi-book-multiple large"></i></h6>
                        <h5 class="truncate">Contrato Compras</h5>
                    </a>
                    <p></p>
                    <div class="divider col s12"></div>
                    <h5 class="left">
                        <a href="{{ path('urbem_patrimonial_compras_contrato_create') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                    </h5>
                    <h5 class="right">
                        <a href="{{ path('urbem_patrimonial_compras_contrato_list') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                    </h5>
                </div>
            </div>
            <div class="col s6 m6 l6 center">
                <div class="card-panel col s12 hoverable">
                    <a href="{{ path('urbem_patrimonial_contrato_apostila_list') }}">
                        <h6><i class="mdi mdi-book-open large"></i></h6>
                        <h5 class="truncate">Apostila de Contrato</h5>
                    </a>
                    <p></p>
                    <div class="divider col s12"></div>
                    <h5 class="right">
                        <a href="{{ path('urbem_patrimonial_contrato_apostila_list') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
