{% block form_row %}
    <div class="box-body no-padding">
        <table class="table show-table">
            <tbody>
                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.fkEmpenhoEmpenho) }}</th>
                    <td>
                        {{ form_widget(form.fkEmpenhoEmpenho) }}
                        {{ form_errors(form.fkEmpenhoEmpenho) }}
                    </td>
                </tr>

                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.fkEmpenhoNotaLiquidacao) }}</th>
                    <td>
                        {{ form_widget(form.fkEmpenhoNotaLiquidacao) }}
                        {{ form_errors(form.fkEmpenhoNotaLiquidacao) }}
                    </td>
                </tr>

                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.vlLiquidacao) }}</th>
                    <td>
                        {{ form_widget(form.vlLiquidacao) }}
                        {{ form_errors(form.vlLiquidacao) }}
                    </td>
                </tr>

                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.vlAssociado) }}</th>
                    <td>
                        {{ form_widget(form.vlAssociado) }}
                        {{ form_errors(form.vlAssociado) }}
                    </td>
                </tr>

                <tr>
                    <th>&nbsp;</th>
                    <td>
                        <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">remove_circle</i></a>
                    </td>
                </tr>
            <tbody>
        </table>

        {{ form_rest(form) }}
    </div>

{% endblock form_row %}