{% extends "base.html.twig" %}
{% block content %}
<div class="container-rh">
    <div class="col s12 title-edit box-title-rh">
        <h5>Estagio\EstagiarioEstagio edit</h5>
        <div class="divider grey title-divider"><p>1</p></div>
    </div>
    <div class="row">
        {{ form_start(edit_form, {'attr': {'novalidate': ''}}) }}
        <div class="row">
            <div class="col s3 field-filtro select-filtro">
                {{ form_label(edit_form.cgmEstagiario, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(edit_form.cgmEstagiario, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(edit_form.cgmEstagiario) }}
            </div>
             <div class="col s3 field-filtro select-filtro">
                {{ form_label(edit_form.numeroEstagio, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(edit_form.numeroEstagio, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(edit_form.numeroEstagio) }}
            </div>
            <div class="col s3 field-filtro select-filtro">
                {{ form_label(edit_form.vinculoEstagio, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(edit_form.vinculoEstagio) }}
                {{ form_errors(edit_form.vinculoEstagio) }}
            </div>
            {% if estagiario.vinculoEstagio == 'e' %}
                <div class="field-filtro col s3" id="codEntitidadeIntermediadoraContainer">
            {% else %}
                <div class="field-filtro col s3 hide" id="codEntitidadeIntermediadoraContainer">
            {% endif %}
                {{ form_label(edit_form.codEntitidadeIntermediadora, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(edit_form.codEntitidadeIntermediadora, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(edit_form.codEntitidadeIntermediadora) }}
            </div>
        </div>
        <div class="row">
            <div class="col s3 field-filtro">
                {{ form_label(edit_form.cgmInstituicaoEnsino, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(edit_form.cgmInstituicaoEnsino, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(edit_form.cgmInstituicaoEnsino) }}
            </div>
            <div class="col s3 field-filtro">
                {{ form_label(edit_form.codGrau, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(edit_form.codGrau, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(edit_form.codGrau) }}
            </div>
            <div class="col s3 field-filtro">
                {{ form_label(edit_form.codCurso, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(edit_form.codCurso, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(edit_form.codCurso) }}
            </div>
            <div class="col s3 field-filtro">
                {{ form_label(edit_form.anoSemestre, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(edit_form.anoSemestre, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(edit_form.anoSemestre) }}
            </div>
        </div>
        <div class="row">
            <div class="col s3 field-filtro">
                {{ form_label(edit_form.dtInicio, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(edit_form.dtInicio, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(edit_form.dtInicio) }}
            </div>
            <div class="col s3 field-filtro">
                {{ form_label(edit_form.dtFinal, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(edit_form.dtFinal, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(edit_form.dtFinal) }}
            </div>
            <div class="col s3 field-filtro">
                {{ form_label(edit_form.dtRenovacao, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(edit_form.dtRenovacao, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(edit_form.dtRenovacao) }}
            </div>
            <div class="col s3 field-filtro">
                {{ form_label(edit_form.funcao, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(edit_form.funcao, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(edit_form.funcao) }}
            </div>
        </div>
        <div class="row field-filtro">
            {{ form_label(edit_form.objetivos, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(edit_form.objetivos, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(edit_form.objetivos) }}
        </div>
        <div class="row">
            <div class="col s3 field-filtro">
                {{ form_label(edit_form.codOrgao, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(edit_form.codOrgao, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(edit_form.codOrgao) }}
            </div>
            {% macro estagiarioEstagioBolsa_prototype(estagiarioEstagioBolsa) %}
            <div class="col s2 field-filtro">
                {{ form_label(estagiarioEstagioBolsa.vlBolsa, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(estagiarioEstagioBolsa.vlBolsa, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(estagiarioEstagioBolsa.vlBolsa) }}
            </div>
            <div class="col s2 field-filtro">
                {{ form_label(estagiarioEstagioBolsa.faltas, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(estagiarioEstagioBolsa.faltas, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(estagiarioEstagioBolsa.faltas) }}
            </div>
            <div class="col s2 field-filtro">
                {{ form_label(estagiarioEstagioBolsa.valeRefeicao, null, {'label_attr': {'class': 'control-label labelCheck-rh'}}) }}
                {{ form_widget(estagiarioEstagioBolsa.valeRefeicao, {'attr': {'class': 'iCheck-helper icheckBox'}}) }}
                {{ form_errors(estagiarioEstagioBolsa.valeRefeicao) }}
            </div>
            <div class="col s2 field-filtro">
                {{ form_label(estagiarioEstagioBolsa.valeTransporte, null, {'label_attr': {'class': 'control-label labelCheck-rh'}}) }}
                {{ form_widget(estagiarioEstagioBolsa.valeTransporte, {'attr': {'class': 'iCheck-helper icheckBox'}}) }}
                {{ form_errors(estagiarioEstagioBolsa.valeTransporte) }}
            </div>
        </div>
        <div class="row">
            {% endmacro estagiarioEstagioBolsa_prototype %}
            {% for estagiarioEstagioBolsa in edit_form.estagiarioEstagioBolsa %}
                {{ _self.estagiarioEstagioBolsa_prototype(estagiarioEstagioBolsa) }}
            {% else %}
                {{ _self.estagiarioEstagioBolsa_prototype(edit_form.estagiarioEstagioBolsa.vars.prototype) }}
            {% endfor %}
            <div class="col s3 field-filtro">
                {{ form_label(edit_form.estagiarioEstagioConta.codAgencia, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(edit_form.estagiarioEstagioConta.codAgencia, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(edit_form.estagiarioEstagioConta.codAgencia) }}
            </div>
            <div class="col s3 field-filtro">
                {{ form_label(edit_form.estagiarioEstagioConta.numConta, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(edit_form.estagiarioEstagioConta.numConta, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(edit_form.estagiarioEstagioConta.numConta) }}
            </div>
            <div class="col s3 field-filtro">
                {{ form_label(edit_form.estagiarioEstagioLocal.codLocal, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(edit_form.estagiarioEstagioLocal.codLocal, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(edit_form.estagiarioEstagioLocal.codLocal) }}
            </div>
            <div class="col s3 field-filtro">
                {{ form_label(edit_form.codGrade, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(edit_form.codGrade, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(edit_form.codGrade) }}
            </div>
        </div>
        <div class="col s9">
            <a  class="btn-floating white-text blue darken-4" href="{{ path('estagio_estagiario_index') }}"><i class="material-icons">arrow_back</i></a>
        </div>
        <div class="col s1 deletar">
            <a href="#" class="btn waves-effect waves-light white-text grey tooltipped" data-position="left" data-delay="50" data-tooltip="Excluir" value="Delete" type="submit" name="action"><i class="material-icons">delete</i></a>
        </div>
        <div class="col s2 right-align">
            <button type="submit" class="waves-effect waves-light btn blue darken-4" value="Salvar"><i class="material-icons left">save</i> Salvar</button>
        </div>
        {{ form_end(edit_form) }}
        <div class="hide-on-med-and-down">
            {{ form_start(delete_form) }}
            {{ form_end(delete_form) }}
        </div>
    {% block javascript %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset('/bundles/recursoshumanos/javascripts/estagio/estagiario.js') }}"></script>
    {% endblock javascript %}
{% endblock %}
