{% extends "base.html.twig" %}
{% block content %}
<div class="container-rh">
    <div class="col s12 title-edit box-title-rh">
        <h5>Dados do Estagiário</h5>
        <div class="divider grey title-divider"><p>1</p></div>
    </div>
    <div class="col s12">
        <div class="row">
            <div class="col s3 field-filtro select-filtro">
                {{ form_label(form.cgmEstagiario, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.cgmEstagiario, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(form.cgmEstagiario) }}
            </div>
            <div class="col s3 field-filtro select-filtro">
                {{ form_label(form.numeroEstagio, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.numeroEstagio, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(form.numeroEstagio) }}
            </div>
        </div>
        <div class="row">
            <div class="col s3 field-filtro select-filtro">
                {{ form_label(form.rg, 'RG', {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.rg,  {'attr': {'class': 'white input-rh browser-default', 'disabled':'disabled'}}) }}
                {{ form_errors(form.rg) }}
            </div>
            <div class="col s3 field-filtro select-filtro">
                {{ form_label(form.cpf, 'CPF', {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.cpf,  {'attr': {'class': 'white input-rh browser-default', 'disabled':'disabled'}}) }}
                {{ form_errors(form.cpf) }}
            </div>
        </div>
        <div class="row">
            <div class="col s6 field-filtro select-filtro">
                {{ form_label(form.endereco, 'Endereço', {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.endereco,  {'attr': {'class': 'white input-rh browser-default', 'disabled':'disabled'}}) }}
                {{ form_errors(form.endereco) }}
            </div>
        </div>
        <div class="row">
            <div class="col s3 field-filtro select-filtro">
                {{ form_label(form.telefoneFixo, 'Telefone Fixo', {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.telefoneFixo,  {'attr': {'class': 'white input-rh browser-default', 'disabled':'disabled'}}) }}
                {{ form_errors(form.telefoneFixo) }}
            </div>
            <div class="col s3 field-filtro select-filtro">
                {{ form_label(form.telefoneCelular, 'Telefone Celular', {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.telefoneCelular,  {'attr': {'class': 'white input-rh browser-default', 'disabled':'disabled'}}) }}
                {{ form_errors(form.telefoneCelular) }}
            </div>
        </div>
    </div>

    <div class="col s12 title-edit box-title-rh">
        <h5>Dados do Contrato do Estágio</h5>
        <div class="divider grey title-divider"><p>1</p></div>
    </div>
    <div class="col s12">
        {{ form_start(form, {'attr': {'novalidate': ''}}) }}
        <div class="row">
            <div class="col s12 field-filtro select-filtro">
                {{ form_label(form.vinculoEstagio, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.vinculoEstagio) }}
                {{ form_errors(form.vinculoEstagio) }}
            </div>
            <div class="col s3 field-filtro">
                {{ form_label(form.codEntitidadeIntermediadora, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.codEntitidadeIntermediadora, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(form.codEntitidadeIntermediadora) }}
            </div>
        </div>
        <div class="row">
            <div class="col s3 field-filtro">
                {{ form_label(form.cgmInstituicaoEnsino, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.cgmInstituicaoEnsino, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(form.cgmInstituicaoEnsino) }}
            </div>
            <div class="col s3 field-filtro">
                {{ form_label(form.codGrau, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.codGrau, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(form.codGrau) }}
            </div>
            <div class="col s3 field-filtro">
                {{ form_label(form.codCurso, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.codCurso, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(form.codCurso) }}
            </div>
        </div>
        <div class="row">
            {% macro estagiarioEstagioBolsa_prototype(estagiarioEstagioBolsa) %}
            <div class="col s2 field-filtro select-filtro">
                {{ form_label(estagiarioEstagioBolsa.vlBolsa, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(estagiarioEstagioBolsa.vlBolsa, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(estagiarioEstagioBolsa.vlBolsa) }}
            </div>
            <div class="col s2 field-filtro select-filtro">
                {{ form_label(estagiarioEstagioBolsa.faltas, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(estagiarioEstagioBolsa.faltas, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(estagiarioEstagioBolsa.faltas) }}
            </div>
            <div class="col s2">
                {{ form_label(estagiarioEstagioBolsa.valeRefeicao, null, {'label_attr': {'class': 'control-label labelCheck-rh'}}) }}
                {{ form_widget(estagiarioEstagioBolsa.valeRefeicao, {'attr': {'class': 'iCheck-helper icheckBox'}}) }}
                {{ form_errors(estagiarioEstagioBolsa.valeRefeicao) }}
            </div>
            <div class="col s2">
                {{ form_label(estagiarioEstagioBolsa.valeTransporte, null, {'label_attr': {'class': 'control-label labelCheck-rh'}}) }}
                {{ form_widget(estagiarioEstagioBolsa.valeTransporte, {'attr': {'class': 'iCheck-helper icheckBox'}}) }}
                {{ form_errors(estagiarioEstagioBolsa.valeTransporte) }}
            </div>

        {% endmacro estagiarioEstagioBolsa_prototype %}

        {{ _self.estagiarioEstagioBolsa_prototype(form.estagiarioEstagioBolsa.vars.prototype) }}
            <div class="col s3 field-filtro">
                {{ form_label(form.anoSemestre, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.anoSemestre, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(form.anoSemestre) }}
            </div>
        </div>
        <div class="row">
            <div class="col s3 field-filtro">
                {{ form_label(form.dtInicio, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.dtInicio, {'attr': {'class': 'white input-rh browser-default datepicker'}}) }}
                {{ form_errors(form.dtInicio) }}
            </div>
            <div class="col s3 field-filtro">
                {{ form_label(form.dtFinal, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.dtFinal, {'attr': {'class': 'white input-rh browser-default datepicker'}}) }}
                {{ form_errors(form.dtFinal) }}
            </div>
            <div class="col s3 field-filtro">
                {{ form_label(form.dtRenovacao, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.dtRenovacao, {'attr': {'class': 'white input-rh browser-default datepicker'}}) }}
                {{ form_errors(form.dtRenovacao) }}
            </div>
            <div class="col s3 field-filtro">
                {{ form_label(form.funcao, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.funcao, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(form.funcao) }}
            </div>
        </div>
        <div class="row field-filtro select-filtro">
            {{ form_label(form.objetivos, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(form.objetivos, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(form.objetivos) }}
        </div>
    </div>
    <div class="col s12 title-edit box-title-rh">
        <h5>Informações Bancárias</h5>
        <div class="divider grey title-divider"><p>1</p></div>
    </div>
    <div class="col s12">
        <div class="row">
            <div class="col s3 field-filtro select-filtro">
                {{ form_label(form.estagiarioEstagioConta.codAgencia, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.estagiarioEstagioConta.codAgencia, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(form.estagiarioEstagioConta.codAgencia) }}
            </div>
            <div class="col s3 field-filtro">
                {{ form_label(form.estagiarioEstagioConta.numConta, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.estagiarioEstagioConta.numConta, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(form.estagiarioEstagioConta.numConta) }}
            </div>
       </div>
    </div>
    <div class="col s12 title-edit box-title-rh">
        <h5>Informações da Lotação</h5>
        <div class="divider grey title-divider"><p>1</p></div>
    </div>
    <div class="col s12">
        {#<div class="row">
            <div class="input-field col s12" id="estagiarioEstagioBolsa" data-prototype="{{ _self.estagiarioEstagioBolsa_prototype(form.estagiarioEstagioBolsa.vars.prototype)|e }}"></div>
        </div>#}

        <div class="row">
            <div class="col s2 field-filtro select-filtro">
                {{ form_label(form.classificacao, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.classificacao, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(form.classificacao) }}
            </div>
            <div class="col s3 field-filtro select-filtro">
                {{ form_label(form.codOrgao, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.codOrgao, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(form.codOrgao) }}
            </div>
            <div class="col s3 field-filtro select-filtro">
                {{ form_label(form.codSecretaria, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.codSecretaria, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(form.codSecretaria) }}
            </div>
            <div class="col s3 field-filtro">
                {{ form_label(form.estagiarioEstagioLocal.codLocal, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.estagiarioEstagioLocal.codLocal, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(form.estagiarioEstagioLocal.codLocal) }}
            </div>
        </div>
    </div>
    <div class="col s12 title-edit box-title-rh">
        <h5>Quadro de Horários</h5>
        <div class="divider grey title-divider"><p>1</p></div>
    </div>
    <div class="row">
        <div class="col s3 field-filtro">
            {{ form_label(form.codGrade, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(form.codGrade, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(form.codGrade) }}
        </div>
    </div>
    <div class="col s12">
        <div class="row">
            <div id="mostraGrade">
                ipsum dolo sit amet
            </div>
        </div>
    </div>
        {% block javascript %}
            {{ parent() }}
            <script type="text/javascript" src="{{ asset('/bundles/recursoshumanos/javascripts/estagio/estagiario.js') }}"></script>
            <script type="text/javascript" src="{{ asset('/bundles/core/javascripts/custom-formatMoney.js') }}"></script>
        {% endblock javascript %}
        <div class="row">
            <div class="col s6">
                <a class="btn-floating white-text blue darken-4" href="{{ path('estagio_estagiario_index') }}"><i class="material-icons">arrow_back</i></a>
            </div>
            <div class="col s6 right-align">
                <button type="submit" class="waves-effect waves-light btn blue darken-4" value="Salvar"><i class="material-icons left">save</i> Salvar</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
