{% extends "base_home_cards.html.twig" %}
{% block content %}
    <div class="container">
        <div class="container">
            <h4 class="blue-text text-darken-4">Outras Operações</h4>
            <div class="divider grey title-divider"><p>1</p></div>
        </div>
        <!-- Card -->
        <div class="container">
            <div class="col s6 m6 l4">
                <div class="card-panel col s12 hoverable center">
                    <a href="{{ path('urbem_financeiro_tesouraria_deposito_create') }}">
                        <h6><i class="fa fa-money medium" aria-hidden="true"></i></h6>
                        <h6 class="truncate center">Depósito / Retiradas</h6>
                    </a>
                    <p></p>
                    <div class="divider col s12"></div>
                    <h5 class="left">
                        <a href="{{ path('urbem_financeiro_tesouraria_deposito_create') }}"
                           class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir">
                            <i class="material-icons">add_circle</i>
                        </a>
                    </h5>
                </div>
            </div>
            <!-- End of Card -->
            <!-- Card -->
            <div class="col s6 m6 l4">
                <div class="card-panel col s12 hoverable center">
                    <a href="{{ path('urbem_financeiro_tesouraria_aplicacao_list') }}">
                        <h6><i class="fa fa-bar-chart medium" aria-hidden="true"></i></h6>
                        <h6 class="truncate center">Aplicações</h6>
                    </a>
                    <p></p>
                    <div class="divider col s12"></div>
                    <h5 class="left">
                        <a href="{{ path('urbem_financeiro_tesouraria_aplicacao_create') }}"
                           class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir">
                            <i class="material-icons">add_circle</i>
                        </a>
                    </h5>
                    <h5 class="right">
                        <a href="{{ path('urbem_financeiro_tesouraria_aplicacao_list') }}"
                           class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar">
                            <i class="material-icons">search</i>
                        </a>
                    </h5>
                </div>
            </div>
            <!-- End of Card -->
            <!-- Card -->
            <div class="col s6 m6 l4">
                <div class="card-panel col s12 hoverable center">
                    <a href="{{ path('urbem_financeiro_tesouraria_resgate_list') }}">
                        <h6><i class="mdi mdi-cash-multiple medium"></i></h6>
                        <h6 class="truncate center">Resgates</h6>
                    </a>
                    <p></p>
                    <div class="divider col s12"></div>
                    <h5 class="left">
                        <a href="{{ path('urbem_financeiro_tesouraria_resgate_create') }}"
                           class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir">
                            <i class="material-icons">add_circle</i>
                        </a>
                    </h5>
                    <h5 class="right">
                        <a href="{{ path('urbem_financeiro_tesouraria_resgate_list') }}"
                           class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar">
                            <i class="material-icons">search</i>
                        </a>
                    </h5>
                </div>
            </div>
            <!-- End of Card -->
        </div>
    </div>
{% endblock content %}
