{% extends "base.html.twig" %}

{% block title %}{{ 'label.servidor.modulo'|trans }}{% endblock title %}

{% block menu %}
    {% include '::partials/menu.html.twig' %}
{% endblock menu %}

{% block content %}
    <div class="container-rh">
        {{ form_start(form) }}
            <input type="hidden" value="{{ suplementacao }}" name="id_suplementacao" />
            <div class="col s3">
                <label for="anoFinal" class="control-label required">{{ 'label.suplementacao.motivo'|trans }}</label>
                <textarea class="materialize-textarea input-rh" id="motivo" name="suplementacao[motivo]" value="" required="required"></textarea>
            </div>
            <div class="col s12 right-align">
                <button type="submit" class="waves-effect waves-light btn blue darken-4 btn-bold" value="Anular"><i class="material-icons left">remove_circle</i>Anular</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock content %}
