{% extends "base_home_cards.html.twig" %}

{% block title %}{{ wo_render_breadcrumbs({ separator: '>', viewTemplate: "WhiteOctoberBreadcrumbsBundle::titlebreadcrumbs.html.twig" }) }}{% endblock title %}


{% block menu %}
    {% include '::partials/menu.html.twig' %}
{% endblock menu %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s10">
            <h4 class="blue-text text-darken-4 title-filtro">Calendario\CalendarioDiaCompensado</h4>
        </div>
        <div class="col s1">
            <h4><a class="hide-on-med-and-down blue-text text-darken-4 tooltipped right-align" data-position="left" data-delay="50" data-tooltip="Editar Dia Compensado" href="{{ path('calendario_calendario_dia_compensado_edit', { 'id': calendario.id }) }}"><i class="material-icons">edit</i></a></h4>
        </div>
        <div class="col s1">
            {{ form_start(delete_form) }}
            <h4><button  type="submit" class="btn white blue-text text-darken-4 z-depth-0 tooltipped right-align" data-position="right" data-delay="50" data-tooltip="Excluir Dia Compensado" value="Delete"><i class="material-icons">delete</i></button></h4>
            {{ form_end(delete_form) }}
        </div>
    </div>
    <div class="row">
        <table class="bordered reponsive-table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ calendario.id }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col s6">
            <a  class="btn-floating white-text blue darken-4" href="{{ path('calendario_calendario_dia_compensado_index') }}"><i class="material-icons">arrow_back</i></a>
        </div>
    </div>
{% endblock content %}
