{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "CoreBundle::Sonata/standard_layout.html.twig" %}

{% import 'CoreBundle:Sonata/CRUD:base_show_macro.html.twig' as show_helper %}

{% block actions %}
    {% include 'CoreBundle:Sonata/CRUD:action_buttons.html.twig' %}
{% endblock %}

{% block tab_menu %}
    {{ knp_menu_render(admin.sidemenu(action), {
        'currentClass' : 'active',
        'template': sonata_admin.adminPool.getTemplate('tab_menu_template')
    }, 'twig') }}
{% endblock %}

{% block show %}

    <div class="container-rh">
        <div class="row">
            <div class="col s12 profile-box">
                <h2 class="blue-text text-darken-4 left">
                    <i class="mdi mdi-file-document left grey-text medium"></i>
                    <span style="padding-top: 10px">{{ 'label.frotaManutencao.manutencao'|trans }} - {{ object.codManutencao ~ '/' ~ object.exercicio }}</span>
                </h2>
                {% if object.fkFrotaManutencaoAnulacao is null %}
                    <a href="{{ path('urbem_patrimonial_frota_manutencao_edit', { 'id': admin.getObjectKey(object) }) }}" class="serv-btn right">
                        <i class="material-icons right">edit</i>
                    </a>
                {% endif %}
                <p class="divider grey col s12"></p>
                {% if object.fkFrotaEfetivacoes.last != false  %}
                    <div class="col s3 little-box">
                        <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.frotaManutencao.tipoManutencao'|trans }}</h6>
                        <h6 class="col s12 grey-text text-darken-1"> Autorização de Abastecimento </h6>
                    </div>
                    <div class="col s3 little-box">
                        <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.frotaManutencao.codAutorizacao'|trans }}</h6>
                        <h6 class="col s12 grey-text text-darken-1"> {{ object.fkFrotaEfetivacoes.last.fkFrotaAutorizacao|objectKey}} </h6>
                    </div>
                {% else %}
                    <div class="col s3 little-box">
                        <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.frotaManutencao.tipoManutencao'|trans }}</h6>
                        <h6 class="col s12 grey-text text-darken-1"> Outros </h6>
                    </div>
                {% endif %}

                <div class="col s3 little-box">
                    <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.frotaManutencao.codVeiculo'|trans }}</h6>
                    <h6 class="col s12 grey-text text-darken-1">{{ object.fkFrotaVeiculo.codVeiculo ~ ' - ' ~ object.fkFrotaVeiculo.placa ~ ' - ' ~ object.fkFrotaVeiculo.fkFrotaMarca.nomMarca ~ ' - ' ~ object.fkFrotaVeiculo.fkFrotaModelo.nomModelo }}</h6>
                </div>
                <div class="col s3 little-box">
                    <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.frotaManutencao.km'|trans }}</h6>
                    <h6 class="col s12 grey-text text-darken-1">{{ object.km }}</h6>
                </div>
                <div class="col s3 little-box">
                    <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.frotaManutencao.dtManutencao'|trans }}</h6>
                    <h6 class="col s12 grey-text text-darken-1">{{object.dtManutencao.format('d/m/Y')}}</h6>
                </div>
                {% if object.fkFrotaManutencaoEmpenho is not null and object.fkFrotaEfetivacoes.count > 0  %}
                    <div class="col s3 little-box">
                        <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.frotaManutencao.codEmpenho'|trans }}</h6>
                        <h6 class="col s12 grey-text text-darken-1">{{ object.fkFrotaEfetivacoes.last.fkFrotaAutorizacao|objectKey }}</h6>
                    </div>
                {% endif %}
                <div class="col s3 little-box">
                    <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.frotaManutencao.observacao'|trans }}</h6>
                    <h6 class="col s12 grey-text text-darken-1">{{ object.observacao }}</h6>
                </div>

                {% if object.fkFrotaManutencaoAnulacao is null %}
                    <div class="col s3 center" style="margin-bottom: 10px">
                        <a class="btn btn-success btn-sm sonata-ba-action" href="{{ path('urbem_patrimonial_frota_manutencao_anulacao_create',{ 'codManutencao': object.codManutencao, 'exercicio': object.exercicio })}}">
                            <i class="mdi mdi-download left"></i>Anular Manutenção
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>

        {% if object.fkFrotaManutencaoItens is not null %}
            <div class="row">
                <div class="col s11 servidor-table">
                    <a class="btn-flat"
                       id="incluirManutencaoItem">
                        <i class="mdi mdi-file-document"></i>
                        {{ 'label.frotaManutencaoItem.manutencaoItem'|trans }}
                    </a>
                </div>

                {% if object.fkFrotaManutencaoAnulacao is null %}
                    {% if not object.isTipoManutencaoAutorizacao %}
                        <div class="col s1">
                            <a class="tooltipped"
                               href="{{ path('urbem_patrimonial_frota_manutencao_item_create', { 'codManutencao': object.codManutencao, 'exercicio': object.exercicio }) }}"
                               data-toggle="tooltip" data-placement="top" title="{{ "incluir"|trans }}">
                                <i class="mdi mdi-plus-circle center small"></i>
                            </a>
                        </div>
                    {% endif %}
                {% endif %}

                <table class="col s12 highlight bordered">
                    <thead class="thead-rh">
                    <th class="th-rh" width="10"></th>
                    <th class="th-rh">{{ 'label.frotaManutencaoItem.codItem'|trans }}</th>
                    <th class="th-rh">{{ 'label.frotaManutencaoItem.itemTipo'|trans }}</th>
                    <th class="th-rh">{{ 'label.frotaManutencaoItem.quantidade'|trans }}</th>
                    <th class="th-rh">{{ 'label.frotaManutencaoItem.vlTotal'|trans }}</th>
                    <th class="th-rh" width="100">{{ 'acoes'|trans }}</th>
                    </thead>
                    <tbody>
                        {% for item in object.fkFrotaManutencaoItens %}
                            <tr>
                                <td class="td-rh">{{ loop.index }}</td>
                                <td class="td-rh">{{ item.fkFrotaItem.fkAlmoxarifadoCatalogoItem.codItem ~ ' - ' ~ item.fkFrotaItem.fkAlmoxarifadoCatalogoItem.descricao }}
                                <td class="td-rh">{{ item.fkFrotaItem.fkFrotaTipoItem.descricao }}
                                <td class="td-rh">{{ item.quantidade|number_format(4, ',', '.') }}</td></td>
                                <td class="td-rh">{{ item.valor|number_format(2, ',', '.') }}</td></td>
                                <td class="td-rh">
                                    {% if object.fkFrotaManutencaoAnulacao is null %}
                                        <div class="btn-group">
                                            <a href="{{ path('urbem_patrimonial_frota_manutencao_item_edit', { 'id': admin.getObjectKey(item) }) }}"
                                               class="hide-on-med-and-down blue-text text-darken-4 tooltipped left"
                                               data-toggle="tooltip" data-placement="top" title="{{ 'editar'|trans }}"
                                               id="manutencaoItem">
                                                <i class="material-icons">edit</i>
                                            </a>

                                            {% if not object.isTipoManutencaoAutorizacao %}
                                                <a href="{{ path('urbem_patrimonial_frota_manutencao_item_delete', { 'id': admin.getObjectKey(item) }) }}"
                                                   class="hide-on-med-and-down blue-text text-darken-4 tooltipped left"
                                                   data-toggle="tooltip" data-placement="top" title="{{ 'deletar'|trans }}">
                                                    <i class="material-icons">delete</i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="sonata-ba-form-actions well well-small form-actions row">
                <div class="col s8 initial">
                    <a href="{{ path('urbem_patrimonial_frota_manutencao_list') }}"
                       class="back btn-floating white-text blue darken-4 btn-success">
                        <i class="material-icons">arrow_back</i>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock show %}
