{% extends "base.html.twig" %}
{% block content %}
    <div class="container container-rh">
        <div class="row title-edit">
            <h5>Edição Salário Padrão</h5>
            <div class="divider grey title-divider"><p>1</p></div>
        </div>
        {% macro codNivelPadraoNivel_prototype(codNivelPadraoNivel) %}
            <div class="row right-align padrao-box padrao-box-nivel">
                <div class="col s4 field-filtro select-filtro">
                    {{ form_label(codNivelPadraoNivel.descricao, null, {'label_attr': {'class': 'control-label required label-rh'}}) }}
                    <span class="label-rh required-helper">*</span>
                    {{ form_widget(codNivelPadraoNivel.descricao, {'attr': {'class': 'white required input-rh browser-default'}}) }}
                    {{ form_errors(codNivelPadraoNivel.descricao) }}
                </div>
                <div class="col s2 field-filtro select-filtro">
                    {{ form_label(codNivelPadraoNivel.percentual, null, {'label_attr': {'class': 'control-label required label-rh'}}) }}
                    <span class="label-rh required-helper">*</span>
                    <div class="input-group">
                        {{ form_widget(codNivelPadraoNivel.percentual, {'attr': {'class': 'white required input-rh browser-default', 'onBlur' : 'calculaCorrecao(this)'}}) }}
                        <span class="input-group-addon">
                        <span class="fa-percent fa"></span>
                    </span>
                    </div>
                    {{ form_errors(codNivelPadraoNivel.percentual) }}
                </div>
                <div class="col s2 field-filtro select-filtro padrao-box-nivel">
                    {{ form_label(codNivelPadraoNivel.valor, null, {'label_attr': {'class': 'control-label required label-rh'}}) }}
                    <span class="label-rh required-helper">*</span>
                    {{ form_widget(codNivelPadraoNivel.valor, {'attr': {'class': 'white required input-rh browser-default money '}}) }}
                    {{ form_errors(codNivelPadraoNivel.valor) }}
                </div>
                <div class="col s2 field-filtro select-filtro">
                    {{ form_label(codNivelPadraoNivel.qtdmeses, null, {'label_attr': {'class': 'control-label required label-rh'}}) }}
                    <span class="label-rh required-helper">*</span>
                    {{ form_widget(codNivelPadraoNivel.qtdmeses, {'attr': {'class': 'white required input-rh browser-default','min':'0'}}) }}
                    {{ form_errors(codNivelPadraoNivel.qtdmeses) }}
                </div>
                <div class="col s1 deletar-padrao">
                    <button class="removerNivel btn btn-delete blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped" data-position="right" data-delay="50" data-tooltip="Excluir" type="button"><i class="material-icons">delete</i></button>
                </div>
            </div>
        {% endmacro codNivelPadraoNivel_prototype %}
        {{ form_start(edit_form) }}
        <div class="row">
            <div class="col s8">
                {{ form_label(edit_form.descricao, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                <span class="label-rh required-helper">*</span>
                {{ form_widget(edit_form.descricao, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(edit_form.descricao) }}
            </div>
            <div class="col s2">
                {{ form_label(edit_form.horasMensais, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                <span class="label-rh required-helper">*</span>
                {{ form_widget(edit_form.horasMensais, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(edit_form.horasMensais) }}
            </div>
            <div class="col s2">
                {{ form_label(edit_form.horasSemanais, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                <span class="label-rh required-helper">*</span>
                {{ form_widget(edit_form.horasSemanais, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(edit_form.horasSemanais) }}
            </div>
        </div>
        <div class="row">
            <div class="col s3 field-filtro select-filtro">
                {{ form_label(edit_form.codPadraoPadrao.valor, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                <span class="label-rh required-helper">*</span>
                {{ form_widget(edit_form.codPadraoPadrao.valor, {'attr': {'class': 'white input-rh browser-default money'}}) }}
                {{ form_errors(edit_form.codPadraoPadrao.valor) }}
            </div>
            <div class="col s3 field-filtro select-filtro">
                {{ form_label(edit_form.codPadraoPadrao.vigencia, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                <div class="input-group date">
                    {{ form_widget(edit_form.codPadraoPadrao.vigencia, {'attr': {'class': 'white input-rh browser-default datepicker'}}) }}
                    <span class="input-group-addon">
                        <span class="fa-calendar fa"></span>
                    </span>
                </div>
                {{ form_errors(edit_form.codPadraoPadrao.vigencia) }}
            </div>
            <div class="col s3 field-filtro select-filtro">
                {{ form_label(edit_form.codPadraoPadrao.tipoNorma, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                <span class="label-rh required-helper">*</span>
                {{ form_widget(edit_form.codPadraoPadrao.tipoNorma, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(edit_form.codPadraoPadrao.tipoNorma) }}
            </div>
            <div class="col s3 field-filtro select-filtro">
                {{ form_label(edit_form.codPadraoPadrao.codNorma, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                <span class="label-rh required-helper">*</span>
                {{ form_widget(edit_form.codPadraoPadrao.codNorma, {'attr': {'class': 'white input-rh browser-default','min':'0'}}) }}
                {{ form_errors(edit_form.codPadraoPadrao.codNorma) }}
            </div>
        </div>
        <div class="row">
            <div class="col s12 left-align">
                <button type="button" id="padrao_btnNivelPadraoNivel" name="padrao[btnNivelPadraoNivel]" class="waves-effect waves-light btn blue darken-4"><i class="material-icons left">add_circle</i>Progressão salarial</button>
                <ul class="codNivelPadraoNivel"
                    data-prototype="{{ _self.codNivelPadraoNivel_prototype(edit_form.codNivelPadraoNivel.vars.prototype)|e }}"></ul>
                {% for codNivelPadraoNivel in edit_form.codNivelPadraoNivel %}
                    {{ _self.codNivelPadraoNivel_prototype(codNivelPadraoNivel) }}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col s9">
                <a class="btn-floating white-text blue darken-4" href="{{ path('urbem_recursos_humanos_folha_pagamento_padrao_list') }}"><i
                            class="material-icons">arrow_back</i></a>
            </div>
            <div class="col s2 right-align">
                <button type="submit" class="waves-effect waves-light btn blue darken-4" value="Salvar"><i
                            class="material-icons left">save</i> Salvar
                </button>
            </div>
            {{ form_end(edit_form) }}
            {{ form_start(delete_form) }}
            <button type="submit"  data-tooltip="Excluir" data-action="{{ path('folha_pagamento_padrao_delete', { 'id': padrao.codPadrao }) }}" class="btn waves-effect waves-light white-text grey tooltipped" data-position="left"
                    data-delay="50" data-tooltip="Excluir"><i class="material-icons">delete</i></button>
            {{ form_end(delete_form) }}
        </div>
    </div>
    {% block javascript %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset('/bundles/recursoshumanos/javascripts/folhapagamento/padrao.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/bundles/recursoshumanos/javascripts/folhapagamento/normas.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/bundles/recursoshumanos/javascripts/folhapagamento/calcularCorrecao.js') }}"></script>
    {% endblock javascript %}
{% endblock content %}
