<table>
    <thead>
    <tr>
        <th width="5%"></th>
        <th width="20%">{{ 'label.swBairro.codBairro'|trans }}</th>
        <th>{{ 'label.swBairro.nomBairro'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for swBairroLogradouro in object.fkSwBairroLogradouros %}
        <tr class="sonata-ba-view-container">
            <td class="center">{{ loop.index }}</td>
            <td class="center">{{ swBairroLogradouro.codBairro }}</td>
            <td class="center">{{ swBairroLogradouro.fkSwBairro.nomBairro }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br/>
