<form id="form" method="post">
    <div class="box-body no-padding">
        <table class="table show-table">
            <tbody>
                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.fkOrganogramaOrgao) }}</th>
                    <td>
                        {% if form.vars.value.dtBaixa is null %}
                            {{ form_widget(form.fkOrganogramaOrgao) }}
                            {{ form_errors(form.fkOrganogramaOrgao) }}

                        {% else %}
                            {{ form.vars.value.fkOrganogramaOrgao }}

                        {% endif %}
                    </td>
                </tr>

                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.fkSwCgmPessoaFisica) }}</th>
                    <td>
                        {% if form.vars.value.dtBaixa is null %}
                            {{ form_widget(form.fkSwCgmPessoaFisica) }}
                            {{ form_errors(form.fkSwCgmPessoaFisica) }}

                        {% else %}
                            {{ form.vars.value.fkSwCgmPessoaFisica }}

                        {% endif %}
                    </td>
                </tr>

                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.fkNormasNorma) }}</th>
                    <td>
                        {% if form.vars.value.dtBaixa is null %}
                            {{ form_widget(form.fkNormasNorma) }}
                            {{ form_errors(form.fkNormasNorma) }}

                        {% else %}
                            {{ form.vars.value.fkNormasNorma }}

                        {% endif %}
                    </td>
                </tr>

                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.dtInicioVinculo) }}</th>
                    <td>
                        {% if form.vars.value.dtBaixa is null %}
                            {{ form_widget(form.dtInicioVinculo) }}
                            {{ form_errors(form.dtInicioVinculo) }}

                        {% else %}
                            {{ form.vars.value.dtInicioVinculo | date('d/m/Y') }}

                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <input type="hidden" name="key" value="{{ key }}" />

    <div class="sonata-ba-collapsed-fields custom-form">
        <div class="sonata-ba-form-actions well well-small form-actions row">
            <div class="col s12">
                <div class="col s12 right-align initial">
                    <button type="submit" class="white-text blue darken-4 btn btn-success save" name="save_update"><i class="material-icons left">input</i>Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<style>
    .custom-form .select2-container {height: 34px !important;}
</style>

<script>
    $('select.form-control').select2();
    $('#form').submit( function(e){
        e.preventDefault();
    });

</script>