{% if form.dataTermino is defined %}
    <tr class="sonata-ba-view-container">
        <th>{{ form_label(form.dataTermino) }}</th>
        <td>
            {{ form_widget(form.dataTermino) }}

            {% if show_error %}
                {{ form_errors(form.dataTermino) }}

            {% endif %}
        </td>
    </tr>

{% endif %}

{% if form.descricao is defined %}
    <tr class="sonata-ba-view-container">
        <th>{{ form_label(form.descricao) }}</th>
        <td>
            {{ form_widget(form.descricao) }}

            {% if show_error %}
                {{ form_errors(form.descricao) }}

            {% endif %}
        </td>
    </tr>

{% endif %}

{% if form.fkTcemgContratoAditivoItens is defined %}
    <tr class="sonata-ba-view-container">
        <th>
            Aditivos
        </th>
        <td>
            {% form_theme form.fkTcemgContratoAditivoItens 'PrestacaoContasBundle::Tribunal/MG/Configuracao/ContratoAditivo/form_fkTcemgContratoAditivoItens.html.twig' %}
            {{ form_widget(form.fkTcemgContratoAditivoItens) }}
        </td>
    </tr>

{% endif %}

{% if form.valor is defined %}
    <tr class="sonata-ba-view-container">
        <th>{{ form_label(form.valor) }}</th>
        <td>
            {{ form_widget(form.valor) }}

            {% if show_error %}
                {{ form_errors(form.valor) }}

            {% endif %}
        </td>
    </tr>

{% endif %}

{% if form.codTipoValor is defined %}
    <tr class="sonata-ba-view-container">
        <th>{{ form_label(form.codTipoValor) }}</th>
        <td>
            {{ form_widget(form.codTipoValor) }}

            {% if show_error %}
                {{ form_errors(form.codTipoValor) }}

            {% endif %}
        </td>
    </tr>

{% endif %}