<tr class="sonata-ba-view-container">
    <th>{{ form_label(form.fkTcemgContrato) }}</th>
    <td>
        {{ form_widget(form.fkTcemgContrato) }}

        {% if show_error %}
            {{ form_errors(form.fkTcemgContrato) }}

        {% endif %}
    </td>
</tr>

<tr class="sonata-ba-view-container">
    <th>{{ form_label(form.nroAditivo) }}</th>
    <td>
        {{ form_widget(form.nroAditivo) }}

        {% if show_error %}
            {{ form_errors(form.nroAditivo) }}

        {% endif %}
    </td>
</tr>

<tr class="sonata-ba-view-container">
    <th>{{ form_label(form.dataAssinatura) }}</th>
    <td>
        {{ form_widget(form.dataAssinatura) }}

        {% if show_error %}
            {{ form_errors(form.dataAssinatura) }}

        {% endif %}
    </td>
</tr>

<tr class="sonata-ba-view-container">
    <th>{{ form_label(form.fkTcemgContratoAditivoTipo) }}</th>
    <td>
        {{ form_widget(form.fkTcemgContratoAditivoTipo) }}

        {% if show_error %}
            {{ form_errors(form.fkTcemgContratoAditivoTipo) }}

        {% endif %}
    </td>
</tr>

<tr class="sonata-ba-view-container">
    <th>{{ form_label(form.fkLicitacaoVeiculosPublicidade) }}</th>
    <td>
        {{ form_widget(form.fkLicitacaoVeiculosPublicidade) }}

        {% if show_error %}
            {{ form_errors(form.fkLicitacaoVeiculosPublicidade) }}

        {% endif %}
    </td>
</tr>

<tr class="sonata-ba-view-container">
    <th>{{ form_label(form.dataPublicacao) }}</th>
    <td>
        {{ form_widget(form.dataPublicacao) }}

        {% if show_error %}
            {{ form_errors(form.dataPublicacao) }}

        {% endif %}
    </td>
</tr>

<tr class="sonata-ba-view-container">
    {% include 'PrestacaoContasBundle::Tribunal/MG/Configuracao/ContratoAditivo/form_ajax_contrato_aditivo_tipo.html.twig' with {'show_error': show_error} %}
</tr>