{% if swProcesso.fkSwDespachado is not null %}
<div class="row">
    <div class="col s12 servidor-table">
        <a class="btn-flat">
            <i class="fa fa-send left"></i>
            {{ 'label.processo.despacho'|trans }}
        </a>
    </div>
    <table class="col s12 highlight bordered">
        <thead class="thead-rh">
            <tr>
                <th class="th-rh">{{ 'label.processo.despachoUser'|trans }}</th>
                <th class="th-rh" width="15%">{{ 'label.processo.dataDespacho'|trans }}</th>
                <th class="th-rh" width="50%">{{ 'label.descricao'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="sonata-ba-view-container">
                <td class="td-rh center">{{ swProcesso.fkSwDespachado.fkAdministracaoUsuario.fkSwCgm.nomCgm|upper }}</td>
                <td class="td-rh center">{{ swProcesso.fkSwDespachado.timestamp|date('d/m/Y') }}</td>
                <td class="td-rh center">{{ swProcesso.fkSwDespachado.descricao }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endif %}
