{% extends "base.html.twig" %}
{% block content %}
<div class="container-rh">
    <div class="box-header col s12">
    <div class="col s10 box-title left-align show">
        <h2>Caixa Econômica Federal</h2>
    </div>
    <div class="col s2">
        <div class="hide-on-med-and-down col l9 right-align">
            <a class="top-btn btn waves-effect waves-light white-text blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Editar" href="{{ path('informacoes_configuracao_caixa_economica_edit', { 'id': configuracao.codConvenio }) }}"><i class="material-icons">edit</i></a>
        </div>
        <div class="hide-on-med-and-down col l3 right-align">
            {{ form_start(delete_form) }}
            <button class="top-btn btn waves-effect waves-light white-text blue darken-4 tooltipped" data-position="right" data-delay="50" data-tooltip="Excluir" value="Delete" type="submit" name="action"><i class="material-icons">delete</i></button>
            {{ form_end(delete_form) }}
        </div>
    </div>
</div>
    <div class="box-body  no-padding">
        <table class="bordered show-table">
            <tbody>
                <tr class="sonata-ba-view-container">
                    <th>Codconvenio</th>
                    <td>{{ configuracao.codConvenio }}</td>
                </tr>
                <tr>
                    <th>Codconveniobanco</th>
                    <td>{{ configuracao.codConvenioBanco }}</td>
                </tr>
                <tr>
                    <th>Codbanco</th>
                    <td>{{ configuracao.codBanco }}</td>
                </tr>
                <tr>
                    <th>Codagencia</th>
                    <td>{{ configuracao.codAgencia }}</td>
                </tr>
                <tr>
                    <th>Codcontacorrente</th>
                    <td>{{ configuracao.codContaCorrente }}</td>
                </tr>
                <tr>
                    <th>Codtipo</th>
                    <td>{{ configuracao.codTipo }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <a  class="btn-floating white-text blue darken-4" href="{{ path('informacoes_configuracao_caixa_economica_index') }}"><i class="material-icons">arrow_back</i></a>
    </div>
</div>
{% endblock %}
