{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "CoreBundle::Sonata/standard_layout.html.twig" %}

{% import 'CoreBundle:Sonata/CRUD:base_show_macro.html.twig' as show_helper %}

{% block show %}
    <div class="sonata-ba-show">
        <div class="sonata-ba-view">
            <div class="row">
                <div class=" ">
                    <div class="box box-primary">
                        <div class="box-header col s12">
                            <h2 class="col s10 box-title left-align show"> Depósito </h2>
                        </div>

                        <div class="box-body no-padding">
                            <table class="table show-table">
                                <tbody>
                                    <tr class="sonata-ba-view-container">
                                        <th>Lote</th>
                                        <td>{{ object.codLote }}</td>
                                    </tr>
                                    <tr class="sonata-ba-view-container">
                                        <th>Boletim</th>
                                        <td>{{ object.codBoletim }}</td>
                                    </tr>
                                    <tr class="sonata-ba-view-container">
                                        <th>Data Boletim</th>
                                        <td>{{ object.dtBoletim }}</td>
                                    </tr>
                                    <tr class="sonata-ba-view-container">
                                        <th>Entidade</th>
                                        <td>{{ object.nomEntidade }}</td>
                                    </tr>
                                    <tr class="sonata-ba-view-container">
                                        <th>Conta de Entradas</th>
                                        <td>{{ object.nomContaDebito }}</td>
                                    </tr>
                                    <tr class="sonata-ba-view-container">
                                        <th>Conta de Saídas</th>
                                        <td>{{ object.nomContaCredito }}</td>
                                    </tr>
                                    <tr class="sonata-ba-view-container">
                                        <th>Histórico Padrão</th>
                                        <td>{{ object.codHistorico }}</td>
                                    </tr>
                                    <tr class="sonata-ba-view-container">
                                        <th>Valor</th>
                                        <td>R${{ object.valor|number_format(2, ',', '.') }}</td>
                                    </tr>
                                    <tr class="sonata-ba-view-container">
                                        <th>Observações</th>
                                        <td>{{ object.observacao }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s8 initial">
            <a href="javascript:window.history.back();"
               class="back btn-floating white-text blue darken-4 btn-success">
                <i class="material-icons">arrow_back</i>
            </a>
        </div>
    </div>
{% endblock %}
