{% extends "base_home_cards.html.twig" %}
{% block content %}
<div class="container">
    <div class="container">
        <h4 class="blue-text text-darken-4"><i class="mdi mdi-square-inc-cash left"></i>Configuração Contabilidade</h4>
        <div class="divider grey title-divider"><p>1</p></div>
    </div>
    <div class="container">
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable">
                <a href="{{ path('urbem_administrativo_administracao_configuracao_create', {id : 9}) }}">
                    <h6 class="truncate center">Alterar <br />Configuração</h6>
                </a>
                <div class="divider col s12"></div>
                <h5 class="right">
                    <a href="{{ path('urbem_administrativo_administracao_configuracao_create', {id : 9}) }}"
                       class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Editar">
                        <i class="material-icons">edit</i>
                    </a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable">
                <a href="{{ path('urbem_financeiro_contabilidade_configuracao_classificacao_contabil_list') }}">
                    <h6 class="truncate center">Classificação <br />Contábil</h6>
                </a>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_financeiro_contabilidade_configuracao_classificacao_contabil_create') }}"
                       class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Adicionar">
                        <i class="material-icons">add_circle</i>
                    </a>
                </h5>
                <h5 class="right">
                    <a href="{{ path('urbem_financeiro_contabilidade_configuracao_classificacao_contabil_list') }}"
                       class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar">
                        <i class="material-icons">search</i>
                    </a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable">
                <a href="{{ path('urbem_financeiro_contabilidade_configuracao_sistema_contabil_list') }}">
                    <h6 class="truncate center">Sistema <br />Contábil</h6>
                </a>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_financeiro_contabilidade_configuracao_sistema_contabil_create') }}"
                       class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Adicionar">
                        <i class="material-icons">add_circle</i>
                    </a>
                </h5>
                <h5 class="right">
                    <a href="{{ path('urbem_financeiro_contabilidade_configuracao_sistema_contabil_list') }}"
                       class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar">
                        <i class="material-icons">search</i>
                    </a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable">
                <a href="{{ path('financeiro_contabilidade_configuracao_desdobramento_receita_filtro') }}">
                    <h6 class="center">Configurar Desdobramento da Receita</h6>
                </a>
                <div class="divider col s12"></div>
                <h5 class="right">
                    <a href="{{ path('financeiro_contabilidade_configuracao_desdobramento_receita_filtro') }}"
                       class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar">
                        <i class="material-icons">search</i>
                    </a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable">
                <a href="{{ path('urbem_financeiro_contabilidade_configuracao_nota_explicativa_create') }}">
                    <h6 class="truncate center">Manter Notas <br />Explicativas</h6>
                </a>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_financeiro_contabilidade_configuracao_nota_explicativa_create') }}"
                       class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Adicionar">
                        <i class="material-icons">add_circle</i>
                    </a>
                </h5>
                <h5 class="right">
                    <a href="{{ path('urbem_financeiro_contabilidade_configuracao_nota_explicativa_list') }}"
                       class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar">
                        <i class="material-icons">search</i>
                    </a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_financeiro_contabilidade_configuracao_encerrar_mes_create') }}">
                    <h6 class="center">Encerrar <br />Mês</h6>
                </a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_financeiro_contabilidade_configuracao_encerrar_mes_create') }}"
                       class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Editar">
                        <i class="material-icons">edit</i>
                    </a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_financeiro_contabilidade_configuracao_reabrir_mes_encerrado_create') }}">
                    <h6 class="center">Reabrir Mês <br />Encerrado</h6>
                </a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_financeiro_contabilidade_configuracao_reabrir_mes_encerrado_create') }}"
                       class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Editar">
                        <i class="material-icons">edit</i>
                    </a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_financeiro_contabilidade_configuracao_configurar_lancamento_despesa_create') }}">
                    <h6 class="center">Configurar Lançamentos de Despesa</h6>
                </a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_financeiro_contabilidade_configuracao_configurar_lancamento_despesa_create') }}"
                       class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Editar">
                        <i class="material-icons">edit</i>
                    </a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_financeiro_contabilidade_configuracao_configurar_lancamento_receita_create') }}">
                    <h6 class="center">Configurar Lançamentos de Receita</h6>
                </a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_financeiro_contabilidade_configuracao_configurar_lancamento_receita_create') }}"
                       class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Editar">
                        <i class="material-icons">edit</i>
                    </a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable">
                <a href="{{ path('urbem_financeiro_contabilidade_configuracao_conta_contabil_restos_pagar_np_create') }}">
                    <h6 class="center">Configurar Conta Contábil Restos a Pagar NP</h6>
                </a>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_financeiro_contabilidade_configuracao_conta_contabil_restos_pagar_np_create') }}"
                       class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Adicionar">
                        <i class="material-icons">add_circle</i>
                    </a>
                </h5>
                <h5 class="right">
                    <a href="{{ path('urbem_financeiro_contabilidade_configuracao_conta_contabil_restos_pagar_np_list') }}"
                       class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar">
                        <i class="material-icons">search</i>
                    </a>
                </h5>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
