{% if entidade is not null %}
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td rowspan="5" style="border-bottom: 0; border-left: 0; border-top: 0">
                    <img class="responsive-img" style="height: 65px; margin-top: 20px"
                         src="http://urbem.cnm.org.br/bundles/portal/images/logo_urbem.png">
                </td>
                <th rowspan="5" colspan="6">
                    {{ entidade.fkSwCgm.nomCgm }}<br />
                    Fone/Fax: {{ entidade.fkSwCgm.foneResidencial }} / {{ entidade.fkSwCgm.foneComercial }}<br />
                    E-mail: {{ entidade.fkSwCgm.eMail }}<br />
                    {{ entidade.fkSwCgm.tipoLogradouro }}
                    {{ entidade.fkSwCgm.logradouro }}, {{ entidade.fkSwCgm.numero }} - {{ entidade.fkSwCgm.bairro }}<br />
                    CEP: {{ entidade.fkSwCgm.cep|slice(0,5) }}-{{ entidade.fkSwCgm.cep|slice(5) }}<br />
                    CNPJ: {{ entidade.fkSwCgm.fkSwCgmPessoaJuridica.cnpj|slice(0,2) }}.{{ entidade.fkSwCgm.fkSwCgmPessoaJuridica.cnpj|slice(2,3) }}.{{ entidade.fkSwCgm.fkSwCgmPessoaJuridica.cnpj|slice(5,3) }}/{{ entidade.fkSwCgm.fkSwCgmPessoaJuridica.cnpj|slice(8,4) }}-{{ entidade.fkSwCgm.fkSwCgmPessoaJuridica.cnpj|slice(12) }}
                </th>
                <td>&nbsp;</td>
                <td>
                    <span class="bold">Versão:</span>
                    {{ versao }}
                </td>

            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <span class="bold">Usuario:</span>
                    {{ usuario.username }}
                </td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="bold">Exercicio - {{ exercicio }}</span>
                </td>
            </tr>
            <tr>
                <td>Emissão {{ "now"|date('d/m/Y') }}</td>
                <td><span class="bold">Hora:</span>{{ "now"|date('H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

{% endif %}
