<div class="container-rh">
    <table>
        <tr class="tr-rh">
            <th class="th-rh"></th>
            <th class="th-rh">{{ 'label.codigo'|trans }}</th>
            <th class="th-rh">{{ 'label.ppa.programas'|trans }}</th>
            <th class="th-rh">{{ 'label.ppa.natureza'|trans }}</th>
        </tr>
        {% for programa in field.options.data.programasPpa %}
            <tr class="tr-rh">
                <td class="td-rh">
                    <i data-numPrograma='{{ programa.num_programa }}' data-codPpa='{{ programa.cod_ppa }}' class="material-icons btn_meta">add</i>
                </td>
                <td class="td-rh">{{ programa.num_programa }}</td>
                <td class="td-rh">{{ programa.identificacao }}</td>
                <td class="td-rh" >{{ programa.continuo }}</td>
            </tr>
            <tr class="tr-rh" >
                <td class="td-rh" colspan="5" id='meta_{{ programa.num_programa }}'></td>
            </tr>
        {% endfor %}
    </table>
</div>