{# app/Resources/views/email/password_resetting.email.twig #}
{% trans_default_domain 'FOSUserBundle' %}

{% block subject %}
    {% autoescape false %}
    {{ 'resetting.email.subject'|trans({'%username%': user.username}) }}
    {% endautoescape %}
{% endblock %}

{% block body_text %}
{% endblock %}
{% block body_html %}
    <div style="min-height:100%!important;width:100%!important;background:#ffffff;margin:0;padding:0" bgcolor="#FFFFFF">
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-collapse:collapse!important;height:100%!important;width:100%!important;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;min-height:100%;color:#444444;background:#FFFFFF;margin:0;padding:0" bgcolor="#FFFFFF">
            <tbody><tr>
                <td align="center" valign="top">
                    <table align="center" border="0" cellspacing="0" width="100%" style="width:600px!important;min-width:600px!important;border-collapse:collapse!important">
                        <tbody>
                        <tr>
                            <td align="bottom" bgcolor="#eeeeee" style="text-align:center!important;background-image:url('https://s3-us-west-2.amazonaws.com/urbem/Screen+Shot+2016-08-03+at+17.27.46.pnghttps://ci3.googleusercontent.com/proxy/Zb6He6i0OXg8c5lyyPdNPGQ5d6KuNIaL2Dlz-w6Lk_l_-qprbm8ljEc2wZmPi9PM5tlt89u47E6uF3cGN3Db0CK8kHDa6WQLtmW_r203DoJLULVd_2jA__YWu45TZC8yh_4Rf0G2BTct1yXNmOhR812n3gr6s3bT6kjkN90=s0-d-e1-ft#https://gallery.mailchimp.com/5cb712992a906406c5eae28a7/images/d7a697bc-1cb3-4334-a1c4-2da3f78473a6.jpg')!important;background-repeat:no-repeat!important;background-position:center center!important">
                                <a href="#" style="text-decoration:none" target="_blank" data-saferedirecturl="#"><img src="http://urbem-staging.longevo.com.br/bundles/core/images/logo_60.png" width="172" height="50" style="min-height:auto;line-height:100%;outline:none;text-decoration:none;max-width:100%;margin:5px auto;border:0" class="CToWUd"></a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="overflow:hidden;border-radius:4px;max-width:600px!important;min-width:600px!important;border-collapse:collapse!important;text-align:center;background:#ffffff" bgcolor="#FFFFFF">
                                    <tbody>
                                    <tr>
                                        <td valign="top" bgcolor="#FFFFFF" style="max-width:100%!important;">
                                            <p style="text-align:left;color:#aaaaaa;font-size:18px;line-height:24px;margin:20px auto 0" align="center">{{ 'resetting.email.message'|trans({'%username%': user.username})|raw }}</p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                          <td align="center" valign="top">
                            <table border="0" cellpadding="14" cellspacing="0" style="display:inline-block;line-height:4px;font-size:17px;font-weight: bold;text-align:center;color:#ffffff;border-radius:6px;border-collapse:collapse!important;background:#ffc107;margin:10px 0" align="center" bgcolor="#ffc107">
                                <tbody><tr>
                                    <td align="center" valign="middle">
                                        <a href="{{ confirmationUrl }}" style="text-decoration:none"><font color="white">Trocar Senha</font></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="overflow:hidden;border-radius:4px;max-width:600px!important;min-width:600px!important;border-collapse:collapse!important;text-align:center;background:#ffffff" bgcolor="#FFFFFF">
                                    <tbody>
                                    <tr>
                                        <td valign="top" bgcolor="#FFFFFF" style="max-width:100%!important;padding:0px 0 0">
                                            <p style="text-align:left;color:#aaaaaa;font-size:18px;line-height:24px;margin:0px auto 0" align="center">{{ 'resetting.email.middle_message'|trans }}</p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="overflow:hidden;border-radius:4px;max-width:600px!important;min-width:600px!important;border-collapse:collapse!important;text-align:center;background:#ffffff" bgcolor="#FFFFFF">
                                    <tbody>
                                    <tr>
                                        <td valign="top" bgcolor="#FFFFFF" style="max-width:100%!important;padding:20px 0 0">
                                            <p style="text-align:left;color:#aaaaaa;font-size:18px;line-height:24px;margin:0px auto 0" align="center">{{ 'resetting.email.final_message'|trans|raw }}</p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <table border="0" align="center" cellpadding="10" cellspacing="0" width="600" style="border-collapse:collapse!important;max-width:100%!important">
                                    <tbody><tr>
                                        <td valign="top">
                                            <table border="0" cellpadding="10" cellspacing="0" width="100%" style="border-collapse:collapse!important">
                                                <tbody>
                                                <tr>
                                                    <td valign="top">
                                                        <br>
                                                        <div style="color:#707070;font-family:Arial;font-size:12px;line-height:125%;text-align:center;max-width:100%!important" align="center">
                                                            <em>Copyright © 2016 URBEM.</em>
                                                            <br>
                                                        </div>
                                                        <br>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" valign="middle" style="border-top-width:1px;border-top-color:#dddddd;border-top-style:solid">
                                                        <div style="color:#707070;font-family:Arial;font-size:12px;line-height:125%;text-align:center;max-width:100%!important" align="center">
                                                            {#&nbsp;<a href="http://em.trello.com/unsubscribe/NDEzNTI6FwFX2wJkAAJzABcl77AaAVJqgB4tFWAYV6Hq0AFtOjM2MjgwOQA=" style="text-decoration:underline;color:#336699;font-weight:normal" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://em.trello.com/unsubscribe/NDEzNTI6FwFX2wJkAAJzABcl77AaAVJqgB4tFWAYV6Hq0AFtOjM2MjgwOQA%3D&amp;source=gmail&amp;ust=1470340183733000&amp;usg=AFQjCNHSF3q0OUtIpLDnwcE0oaCppOlxag"> Cancela sua inscrição</a> | <a href="http://em.trello.com/deliveries/NDEzNTI6FwFX2wJkAAJzABcl77AaAVJqgB4tFWAYV6Hq0AFtOjM2MjgwOQA=" style="text-decoration:underline;color:#336699;font-weight:normal" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://em.trello.com/deliveries/NDEzNTI6FwFX2wJkAAJzABcl77AaAVJqgB4tFWAYV6Hq0AFtOjM2MjgwOQA%3D&amp;source=gmail&amp;ust=1470340183733000&amp;usg=AFQjCNGILzVYw0T6H0tpXcUdhvNTepsInw">Visualize no navegador.</a>&nbsp;#}
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody></table>
                </td>
            </tr>
            </tbody></table>
    </div>
{% endblock %}
