{% trans_default_domain 'FOSUserBundle' %}
<div class="box-senha header">
    <h5><i class="mdi mdi-key left"></i>Alterar Senha</h5>
    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
        {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'field'}}) }}

        {{ form_label(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'field'}}) }}
        <div>
            <input type="submit" class="btn-recovery btn" value="{{ 'resetting.reset.submit'|trans }}" />
        </div>
    {{ form_end(form) }}
</div>
<div class="footer"><a href="http://www.cnm.org.br/"><img class="responsive" src="{{ asset('/bundles/core/images/logo_cnm.png') }}"></a></div>
