<tr class="sonata-ba-view-container">
    <th>{{ form_label(form.fkTcemgContrato) }}</th>
    <td>
        {{ form_widget(form.fkTcemgContrato) }}

        {% if show_error %}
            {{ form_errors(form.fkTcemgContrato) }}

        {% endif %}
    </td>
</tr>

<tr class="sonata-ba-view-container">
    <th>{{ form_label(form.codTipo) }}</th>
    <td>
        {{ form_widget(form.codTipo) }}

        {% if show_error %}
            {{ form_errors(form.codTipo) }}

        {% endif %}
    </td>
</tr>

<tr class="sonata-ba-view-container">
    <th>{{ form_label(form.dataApostila) }}</th>
    <td>
        {{ form_widget(form.dataApostila) }}

        {% if show_error %}
            {{ form_errors(form.dataApostila) }}

        {% endif %}
    </td>
</tr>

<tr class="sonata-ba-view-container">
    <th>{{ form_label(form.codAlteracao) }}</th>
    <td>
        {{ form_widget(form.codAlteracao) }}

        {% if show_error %}
            {{ form_errors(form.codAlteracao) }}

        {% endif %}
    </td>
</tr>

<tr class="sonata-ba-view-container">
    <th>{{ form_label(form.descricao) }}</th>
    <td>
        {{ form_widget(form.descricao) }}

        {% if show_error %}
            {{ form_errors(form.descricao) }}

        {% endif %}
    </td>
</tr>

<tr class="sonata-ba-view-container">
    <th>{{ form_label(form.valorApostila) }}</th>
    <td>
        {{ form_widget(form.valorApostila) }}

        {% if show_error %}
            {{ form_errors(form.valorApostila) }}

        {% endif %}
    </td>
</tr>
