<div class="col s12">
    <div class="col s12 profile-box-processo">
        <h4 class="col s12 blue-text text-darken-4 left">
            <i class="mdi mdi-launch left"></i>{{ 'label.lote.modulo'|trans }}: {{ lote.codLote ~ '/' ~ lote.exercicio }}
            <a href="{{ path('urbem_financeiro_contabilidade_lote_edit', { 'id': admin.getObjectKey(lote) })}}" class="btn small-btn white-text blue darken-4 tooltipped right" data-position="left" data-delay="50" data-tooltip="{{ 'editar'|trans }}">
                <i class="material-icons">edit</i>
            </a>
        </h4>
        <h6 class="divider grey col s12"></h6>
        <div class="col s9">
            <h6 class="col s12 left-align blue-text text-darken-4 profile-titles">{{ 'label.lote.codEntidade'|trans }}</h6>
            <h6 class="col s12 grey-text text-darken-1">{{ lote.fkOrcamentoEntidade }}</h6>
        </div>
        <div class="col s3">
            <h6 class="col s12 left-align blue-text text-darken-4 profile-titles">{{ 'label.lote.codLote'|trans }}</h6>
            <h6 class="col s12 grey-text text-darken-1">{{ lote.codLote }}</h6>
        </div>
        <div class="col s9">
            <h6 class="col s12 left-align blue-text text-darken-4 profile-titles">{{ 'label.lote.nomLote'|trans }}</h6>
            <h6 class="col s12 grey-text text-darken-1">{{ lote.nomLote }}</h6>
        </div>
        <div class="col s3">
            <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.lote.dtLote'|trans }}</h6>
            <h6 class="col s12 grey-text text-darken-1">{{ lote.dtLote|date("d/m/Y") }}</h6>
        </div>
        <h4 class="col s12 blue-text text-darken-4 left">
            <i class="mdi mdi-cash-multiple left"></i> {{ 'label.lote.totais'|trans }}
        </h4>
        <h6 class="divider grey col s12"></h6>
        <div class="col s4">
            <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.lote.totalDebito'|trans }}</h6>
            <h6 class="col s12 grey-text text-darken-1">{{ lote.getTotaisDebito|number_format_currency('BRL') }}</h6>
        </div>
        <div class="col s4">
            <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.lote.totalCredito'|trans }}</h6>
            <h6 class="col s12 grey-text text-darken-1">{{ lote.getTotaisCredito|number_format_currency('BRL') }}</h6>
        </div>
        <div class="col s4">
            <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.lote.diferenca'|trans }}</h6>
            <h6 class="col s12 grey-text text-darken-1">{{ lote.getDiferenca|number_format_currency('BRL') }}</h6>
        </div>
    </div>
</div>