{% block content %}
<div class="form_row col s12 campo-sonata" style="">
    <div class="col s3">
        <table class="table">
            <thead class="thead-rh">
                <tr style="background: #366DA1; color: white; font-size: 12px;">
                    <th>{{ 'label.economico.licencaHorarioEspecial.diaSemana' | trans }}</th>
                    <th>{{ 'label.economico.licencaHorarioEspecial.inicio' | trans }}</th>
                    <th>{{ 'label.economico.licencaHorarioEspecial.termino' | trans }}</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody id="tbodyHorariosSelecionados"
            </tbody>
        </table>
    </div>
    <div class="col s9 pull-right" style="float: right;">
        <table class="table">
            <thead class="thead-rh">
                <tr style="background: #366DA1; color: white; font-size: 12px;">
                    {{ admin.getDiasSemana('dias-semana') | raw }}
                </tr>
            </thead>
            <tbody>
                <tr> {{ admin.getDiasSemana('checkbox') | raw }} </tr>
            </tbody>
        </table>
        <hr />
        <div class="col s4">
            <label for="custom_horaInicio">{{ 'label.economico.licencaHorarioEspecial.horaInicio' | trans }}</label>
            <div class="input-group" id="custom_div_diasSemana_horaInicio">
                <input type="time" name="custom_input_diasSemana_horaInicio" class="form-control input-hrInicio" required>
                <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
            </div>
        </div>
        <div class="col s4">
            <label for="custom_horaTermino">{{ 'label.economico.licencaHorarioEspecial.horaTermino' | trans }}</label>
            <div class="input-group" id="custom_div_diasSemana_horaTermino">
                <input type="time" name="custom_input_diasSemana_horaTermino" class="form-control input-HrTermino" required>
                <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
            </div>
        </div>
        <div id="error-horario" class="col s4">
            <a id="horario" href="#" class="btn btn-success" style="margin-top: 30px; min-width: 130px; background: #366DA1;">{{ 'incluir' | trans }}</a>
        </div>
    </div>
</div>
{% endblock content %}