{% extends "base_home_cards.html.twig" %}

{% block title %}HOME{% endblock title %}

{% block menu %}
    {% include '::partials/menu.html.twig' %}
{% endblock menu %}

{% block content %}
<!--SUB-MODULOS-->
<div class="container">
    <div class="container col s12 m12 l12">
        <h4 class="titles left blue-text text-darken-4">Módulo Compras Governamentais</h4>
    </div>
    <div class="row">
        <div class="col s10 m6 l3">
            <div class="card small white">
                <a href="{{ path('urbem_compras_governamentais_catalogo_item_list') }}" title="Itens">
                    <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator responsive-img"
                             src="{{ asset('/bundles/comprasgovernamentais/images/items-box.png') }}"
                             alt="icone Cadastro imobiliário">
                    </div>
                    <div class="card-content white">
                        <span class="card-title activator blue-text text-darken-4 truncate flow-text">
                            Itens
                        </span>
                    </div>
                </a>
            </div>
        </div>

        <div class="col s10 m6 l3">
            <div class="card small white">
                <a href="{{ path('urbem_compras_governamentais_requisicao_list') }}" title="Requisições">
                    <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator responsive-img"
                             src="{{ asset('/bundles/comprasgovernamentais/images/requisition.png') }}"
                             alt="Icone Cadastro Econômico">
                    </div>
                    <div class="card-content white">
                        <span class="card-title activator blue-text text-darken-4 truncate flow-text">
                            Requisições
                        </span>
                    </div>
                </a>
            </div>
        </div>

        <div class="col s10 m6 l3">
            <div class="card small white">
                <a href="{{ path('urbem_compras_governamentais_controle_itens_list') }}" title="Controle de Itens">
                    <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator responsive-img"
                             src="{{ asset('/bundles/comprasgovernamentais/images/requisition.png') }}"
                             alt="Icone Cadastro Econômico">
                    </div>
                    <div class="card-content white">
                        <span class="card-title activator blue-text text-darken-4 truncate flow-text">
                            Controle de Itens
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
