{% extends "base_home_cards.html.twig" %}
{% block content %}
<div class="container">
    <div class="container">
        <h4 class="blue-text text-darken-4">Administração do Bem</h4>
        <div class="divider grey title-divider"><p>1</p></div>
    </div>
    <div class="container">
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_patrimonial_patrimonio_bem_list') }}">
                    <h6><i class="fa fa-cubes large" aria-hidden="true"></i></h6>
                    <h5 class="truncate center">Bem</h5>
                </a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_patrimonial_patrimonio_bem_create') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                </h5>
                <h5 class="right">
                    <a href="{{ path('urbem_patrimonial_patrimonio_bem_list') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_patrimonial_patrimonio_tipo_baixa_list') }}">
                    <h6><i class="mdi mdi-cube-outline large"></i></h6>
                    <h5 class="truncate center">Tipo Baixa</h5>
                </a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_patrimonial_patrimonio_tipo_baixa_create') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                </h5>
                <h5 class="right">
                    <a href="{{ path('urbem_patrimonial_patrimonio_tipo_baixa_list') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_patrimonial_patrimonio_bem_baixado_list') }}">
                    <h6><i class="mdi mdi-cube-send large"></i></h6>
                    <h5 class="truncate center">Baixar Bem</h5>
                </a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_patrimonial_patrimonio_bem_baixado_create') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                </h5>
                <h5 class="right">
                    <a href="{{ path('urbem_patrimonial_patrimonio_bem_baixado_list') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_patrimonial_patrimonio_bem_responsavel_create') }}">
                    <h6><i class="mdi mdi-transfer large"></i></h6>
                    <h5 class="truncate center">Modificar Responsavel</h5>
                </a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_patrimonial_patrimonio_bem_responsavel_create') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                </h5>
            </div>
        </div>

        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_patrimonial_patrimonio_bem_transferir_create') }}">
                    <h6><i class="mdi mdi-transfer large"></i></h6>
                    <h5 class="truncate center">Tranferir Bem</h5>
                </a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_patrimonial_patrimonio_bem_transferir_create') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                </h5>
            </div>
        </div>

        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_patrimonial_patrimonio_depreciacao_automatica_create') }}">
                    <h6><i class="mdi mdi-trending-down  large"></i></h6>
                    <h5 class="truncate center">Depreciação Automática</h5>
                </a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_patrimonial_patrimonio_depreciacao_automatica_create') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                </h5>
            </div>
        </div>

        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_patrimonial_patrimonio_lancamento_depreciacao_create') }}">
                    <h6><i class="mdi mdi-basket-unfill  large"></i></h6>
                    <h5 class="truncate center">Lançamento Contábil de Deprecição</h5>
                </a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_patrimonial_patrimonio_lancamento_depreciacao_create') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                </h5>
            </div>
        </div>

    </div>
</div>
{% endblock content %}
