<div class="row">
    <div class="col s12 servidor-table">
        <a class="btn-lg tooltipped"
           data-position="left"
           data-delay="50"
           data-tooltip="Incluir">
            <i class="fa fa-cubes left"></i>
            {{ 'label.recursosHumanos.folhas.consultarFichaFinanceira.valoresAcumuladosMatricula'|trans }}:
            {{ object.processados.rotuloValoresAcumuladosBase[0].rotulo }}
        </a>
    </div>

    <table class="col s12 highlight bordered">
        <thead class="thead-rh">
        <tr class="sonata-ba-list-field-header">
            <th class="th-rh">{{ 'label.recursosHumanos.contratoServidorPeriodo.evento'|trans }}</th>
            <th class="th-rh">{{ 'label.recursosHumanos.folhas.consultarFichaFinanceira.descricao'|trans }}</th>
            <th class="th-rh">{{ 'label.recursosHumanos.contratoServidorPeriodo.valor'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for valoresAcumuladosBase in object.processados.valoresAcumuladosBase %}
            <tr>
                <td class="td-rh">{{ valoresAcumuladosBase.codigo }}</td>
                <td class="td-rh">{{ valoresAcumuladosBase.descricao }}</td>
                <td class="td-rh">{{ valoresAcumuladosBase.valor|number_format(2, ',', '.') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% if object.codConfiguracao == 1 or object.codConfiguracao == 4 %}
    <div class="row">
        <div class="col s12 servidor-table">
            <a class="btn-lg tooltipped"
               data-position="left"
               data-delay="50"
               data-tooltip="Incluir">
                <i class="fa fa-cubes left"></i>
                {{ 'label.recursosHumanos.folhas.consultarFichaFinanceira.valoresAcumuladosSalarioFamilia'|trans }}:
                {{ object.processados.rotuloValoresAcumuladosBaseSalarioFamilia[0].rotulo }}
            </a>
        </div>

        <table class="col s12 highlight bordered">
            <thead class="thead-rh">
            <tr class="sonata-ba-list-field-header">
                <th class="th-rh">{{ 'label.recursosHumanos.contratoServidorPeriodo.evento'|trans }}</th>
                <th class="th-rh">{{ 'label.recursosHumanos.folhas.consultarFichaFinanceira.descricao'|trans }}</th>
                <th class="th-rh">{{ 'label.recursosHumanos.contratoServidorPeriodo.valor'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for salarioFamilia in object.processados.valoresAcumuladosBaseSalarioFamilia %}
                <tr>
                    <td class="td-rh">{{ salarioFamilia.codigo }}</td>
                    <td class="td-rh">{{ salarioFamilia.descricao }}</td>
                    <td class="td-rh">{{ salarioFamilia.valor|number_format(2, ',', '.') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
<div class="row">
    <div class="col s12 servidor-table">
        <a class="btn-lg tooltipped"
           data-position="left"
           data-delay="50"
           data-tooltip="Incluir">
            <i class="fa fa-cubes left"></i>
            {{ 'label.recursosHumanos.folhas.consultarFichaFinanceira.valoresAcumuladosMatricula'|trans }}:
            {{ object.processados.rotuloValoresAcumuladosDesconto[0].rotulo }}
        </a>
    </div>

    <table class="col s12 highlight bordered">
        <thead class="thead-rh">
        <tr class="sonata-ba-list-field-header">
            <th class="th-rh">{{ 'label.recursosHumanos.contratoServidorPeriodo.evento'|trans }}</th>
            <th class="th-rh">{{ 'label.recursosHumanos.folhas.consultarFichaFinanceira.descricao'|trans }}</th>
            <th class="th-rh">{{ 'label.recursosHumanos.contratoServidorPeriodo.valor'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for acumuladoDesconto in object.processados.valoresAcumuladosDesconto %}
            <tr>
                <td class="td-rh">{{ acumuladoDesconto.codigo }}</td>
                <td class="td-rh">{{ acumuladoDesconto.descricao }}</td>
                <td class="td-rh">{{ acumuladoDesconto.valor|number_format(2, ',', '.') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="row">

    <table class="col s12 highlight bordered">
        <tbody>
        <tr>
            <td class="td-rh">(S)Folha Salário</td>
            <td class="td-rh">(C)Folha Complementar</td>
            <td class="td-rh">(F)Folha Férias</td>
        </tr>
        </tbody>
    </table>
</div>
