<table class="table show-table">
    <tbody>

        <tr class="sonata-ba-view-container">
            <td class="sonata-ba-list-field sonata-ba-list-field-text">{{ 'label.arrecadacaoCompensarPagamento.contribuinte'|trans }}</td>
            <td class="sonata-ba-list-field sonata-ba-list-field-text" >

            {% set cgm = admin.getFilterContribuinte(true) %}

            {% if cgm is defined %}
                <input type="text" name="contribuinte" id="contribuinte" value="{{ cgm.getNumcgm() }} - {{ cgm.getNomCgm() }}" readonly>
                {% set cgm = admin.setNumCgm(cgm.getNumcgm()) %}
            {% endif %}
            </td>
        </tr>

        <tr class="sonata-ba-view-container">
            <td class="sonata-ba-list-field sonata-ba-list-field-text">{{ 'label.arrecadacaoCompensarPagamento.saldoDisponivel'|trans }}</td>
            <td class="sonata-ba-list-field sonata-ba-list-field-text">
                <input type="text" name="saldoDisponivel" id="saldoDisponivel" value="{{ admin.getSaldoDisponivel() }}" readonly>
            </td>
        </tr>

        <tr class="sonata-ba-view-container">
            <td class="sonata-ba-list-field sonata-ba-list-field-text">{{ 'label.arrecadacaoCompensarPagamento.valorParcelasSelecionadas'|trans }}</td>
            <td class="sonata-ba-list-field sonata-ba-list-field-text">
                <input type="text" name="parcelasSelecionadas" id="parcelasSelecionadas" value="0.00" readonly>
            </td>
        </tr>

        <tr class="sonata-ba-view-container">
            <td class="sonata-ba-list-field sonata-ba-list-field-text">{{ 'label.arrecadacaoCompensarPagamento.totalCompensacao'|trans }}</td>
            <td class="sonata-ba-list-field sonata-ba-list-field-text">
                <input type="text" name="totalCompensacao" id="totalCompensacao" value="0.00" readonly>
            </td>
        </tr>

        <tr class="sonata-ba-view-container">
            <td class="sonata-ba-list-field sonata-ba-list-field-text">{{ 'label.arrecadacaoCompensarPagamento.valorCompensar'|trans }}</td>
            <td class="sonata-ba-list-field sonata-ba-list-field-text">
                <input type="text" name="valorCompensar" id="valorCompensar" value="0.00" readonly>
            </td>
        </tr>

        <tr class="sonata-ba-view-container">
            <td class="sonata-ba-list-field sonata-ba-list-field-text">{{ 'label.arrecadacaoCompensarPagamento.saldoRestante'|trans }}</td>
            <td class="sonata-ba-list-field sonata-ba-list-field-text">
                <input type="text" name="saldoRestante" id="saldoRestante" value="0.00" readonly>
            </td>
        </tr>

        <tr class="sonata-ba-view-container">
            <td class="sonata-ba-list-field sonata-ba-list-field-text" colspan="2">
                <input type="checkbox" name="aplicarAcrescimos" id="aplicaAcrescimos" value="aplicarAcrescimos"> &nbsp;
                {{ 'label.arrecadacaoCompensarPagamento.aplicarAcrescimos'|trans }}
            </td>
        </tr>

        <tr class="sonata-ba-view-container">
            <td class="sonata-ba-list-field sonata-ba-list-field-text" colspan="2">
                <input type="checkbox" name="emitirRelatorio" value="emitirRelatorio"> &nbsp;
                {{ 'label.arrecadacaoCompensarPagamento.emitirRelatorio'|trans }}
            </td>
        </tr>

    </tbody>
</table>
