{% extends "base_home_cards.html.twig" %}
{% block content %}
    <div class="delete-box box-recovery-warning center">
        <div class="col s12">
            <img class="activator responsive-img left" src="{{ asset('/bundles/financeiro/images/warning.png') }}">
            <h4>{{ parametro.titulo }}</h4>
            <p>{{ parametro.mensagem }}</p>
            <p>Código do Terminal: <strong>{{ parametro.codigo }}</strong></p>
            {% if parametro.voltar is not null %}
                <a class="left-align" href="{{ parametro.voltar }}">Voltar</a>
            {% endif %}
        </div>
    </div>
{% endblock content %}


