{% extends "base.html.twig" %}
{% block content %}
<div class="container-rh">
    <div class="row">
        <div class="col s12">
            <div class="box-header">
                <h5 class="col s12 box-title-rh blue-text text-darken-4">{{ 'Conceder 13° Salário'|trans }}</h5>

                <div class="divider grey title-divider"><p>1</p></div>
            </div>


        </div>
        {{ form_start(form) }}
    </div>
    <div class="row">

        <div class="col s3 field-filtro">
                {{ form_label(form.matricula, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.matricula, {'attr': {'class': 'form-control white basic-multiple select2-parameters'}}) }}
                {{ form_errors(form.matricula) }}
        </div>
        <div class="col s3 field-filtro">
                {{ form_label(form.lotacao, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.lotacao, {'attr': {'class': 'form-control white basic-multiple select2-parameters'}}) }}
                {{ form_errors(form.lotacao) }}
        </div>
        <div class="col s3 field-filtro">
                {{ form_label(form.local, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.local, {'attr': {'class': 'form-control white basic-multiple select2-parameters'}}) }}
                {{ form_errors(form.local) }}
        </div>
    
        <div class="col s3 field-filtro">
                {{ form_label(form.regime, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.regime, {'attr': {'class': 'form-control white basic-multiple select2-parameters'}}) }}
                {{ form_errors(form.regime) }}
        </div>
        <div class="col s3 field-filtro perce-rh">
                {{ form_label(form.percentual_pagamento, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.percentual_pagamento, {'attr': {'class': 'input-rh '}}) }}
                <span class="input-group-addon"><i class="fa-percent fa"></i></span>
                {{ form_errors(form.percentual_pagamento) }}
        </div>
    
        <div class="col s3 field-filtro">
            <label for="gerar_somente_vantagens_fixas" class="control-label labelCheck-rh">Gerar Somente Vantagens Fixas</label>
            <input type="checkbox" value="" name="gerar_somente_vantagens_fixas" class="iCheck-helper browser-default icheckBox">
        </div>
        <div class="col s6 field-filtro radio-rh">
            <label class="control-label label-rh required ">St desdobramento</label>
            <div id="form_stDesdobramento" class="white">
                <input type="radio" id="form_stDesdobramento_0" name="form[stDesdobramento]" required="required" value="A">
                <label for="form_stDesdobramento_0" class="required">Adiantamento 13º Salário</label><input type="radio" id="form_stDesdobramento_1" name="form[stDesdobramento]" required="required" value="D">
                <label for="form_stDesdobramento_1" class="required">Complemento</label>
                <input type="radio" id="form_stDesdobramento_2" name="form[stDesdobramento]" required="required" value="C">
                <label for="form_stDesdobramento_2" class="required">13º Salário</label>
            </div>
            
        </div>

        <div class="col s3 field-filtro radio-rh">
            <label class="control-label label-rh required">Pagamento</label>
            <div id="form_stOpcao" class="white">
                <input type="radio" id="pagamento_folha1" name="pagamento_folha" required="required" value="contrato">
                <label for="form_stOpcao_0" class="required">13º Salário</label>
                <input type="radio" id="pagamento_folha2" name="pagamento_folha" required="required" value="cgm_contrato">
                <label for="form_stOpcao_1" class="required">Salário</label>
            </div>
            
        </div>
               
    </div>

    <div class="row">
        <div class="col s6">
            <a  class="btn-floating white-text blue darken-4" href="{{ path('folhapagamento_folha_13_salario_index') }}"><i class="material-icons">arrow_back</i></a>
        </div>
        <div class="col s6 right-align">
            <button type="submit" class="waves-effect waves-light btn blue darken-4" value="Registrar"><i class="mdi mdi-file-document left"></i>Registrar</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock content %}
