<div>
    <b>{{ 'label.usuario.fotoHelp.tipoPermitidos'|trans }}:</b> {{ rules.mimeTypes|join(', ') }}<br><br>
    <b>{{ 'label.usuario.fotoHelp.dimensoes'|trans }}:</b><br>
    <b>{{ 'label.usuario.fotoHelp.resolucaoMaxima'|trans }}:</b> {{ rules.maxWidth }} x {{ rules.maxHeight }}px <br>
    <b>{{ 'label.usuario.fotoHelp.resolucaoMinima'|trans }}:</b> {{ rules.minWidth }} x {{ rules.minHeight }}px <br><br>
    <b>{{ 'label.usuario.fotoHelp.tamanhoMaximo'|trans }}:</b> {{ rules.maxSize }}<br>
</div>
