<div class=" ">
    <div class="box box-primary">
        <div class="box-header col s12">
            <h3 class="col s10 box-title left-align show">
                {{ 'label.dados_endereco'|trans }}
            </h3>
        </div>
        <div class="box-body  no-padding">
            <table class="table show-table">
                <tbody>
                <tr class="sonata-ba-view-container">
                    <th>{{ 'label.logradouro'|trans }}</th>
                    <td>{{ object.fkSwCgm.tipoLogradouroAndNumero|title }}</td>
                </tr>
                <tr class="sonata-ba-view-container">
                    <th>{{ 'label.swBairro.codUf'|trans }}</th>
                    <td>{{ object.fkSwCgm.fkSwMunicipio.fkSwUf.nomUf ~ ' / ' ~ object.fkSwCgm.fkSwMunicipio.fkSwUf.siglaUf }}</td>
                </tr>
                <tr class="sonata-ba-view-container">
                    <th>{{ 'label.cidade'|trans }}</th>
                    <td>{{ object.fkSwCgm.fkSwMunicipio.nomMunicipio|title }}</td>
                </tr>
                <tr class="sonata-ba-view-container">
                    <th>{{ 'label.servidor.bairro'|trans }}</th>
                    <td>{{ object.fkSwCgm.bairro|title }}</td>
                </tr>
                <tr class="sonata-ba-view-container">
                    <th>{{ 'label.servidor.cep'|trans }}</th>
                    <td>{{ object.fkSwCgm.cep|cep }}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
