<div class=" ">
    <div class="box box-primary">
        <div class="box-header col s12">
            <h3 class="col s10 box-title left-align show">
                {{ 'label.informacoes_contato'|trans }}
            </h3>
        </div>
        <div class="box-body  no-padding">
            <table class="table show-table">
                <tbody>
                <tr class="sonata-ba-view-container">
                    <th>{{ 'label.telefone_residencial'|trans }}</th>
                    <td>{% if object.fkSwCgm.foneResidencial is null or object.fkSwCgm.foneResidencial|trim is empty %}
                            -
                        {% else %}
                            {{ object.fkSwCgm.foneResidencial }}
                        {% endif %}
                    </td>
                </tr>
                <tr class="sonata-ba-view-container">
                    <th>{{ 'label.telefone_comercial'|trans }}</th>
                    <td>{% if object.fkSwCgm.foneComercial is null or object.fkSwCgm.foneComercial|trim is empty %}
                            -
                        {% else %}
                            {{ object.fkSwCgm.foneComercial }}
                        {% endif %}
                    </td>
                </tr>
                <tr class="sonata-ba-view-container">
                    <th>{{ 'label.telefone_celular'|trans }}</th>
                    <td>{% if object.fkSwCgm.foneCelular is null or object.fkSwCgm.foneCelular|trim is empty %}
                            -
                        {% else %}
                            {{ object.fkSwCgm.foneCelular }}
                        {% endif %}
                    </td>
                </tr>
                <tr class="sonata-ba-view-container">
                    <th>{{ 'label.usuario.email'|trans }}</th>
                    <td>{% if object.fkSwCgm.eMail is null or object.fkSwCgm.eMail|trim is empty %}
                            -
                        {% else %}
                            {{ object.fkSwCgm.eMail }}
                        {% endif %}
                    </td>
                </tr>
                <tr class="sonata-ba-view-container">
                    <th>{{ 'label.email_adicional'|trans }}</th>
                    <td>{% if object.fkSwCgm.eMailAdcional is null or object.fkSwCgm.eMailAdcional|trim is empty %}
                            -
                        {% else %}
                            {{ object.fkSwCgm.eMailAdcional }}
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
