{% extends "base.html.twig" %}
{% block content %}
<div class="container-rh">
    <div class="row title-edit">
        <h5>Folhapagamento\TabelaIrrf edit</h5>
        <div class="divider grey title-divider"><p>1</p></div>
    </div>
    <div class="row">
        {{ form_start(form) }}
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(form.codTabela, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(form.codTabela, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(form.codTabela) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(form.timestamp, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(form.timestamp, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(form.timestamp) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(form.vlDependente, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(form.vlDependente, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(form.vlDependente) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(form.vlLimiteIsencao, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(form.vlLimiteIsencao, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(form.vlLimiteIsencao) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(form.vigencia, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(form.vigencia, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(form.vigencia) }}
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <a class="btn-floating white-text blue darken-4" href="{{ path('folha_pagamento_irrf_tabela_index') }}"><i class="material-icons">arrow_back</i></a>
        </div>
        <div class="col s6 right-align">
            <button type="submit" class="waves-effect waves-light btn blue darken-4" value="Salvar"><i class="material-icons left">save</i> Salvar</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
