<table class="table table-custom padding-none">
    <tbody>
    <tr>
        <td rowspan="5" class="border-top-none border-right-none border-left-none text-align-center vertical-align-middle">
            {% if logoTipo is defined %}
                <img class="responsive-img" src="{{ logoTipo }}" style="height: 45px;">
            {% endif %}
        </td>
        <td rowspan="5" colspan="6" class="border-top-none vertical-align-middle">
            <span class="bold">{{ dadosEntidade.nomEntidade }}</span><br />
            {{ 'foneFax'|trans }}: {{ dadosEntidade.fone }} / {{ dadosEntidade.fax }}<br />
            {{ 'email'|trans }}: {{ dadosEntidade.email }}<br />
            {{ dadosEntidade.logradouro }}<br />
            {{ 'cep'|trans }}: {{ dadosEntidade.cep|slice(0,5) }}-{{ dadosEntidade.cep|slice(5) }}<br />
            {{ 'cnpj'|trans }}: {{ dadosEntidade.cnpj|slice(0,2) }}.{{ dadosEntidade.cnpj|slice(2,3) }}.{{ dadosEntidade.cnpj|slice(5,3) }}/{{ dadosEntidade.cnpj|slice(8,4) }}-{{ dadosEntidade.cnpj|slice(12) }}
        </td>
        <td class="bold" width="20%">{{ modulo }}</td>
        <td width="20%">
            <span class="bold">{{ 'versao'|trans }}</span>
            {{ versao }}
        </td>
    </tr>
    <tr>
        <td class="bold">{{ subModulo }}</td>
        <td>
            <span class="bold">{{ 'usuario'|trans }}</span>
            {{ usuario.username }}
        </td>
    </tr>
    <tr>
        <td colspan="2" class="bold">{{ funcao }}</td>
    </tr>
    <tr>
        <td colspan="2">{{ nomRelatorio }}</td>
    </tr>
    <tr>
        <td>
            <span class="bold">{{ 'emissao'|trans }}:</span>
            {{ emissaoDocumento|date('d/m/Y') }}
        </td>
        <td>
            <span class="bold">{{ 'hora'|trans }}:</span>
            {{ emissaoDocumento|date("h:i:s") }}
        </td>
    </tr>
    </tbody>
</table>