{% extends "base.html.twig" %}
{% block content %}
<div class="container-rh">
    <div class="row">
        <div class="col s12">
            <h5 class="blue-text text-darken-4">{{ 'label.configuracaoHsbc.modulo'|trans }}</h5>
            <div class="divider grey title-divider"><p>1</p></div>
        </div>
    </div>
    <div class="row">
    {{ form_start(form) }}
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(form.codAgencia, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(form.codAgencia, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(form.codAgencia) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(form.descricao, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(form.descricao, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(form.descricao) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(form.vigencia, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(form.vigencia, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(form.vigencia) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(form.codConvenio, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(form.codConvenio, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(form.codConvenio) }}
        </div>
    {{ form_end(form) }}
    </div>
    <div class="row">
        <div class="col s6">
            <a  class="btn-floating white-text blue darken-4" href="{{ path('informacoes_configuracao_hsbc_index') }}"><i class="material-icons">arrow_back</i></a>
        </div>
        <div class="col s6 right-align">
            <button type="submit" class="waves-effect waves-light btn blue darken-4" value="Create"><i class="material-icons left">save</i>Salvar</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock content %}
