{% extends "base.html.twig" %}
{% block content %}
<div class="container-rh">
    <div class="row">
        <div class="col s12">
            <h5 class="blue-text text-darken-4">{{ 'editar'|trans }} {{ 'label.configuracaoDirf.modulo'|trans }}</h5>
            <div class="divider grey title-divider"><p>1</p></div>
        </div>
    </div>
    <div class="row">
    {{ form_start(edit_form) }}
        <div class="col s6 field-filtro select-filtro">
            {{ form_label(edit_form.responsavelPrefeitura, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(edit_form.responsavelPrefeitura, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(edit_form.responsavelPrefeitura) }}
        </div>
        <div class="col s6 field-filtro select-filtro">
            {{ form_label(edit_form.responsavelEntrega, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(edit_form.responsavelEntrega, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(edit_form.responsavelEntrega) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(edit_form.telefone, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(edit_form.telefone, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(edit_form.telefone) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(edit_form.ramal, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(edit_form.ramal, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(edit_form.ramal) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(edit_form.fax, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(edit_form.fax, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(edit_form.fax) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(edit_form.email, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(edit_form.email, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(edit_form.email) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(edit_form.pagamentoMesCompetencia, null, {'label_attr': {'class': 'control-label labelCheck-rh'}}) }}
            {{ form_widget(edit_form.pagamentoMesCompetencia, {'attr': {'class': 'iCheck-helper icheckBox'}}) }}
            {{ form_errors(edit_form.pagamentoMesCompetencia) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(edit_form.codEventoMolestia, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(edit_form.codEventoMolestia, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(edit_form.codEventoMolestia) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(edit_form.codNatureza, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(edit_form.codNatureza, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(edit_form.codNatureza) }}
        </div>
        {{ form_end(edit_form) }}
    </div>
    <div class="row">
        <div class="col s9">
            <a  class="btn-floating white-text blue darken-4" href="{{ path('informacoes_configuracao_dirf_index') }}"><i class="material-icons">arrow_back</i></a>
        </div>
        <div class="hide-on-med-and-down col l1 right-align deletar">
            {{ form_start(delete_form) }}
            <button class="btn waves-effect waves-light white-text grey tooltipped" data-position="right" data-delay="50" data-tooltip="Excluir" value="Delete" type="submit" name="action"><i class="material-icons">delete</i></button>
            {{ form_end(delete_form) }}
        </div>
        <div class="col s2 right-align">
            <button type="submit" class="waves-effect waves-light btn blue darken-4" value="Salvar"><i class="material-icons left">save</i> Salvar</button>
        </div>
        {{ form_end(edit_form) }}
    </div>
</div>
{% endblock %}

