{% extends "base.html.twig" %}
{% block content %}
<div class="container-rh">
    <div class="row">
        <div class="col s12">
            <h5 class="blue-text text-darken-4">{{ 'label.configuracaoDirf.modulo'|trans }}</h5>
            <div class="divider grey title-divider"><p>1</p></div>
        </div>
    </div>
    <div class="row">
    {{ form_start(form) }}
        <div class="col s6 field-filtro select-filtro">
            {{ form_label(form.responsavelPrefeitura, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(form.responsavelPrefeitura, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(form.responsavelPrefeitura) }}
        </div>
        <div class="col s6 field-filtro select-filtro">
            {{ form_label(form.responsavelEntrega, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(form.responsavelEntrega, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(form.responsavelEntrega) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(form.telefone, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(form.telefone, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(form.telefone) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(form.ramal, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(form.ramal, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(form.ramal) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(form.fax, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(form.fax, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(form.fax) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(form.email, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(form.email, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(form.email) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(form.pagamentoMesCompetencia, null, {'label_attr': {'class': 'control-label labelCheck-rh'}}) }}
            {{ form_widget(form.pagamentoMesCompetencia, {'attr': {'class': 'iCheck-helper icheckBox'}}) }}
            {{ form_errors(form.pagamentoMesCompetencia) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(form.codEventoMolestia, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(form.codEventoMolestia, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(form.codEventoMolestia) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(form.codNatureza, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(form.codNatureza, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(form.codNatureza) }}
        </div>
        {{ form_end(form) }}
    </div>
    <div class="row">
        <div class="col s6">
            <a  class="btn-floating white-text blue darken-4" href="{{ path('informacoes_configuracao_dirf_index') }}"><i class="material-icons">arrow_back</i></a>
        </div>
        <div class="col s6 right-align">
            <button type="submit" class="waves-effect waves-light btn blue darken-4" value="Create"><i class="material-icons left">save</i>Salvar</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock content %}
