{% extends "base.html.twig" %}
{% block content %}
<div class="container-rh">
    <div class="box-header col s12">
    <div class="col s10 box-title left-align show">
        <h2>Dirf</h2>
    </div>
    <div class="col s2">
        <div class="hide-on-med-and-down col l9 right-align">
            <a class="top-btn btn waves-effect waves-light white-text blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Editar" href="{{ path('informacoes_configuracao_dirf_edit', { 'id': configuracao.exercicio }) }}"><i class="material-icons">edit</i></a>
        </div>
        <div class="hide-on-med-and-down col l3 right-align">
            {{ form_start(delete_form) }}
            <button class="top-btn btn waves-effect waves-light white-text blue darken-4 tooltipped" data-position="right" data-delay="50" data-tooltip="Excluir" value="Delete" type="submit" name="action"><i class="material-icons">delete</i></button>
            {{ form_end(delete_form) }}
        </div>
    </div>
</div>
    <div class="box-body  no-padding">
        <table class="bordered show-table">
            <tbody>
                <tr class="sonata-ba-view-container">
                    <th>Exercicio</th>
                    <td>{{ configuracao.exercicio }}</td>
                </tr>
                <tr>
                    <th>Responsavelprefeitura</th>
                    <td>{{ configuracao.responsavelPrefeitura }}</td>
                </tr>
                <tr>
                    <th>Responsavelentrega</th>
                    <td>{{ configuracao.responsavelEntrega }}</td>
                </tr>
                <tr>
                    <th>Telefone</th>
                    <td>{{ configuracao.telefone }}</td>
                </tr>
                <tr>
                    <th>Ramal</th>
                    <td>{{ configuracao.ramal }}</td>
                </tr>
                <tr>
                    <th>Fax</th>
                    <td>{{ configuracao.fax }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ configuracao.email }}</td>
                </tr>
                <tr>
                    <th>Pagamentomescompetencia</th>
                    <td>{% if configuracao.pagamentoMesCompetencia %}Yes{% else %}No{% endif %}</td>
                </tr>
                <tr>
                    <th>Codeventomolestia</th>
                    <td>{{ configuracao.codEventoMolestia }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <a  class="btn-floating white-text blue darken-4" href="{{ path('informacoes_configuracao_dirf_index') }}"><i class="material-icons">arrow_back</i></a>
    </div>
</div>
{% endblock %}