<table class="table show-table">
    <tbody>
        <tr class="sonata-ba-view-container">
            <th>{{ 'label.tesouraria.cheque.dataEmissao'|trans }}</th>
            <td>{{ admin.dados['data_emissao'] }}</td>
        </tr>
        <tr class="sonata-ba-view-container">
            <th>{{ 'label.tesouraria.cheque.valor'|trans }}</th>
            <td>{{ admin.dados['valor'] | number_format(2, ',', '.') }}</td>
        </tr>
        <tr class="sonata-ba-view-container">
            <th>{{ 'label.tesouraria.cheque.descricao'|trans }}</th>
            <td>{{ admin.dados['descricao'] }}</td>
        </tr>
    </tbody>
</table>
