<table class="table show-table">
    <tbody>
        <tr class="sonata-ba-view-container">
            <th>{{ 'label.tesouraria.cheque.exercicio'|trans }}</th>
            <td>{{ admin.dados['exercicio'] }}</td>
        </tr>
        <tr class="sonata-ba-view-container">
            <th>{{ 'label.tesouraria.cheque.ordemPagamento'|trans }}</th>
            <td>{{ admin.dados['cod_ordem'] }}</td>
        </tr>
        <tr class="sonata-ba-view-container">
            <th>{{ 'label.tesouraria.cheque.entidade'|trans }}</th>
            <td>{{ admin.dados['nom_entidade'] }}</td>
        </tr>
        {% if admin.dados['emitido'] != 'Anulado' %}
            <tr class="sonata-ba-view-container">
                <th>{{ 'label.tesouraria.cheque.baixado'|trans }}</th>
                <td>{{ admin.dados['cheque_baixado'] }}</td>
            </tr>
            <tr class="sonata-ba-view-container">
                <th>{{ 'label.tesouraria.cheque.dataDeBaixa'|trans }}</th>
                <td>{{ admin.dados['data_baixa'] }}</td>
            </tr>
        {% endif %}
    </tbody>
</table>
