<table class="table show-table">
    <tbody>
        <tr class="sonata-ba-view-container">
            <th>{{ 'label.tesouraria.cheque.dataAnulacao'|trans }}</th>
            <td>{{ admin.dados['data_anulacao'] }}</td>
        </tr>
        {% if admin.dados['emitido'] ends with 'Anulado' %}
            <tr class="sonata-ba-view-container">
                <th>{{ 'label.tesouraria.cheque.baixado'|trans }}</th>
                <td>{{ admin.dados['cheque_baixado'] }}</td>
            </tr>
            <tr class="sonata-ba-view-container">
                <th>{{ 'label.tesouraria.cheque.dataDeBaixa'|trans }}</th>
                <td>{{ admin.dados['data_baixa'] }}</td>
            </tr>
        {% endif %}
    </tbody>
</table>
