{% if form.fornecimento is defined %}
    <tr class="sonata-ba-view-container">
        <th>{{ form_label(form.fornecimento) }}</th>
        <td>
            {{ form_widget(form.fornecimento) }}

            {% if show_error %}
                {{ form_errors(form.fornecimento) }}

            {% endif %}
        </td>
    </tr>

{% endif %}

{% if form.pagamento is defined %}
    <tr class="sonata-ba-view-container">
        <th>{{ form_label(form.pagamento) }}</th>
        <td>
            {{ form_widget(form.pagamento) }}

            {% if show_error %}
                {{ form_errors(form.pagamento) }}

            {% endif %}
        </td>
    </tr>

{% endif %}

{% if form.execucao is defined %}
    <tr class="sonata-ba-view-container">
        <th>{{ form_label(form.execucao) }}</th>
        <td>
            {{ form_widget(form.execucao) }}

            {% if show_error %}
                {{ form_errors(form.execucao) }}

            {% endif %}
        </td>
    </tr>

{% endif %}

{% if form.multa is defined %}
    <tr class="sonata-ba-view-container">
        <th>{{ form_label(form.multa) }}</th>
        <td>
            {{ form_widget(form.multa) }}

            {% if show_error %}
                {{ form_errors(form.multa) }}

            {% endif %}
        </td>
    </tr>

{% endif %}

{% if form.fkTcemgContratoGarantia is defined %}
    <tr class="sonata-ba-view-container">
        <th>{{ form_label(form.fkTcemgContratoGarantia) }}</th>
        <td>
            {{ form_widget(form.fkTcemgContratoGarantia) }}

            {% if show_error %}
                {{ form_errors(form.fkTcemgContratoGarantia) }}

            {% endif %}
        </td>
    </tr>

{% endif %}

