<form id="form" method="post">
    <div class="box-body no-padding">
        <table class="table show-table">
            <tbody>
                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.nroContrato) }}</th>
                    <td>
                        {{ form_widget(form.nroContrato) }}
                        {{ form_errors(form.nroContrato) }}
                    </td>
                </tr>

                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.dataAssinatura) }}</th>
                    <td>
                        {{ form_widget(form.dataAssinatura) }}
                        {{ form_errors(form.dataAssinatura) }}
                    </td>
                </tr>

                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.fkOrcamentoEntidade) }}</th>
                    <td>
                        {{ form_widget(form.fkOrcamentoEntidade) }}
                        {{ form_errors(form.fkOrcamentoEntidade) }}
                    </td>
                </tr>

                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.fkOrcamentoOrgao) }}</th>
                    <td>
                        {{ form_widget(form.fkOrcamentoOrgao) }}
                        {{ form_errors(form.fkOrcamentoOrgao) }}
                    </td>
                </tr>

                <tr class="sonata-ba-view-container unidade">
                    {% include 'PrestacaoContasBundle::Tribunal/MG/Configuracao/Contrato/form_ajax_unidade.html.twig' with {'show_error': true} %}
                </tr>

                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.fkTcemgContratoModalidadeLicitacao) }}</th>
                    <td>
                        {{ form_widget(form.fkTcemgContratoModalidadeLicitacao) }}
                        {{ form_errors(form.fkTcemgContratoModalidadeLicitacao) }}
                    </td>
                </tr>

                <tr class="sonata-ba-view-container contrato_modalidade">
                    {% include 'PrestacaoContasBundle::Tribunal/MG/Configuracao/Contrato/form_ajax_contrato_modalidade.html.twig' with {'show_error': true} %}
                </tr>

                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.fkTcemgContratoObjeto) }}</th>
                    <td>
                        {{ form_widget(form.fkTcemgContratoObjeto) }}
                        {{ form_errors(form.fkTcemgContratoObjeto) }}
                    </td>
                </tr>

                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.objetoContrato) }}</th>
                    <td>
                        {{ form_widget(form.objetoContrato) }}
                        {{ form_errors(form.objetoContrato) }}
                    </td>
                </tr>

                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.fkTcemgContratoInstrumento) }}</th>
                    <td>
                        {{ form_widget(form.fkTcemgContratoInstrumento) }}
                        {{ form_errors(form.fkTcemgContratoInstrumento) }}
                    </td>
                </tr>

                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.dataInicio) }}</th>
                    <td>
                        {{ form_widget(form.dataInicio) }}
                        {{ form_errors(form.dataInicio) }}
                    </td>
                </tr>

                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.dataFinal) }}</th>
                    <td>
                        {{ form_widget(form.dataFinal) }}
                        {{ form_errors(form.dataFinal) }}
                    </td>
                </tr>

                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.vlContrato) }}</th>
                    <td>
                        {{ form_widget(form.vlContrato) }}
                        {{ form_errors(form.vlContrato) }}
                    </td>
                </tr>

                <tr class="sonata-ba-view-container contrato_objeto">
                    {% include 'PrestacaoContasBundle::Tribunal/MG/Configuracao/Contrato/form_ajax_contrato_objeto.html.twig' with {'show_error': true} %}
                </tr>

                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.fkSwCgmPessoaFisica) }}</th>
                    <td>
                        {{ form_widget(form.fkSwCgmPessoaFisica) }}
                        {{ form_errors(form.fkSwCgmPessoaFisica) }}
                    </td>
                </tr>

                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.fkLicitacaoVeiculosPublicidade) }}</th>
                    <td>
                        {{ form_widget(form.fkLicitacaoVeiculosPublicidade) }}
                        {{ form_errors(form.fkLicitacaoVeiculosPublicidade) }}
                    </td>
                </tr>

                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.dataPublicacao) }}</th>
                    <td>
                        {{ form_widget(form.dataPublicacao) }}
                        {{ form_errors(form.dataPublicacao) }}
                    </td>
                </tr>

                <tr class="sonata-ba-view-container">
                    <th>
                        Empenhos
                    </th>
                    <td>
                        <a href="#" id="add-item_fkTcemgContratoEmpenhos" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir">
                            <i class="material-icons">add_circle</i>
                        </a>

                        {% form_theme form.fkTcemgContratoEmpenhos 'PrestacaoContasBundle::Tribunal/MG/Configuracao/Contrato/form_fkTcemgContratoEmpenhos.html.twig' %}
                        {{ form_widget(form.fkTcemgContratoEmpenhos) }}
                    </td>
                </tr>

                <tr class="sonata-ba-view-container">
                    <th>
                        Empresa(s) Consorciada(s) / Contratado(s)
                    </th>
                    <td>
                        <a href="#" id="add-item_fkTcemgContratoFornecedores" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir">
                            <i class="material-icons">add_circle</i>
                        </a>

                        {% form_theme form.fkTcemgContratoFornecedores 'PrestacaoContasBundle::Tribunal/MG/Configuracao/Contrato/form_fkTcemgContratoFornecedores.html.twig' %}
                        {{ form_widget(form.fkTcemgContratoFornecedores) }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <input type="hidden" name="key" value="{{ key }}" />

    <div class="sonata-ba-collapsed-fields custom-form">
        <div class="sonata-ba-form-actions well well-small form-actions row">
            <div class="col s12">
                <div class="col s12 right-align initial">
                    <button type="submit" class="white-text blue darken-4 btn btn-success save" name="save_update"><i class="material-icons left">input</i>Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<style>
    .custom-form .select2-container {height: 34px !important;}
</style>

<script>
    $('select.form-control').select2();
    $('#form').submit( function(e){
        e.preventDefault();
    });

    function Parent() {
        this.holder = null;
        this.childTemplate = null;
        this.choiceBag = [];
        this.choiceBagIndex = -1;
    }

    Parent.prototype = {
        constructor: Parent
    };

    Parent.prototype.load = function() {
        var that = this;

        this.holder.find('table').each(function(i) {
            el = $(this).find('select');
            el = el.length ? el : $(this).find('input');

            index = el.attr('id').replace(/[^\d.]/g, '');
            that.choiceBagIndex = index > that.choiceBagIndex ? index : that.choiceBagIndex;

            var item = new Child(that);
            item.setIndex(index);

            that.addChoice(item, i);
        });
    };

    Parent.prototype.createEmptyChild = function() {
        this.choiceBagIndex = this.choiceBagIndex + 1;

        template = this.childTemplate.replace(/__name__/g, this.choiceBagIndex);

        this.holder.append(template);

        referenceIndex = this.holder.children().length - 1;

        var item = new Child(this);
        item.setIndex(this.choiceBagIndex);

        this.addChoice(item, referenceIndex);
    };

    Parent.prototype.removeItem = function(item) {
        item.getReference().remove();

        delete this.choiceBag[item.getIndex()];

        var c = 0;

        for(var i = this.choiceBag.length - 1; i >= 0; i--) {
            if (typeof this.choiceBag[i] !== 'undefined') {
                c++;
            }
        }
    };

    Parent.prototype.addChoice = function(item, referenceIndex) {
        item.bind(referenceIndex);

        this.choiceBag[item.getIndex()] = item;

        $('select.form-control').select2();
    };

    function Child(field) {
        this.field = field;
        this.index = null;
        this.reference = null;
    }

    Child.prototype = {
        constructor: Child,

        setIndex: function(index) {
            this.index = index;
        },

        getIndex: function() {
            return this.index;
        },

        getReference: function() {
            return this.reference;
        }
    };

    Child.prototype.bind = function(referenceIndex) {
        this.reference = this.field.holder.find("table:eq(" + referenceIndex + ")").parent();

        var that = this;

        // remove button
        this.reference.find("tr:eq(-1) a").click(function() {
            that.field.removeItem(that);
        });
    };

    var fkTcemgContratoEmpenhos = new Parent();
    fkTcemgContratoEmpenhos.holder = $('#configuracao_contrato_fkTcemgContratoEmpenhos');
    fkTcemgContratoEmpenhos.childTemplate = $('#configuracao_contrato_fkTcemgContratoEmpenhos').attr('data-prototype');
    fkTcemgContratoEmpenhos.load();

    $('#add-item_fkTcemgContratoEmpenhos').click(function(e) {
        fkTcemgContratoEmpenhos.createEmptyChild();
        return false;
    });

    var fkTcemgContratoFornecedores = new Parent();
    fkTcemgContratoFornecedores.holder = $('#configuracao_contrato_fkTcemgContratoFornecedores');
    fkTcemgContratoFornecedores.childTemplate = $('#configuracao_contrato_fkTcemgContratoFornecedores').attr('data-prototype');
    fkTcemgContratoFornecedores.load();

    $('#add-item_fkTcemgContratoFornecedores').click(function(e) {
        fkTcemgContratoFornecedores.createEmptyChild();
        return false;
    });


</script>