{% if form.codEntidadeModalidade is defined %}
    <tr class="sonata-ba-view-container">
        <th>{{ form_label(form.codEntidadeModalidade) }}</th>
        <td>
            {{ form_widget(form.codEntidadeModalidade) }}

            {% if show_error %}
                {{ form_errors(form.codEntidadeModalidade) }}

            {% endif %}
        </td>
    </tr>

{% endif %}

{% if form.numOrgaoModalidade is defined %}
    <tr class="sonata-ba-view-container">
        <th>{{ form_label(form.numOrgaoModalidade) }}</th>
        <td>
            {{ form_widget(form.numOrgaoModalidade) }}

            {% if show_error %}
                {{ form_errors(form.numOrgaoModalidade) }}

            {% endif %}
        </td>
    </tr>

{% endif %}

{% if form.numUnidadeModalidade is defined %}
    <tr class="sonata-ba-view-container">
        <th>{{ form_label(form.numUnidadeModalidade) }}</th>
        <td>
            {{ form_widget(form.numUnidadeModalidade) }}

            {% if show_error %}
                {{ form_errors(form.numUnidadeModalidade) }}

            {% endif %}
        </td>
    </tr>

{% endif %}

{% if form.fkTcemgContratoTipoProcesso is defined %}
    <tr class="sonata-ba-view-container">
        <th>{{ form_label(form.fkTcemgContratoTipoProcesso) }}</th>
        <td>
            {{ form_widget(form.fkTcemgContratoTipoProcesso) }}

            {% if show_error %}
                {{ form_errors(form.fkTcemgContratoTipoProcesso) }}

            {% endif %}
        </td>
    </tr>

{% endif %}

{% if form.nroProcesso is defined %}
    <tr class="sonata-ba-view-container">
        <th>{{ form_label(form.nroProcesso) }}</th>
        <td>
            {{ form_widget(form.nroProcesso) }}

            {% if show_error %}
                {{ form_errors(form.nroProcesso) }}

            {% endif %}
        </td>
    </tr>

{% endif %}

{% if form.exercicioProcesso is defined %}
    <tr class="sonata-ba-view-container">
        <th>{{ form_label(form.exercicioProcesso) }}</th>
        <td>
            {{ form_widget(form.exercicioProcesso) }}

            {% if show_error %}
                {{ form_errors(form.exercicioProcesso) }}

            {% endif %}
        </td>
    </tr>

{% endif %}