{% extends "base_home_cards.html.twig" %}
{% block content %}
    <div class="container">
        <div class="container">
            <h4 class="blue-text text-darken-4"><i class="mdi mdi-bank left"></i>{{ 'label.calculoDefinirParametros.modulo'|trans }}</h4>
            <div class="divider grey title-divider"><p>1</p></div>
        </div>
        <div class="container">
            <div class="col s6 m6 l4">
                <div class="card-panel col s12 hoverable center">
                    <a href="{{ path('urbem_tributario_arrecadacao_calculo_definir_parametros_create') }}">
                        <h6><i class="mdi mdi-matrix large" aria-hidden="true"></i></h6>
                        <h6 class="truncate center">{{ 'label.calculoDefinirParametros.subModulo'|trans }}</h6>
                    </a>
                    <p></p>
                    <div class="divider col s12"></div>
                    <h5 class="left">
                        <a href="{{ path('urbem_tributario_arrecadacao_calculo_definir_parametros_create') }}"
                           class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir">
                            <i class="material-icons">add_circle</i>
                        </a>
                    </h5>
                </div>
            </div>
            <div class="col s6 m6 l4">
                <div class="card-panel col s12 hoverable center">
                    <a href="{{ path('tributario_arrecadacao_calculo_efetuar_lancamentos_home') }}">
                        <h6><i class="mdi mdi-cash-multiple large" aria-hidden="true"></i></h6>
                        <h6 class="truncate center">{{ 'label.arrecadacaoEfetuarLancamento.modulo'|trans }}</h6>
                    </a>
                    <p></p>
                    <div class="divider col s12"></div>
                    <h5 class="left">
                        <a href="{{ path('tributario_arrecadacao_calculo_efetuar_lancamentos_home') }}"
                           class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir">
                            <i class="material-icons">add_circle</i>
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
