{% if admin.orgaobem is not null %}
  <div class="row">
      <div class="col s11 servidor-table">
          <a style="font-size: 16px">
              <i class="mdi mdi-file-document"></i>
              {{ 'label.inventarioPatrimonio.bemOrgao'|trans }}
          </a>
      </div>

      <table class="col s12 highlight bordered">
          <thead class="thead-rh">
          <th class="th-rh" width="10"></th>
          <th class="th-rh">{{ 'label.inventarioPatrimonio.orgao'|trans }}</th>
          <th class="th-rh">{{ 'label.inventarioPatrimonio.total'|trans }}</th>
          </thead>
          <tbody>
              {% for orgao in admin.orgaobem %}
                  <tr>
                      <td class="td-rh">{{ loop.index }}</td>
                      <td class="td-rh">{{ orgao.cod_estrutural ~ ' - ' ~ orgao.descricao }}
                      <td class="td-rh">{{ orgao.num_bem }}</td></td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
{% endif %}