<table class="col s12 highlight bordered">
        <thead class="thead-rh">
            <tr>
                <th class="th-rh" colspan="10">
                    {{ 'label.inventarioHistoricoBem.historico.titulo'|trans }}
                </th>
            </tr>
            <tr>
                <th class="th-rh"></th>
                <th class="th-rh">{{ 'label.inventarioHistoricoBem.historico.codigo'|trans }}</th>
                <th class="th-rh">{{ 'label.inventarioHistoricoBem.codBem'|trans }}</th>
                <th class="th-rh">{{ 'label.inventarioHistoricoBem.historico.aOrgao'|trans }}</th>
                <th class="th-rh">{{ 'label.inventarioHistoricoBem.historico.aLocal'|trans }}</th>
                <th class="th-rh">{{ 'label.inventarioHistoricoBem.historico.aSituacao'|trans }}</th>
                <th class="th-rh">{{ 'label.inventarioHistoricoBem.historico.nOrgao'|trans }}</th>
                <th class="th-rh">{{ 'label.inventarioHistoricoBem.historico.nLocal'|trans }}</th>
                <th class="th-rh">{{ 'label.inventarioHistoricoBem.historico.nSituacao'|trans }}</th>
                <th class="th-rh">{{ 'label.inventarioHistoricoBem.historico.modificado'|trans }}</th>
            </tr>
        </thead>
    <tbody>
    {% for historico in historicos %}
        <tr>
            <td class="td-rh">{{ loop.index }}</td>
            <td class="td-rh">{{ historico.cod_bem }}</td>
            <td class="td-rh">{{ historico.nom_bem }}</td>
            <td class="td-rh">{{ historico.nom_orgao }}</td>
            <td class="td-rh">{{ historico.nom_local }}</td>
            <td class="td-rh">{{ historico.nom_situacao }}</td>
            <td class="td-rh">{{ historico.nom_orgao_novo }}</td>
            <td class="td-rh">{{ historico.nom_local_novo }}</td>
            <td class="td-rh">{{ historico.nom_situacao_novo }}</td>
            <td class="td-rh">{{ historico.modificado }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
