{% extends "base_home_cards.html.twig" %}

{% block title %}HOME{% endblock title %}

{% block menu %}
    {% include '::partials/menu.html.twig' %}
{% endblock menu %}

{% block content %}
<!--SUB-MODULOS-->
<div class="container">
    <div class="container col s12 m12 l12">
        <h4 class="titles left blue-text text-darken-4">Módulo Tributário</h4>
    </div>
    <div class="row">
        <!--Cadastro imobiliário-->
        <div class="col s10 m6 l3">
            <div class="card small white">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" title="Sub Módulo Cadastro imobiliário" id="abrecard">
                        <img class="activator responsive-img"
                         src="{{ asset('/bundles/tributario/images/housing.png') }}"
                         alt="icone Cadastro imobiliário">
                    </a>
                </div>
                <div class="card-content white">
                    <span class="card-title activator blue-text text-darken-4 truncate flow-text">
                    Cadastro Imobiliário
                    </span>
                </div>
                <div class="card-reveal">
                   <div class="col s12 titulo-inside-card truncate">
                       <i class="material-icons icoTitMenu left">list</i> Cadastro Imobiliário
                        <span class="card-title grey-text text-darken-4 closeHomeNovo">
                            <i class="material-icons right">close</i>
                        </span>
                    </div>
                    <div class="setaMenu"></div>
                    <div class="menuHomeNovo">
                        <p class="link-cards"><a href="{{ path('tributario_imobiliario_configuracao_home') }}">Configuração</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_imobiliario_hierarquia_home') }}">Hierarquia</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_tributario_imobiliario_localizacao_list') }}">Localização</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_tributario_imobiliario_trecho_list') }}">Trecho</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_tributario_imobiliario_face_quadra_list') }}">Face de Quadra</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_imobiliario_lote_home') }}">Lote Urbano/Rural</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_tributario_imobiliario_imovel_list') }}">Imóvel</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_tributario_imobiliario_tipo_edificacao_list') }}">Tipo de Edificação</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_imobiliario_edificacao_home') }}">Edificação</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_imobiliario_construcao_home') }}">Construção</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_imobiliario_corretagem_filtro') }}">Corretagem</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_tributario_imobiliario_condominio_list') }}">Condomínio</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_tributario_imobiliario_loteamento_list') }}">Loteamento</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_tributario_imobiliario_natureza_transferencia_list') }}">Natureza de Transferência</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_tributario_imobiliario_transferencia_propriedade_list') }}">Transferência de Propriedade</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_imobiliario_licencas_home') }}">Licenças</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_imobiliario_consultas_home') }}">Consultas</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_imobiliario_relatorios_home') }}">Relatórios</a></p>
                    </div>
                </div>
            </div>
        </div>

        <!--Cadastro Econômico-->
        <div class="col s10 m6 l3">
            <div class="card small white">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" title="Sub Módulo Cadastro Econômico" id="abrecard">
                        <img class="activator responsive-img"
                         src="{{ asset('/bundles/tributario/images/economic.png') }}"
                         alt="Icone Cadastro Econômico">
                    </a>
                </div>
                <div class="card-content white">
                    <span class="card-title activator blue-text text-darken-4 truncate flow-text">
                        Cadastro Econômico
                    </span>
                </div>
                <div class="card-reveal">
                    <div class="col s12 titulo-inside-card truncate">
                        <i class="material-icons icoTitMenu left">list</i> Cadastro Econômico
                        <span class="card-title grey-text text-darken-4 closeHomeNovo">
                            <i class="material-icons right">close</i>
                        </span>
                    </div>
                    <div class="setaMenu"></div>
                    <div class="menuHomeNovo">
                        <p class="link-cards"><a href="{{ path('tributario_economico_configuracao_home') }}">Configuração</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_economico_responsavel_tecnico_home') }}">Responsável Técnico</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_tributario_economico_elemento_list') }}">Elemento para Base de Cálculo</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_tributario_economico_natureza_juridica_list') }}">Natureza Jurídica</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_tributario_economico_categoria_list') }}">Categoria</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_economico_hierarquia_servico_home') }}">Hierarquia de Serviço</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_tributario_economico_servico_list') }}">Serviço</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_economico_hierarquia_atividade_home') }}">Hierarquia de Atividade</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_tributario_economico_atividade_economica_list') }}">Atividade Econômica</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_tributario_economico_tipo_licenca_diversa_list') }}">Tipo de Licença</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_economico_cadastro_economico_home') }}">Inscrição Econômica</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_economico_licenca_home') }}">Licença</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_economico_modalidade_lancamento_home') }}">Modalidade de Lançamento</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_tributario_economico_cadastro_economico_consulta_list') }}">Consultas</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_economico_relatorios_home') }}">Relatórios</a></p>
                    </div>
                </div>
            </div>
        </div>

        <!--Arrecadação-->
        <div class="col s10 m6 l3">
            <div class="card small white">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" title="Sub Módulo Arrecadação" id="abrecard">
                        <img class="activator responsive-img"
                         src="{{ asset('/bundles/tributario/images/collection.png') }}"
                         alt="icone Arrecadação">
                    </a>
                </div>
                <div class="card-content white">
                    <span class="card-title activator blue-text text-darken-4 truncate flow-text">
                        Arrecadação
                    </span>
                </div>
                <div class="card-reveal">
                    <div class="col s12 titulo-inside-card truncate">
                        <i class="material-icons icoTitMenu left">list</i>Arrecadação
                        <span class="card-title grey-text text-darken-4 closeHomeNovo">
                            <i class="material-icons right">close</i>
                        </span>
                    </div>
                    <div class="setaMenu"></div>
                    <div class="menuHomeNovo">
                        <p class="link-cards"><a href="{{ path('tributario_arrecadacao_configuracao_home') }}">Configuração</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_arrecadacao_grupo_credito_home') }}">Grupos de Créditos</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_arrecadacao_calendario_fiscal_home') }}">Calendário Fiscal</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_arrecadacao_conversao_valores_home') }}">Conversão de Valores</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_arrecadacao_desoneracao_home') }}">Desoneração</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_arrecadacao_calculo_home') }}">Cálculo</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_arrecadacao_movimentacoes_home') }}">Movimentações</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_tributario_arrecadacao_tipo_suspensao_list') }}">Tipo de Suspensão</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_tributario_arrecadacao_suspensao_list') }}">Suspensão</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_tributario_arrecadacao_tipo_baixa_list') }}">Tipos de Baixa Manual</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_arrecadacao_baixa_debitos_home') }}">Baixa Débitos</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_arrecadacao_documento_home') }}">Documentos</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_arrecadacao_consultas_home') }}">Consultas</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_arrecadacao_relatorios_home') }}">Relatórios</a></p>
                    </div>
                </div>
            </div>
        </div>

        <!--Cadastro Monetário-->
        <div class="col s10 m6 l3">
            <div class="card small white">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" title="Sub Módulo Cadastro Monetário" id="abrecard">
                        <img class="activator responsive-img"
                         src="{{ asset('/bundles/tributario/images/money.png') }}"
                         alt="icone Cadastro Monetário">
                    </a>
                </div>
                <div class="card-content white">
                    <span class="card-title activator blue-text text-darken-4 truncate flow-text">
                        Cadastro Monetário
                    </span>
                </div>
                <div class="card-reveal">
                    <div class="col s12 titulo-inside-card truncate">
                        <i class="material-icons icoTitMenu left">list</i> Cadastro Monetário
                        <span class="card-title grey-text text-darken-4 closeHomeNovo">
                            <i class="material-icons right">close</i>
                        </span>
                    </div>
                    <div class="setaMenu"></div>
                    <div class="menuHomeNovo">
                        <p class="link-cards"><a href="{{ path('urbem_tributario_monetario_banco_list') }}">Banco</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_monetario_agencia_filtro') }}">Agência Bancária</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_monetario_conta_corrente_filtro') }}">Conta-Corrente</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_tributario_monetario_convenio_list') }}">Convênio</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_tributario_monetario_carteira_list') }}">Carteira</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_tributario_monetario_moeda_list') }}">Moeda</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_tributario_monetario_indicador_economico_list') }}">Indicador Econômico</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_tributario_monetario_especie_list') }}">Espécie</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_tributario_monetario_credito_list') }}">Crédito</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_tributario_monetario_acrescimo_list') }}">Acréscimo</a></p>
                    </div>
                </div>
            </div>
        </div>

        <!--Divida Ativa-->
        <div class="col s10 m6 l3">
            <div class="card small white">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" title="Sub Módulo Divida Ativa" id="abrecard">
                        <img class="activator responsive-img"
                         src="{{ asset('/bundles/tributario/images/debt.png') }}"
                         alt="icone Divida Ativa">
                    </a>
                </div>
                <div class="card-content white">
                    <span class="card-title activator blue-text text-darken-4 truncate flow-text">
                        Dívida Ativa
                    </span>
                </div>
                <div class="card-reveal">
                    <div class="col s12 titulo-inside-card truncate">
                        <i class="material-icons icoTitMenu left">list</i>Dívida Ativa
                        <span class="card-title grey-text text-darken-4 closeHomeNovo">
                            <i class="material-icons right">close</i>
                        </span>
                    </div>
                    <div class="setaMenu"></div>
                    <div class="menuHomeNovo">
                        <p class="link-cards"><a href="{{ path('tributario_divida_ativa_configuracao_home') }}">Configuração</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_tributario_divida_ativa_autoridade_list') }}">Autoridade</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_divida_ativa_modalidade_home') }}">Modalidade</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_divida_ativa_inscricao_home') }}">Inscrição em Dívida Ativa</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_divida_ativa_emissao_documento_home') }}">Emissão de Documentos</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_divida_ativa_cobranca_administrativa_home') }}">Cobrança Administrativa</a></p>
                        <p class="link-cards"><a href="#" class="grey-text">Remissão</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_divida_ativa_consulta_home') }}">Consulta</a></p>
                        <p class="link-cards"><a href="{{ path('tributario_divida_ativa_relatorios_home') }}">Relatórios</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
