{% extends "base.html.twig" %}
{% block content %}
<div class="container-rh">
    <div class="col s12 title-edit box-title-rh">
        <h5>{{ 'label.gerarArquivo'|trans }}</h5>
        <div class="divider grey title-divider"><p>1</p></div>
    </div>
    <div class="row">
        {{ form_start(form) }}
        <div class="col s4 field-filtro select-filtro">
            {{ form_label(form.stTipoFiltro, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(form.stTipoFiltro, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(form.stTipoFiltro) }}
        </div>
        <div class="col s4 field-filtro select-filtro">
            {{ form_label(form.ano, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(form.ano, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(form.ano) }}
        </div>
        <div class="col s4 field-filtro select-filtro">
            {{ form_label(form.boPrestadoresServico, null, {'label_attr': {'class': 'control-label labelCheck-rh'}}) }}
            {{ form_widget(form.boPrestadoresServico, {'attr': {'class': 'iCheck-helper icheckBox'}}) }}
            {{ form_errors(form.boPrestadoresServico) }}
        </div>
        <div class="col s4 field-filtro select-filtro">
            {{ form_label(form.boPrestadoresServicoTodos, null, {'label_attr': {'class': 'control-label labelCheck-rh'}}) }}
            {{ form_widget(form.boPrestadoresServicoTodos, {'attr': {'class': 'iCheck-helper icheckBox'}}) }}
            {{ form_errors(form.boPrestadoresServicoTodos) }}
        </div>
        <div class="col s4 field-filtro select-filtro">
            {{ form_label(form.stIndicador, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(form.stIndicador, {'attr': {'class': 'white browser-default'}}) }}
            {{ form_errors(form.stIndicador) }}
        </div>
        <div class="col s12 right-align">
            <button type="submit" id="form_gerar" name="form[gerar]" class="save waves-effect waves-light btn blue darken-4"><i class="material-icons left">print</i>Gerar</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock content %}
