<div class="row">
    <table class="col s12 highlight bordered">
        <thead class="thead-rh">
        <th class="th-rh" width="100">{{ 'Padrão' }}</th>
        <th class="th-rh" width="250">{{ 'CBO' }}</th>
        <th class="th-rh" width="100">{{ 'acoes'|trans }}</th>
        </thead>
        <tbody>
            <tr>
                <td class="td-rh">{{ object.fkPessoalCargoPadroes.last.fkFolhapagamentoPadrao.descricao() }}</td>
                <td class="td-rh">{{ object.fkPessoalCargoPadroes.last.fkPessoalCargo.fkPessoalCboCargos.last.fkPessoalCbo.descricao() }}</td>
                <td>
                    <div class="btn-group">
                        <a href="{{ path('urbem_recursos_humanos_pessoal_cargo_padrao_edit', { 'id': admin.getObjectKey(object.fkPessoalCargoPadroes.last) }) }}"
                           class="hide-on-med-and-down blue-text text-darken-4 tooltipped left"
                           data-toggle="tooltip" data-placement="top" title="{{ 'editar'|trans }}">
                            <i class="material-icons">edit</i>
                        </a>
                        <a href="{{ path('urbem_recursos_humanos_pessoal_cargo_padrao_delete', { 'id': admin.getObjectKey(object.fkPessoalCargoPadroes.last) }) }}"
                           class="hide-on-med-and-down blue-text text-darken-4 tooltipped left"
                           data-toggle="tooltip" data-placement="top" title="{{ 'deletar'|trans }}">
                            <i class="material-icons">delete</i>
                        </a>
                    </div>
                </td>
            </tr>
    </table>
</div>