{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}
{% block content %}
    <div class="sonata-ba-show col s12">
        <div class="sonata-ba-view">
            <div class="row">
                <h5 class="col s10 box-title left-align ">{{ 'label.baixaDebitos.subModuloBaixaManual'|trans }}</h5>
                <div class="divider grey lighten-1  title-divider"></div>
                {{ form_start(form) }}
                <div class="col s4 field-filtro select-filtro">
                    {{ form_label(form.grupo, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                    {{ form_widget(form.grupo, {'attr': {'class': 'white input-rh browser-default'}}) }}
                    {{ form_errors(form.grupo) }}
                </div>
                <div class="col s12 right-align" style="margin-top: 2%">
                    <button type="submit" id="form_submit" name="form[submit]"
                            class="white-text blue darken-4 btn btn-success save right">
                        <i class="material-icons left">send</i>{{ 'avancar'|trans }}
                    </button>
                </div>
                {{form_end(form) }}
            </div>
        </div>
    </div>
{% endblock content %}
