{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "CoreBundle::Sonata/standard_layout.html.twig" %}

{% block list_table %}
    <div class="row" style="margin-bottom: 0;">
        <h2 class="col s10 box-title left-align show">{{ 'label.imobiliarioConsulta.imoveis'|trans }}</h2>
        <p class="divider col s12">1</p>
    </div>
    <div>
        {% set batchactions = admin.batchactions %}
        {% if admin.hasRoute('batch') and batchactions|length %}
        <form action="{{ admin.generateUrl('batch', {'filter': admin.filterParameters}) }}" method="POST" >
            <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}">
            {% endif %}

            {{ sonata_block_render_event('sonata.admin.list.table.top', { 'admin': admin }) }}
            {% block list_header %}{% endblock %}

            {% if admin.datagrid.results|length > 0 %}
                <table class="bordered highlight">
                    {% block table_header %}
                        <thead>
                        <tr class="sonata-ba-list-field-header">
                            {% for field_description in admin.list.elements %}
                                {% if admin.hasRoute('batch') and field_description.getOption('code') == '_batch' and batchactions|length > 0 %}
                                    <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">
                                        <input type="checkbox" id="list_batch_checkbox">
                                    </th>
                                {% elseif field_description.getOption('code') == '_select' %}
                                    <th class="sonata-ba-list-field-header sonata-ba-list-field-header-select"></th>
                                {% elseif field_description.name == '_action' and app.request.isXmlHttpRequest %}
                                    {# Action buttons disabled in ajax view! #}
                                {% elseif field_description.getOption('ajax_hidden') == true and app.request.isXmlHttpRequest %}
                                    {# Disable fields with 'ajax_hidden' option set to true #}
                                {% else %}
                                    {% set sortable = false %}
                                    {% if field_description.options.sortable is defined and field_description.options.sortable %}
                                        {% set sortable             = true %}
                                        {% set sort_parameters      = admin.modelmanager.sortparameters(field_description, admin.datagrid) %}
                                        {% set current              = admin.datagrid.values._sort_by == field_description or admin.datagrid.values._sort_by.fieldName == sort_parameters.filter._sort_by %}
                                        {% set sort_active_class    = current ? 'sonata-ba-list-field-order-active' : '' %}
                                        {% set sort_by              = current ? admin.datagrid.values._sort_order : field_description.options._sort_order %}
                                    {% endif %}

                                    {% spaceless %}
                                        <th class="sonata-ba-list-field-header-{{ field_description.type}} {% if sortable %} sonata-ba-list-field-header-order-{{ sort_by|lower }} {{ sort_active_class }}{% endif %}{% if field_description.options.header_class is defined %} {{ field_description.options.header_class }}{% endif %}"{% if field_description.options.header_style is defined %} style="{{ field_description.options.header_style }}"{% endif %}>
                                            {% if sortable %}<a href="{{ admin.generateUrl('list', sort_parameters) }}">{% endif %}
                                                {{ admin.trans(field_description.label, {}, field_description.translationDomain) }}
                                                {% if sortable %}</a>{% endif %}
                                        </th>
                                    {% endspaceless %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                        </thead>
                    {% endblock %}

                    {% block table_body %}
                        <tbody>
                        {% include admin.getTemplate('outer_list_rows_list') %}
                        </tbody>
                    {% endblock %}

                    {% block table_footer %}
                    {% endblock %}
                </table>
            {% else %}
                <div class="info-box">
                    <div class="info-box-content">
                            <span class="info-box-text grey-text">
                                <h4>
                                    <i class="material-icons">warning</i>
                                    {{ 'no_result'|trans({}, 'SonataCoreBundle') }}
                                </h4>
                            </span>
                        <div class="divider">
                            <p></p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </form>
    </div>
    <div class="sonata-ba-form-actions well well-small form-actions row">
        <div class="col s12">
            <div class="col s8 initial">
                <a class="btn-floating white-text blue darken-4 btn-success" href="{{ path('home-portalservicos') }}"><i class="material-icons">arrow_back</i>{</a>
            </div>
        </div>
    </div>
{% endblock %}
