{% extends "base.html.twig" %}

{% block title %}{{ wo_render_breadcrumbs({ separator: '>', viewTemplate: "WhiteOctoberBreadcrumbsBundle::titlebreadcrumbs.html.twig" }) }}{% endblock title %}


{% block menu %}
    {% include '::partials/menu.html.twig' %}
{% endblock menu %}

{% block content %}
    <div class="col s12">
        <div class="row title-edit">
        <h5>Editar Base</h5>
        <div class="divider grey title-divider"><p>1</p></div>
        </div>
    </div>
    <div class="row">
        {{ form_start(edit_form) }}
        <div class="col s3 field-filtro select-filtro">
                {{ form_label(edit_form.nomBase, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(edit_form.nomBase, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(edit_form.nomBase) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(edit_form.tipoBase, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(edit_form.tipoBase, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(edit_form.tipoBase) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(edit_form.codModulo, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(edit_form.codModulo, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(edit_form.codModulo) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(edit_form.codBiblioteca, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(edit_form.codBiblioteca, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(edit_form.codBiblioteca) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(edit_form.codFuncao, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(edit_form.codFuncao, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(edit_form.codFuncao) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(edit_form.codEvento, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(edit_form.codEvento, {'attr': {'class': 'white basic-multiple form-control'}}) }}
            {{ form_errors(edit_form.codEvento) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(edit_form.apresentacaoValor, null, {'label_attr': {'class': 'control-label labelCheck-rh'}}) }}
            {{ form_widget(edit_form.apresentacaoValor, {'attr': {'class': 'white iCheck-helper browser-default icheckBox'}}) }}
            {{ form_errors(edit_form.apresentacaoValor) }}
        </div>
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(edit_form.insercaoAutomatica, null, {'label_attr': {'class': 'control-label labelCheck-rh'}}) }}
            {{ form_widget(edit_form.insercaoAutomatica, {'attr': {'class': 'white iCheck-helper browser-default icheckBox'}}) }}
            {{ form_errors(edit_form.insercaoAutomatica) }}
        </div>
        {{ form_widget(edit_form) }}
    </div>
        <div class="col s9">
            <a  class="btn-floating white-text blue darken-4" href="{{ path('folha_pagamento_bases_index') }}"><i class="material-icons">arrow_back</i></a>
        </div>
        <div class="col s1 deletar">
            {{ form_start(delete_form) }}
            <button class="btn waves-effect waves-light white-text grey tooltipped" data-position="right" data-delay="50" data-tooltip="Excluir Base" value="Delete" type="submit" name="action"><i class="material-icons">delete</i></button>
            {{ form_end(delete_form) }}
        </div>
        <div class="col s2 right-align">
            <button type="submit" class="waves-effect waves-light btn blue darken-4"><i class="material-icons left">save</i>Salvar</button>

        </div>
        {{ form_end(edit_form) }}
        <div class="hide-on-med-and-down">
            {{ form_start(delete_form) }}
            {{ form_end(delete_form) }}
        </div>
   
    
    <div class="row">
       
        {{ form_end(edit_form) }}
    </div>
</div>
{% endblock content %}
