{% extends "::base.html.twig" %}

{% block title %}{{ wo_render_breadcrumbs({ separator: '>', viewTemplate: "WhiteOctoberBreadcrumbsBundle::titlebreadcrumbs.html.twig" }) }}{% endblock title %}


{% block menu %}
    {% include '::partials/menu.html.twig' %}
{% endblock menu %}

{% block content %}
<div class="box box-primary">
    <div class="box-header col s12">
    <div class="col s10 box-title left-align show">
            <h2>{{ 'label.evento'|trans }}</h2>
    </div>
    <div class="col s2">
        <div class="hide-on-med-and-down col l9 right-align">
            <a class="top-btn btn waves-effect waves-light white-text blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Editar Base" href="{{ path('folha_pagamento_bases_edit', { 'id': bases.codBase }) }}"><i class="material-icons">edit</i></a>
        </div>
        <div class="hide-on-med-and-down col l3 right-align">
           {{ form_start(delete_form) }}
            <button class="top-btn btn waves-effect waves-light white-text blue darken-4 tooltipped" data-position="right" data-delay="50" data-tooltip="Excluir Base" value="Delete" type="submit" name="action"><i class="material-icons">delete</i></button>
            {{ form_end(delete_form) }}
        </div>
    </div>
    
    </div>
    <div class="box-body  no-padding">
        <table class="bordered show-table">
            <tbody>
            <tr class="sonata-ba-view-container">
                <th>Codbase</th>
                <td>{{ bases.codBase }}</td>
            </tr>
            <tr class="sonata-ba-view-container">
                <th>Nombase</th>
                <td>{{ bases.nomBase }}</td>
            </tr>
            <tr class="sonata-ba-view-container">
                <th>Tipobase</th>
                <td>{{ bases.tipoBase }}</td>
            </tr>
            <tr class="sonata-ba-view-container">
                <th>Apresentacaovalor</th>
                <td>{% if bases.apresentacaoValor %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr class="sonata-ba-view-container">
                <th>Insercaoautomatica</th>
                <td>{% if bases.insercaoAutomatica %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr class="sonata-ba-view-container">
                <th>Codmodulo</th>
                <td>{{ bases.codModulo }}</td>
            </tr>
            <tr class="sonata-ba-view-container">
                <th>Codbiblioteca</th>
                <td>{{ bases.codBiblioteca }}</td>
            </tr>
            <tr class="sonata-ba-view-container">
                <th>Codfuncao</th>
                <td>{{ bases.codFuncao }}</td>
            </tr>
        </tbody>
    </table>
    </div>    
</div>
<br/>
    <div class="col s12">
            <a class="btn-floating white-text blue darken-4" href="{{ path('folha_pagamento_bases_index') }}"><i class="material-icons">arrow_back</i></a>
        </div>
{% endblock content %}

