{% extends "base_home_cards.html.twig" %}
{% block content %}
<div class="container">
    <div class="container">
        <h4 class="blue-text text-darken-4">Convênios</h4>
        <div class="divider grey title-divider"><p>1</p></div>
    </div>
    <div class="container">
        <div class="col s6 m6 l4 center">
            <div class="card-panel col s12 hoverable">
                <a href="{{ path('urbem_patrimonial_licitacao_convenio_list') }}">
                    <h6><i class="mdi mdi-pocket large" aria-hidden="true"></i></h6>
                    <h6 class="truncate">Convênio</h6>
                </a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_patrimonial_licitacao_convenio_create') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                </h5>
                <h5 class="right">
                    <a href="{{ path('urbem_patrimonial_licitacao_convenio_list') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l4 center">
            <div class="card-panel col s12 hoverable">
                <a href="{{ path('urbem_patrimonial_licitacao_rescisao_convenio_list') }}">
                    <h6><i class="fa fa-ban large" aria-hidden="true"></i></h6>
                    <h6 class="truncate">Rescindir Convênio</h6>
                </a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_patrimonial_licitacao_rescisao_convenio_list') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                </h5>
                <h5 class="right">
                    <a href="{{ path('urbem_patrimonial_licitacao_rescisao_convenio_list') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                </h5>
            </div>
        </div>
    </div>
</div>
{% endblock content %}