{% extends "base_home_cards.html.twig" %}
{% block content %}
<div class="container">
    <div class="container">
        <h4 class="blue-text text-darken-4"><i class="mdi mdi-ruler left"></i>Configuração Lei de Diretrizes Orçamentárias</h4>
        <div class="divider grey title-divider"><p>1</p></div>
    </div>
    <div class="container">
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable">
                <a href="{{ path('urbem_financeiro_ldo_tipo_indicadores_list') }}"><h6 class="truncate center">Tipo de Indicador</h6></a>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_financeiro_ldo_tipo_indicadores_create') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">add_circle</i></a>
                </h5>
                <h5 class="right">
                    <a href="{{ path('urbem_financeiro_ldo_tipo_indicadores_list') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">search</i></a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable">
                <a href="{{ path('urbem_financeiro_ldo_indicadores_filtro') }}"><h6 class="truncate center">Configurar Indicadores</h6></a>
                <div class="divider col s12"></div>
                <h5 class="right">
                    <a href="{{ path('urbem_financeiro_ldo_indicadores_filtro') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">search</i></a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable">
                <a href="{{ path('urbem_financeiro_ldo_validacao_acoes_list') }}"><h6 class="truncate center">Validação de Ações</h6></a>
                <div class="divider col s12"></div>
                <h5 class="right">
                    <a href="{{ path('urbem_financeiro_ldo_validacao_acoes_list') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">search</i></a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable">
                <a href="{{ path('ldo_configuracao_despesa_receita') }}"><h6 class="truncate center">Despesa/Receita</h6></a>
                <div class="divider col s12"></div>
                <h5 class="right">
                    <a href="{{ path('ldo_configuracao_despesa_receita') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Salvar"><i class="material-icons">save</i></a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable">
                <a href="{{ path('urbem_financeiro_ldo_renuncia_receita_list') }}"><h6 class="truncate center">Renúncia de Receita</h6></a>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_financeiro_ldo_renuncia_receita_create') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">add_circle</i></a>
                </h5>
                <h5 class="right">
                    <a href="{{ path('urbem_financeiro_ldo_renuncia_receita_list') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">search</i></a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable">
                <a href="{{ path('urbem_financeiro_ldo_homologar_ldo_create') }}"><h6 class="truncate center">Homologar LDO</h6></a>
                <div class="divider col s12"></div>
                <h5 class="right">
                    <a href="{{ path('urbem_financeiro_ldo_homologar_ldo_create') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Salvar"><i class="material-icons">save</i></a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable">
                <a href="{{ path('ldo_configuracao_evolucao_divida') }}"><h6 class="truncate center">Evolução da Dívida</h6></a>
                <div class="divider col s12"></div>
                <h5 class="right">
                    <a href="{{ path('ldo_configuracao_evolucao_divida') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Salvar"><i class="material-icons">save</i></a>
                </h5>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
