{% block content %}

    {% if field.data.veiculo is not null %}

        <table class="table show-table">
            <tbody>
            <tr class="sonata-ba-view-container">
                <th>{{ 'label.veiculoBaixa.codVeiculo'|trans }}</th>
                <td>{{ field.data.veiculo.codVeiculo }}</td>

            </tr>
            <tr class="sonata-ba-view-container">
                <th>{{ 'label.veiculoBaixa.marca'|trans }}</th>
                <td>{{ field.data.veiculo.fkFrotaMarca.nomMarca }}</td>
            </tr>
            <tr class="sonata-ba-view-container">
                <th>{{ 'label.veiculoBaixa.modelo'|trans }}</th>
                <td>{{ field.data.veiculo.fkFrotaModelo.nomModelo }}</td>
            </tr>
            <tr class="sonata-ba-view-container">
                <th>{{ 'label.veiculoBaixa.placa'|trans }}</th>
                <td>{{ field.data.veiculo.placa }}</td>
            </tr>
            <tr class="sonata-ba-view-container">
                <th>{{ 'label.veiculoBaixa.tipoVeiculo'|trans }}</th>
                <td>{{ field.data.veiculo.fkFrotaTipoVeiculo.nomTipo }}</td>
            </tr>
            </tbody>
        </table>

    {% endif %}

{% endblock content %}