{% if (admin.request.requestUri matches '{(\/retornar)$}' or admin.request.requestUri matches '{(\/create)*}') %}
    {% if  0 == (admin.request.requestUri matches '{(\/delete)}') %}
        <div class="row">
            <div class="box box-primary">
                <div class="box-header col s12">
                    <h2 class="col s12 box-title left-align show">
                        {{ 'label.retornarVeiculo.dadosRetirada'|trans }}
                    </h2>
                    <div class="divider grey title-divider"></div>
                </div>
                <div class="box-body">
                    <div class="col s12">
                        <table class="table show-table">
                            <tbody>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'label.motorista.codVeiculo'|trans }}</th>
                                <td>{{ admin.utilizacao }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'label.retirarVeiculo.dtSaida'|trans }}</th>
                                <td>{{ admin.utilizacao.dtSaida|date('d/m/Y') }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'label.retirarVeiculo.hrSaida'|trans }}</th>
                                <td>{{ admin.utilizacao.hrSaida|date('H:i') }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'label.retirarVeiculo.kmSaida'|trans }}</th>
                                <td>{{ admin.utilizacao.kmSaida }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'label.retirarVeiculo.destino'|trans }}</th>
                                <td>{{ admin.utilizacao.destino }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
