<div class="col s12">
    <div class="col s1 right" style="margin-top: 10px">
        <span class="icon-input">
            <i class="material-icons">add_circle</i>
        </span>
        <input class="white-text blue darken-4 btn btn-success save col s12" type="button" name="manuais" id="manuais" value="Incluir">
    </div>
</div>
<div class="col s12 parcelas">
    <h3 class="col s10 box-title left-align show">{{ 'label.arrecadacaoEfetuarLancamento.listaParcelas'|trans }}</h3>
    <div class="divider grey lighten-1  title-divider"></div>
    <table id="tableParcelasManuais" class="bordered highlight" style="width:100%">
        <thead>
            <tr class="tr-rh">
                <th class="th-rh">{{ 'label.arrecadacaoEfetuarLancamento.tipoParcela'|trans }}</th>
                <th class="th-rh">{{ 'label.arrecadacaoEfetuarLancamento.vencimento'|trans }}</th>
                <th class="th-rh">{{ 'label.arrecadacaoEfetuarLancamento.desconto'|trans }}</th>
                <th class="th-rh">{{ 'label.arrecadacaoEfetuarLancamento.formaDesconto'|trans }}</th>
                <th class="th-rh">{{ 'label.acao'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr-rh row-modelo-parcela" style="display: none">
                <td class="td-rh tipo-parcela">
                    <input type="hidden" class="imput-tipo-parcela" name="tipo_parcela[]" />
                    <input type="hidden" class="imput-forma-desconto" name="forma_desconto[]" />
                    <input type="hidden" class="imput-desconto" name="desconto[]" />
                    <p class="tipo-parcela-unica">{{ 'label.arrecadacaoEfetuarLancamento.unica'|trans }}</p>
                    <p class="tipo-parcela-normal">{{ 'label.arrecadacaoEfetuarLancamento.normal'|trans }}</p>
                </td>
                <td class="td-rh venvimento">
                    <div class="input-group date">
                        <input type="text" class="imput-vencimento" name="vencimento[]" class="sonata-medium-datecampo-sonata form-control" data-date-format="DD/MM/YYYY" />
                        <span class="input-group-addon"><span class="fa-calendar fa"></span></span>
                    </div>
                </td>
                <td class="td-rh desconto"></td>
                <td class="td-rh forma-desconto">
                    <p class="forma-desconto-percentual">{{ 'label.arrecadacaoEfetuarLancamento.percentual'|trans }}</p>
                    <p class="forma-desconto-absoluto">{{ 'label.arrecadacaoEfetuarLancamento.valorAbsoluto'|trans }}</p>
                </td>
                <td class="td-rh remove"><i class="material-icons blue-text text-darken-4" style="cursor: pointer">delete</i></td>
            </tr>
            <tr class="tr-rh empty-row-parcelas">
                <td colspan="5">{{ 'listagemVazia'|trans }}</td>
            </tr>
        </tbody>
    </table>
</div>

