{% set contrato = field.data.contrato %}
<div class="box-body  no-padding">
    <table class="table show-table">
        <tbody>
            <tr class="sonata-ba-view-container">
                <th>{{ "exercicio" | trans }}</th>
                <td>{{ contrato.exercicio }}</td>
            </tr>
            <tr class="sonata-ba-view-container">
                <th>{{ "entidade" | trans }}</th>
                <td>{{ contrato.fkOrcamentoEntidade.fkSwCgm.nomCgm }}</td>
            </tr>
            <tr class="sonata-ba-view-container">
                <th>{{ "label.contrato" | trans }}</th>
                <td>{{ contrato.numContrato }}/{{ contrato.exercicio }}</td>
            </tr>
            <tr class="sonata-ba-view-container">
                <th>{{ "label.vinculoEmpenhoContrato.dtContrato" | trans }}</th>
                <td>{{ contrato.dtAssinatura|date('d/m/Y') }}</td>
            </tr>
            <tr class="sonata-ba-view-container">
                <th>{{ "credor" | trans }}</th>
                <td>{{ contrato.fkSwCgm }}</td>
            </tr>
        </tbody>
    </table>
</div>