<p><strong>{{ 'label.imobiliarioRelatorios.alteracaoCadastral.totalRegistros'|trans }} :</strong> {{ imoveis|length }}</p>

        <p><strong>{{ 'label.imobiliarioRelatorios.alteracaoCadastral.filtrosUtilizados'|trans }}</strong></p>
        {% if filtros['localizacaoInicial'] %}
            <p><strong>{{ 'label.imobiliarioRelatorios.alteracaoCadastral.localizacaoDe'|trans }} :</strong>  {{ filtros['localizacaoInicial'] }}</p>
        {% endif %}

        {% if filtros['localizacaoFinal'] %}
            <p><strong>{{ 'label.imobiliarioRelatorios.alteracaoCadastral.localizacaoAte'|trans }} :</strong>  {{ filtros['localizacaoFinal'] }}</p>
        {% endif %}

        {% if filtros['loteInicial'] %}
            <p><strong>{{ 'label.imobiliarioRelatorios.alteracaoCadastral.loteDe'|trans }} :</strong>  {{ filtros['loteInicial'] }}</p>
        {% endif %}

        {% if filtros['loteFinal'] %}
            <p><strong>{{ 'label.imobiliarioRelatorios.alteracaoCadastral.loteAte'|trans }} :</strong>  {{ filtros['loteFinal'] }}</p>
        {% endif %}

        {% if filtros['inscricaoImobiliariaInicial'] %}
            <p><strong>{{ 'label.imobiliarioRelatorios.alteracaoCadastral.inscricaoImobiliariaDe'|trans }} :</strong>  {{ filtros['inscricaoImobiliariaInicial'] }}</p>
        {% endif %}

        {% if filtros['inscricaoImobiliariaFinal'] %}
            <p><strong>{{ 'label.imobiliarioRelatorios.alteracaoCadastral.inscricaoImobiliariaAte'|trans }} :</strong>  {{ filtros['inscricaoImobiliariaFinal'] }}</p>
        {% endif %}

        {% if filtros['codigoLogradouroInicial'] %}
            <p><strong>{{ 'label.imobiliarioRelatorios.alteracaoCadastral.codigoLogradouroDe'|trans }} :</strong>  {{ filtros['codigoLogradouroInicial'] }}</p>
        {% endif %}

        {% if filtros['codigoLogradouroFinal'] %}
            <p><strong>{{ 'label.imobiliarioRelatorios.alteracaoCadastral.codigoLogradouroAte'|trans }} :</strong>  {{ filtros['codigoLogradouroFinal'] }}</p>
        {% endif %}

        {% if filtros['codigoBairroInicial'] %}
            <p><strong>{{ 'label.imobiliarioRelatorios.alteracaoCadastral.codigoBairroDe'|trans }} :</strong>  {{ filtros['codigoBairroInicial'] }}</p>
        {% endif %}

        {% if filtros['codigoBairroFinal'] %}
            <p><strong>{{ 'label.imobiliarioRelatorios.alteracaoCadastral.codigoBairroAte'|trans }} :</strong>  {{ filtros['codigoBairroFinal'] }}</p>
        {% endif %}

        <p><strong>{{ 'label.imobiliarioRelatorios.alteracaoCadastral.tipoRelatorio'|trans }} :</strong> {{ filtros['tipoRelatorio']|capitalize }}</p>

        {% if filtros['atributos'] %}
            <p>
                <strong>{{ 'label.imobiliarioRelatorios.alteracaoCadastral.atributosRelacionados'|trans }} :</strong>
                {% for atributo in filtros['atributos'] %}
                    <br>{{ (admin.getNomeAtributo(atributo)).getNomAtributo()|capitalize }}
                {% endfor %}
            </p>
        {% endif %}

        <p>
            <strong>{{ 'label.imobiliarioRelatorios.alteracaoCadastral.ordenacao'|trans }} :</strong> {{ (admin.getOrdenacao()[filtros['ordenacao']])|trans }}
        </p>
