<p><strong>{{ 'label.imobiliarioRelatorios.BCI.totalRegistros'|trans }} :</strong> {{ bcis|length }}</p>

        <p><strong>{{ 'label.imobiliarioRelatorios.BCI.filtrosUtilizados'|trans }}:</strong></p>
        {% if filtros['inscricaoDe'] is defined and filtros['inscricaoAte'] is defined %}
            <p>
            	<strong>{{ 'label.imobiliarioRelatorios.BCI.inscricaoImobiliariaDe'|trans }} :</strong>  {{ admin.parseValueToReport(filtros['inscricaoDe'], 'inscricao') }} 
            	<strong>{{ 'label.imobiliarioRelatorios.BCI.ate'|trans }} :</strong>  {{ admin.parseValueToReport(filtros['inscricaoAte'], 'inscricao') }}
           	</p>
        {% elseif filtros['inscricaoDe'] is defined or filtros['inscricaoAte'] is defined %}
			<p>
				<strong>{{ 'label.imobiliarioRelatorios.BCI.inscricaoImobiliaria'|trans }} :</strong>  
				{{ admin.parseValueToReport(filtros['inscricaoDe']?filtros['inscricaoDe']:filtros['inscricaoAte'], 'inscricao') }}
			</p>
		{% endif %}
		
        {% if filtros['localizacaoDe'] is defined and filtros['localizacaoAte'] is defined %}
            <p>
            	<strong>{{ 'label.imobiliarioRelatorios.BCI.localizacaoDe'|trans }} :</strong>  {{ filtros['localizacaoDe'] }}  
            	<strong>{{ 'label.imobiliarioRelatorios.BCI.ate'|trans }} :</strong>  {{ filtros['localizacaoAte'] }}
            </p>
        {% elseif filtros['localizacaoDe'] is defined or filtros['localizacaoAte'] is defined %}
			<p>
				<strong>{{ 'label.imobiliarioRelatorios.BCI.localizacao'|trans }} :</strong>  
				{{ (filtros['localizacaoDe']?filtros['localizacaoDe']:filtros['localizacaoAte']) }}
			</p>
		{% endif %}
		
		{% if filtros['logradouroDe'] is defined and filtros['logradouroAte'] is defined %}
            <p>
            	<strong>{{ 'label.imobiliarioRelatorios.BCI.logradouroDe'|trans }} :</strong>  {{ admin.parseValueToReport(filtros['logradouroDe'], 'logradouro') }} 
            	<strong>{{ 'label.imobiliarioRelatorios.BCI.ate'|trans }} :</strong>  {{ admin.parseValueToReport(filtros['logradouroAte'], 'logradouro') }}
            </p>
        {% elseif filtros['logradouroDe'] is defined or filtros['logradouroAte'] is defined %}
			<p>
				<strong>{{ 'label.imobiliarioRelatorios.BCI.logradouro'|trans }} :</strong>  
				{{ admin.parseValueToReport(filtros['logradouroDe']?filtros['logradouroDe']:filtros['logradouroAte'], 'logradouro') }}
			</p>
		{% endif %}
		
		{% if filtros['bairroDe'] is defined and filtros['bairroAte'] is defined %}
            <p>
            	<strong>{{ 'label.imobiliarioRelatorios.BCI.bairroDe'|trans }} :</strong>  {{ admin.parseValueToReport(filtros['bairroDe'], 'bairro') }} 
            	<strong>{{ 'label.imobiliarioRelatorios.BCI.ate'|trans }} :</strong>  {{ admin.parseValueToReport(filtros['bairroAte'], 'bairro') }}
           </p>
        {% elseif filtros['bairroDe'] is defined or filtros['bairroAte'] is defined %}
			<p>
				<strong>{{ 'label.imobiliarioRelatorios.BCI.bairro'|trans }} :</strong>  
				{{ admin.parseValueToReport(filtros['bairroDe']?filtros['bairroDe']:filtros['bairroAte'], 'bairro') }}
			</p>
		{% endif %}