{% extends "base_home_cards.html.twig" %}
{% block content %}
    <div class="container">
        <div class="container">
            <h4 class="blue-text text-darken-4">
                <i class="mdi mdi-file-document left"></i>
                {{ "label.imobiliarioRelatorios.subModulo" |trans }}
            </h4>
            <div class="divider grey title-divider"><p>1</p></div>
        </div>
        <div class="container">
            <div class="col s6 m6 l4">
                <div class="card-panel col s12 hoverable center">
                    <a href="{{ path('urbem_tributario_imobiliario_relatorio_bairro_create')}}">
                        <h6>{{ "label.imobiliarioRelatorios.bairros.modulo" |trans }}</h6>
                    </a>
                    <div class="divider col s12"></div>
                    <h5 class="left">
                        <a href="{{ path('urbem_tributario_imobiliario_relatorio_bairro_create')}}"
                           class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir">
                            <i class="material-icons">&#xE147;</i>
                        </a>
                    </h5>
                </div>
            </div>
            <div class="col s6 m6 l4">
                <div class="card-panel col s12 hoverable center">
                    <a href="{{ path('urbem_tributario_imobiliario_relatorio_logradouro_create')}}">
                        <h6>{{ "label.imobiliarioRelatorios.logradouros.modulo" |trans }}</h6>
                    </a>
                    <div class="divider col s12"></div>
                    <h5 class="left">
                        <a href="{{ path('urbem_tributario_imobiliario_relatorio_logradouro_create')}}"
                           class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir">
                            <i class="material-icons">&#xE147;</i>
                        </a>
                    </h5>
                </div>
            </div>
            <div class="col s6 m6 l4">
                <div class="card-panel col s12 hoverable center">
                    <a href="{{ path('urbem_tributario_imobiliario_relatorio_corretagem_create')}}">
                        <h6>{{ "label.corretagemReport.modulo" |trans }}</h6>
                    </a>
                    <div class="divider col s12"></div>
                    <h5 class="left">
                        <a href="{{ path('urbem_tributario_imobiliario_relatorio_corretagem_create')}}"
                           class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir">
                            <i class="material-icons">&#xE147;</i>
                        </a>
                    </h5>
                </div>
            </div>
            <div class="col s6 m6 l4">
                <div class="card-panel col s12 hoverable center">
                    <a href="{{ path('urbem_tributario_imobiliario_relatorio_trecho_create')}}">
                        <h6>{{ "label.imobiliarioRelatorios.trechos.modulo" |trans }}</h6>
                    </a>
                    <div class="divider col s12"></div>
                    <h5 class="left">
                        <a href="{{ path('urbem_tributario_imobiliario_relatorio_trecho_create')}}"
                           class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir">
                            <i class="material-icons">&#xE147;</i>
                        </a>
                    </h5>
                </div>
            </div>
            <div class="col s6 m6 l4">
                <div class="card-panel col s12 hoverable center">
                    <a href="{{ path('urbem_tributario_imobiliario_relatorio_condominio_create')}}">
                        <h6>{{ "label.imobiliarioRelatorios.condominio.modulo" |trans }}</h6>
                    </a>
                    <div class="divider col s12"></div>
                    <h5 class="left">
                        <a href="{{ path('urbem_tributario_imobiliario_relatorio_condominio_create')}}"
                           class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir">
                            <i class="material-icons">&#xE147;</i>
                        </a>
                    </h5>
                </div>
            </div>
            <div class="col s6 m6 l4">
                <div class="card-panel col s12 hoverable center">
                    <a href="{{ path('urbem_tributario_imobiliario_relatorio_alteracao_cadastral_create')}}">
                        <h6>{{ "label.imobiliarioRelatorios.alteracaoCadastral.modulo" |trans }}</h6>
                    </a>
                    <div class="divider col s12"></div>
                    <h5 class="left">
                        <a href="{{ path('urbem_tributario_imobiliario_relatorio_alteracao_cadastral_create')}}"
                           class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir">
                            <i class="material-icons">&#xE147;</i>
                        </a>
                    </h5>
                </div>
            </div>
            <div class="col s6 m6 l4">
                <div class="card-panel col s12 hoverable center">
                    <a href="{{ path('urbem_tributario_imobiliario_relatorio_imobiliario_create')}}">
                        <h6>{{ "label.imobiliarioRelatorios.cadastroImobiliario.modulo" |trans }}</h6>
                    </a>
                    <div class="divider col s12"></div>
                    <h5 class="left">
                        <a href="{{ path('urbem_tributario_imobiliario_relatorio_alteracao_cadastral_create')}}"
                           class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir">
                            <i class="material-icons">&#xE147;</i>
                        </a>
                    </h5>
                </div>
            </div>
            <div class="col s6 m6 l4">
                <div class="card-panel col s12 hoverable center">
                    <a href="{{ path('urbem_tributario_imobiliario_relatorio_bci_create')}}">
                        <h6>{{ "label.imobiliarioRelatorios.BCI.modulo" |trans }}</h6>
                    </a>
                    <div class="divider col s12"></div>
                    <h5 class="left">
                        <a href="{{ path('urbem_tributario_imobiliario_relatorio_bci_create')}}"
                           class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir">
                            <i class="material-icons">&#xE147;</i>
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
