<div class="row">
    <div class="col s6">
        {{ form_label(formCustomized.desdobramento, null, {'label_attr': {'class': 'label-rh required'}}) }}
        {{ form_widget(formCustomized.desdobramento, {'attr': {'class': ' white browser-default select2-parameters'}}) }}
        {{ form_errors(formCustomized.desdobramento) }}
    </div>
    <div class="col s6">
        {{ form_label(formCustomized.percentual, null, {'label_attr': {'class': 'label-rh '}}) }}
        {{ form_widget(formCustomized.percentual, {'attr': {'class': 'input-rh white browser-default percent '}}) }}
        {{ form_errors(formCustomized.percentual) }}
    </div>

</div>
<div class="row">
    <div class="col s6">
        {{ form_label(formCustomized.vantagens_fixas, null, {'label_attr': {'class': 'label-rh'}}) }}
        {{ form_widget(formCustomized.vantagens_fixas, {'attr': {'class': ' white browser-default'}}) }}
        {{ form_errors(formCustomized.vantagens_fixas) }}
    </div>
    <div class="col s6">
        {{ form_label(formCustomized.folha_salario, null, {'label_attr': {'class': 'label-rh'}}) }}
        {{ form_widget(formCustomized.folha_salario,{'attr': {'class': ' white browser-default'}}) }}
        {{ form_errors(formCustomized.folha_salario) }}
    </div>
</div>
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('select').select2();
        });
    </script>
{% endblock javascripts %}
