{% extends "CoreBundle::Sonata/standard_layout.html.twig" %}

{% import 'CoreBundle:Sonata/CRUD:base_show_macro.html.twig' as show_helper %}

{% block actions %}
    {% include 'CoreBundle:Sonata/CRUD:action_buttons.html.twig' %}
{% endblock %}

{% block tab_menu %}
    {{ knp_menu_render(admin.sidemenu(action), {
        'currentClass' : 'active',
        'template': sonata_admin.adminPool.getTemplate('tab_menu_template')
    }, 'twig') }}
{% endblock %}

{% block show %}

    <div class="container-rh">
        <div class="row">
            <div class="col s12 profile-box">
                <h2 class="blue-text text-darken-4 left">
                    <i class="mdi mdi-file-document left grey-text medium"></i>
                    <span style="padding-top: 10px">{{ 'label.frotaManutencao.manutencao'|trans }} - {{ object.codCondicao }}</span>
                </h2>
                {% if object.fkPessoalCondicaoAssentamentoExcluido is null %}
                    <a href="{{ path('urbem_recursos_humanos_assentamento_condicao_edit', { 'id': admin.getObjectKey(object) }) }}" class="serv-btn right">
                        <i class="material-icons right">edit</i>
                    </a>
                {% endif %}
                <p class="divider grey col s12"></p>

                <div class="col s3 little-box">
                    <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.condicaoAssentamento.assentamento'|trans }}</h6>
                    <h6 class="col s12 grey-text text-darken-1">{{ object.fkPessoalAssentamentoAssentamento.fkPessoalClassificacaoAssentamento }}</h6>
                </div>
                <div class="col s3 little-box">
                    <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.classificacaoAssentamento.descricao'|trans }}</h6>
                    <h6 class="col s12 grey-text text-darken-1">{{ object.fkPessoalAssentamentoAssentamento }}</h6>
                </div>
                <div class="col s3 little-box">
                    <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.condicaoAssentamento.timestamp'|trans }}</h6>
                    <h6 class="col s12 grey-text text-darken-1">{{object.timestamp.format('d/m/Y')}}</h6>
                </div>
                {% if object.fkPessoalCondicaoAssentamentoExcluido is not null and object.fkPessoalCondicaoAssentamentoExcluido.count > 0  %}
                    <div class="col s3 little-box">
                        <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.condicaoAssentamento.timestampExclusao'|trans }}</h6>
                        <h6 class="col s12 grey-text text-darken-1">{{ object.fkPessoalCondicaoAssentamentoExcluido.timestampExclusao.format('d/m/Y') }}</h6>
                    </div>
                {% else %}
                    <div class="col s3 little-box">
                        <h6 class="col s12 blue-text text-darken-4 profile-titles">{{ 'label.condicaoAssentamento.timestampExclusao'|trans }}</h6>
                        <h6 class="col s12 grey-text text-darken-1"> - </h6>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col s11 servidor-table">
                <a class="btn-lg tooltipped"
                   data-position="left"
                   data-delay="50"
                   data-tooltip="Incluir">
                    <i class="fa fa-cubes left"></i>
                    {{ 'label.assentamentoVinculado.assentamentoVinculado'|trans }}
                </a>
            </div>
            <div class="col s1">
                <a href="{{ path('urbem_recursos_humanos_assentamento_vinculado_create',{'id': object|objectKey }) }}"
                   class="btn-lg"><i class="mdi mdi-plus-circle "></i></a>
            </div>
            <table class="col s12 highlight bordered">
                <thead class="thead-rh">
                <th class="th-rh" width="10"></th>
                <th class="th-rh">{{ 'label.assentamentoVinculado.condicao'|trans }}</th>
                <th class="th-rh">{{ 'label.assentamentoVinculado.diasIncidencia'|trans }}</th>
                <th class="th-rh">{{ 'label.classificacaoAssentamento.descricao'|trans }}</th>
                <th class="th-rh">{{ 'label.condicaoAssentamento.assentamento'|trans }}</th>
                <th class="th-rh">{{ 'label.assentamentoVinculado.diasProtelarAverbar'|trans }}</th>
                <th class="th-rh">{{ 'label.assentamentoVinculado.formula'|trans }}</th>
                <th class="th-rh" width="100">{{ 'acoes'|trans }}</th>
                </thead>
                <tbody>
                {% for vinculados in object.fkPessoalAssentamentoVinculados %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>
                            {% if vinculados.condicao == 'p' %}
                                {{ 'label.assentamentoVinculado.protelacao'|trans }}
                            {% else %}
                                {{ 'label.assentamentoVinculado.averbacao'|trans }}
                            {% endif %}
                        </td>
                        <td>{{ vinculados.diasIncidencia }}</td>
                        <td>{{ vinculados.fkPessoalAssentamentoAssentamento.fkPessoalClassificacaoAssentamento }}</td>
                        <td>{{ vinculados.fkPessoalAssentamentoAssentamento }}</td>
                        <td>{{ vinculados.diasProtelarAverbar }}</td>
                        <td>
                            {% if vinculados.fkPessoalAssentamentoVinculadoFuncoes.first %}
                                {{ vinculados.fkPessoalAssentamentoVinculadoFuncoes.first.fkAdministracaoFuncao }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="hide-on-med-and-down blue-text text-darken-4 tooltipped right"
                                   data-position="right"
                                   data-delay="50"
                                   data-tooltip="Excluir"
                                   href="{{ path('urbem_patrimonial_compras_solicitacao_item_delete',
                                   {'id': vinculados|objectKey }) }}">
                                    <i class="material-icons">delete</i>
                                </a>
                            </div>
                        </td>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
        <div class="sonata-ba-form-actions well well-small form-actions row">
            <div class="col s8 initial">
                <a href="{{ path('urbem_recursos_humanos_assentamento_condicao_list') }}"
                   class="back btn-floating white-text blue darken-4 btn-success">
                    <i class="material-icons">arrow_back</i>
                    Add a comment to this line
                </a>
            </div>
        </div>
    </div>
{% endblock show %}
