<tr class="sonata-ba-view-container">
    <th>{{ form_label(form.fkTcemgContrato) }}</th>
    <td>
        {{ form_widget(form.fkTcemgContrato) }}

        {% if show_error %}
            {{ form_errors(form.fkTcemgContrato) }}

        {% endif %}
    </td>
</tr>

<tr class="sonata-ba-view-container">
    <th>{{ form_label(form.dataRescisao) }}</th>
    <td>
        {{ form_widget(form.dataRescisao) }}

        {% if show_error %}
            {{ form_errors(form.dataRescisao) }}

        {% endif %}
    </td>
</tr>

<tr class="sonata-ba-view-container">
    <th>{{ form_label(form.valorRescisao) }}</th>
    <td>
        {{ form_widget(form.valorRescisao) }}

        {% if show_error %}
            {{ form_errors(form.valorRescisao) }}

        {% endif %}
    </td>
</tr>
