{% block form_row %}
    <div class="box-body no-padding">
        <table class="table show-table">
            <tbody>
                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.fkComprasFornecedor) }}</th>
                    <td>
                        {{ form_widget(form.fkComprasFornecedor) }}
                        {{ form_errors(form.fkComprasFornecedor) }}
                    </td>
                </tr>

                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.fkLicitacaoTipoParticipante) }}</th>
                    <td>
                        {{ form_widget(form.fkLicitacaoTipoParticipante) }}
                        {{ form_errors(form.fkLicitacaoTipoParticipante) }}
                    </td>
                </tr>

                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.vlConcedido) }}</th>
                    <td>
                        {{ form_widget(form.vlConcedido) }}
                        {{ form_errors(form.vlConcedido) }}
                    </td>
                </tr>

                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.esfera) }}</th>
                    <td>
                        {{ form_widget(form.esfera) }}
                        {{ form_errors(form.esfera) }}
                    </td>
                </tr>

                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.percentual) }}</th>
                    <td>
                        {{ form_widget(form.percentual) }}
                        {{ form_errors(form.percentual) }}
                    </td>
                </tr>

                <tr>
                    <th>&nbsp;</th>
                    <td>
                        <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">remove_circle</i></a>
                    </td>
                </tr>
            <tbody>
        </table>

        {{ form_rest(form) }}
    </div>

{% endblock form_row %}