{% block form_row %}
    <div class="box-body no-padding">
        <table class="table show-table">
            <tbody>
                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.descricao) }}</th>
                    <td>
                        {{ form_widget(form.descricao) }}
                        {{ form_errors(form.descricao) }}
                    </td>
                </tr>

                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.dataAssinatura) }}</th>
                    <td>
                        {{ form_widget(form.dataAssinatura) }}
                        {{ form_errors(form.dataAssinatura) }}
                    </td>
                </tr>

                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.dataFinal) }}</th>
                    <td>
                        {{ form_widget(form.dataFinal) }}
                        {{ form_errors(form.dataFinal) }}
                    </td>
                </tr>

                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.vlConvenio) }}</th>
                    <td>
                        {{ form_widget(form.vlConvenio) }}
                        {{ form_errors(form.vlConvenio) }}
                    </td>
                </tr>

                <tr class="sonata-ba-view-container">
                    <th>{{ form_label(form.vlContra) }}</th>
                    <td>
                        {{ form_widget(form.vlContra) }}
                        {{ form_errors(form.vlContra) }}
                    </td>
                </tr>

                <tr>
                    <th>&nbsp;</th>
                    <td>
                        <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">remove_circle</i></a>
                    </td>
                </tr>
            <tbody>
        </table>

        {{ form_rest(form) }}
    </div>

{% endblock form_row %}