<table class="bordered highlight">
    <thead>
    <tr>
        <th width="3%"></th>
        <th width="50%">{{ 'label.itens.item'|trans }}</th>
        <th class="right-align">{{ 'label.itens.qtde'|trans }}</th>
        <th class="right-align">{{ 'label.itens.valorTotal'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for item in itens %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ item.descricao_resumida }}</td>
            <td class="right-align">{{ item.quantidade }}</td>
            <td class="right-align">{{ item.vl_cotacao }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
