{% extends "base_home_cards.html.twig" %}
{% block content %}
    <div class="container">
        <div class="container">
            <h4 class="blue-text text-darken-4">Pagamentos</h4>
            <div class="divider grey title-divider"><p>1</p></div>
        </div>
        <div class="container">
            {#Orçamentária - Pagamentos#}
            <div class="col s6 m6 l3 center">
                <div class="card-panel col s12 hoverable">
                    <a href="{{ path('urbem_financeiro_tesouraria_pagamentos_orcamentaria_pagamentos_list') }}">
                        <h6><i class="mdi mdi-cash-multiple large"></i></h6>
                        <h6 class="truncate">Orçamentária - Pagamentos</h6>
                    </a>
                    <p></p>
                    <div class="divider col s12"></div>
                    <h5 class="right">
                        <a href="{{ path('urbem_financeiro_tesouraria_pagamentos_orcamentaria_pagamentos_list') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                    </h5>
                </div>
            </div>
            {#Orçamentária - Estornos#}
            <div class="col s6 m6 l3 center">
                <div class="card-panel col s12 hoverable">
                    <a href="{{ path('urbem_financeiro_tesouraria_pagamentos_orcamentaria_estornos_list') }}">
                        <h6><i class="fa fa-backward large" aria-hidden="true"></i></h6>
                        <h6 class="truncate">Orçamentária - Estornos</h6>
                    </a>
                    <p></p>
                    <div class="divider col s12"></div>
                    <h5 class="right">
                        <a href="{{ path('urbem_financeiro_tesouraria_pagamentos_orcamentaria_estornos_list') }}"
                           class="tooltipped"
                           data-position="bottom"
                           data-delay="50"
                           data-tooltip="Procurar">
                            <i class="material-icons">&#xE8B6;</i>
                        </a>
                    </h5>
                </div>
            </div>
            {#Extra - Pagamentos#}
            <div class="col s6 m6 l3 center">
                <div class="card-panel col s12 hoverable">
                    <a href="{{path('urbem_financeiro_tesouraria_extra_pagamento_list') }}">
                        <h6><i class="mdi mdi-view-carousel large"></i></h6>
                        <h6 class="truncate">Extra - Pagamentos</h6>
                    </a>
                    <p></p>
                    <div class="divider col s12"></div>
                    <h5 class="left">
                        <a href="{{path('urbem_financeiro_tesouraria_extra_pagamento_create') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                    </h5>
                    <h5 class="right">
                        <a href="{{path('urbem_financeiro_tesouraria_extra_pagamento_list') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                    </h5>
                </div>
            </div>
            {#Extra - Estornos#}
            <div class="col s6 m6 l3 center">
                <div class="card-panel col s12 hoverable">
                    <a href="{{ path('urbem_financeiro_tesouraria_extra_estorno_list') }}">
                        <h6><i class="fa fa-step-backward large" aria-hidden="true"></i></h6>
                        <h6 class="truncate">Extra - Estornos</h6>
                    </a>
                    <p></p>
                    <div class="divider col s12"></div>
                    <h5 class="left">
                        <a href="{{ path('urbem_financeiro_tesouraria_extra_estorno_create') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                    </h5>
                    <h5 class="right">
                        <a href="{{ path('urbem_financeiro_tesouraria_extra_estorno_list') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                    </h5>
                </div>
            </div>
            {#Borderô - Pagamentos#}
            <div class="col s6 m6 l3 center">
                <div class="card-panel col s12 hoverable">
                    <a href="{{ path('urbem_financeiro_tesouraria_pagamento_bordero_create') }}">
                        <h6><i class="mdi mdi-table large"></i></h6>
                        <h6 class="truncate">Borderô - Pagamentos</h6>
                    </a>
                    <p></p>
                    <div class="divider col s12"></div>
                    <h5 class="left">
                        <a href="{{ path('urbem_financeiro_tesouraria_pagamento_bordero_create') }}"
                           class="tooltipped"
                           data-position="bottom"
                           data-delay="50"
                           data-tooltip="Incluir">
                            <i class="material-icons">&#xE147;</i></a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}