{% extends "base.html.twig" %}
{% block content %}
<div class="container">
        <div class="row">
            <div class="col s10">
                <h4 class="blue-text text-darken-4 title-filtro">{{ 'incluir'|trans|capitalize }} {{ 'label.condicaoAssentamento.modulo'|trans }}</h4>
            </div>
        </div>
    <div class="row">
        {{ form_start(form) }}
        {{ form_widget(form) }}
    </div>
    <div class="row">
        <div class="col s6">
            <a  class="btn-floating white-text blue darken-4" href="{{ path('pessoal_condicao_assentamento_index') }}"><i class="material-icons">arrow_back</i></a>
        </div>
        <div class="col s6 right-align">
            <button type="submit" class="waves-effect waves-light btn blue darken-4" value="Create">Incluir</button>
        {{ form_end(form) }}
        </div>
    </div>
</div>   
{% endblock content %}

