<input type="hidden" value="{{ admin.filtroPor }}" name="tipo" id="tipo" />
<div class="col s12">
    <div class="col s1 right" style="margin-top: 10px">
        <span class="icon-input">
            <i class="material-icons">add_circle</i>
        </span>
        <input class="white-text blue darken-4 btn btn-success save col s12" type="button" name="manuais" id="manuais"
        value="Incluir">
    </div>
</div>
<div class="col s12 creditos">
    <h3 class="col s10 box-title left-align show">{{ 'label.dividaAtivaPagadoresReport.listaCreditos.dados'|trans }}</h3>
    <div class="divider grey lighten-1  title-divider"></div>
    <table id="tableCreditosManuais" class="bordered highlight" style="width:100%">
        <tr class="tr-rh">
            <th class="th-rh">{{ 'label.dividaAtivaPagadoresReport.codigo'|trans }}</th>
            <th class="th-rh">{{ 'label.dividaAtivaPagadoresReport.exercicio'|trans }}</th>
            <th class="th-rh">{{ 'label.dividaAtivaPagadoresReport.descricao'|trans }}</th>
            <th class="th-rh">{{ 'label.acao'|trans }}</th>
        </tr>
    </table>
</div>

