{% extends "base_home_cards.html.twig" %}

{% block title %}HOME{% endblock title %}


{% block menu %}
    {% include '::partials/menu.html.twig' %}
{% endblock menu %}

{% block content %}
<!--SUB-MODULOS-->
<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="col s12 center">
        <h4 class="titles left blue-text text-darken-4">Módulo Financeiro</h4>
    </div>
    <div class="row">
        <!--Orçamento-->
        <div class="col s10 m6 l3">
            <div class="card small white">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" title="Sub Módulo Orçamento" id="abrecard">
                        <img class="activator responsive-img"
                             src="{{ asset('/bundles/financeiro/images/budget.png') }}">
                    </a>
                </div>
                <div class="card-content white">
                    <span class="card-title activator blue-text text-darken-4 truncate flow-text">Orçamento</span>
                </div>
                <div class="card-reveal">
                    <div class="col s12 titulo-inside-card truncate">
                        <i class="material-icons icoTitMenu left">list</i>Orçamento
                        <span class="card-title grey-text text-darken-4 closeHomeNovo"><i class="material-icons right">close</i></span>
                    </div>
                    <div class="setaMenu"></div>
                    <div class="menuHomeNovo">
                        <p class="link-cards"><a href="{{ path('orcamento_configuracao_home') }}">Configuração</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_financeiro_orcamento_classificacao_institucional_list') }}">Classificação Institucional</a></p>
                        <p class="link-cards"><a href="{{ path('orcamento_classificacao_economica_home') }}">Classificação Econômica</a></p>
                        <p class="link-cards"><a href="{{ path('financeiro_orcamento_elaboracao_orcamento_home') }}" >Elaboração de Orçamento</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_financeiro_orcamento_saldodotacao_list') }}">Saldo de dotação</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_financeiro_orcamento_suplementacao_list') }}">Alteração Orçamentária</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_financeiro_orcamento_reserva_saldos_list') }}">Reserva de Saldos</a></p>
                        <p class="link-cards"><a href="{{ path('orcamento_relatorios_home') }}">Relatórios</a> </p>
                    </div>
                </div>
            </div>
        </div>

        <!--Contabilidade-->
        <div class="col s10 m6 l3">
            <div class="card small white">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" title="Sub Módulo Contabilidade" id="abrecard">
                        <img class="activator responsive-img"
                             src="{{ asset('/bundles/financeiro/images/accounting.png') }}">
                    </a>
                </div>
                <div class="card-content white">
                    <span class="card-title activator blue-text text-darken-4 truncate flow-text">Contabilidade</span>
                </div>
                <div class="card-reveal">
                    <div class="col s12 titulo-inside-card truncate">
                        <i class="material-icons icoTitMenu left">list</i> Contabilidade
                        <span class="card-title grey-text text-darken-4 closeHomeNovo"><i class="material-icons right">close</i></span>
                    </div>
                    <div class="setaMenu"></div>
                    <div class="menuHomeNovo">
                        <p class="link-cards"><a href="{{ path('contabilidade_configuracao_home') }}">Configuração</a></p>
                        <p class="link-cards"><a href="{{ path('financeiro_contabilidade_planoconta_home' )}}">Plano de Contas</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_financeiro_contabilidade_historico_contabil_list') }}">Histórico Padrão</a></p>
                        <p class="link-cards"><a href="{{ path('lancamento_contabil_index') }}">Lançamento Contábil</a></p>
                        <p class="link-cards"><a href="{{ path('financeiro_contabilidade_encerramento_home') }}">Encerramento</a></p>
                        <p class="link-cards"><a href="{{ path('contabilidade_relatorios_home') }}">Relatórios</a> </p>
                    </div>
                </div>
            </div>
        </div>

        <!--Empenho-->
        <div class="col s10 m6 l3">
            <div class="card small white">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" title="Sub Módulo Empenho" id="abrecard">
                        <img class="activator responsive-img"
                             src="{{ asset('/bundles/financeiro/images/interest.png') }}">
                    </a>
                </div>
                <div class="card-content white">
                    <span class="card-title activator blue-text text-darken-4 truncate">Empenho</span>
                </div>
                <div class="card-reveal">
                    <div class="col s12 titulo-inside-card truncate">
                        <i class="material-icons icoTitMenu left">list</i> Empenho
                        <span class="card-title grey-text text-darken-4 closeHomeNovo"><i class="material-icons right">close</i></span>
                    </div>
                    <div class="setaMenu"></div>
                    <div class="menuHomeNovo">
                        <p class="link-cards"><a href="{{ path('empenho_configuracao_home') }}">Configuração</a></p>
                        <p class="link-cards"><a href="{{ path('empenho_autorizacao_home') }}">Autorização</a></p>
                        <p class="link-cards"><a href="{{ path('financeiro_empenho_home') }}">Empenho</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_financeiro_empenho_liquidar_empenho_list') }}">Liquidação</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_financeiro_empenho_ordem_pagamento_list') }}">Ordem de Pagamento</a></p>
                        <p class="link-cards"><a href="{{ path('adiantamento_subvencao_index') }}">Adiantamento/Subvenções</a></p>
                        <p class="link-cards"><a href="{{ path('financeiro_empenho_relatorios_home') }}">Relatórios</a> </p>
                    </div>
            </div>
        </div>
    </div>

        <!--Tesouraria-->
        <div class="col s10 m6 l3">
            <div class="card small white">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" title="Sub Módulo Tesouraria" id="abrecard">
                        <img class="activator responsive-img"
                             src="{{ asset('/bundles/financeiro/images/treasury.png') }}">
                    </a>
                </div>
                <div class="card-content white">
                    <span class="card-title activator blue-text text-darken-4 truncate">Tesouraria</span>
                </div>
                <div class="card-reveal">
                    <div class="col s12 titulo-inside-card truncate">
                        <i class="material-icons icoTitMenu left">list</i> Tesouraria
                        <span class="card-title grey-text text-darken-4 closeHomeNovo"><i class="material-icons right">close</i></span>
                    </div>
                    <div class="setaMenu"></div>
                    <div class="menuHomeNovo">
                        <p class="link-cards"><a href="{{ path('tesouraria_configuracao_home') }}">Configuração</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_financeiro_tesouraria_abrir_boletim_list') }}">Boletim</a></p>
                        <p class="link-cards"><a href="{{ path('tesouraria_arrecadacao_home') }}">Arrecadação</a></p>
                        <p class="link-cards"><a href="{{ path('financeiro_tesouraria_pagamentos_home') }}">Pagamentos</a></p>
                        <p class="link-cards"><a href="{{ path('tesouraria_outras_operacoes_home') }}">Outras Operações</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_financeiro_tesouraria_conciliacao_list') }}">Conciliação Bancária</a></p>
                        <p class="link-cards"><a href="{{ path('tesouraria_saldos_consultar') }}">Saldos</a></p>
                        <p class="link-cards"><a href="{{ path('urbem_financeiro_tesouraria_recibo_extra_list') }}">Recibo Extra</a></p>
                        <p class="link-cards"><a href="{{ path('tesouraria_emitir_cheque_home') }}"> Emissão e Controle de Cheques</a></p>
                        <p class="link-cards"><a href="{{ path('financeiro_tesouraria_relatorios_home') }}">Relatórios</a> </p>
                    </div>
                </div>
            </div>
        </div>

        <!--Plano plurianual-->
        <div class="col s10 m6 l3">
            <div class="card small white">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" title="Sub Módulo Plano plurianual" id="abrecard">
                        <img class="activator responsive-img"
                             src="{{ asset('/bundles/financeiro/images/annual_plan.png') }}">
                    </a>
                </div>
                <div class="card-content white">
                    <span class="card-title activator blue-text text-darken-4 truncate">Plano Plurianual</span>
                </div>
                <div class="card-reveal">
                    <div class="col s12 titulo-inside-card truncate">
                        <i class="material-icons icoTitMenu left">list</i> Plano Plurianual
                        <span class="card-title grey-text text-darken-4 closeHomeNovo"><i class="material-icons right">close</i></span>
                    </div>
                    <div class="setaMenu"></div>
                        <div class="menuHomeNovo">
                            <p class="link-cards"><a href="{{ path('ppa_configuracao_home') }}">Configuração</a></p>
                            <p class="link-cards"><a href="{{ path('urbem_financeiro_orcamento_orgao_list') }}">Órgão Orçamentário</a></p>
                            <p class="link-cards"><a href="{{ path('financeiro_orcamento_unidade_filtro') }}">Unidade Orçamentária</a></p>
                            <p class="link-cards"><a href="{{ path('plano_plurianual_classificacao_funcional_programatica') }}">Classificação Funcional Programática</a></p>
                            <p class="link-cards"><a href="{{ path('urbem_financeiro_plano_plurianual_regiao_list') }}">Regiões</a></p>
                            <p class="link-cards"><a href="{{ path('urbem_financeiro_plano_plurianual_produto_list') }}">Produtos</a></p>
                            <p class="link-cards"><a href="{{ path('urbem_financeiro_plano_plurianual_recursos_list') }}">Recursos</a></p>
                            <p class="link-cards"><a href="{{ path('urbem_financeiro_plano_plurianual_macro_objetivo_list') }}">Macro Objetivos</a></p>
                            <p class="link-cards"><a href="{{ path('urbem_financeiro_plano_plurianual_programa_setorial_list') }}">Programa Setoriais</a></p>
                            <p class="link-cards"><a href="{{ path('urbem_financeiro_plano_plurianual_programa_list') }}">Programas</a></p>
                            <p class="link-cards"><a href="{{ path('financeiro_ppa_acao_home') }}">Ações</a></p>
                            <p class="link-cards"><a href="{{ path('plano_plurianual_relatorios') }}">Relatórios</a></p>
                    </div>
                </div>
            </div>
        </div>

        <!--Lei de Diretrizes Orçamentárias-->
        <div class="col s10 m6 l3">
            <div class="card small white">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" title="Sub Módulo Lei de Diretrizes Orçamentárias" id="abrecard">
                        <img class="activator responsive-img"
                             src="{{ asset('/bundles/financeiro/images/guideline.png') }}">
                    </a>
                </div>
                <div class="card-content white">
                    <span class="card-title activator blue-text text-darken-4 truncate">Lei de Diretrizes Orçamentárias</span>
                </div>
                <div class="card-reveal">
                    <div class="col s12 titulo-inside-card truncate">
                        <i class="material-icons icoTitMenu left">list</i> Lei de Diretrizes Orçamentárias
                        <span class="card-title grey-text text-darken-4 closeHomeNovo"><i class="material-icons right">close</i></span>
                    </div>
                    <div class="setaMenu"></div>
                    <div class="menuHomeNovo">
                        <p class="link-cards"><a href="{{ path('ldo_configuracao_home') }}">Configuração</a></p>
                        <p class="link-cards"><a href="{{ path('ldo_relatorios_home')}}">Relatórios</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
