{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}
{% block field %}
    <table class="highlight bordered">
        <thead class="thead-rh">
        <tr>
            <th style="text-align: center !important;">{{ 'label.patrimonio.grupo.plano.analitica.tipoConta'|trans }}</th>
            <th style="text-align: center !important;">{{ 'label.descricao'|trans }}
        </tr>
        </thead>
        <tbody>
        {% if admin.data.fkPatrimonioGrupoPlanoAnaliticas is not empty %}
            <tr>
                <td class="td-rh">{{ admin.data.fkPatrimonioGrupoPlanoAnaliticas.last.fkContabilidadePlanoAnalitica }}</td>
                <td class="td-rh">{{ admin.data.fkPatrimonioGrupoPlanoAnaliticas.last.fkContabilidadePlanoAnalitica }}</td>
            </tr>
            <tr>
                <td class="td-rh">{{ 'label.patrimonio.grupo.plano.analitica.contaContabilBem'|trans }}</td>
                <td class="td-rh">{{ admin.data.fkPatrimonioGrupoPlanoAnaliticas.last.fkContabilidadePlanoAnalitica1 }}</td>
            </tr>
            <tr>
                <td class="td-rh">{{ 'label.patrimonio.grupo.plano.analitica.contaDoacao'|trans }}</td>
                <td class="td-rh">{{ admin.data.fkPatrimonioGrupoPlanoAnaliticas.last.fkContabilidadePlanoAnalitica2 }}</td>
            </tr>
            <tr>
                <td class="td-rh">{{ 'label.patrimonio.grupo.plano.analitica.contaPerdaInvoluntaria'|trans }}</td>
                <td class="td-rh">{{ admin.data.fkPatrimonioGrupoPlanoAnaliticas.last.fkContabilidadePlanoAnalitica3 }}</td>
            </tr>
            <tr>
                <td class="td-rh">{{ 'label.patrimonio.grupo.plano.analitica.contaTransferencia'|trans }}</td>
                <td class="td-rh">{{ admin.data.fkPatrimonioGrupoPlanoAnaliticas.last.fkContabilidadePlanoAnalitica4 }}</td>
            </tr>
            <tr>
                <td class="td-rh">{{ 'label.patrimonio.grupo.plano.analitica.contaAlienacaoGanho'|trans }}</td>
                <td class="td-rh">{{ admin.data.fkPatrimonioGrupoPlanoAnaliticas.last.fkContabilidadePlanoAnalitica }}</td>
            </tr>
            <tr>
                <td class="td-rh">{{ 'label.patrimonio.grupo.plano.analitica.contaAlienacaoPerda'|trans }}</td>
                <td class="td-rh">{{ admin.data.fkPatrimonioGrupoPlanoAnaliticas.last.fkContabilidadePlanoAnalitica5 }}</td>
            </tr>
            {% if admin.data.fkPatrimonioGrupoPlanoAnaliticas is not empty %}
                <tr>
                    <td class="td-rh">{{ 'label.patrimonio.grupo.plano.analitica.contaDepreciacao'|trans }}</td>
                    <td class="td-rh">{{ admin.data.fkPatrimonioGrupoPlanoDepreciacoes.last.fkContabilidadePlanoAnalitica }}</td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td class="td-rh" colspan="3">Não existe itens cadastrados</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}