{% extends "base.html.twig" %}
{% block content %}
<div class="container-rh">
    <div class="row title-index filtro filtro-sonata z-depth-0 filtro-rh">
       <div class="col s3 field-filtro">
        <label for="1" class="control-label label-rh">{{ 'label.configuracaoRais.modulo'|trans }}</label>
       <div>
        <input id="1" type="text" class="input-rh">
       </div>
      </div>
      <div class="col s1 busca-rh buscar center">
        <button type="submit" class="waves-effect waves-light btn blue darken-4"><i class="material-icons">search</i></button>
      </div>
    </div>
    <div class="row">
        <a class="left hide-on-med-and-down waves-effect waves-light btn blue darken-4 add-rh" href="{{ path('informacoes_configuracao_rais_new') }}"><i class="material-icons left icon-rh">add</i>Incluir</a>
    </div>
  <div class="row">
    <table class="bordered highlight">
      <thead class="thead-rh">
        <tr class="sonata-ba-list-field-header">
            <th class="th-rh">{{ 'exercicio'|trans }}</th>
            <th class="th-rh">{{ 'cgm'|trans }}</th>
            <th class="th-rh">{{ 'email'|trans }}</th>
            <th class="th-rh">{{ 'label.cod_municipio'|trans }}</th>
            <th class="th-rh"></th>
        </tr>
       </thead>
        <tbody>
        {% for configuracao in configuracoes %}
            <tr>
                <td class="td-rh"><a href="{{ path('informacoes_configuracao_rais_show', { 'id': configuracao.exercicio }) }}">{{ configuracao.exercicio }}</a></td>
                <td class="td-rh">{{ configuracao.numcgm }}</td>
                <td class="td-rh">{{ configuracao.email }}</td>
                <td class="td-rh">{{ configuracao.codMunicipio }}</td>
                <td class="td-rh">
                    <div class="btn-group">
                        <a href="{{ path('informacoes_configuracao_rais_show', { 'id': configuracao.exercicio }) }}" data-position="left" data-delay="50" data-tooltip="Detalhe" class="btn btn-delete-sonata blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped" data-tooltip-id="d5c891dc-189c-f92e-efa7-e36184b2038c">
                            <i class="fa fa-search-plus"></i>
                        </a>
                        <a href="{{ path('informacoes_configuracao_rais_edit', { 'id': configuracao.exercicio }) }}" data-position="left" data-delay="50" data-tooltip="Editar" class="btn btn-delete-sonata blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped" data-tooltip-id="d5c891dc-189c-f92e-efa7-e36184b2038c">
                            <i class="material-icons">edit</i>
                        </a>
                        <button type="submit" class="btn btn-delete-sonata blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped" data-position="right" data-delay="50" data-tooltip="Excluir" data-tooltip-id="3fac1630-635c-78bc-454d-e0e8301e2298">
                            <i class="material-icons">delete</i>
                        </button>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}
