{% block content %}

    {% if field.data.item is not null %}

        <table class="table show-table">
            <tbody>
                <tr class="sonata-ba-view-container">
                    <th>{{ 'label.catalogoItem.codigoItem'|trans }}</th>
                    <td>{{ field.data.item.codItem }}</td>

                </tr>
                <tr class="sonata-ba-view-container">
                    <th>{{ 'label.catalogoItem.ativo'|trans }}</th>
                    {% if field.data.item.ativo %}
                        <td><span class="label label-success">Sim</span></td>
                    {% else %}
                        <td><span class="label label-danger">Não</span></td>
                    {% endif %}
                </tr>
                <tr class="sonata-ba-view-container">
                    <th>{{ 'label.catalogoItem.codTipo'|trans }}</th>
                    <td>{{ field.data.item.fkAlmoxarifadoTipoItem.descricao }}</td>

                </tr>
                <tr class="sonata-ba-view-container">
                    <th>{{ 'label.catalogoItem.descricao'|trans }}</th>
                    <td>{{ field.data.item.descricao }}</td>
                </tr>
                <tr class="sonata-ba-view-container">
                    <th>{{ 'label.catalogoItem.prioridade'|trans }}</th>
                    <td>{{ field.data.item.prioridade }}</td>
                </tr>
            </tbody>
        </table>

    {% endif %}

{% endblock content %}