{% if field.data.item.foto|length > 0 %}
    <div class="row col-md-12">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="/patrimonial/almoxarifado/catalogo-item/foto/{{  field.data.item.codItem }}" alt="{{ field.data.item.descricaoFoto }}" style="width:100%">
                <div class="caption">
                    <p>{{ field.data.item.descricaoFoto }}</p>
                    <p><input type="checkbox" value="{{ field.data.item.codItem }}" name="remover[]"> {{ 'label.imobiliarioImovelFoto.removerFoto'|trans }}</p>
                </div>
            </div>
        </div>
    </div>
{% else %}
        <div class="row col-md-12">
            <div class="col-md-4">
                {{ 'label.catalogoItem.semFoto'|trans }}
            </div>
        </div>
{% endif %}

