{% extends "base_home_cards.html.twig" %}
{% block content %}
<div class="container">
    <div class="container">
        <h4 class="blue-text text-darken-4">Item de Manutenção</h4>
        <div class="divider grey title-divider"><p>1</p></div>
    </div>
    <div class="container">
        <div class="col s6 m6 l3">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_patrimonial_frota_item_list') }}">
                    <h6><i class="mdi mdi-cube-outline large"></i></h6>
                    <h6 class="truncate center">Item Manutenção</h6>
                </a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="left">
                    <a href="{{ path('urbem_patrimonial_frota_item_create') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                </h5>
                <h5 class="right">
                    <a href="{{ path('urbem_patrimonial_frota_item_list') }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                </h5>
            </div>
        </div>
    </div>

    <div class="container">
        <h4 class="blue-text text-darken-4">Catálogos</h4>
        <div class="divider grey title-divider"><p>1</p></div>
    </div>
    <div class="container">
        {% for catalogo in catalogos %}
            <div class="col s6 m6 l3">
                <div class="card-panel col s12 hoverable center">
                    <a href="{{ path('urbem_patrimonial_frota_classificacao_catalogo_item_create', { 'id': catalogo.codCatalogo }) }}">
                        <h6><i class="mdi mdi-cube-unfolded large"></i></h6>
                        <h6 class="truncate center">{{ catalogo.descricao }}</h6>
                    </a>
                    <p></p>
                    <div class="divider col s12"></div>
                    <h5 class="left">
                        <a href="{{ path('urbem_patrimonial_frota_classificacao_catalogo_item_create', { 'id': catalogo.codCatalogo }) }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                    </h5>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
