{% extends "base.html.twig" %}
{% block content %}
    <div class="container-rh">
        <div class="col s12 title-edit box-title-rh">
            <h5>{{ 'label.efetuarLancamentosContabeisEncerramento'|trans }}</h5>
            <div class="divider grey title-divider"><p>1</p></div>
        </div>
        <div class="row">
            {{ form_start(form) }}
            <div class="col s4 field-filtro select-filtro">
                <div class="col s12">
                    {{ form_label(form.entidade, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                </div>
                <div class="col s12">
                    {{ form_widget(form.entidade, {'attr': {'class': 'white input-select2 browser-default'}}) }}
                    {{ form_errors(form.entidade) }}
                </div>
            </div>
            <div class="col s4" style="margin: 0 0 1% 1.5%;">
                <div class="col s12">
                    {{ form_label(form.opcao, null, {'label_attr': {'class': 'label-rh '}}) }}
                </div>
                <div class="col s12">
                    <div class="col s12">
                        {{ form_widget(form.opcao.0) }} {{ form_label(form.opcao.0) }}
                    </div>
                    <div class="col s12">
                        {{ form_widget(form.opcao.1) }} {{ form_label(form.opcao.1) }}
                    </div>
                    <div class="col s12">
                        {{ form_widget(form.opcao.2) }} {{ form_label(form.opcao.2) }}
                    </div>
                    <div class="col s12">
                        {{ form_widget(form.opcao.3) }} {{ form_label(form.opcao.3) }}
                    </div>
                </div>
            </div>
            <div class="col s12" style="margin-top: 20px">
                <button type="submit"
                        class="waves-effect waves-light btn blue darken-4 btn btn-success save right"
                        name="btn_update_and_list">
                    <i class="material-icons left">save</i>Salvar
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock content %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('/bundles/financeiro/javascripts/contabilidade/encerramento/efetuar_lancamento.js') }}"></script>
{% endblock javascripts %}