{% extends "base.html.twig" %}
{% block content %}
    <div>
        <div class="container">
            <h4 class="blue-text text-darken-4">{{ 'label.gerarRestosPagarProximoExercicio'|trans }}</h4>
            <div class="divider grey lighten-1  title-divider"><p>1</p></div>

            {{ form_start(form) }}
            <div class="col s4 field-filtro select-filtro">
                {{ form_label(form.entidade, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
                {{ form_widget(form.entidade, {'attr': {'class': 'white input-rh browser-default'}}) }}
                {{ form_errors(form.entidade) }}
            </div>
            <p class="col s8" style="font-size: 19px;
                                    color: #757575;
                                    padding-left: 0px !important;
                                    margin-top: 16px;
                                    width: 60%;
                                    margin-left: 20px;">
                {{ 'label.AberturaRestosPagar.mensagem.permitido'|trans }}
            </p>
            <div class="col s12">
                <button type="submit" class="waves-effect waves-light btn blue darken-4 btn btn-success save left"
                        style="margin-left: 0px; margin-top: 14px;"
                        name="btn_update_and_list">
                        <i class="mdi mdi-file-document left"></i>
                        Gerar
                </button>
            </div>
            {{ form_end(form) }}
        </div>
        <i class="fa fa-exclamation-triangle" aria-hidden="true"
           style="position: relative;
                    color: rgba(43, 43, 43, 0.1);
                    font-size: 25em;
                    top: 28px;
                    float: right;">
        </i>
    </div>
{% endblock content %}