{% extends "base_home_cards.html.twig" %}
{% block content %}
    <div class="container">
        <div class="container">
            <h4 class="blue-text text-darken-4">Encerramento</h4>
            <div class="divider grey title-divider"><p>1</p></div>
        </div>
        <div class="container">
            <div class="col s6 m6 l3">
                <div class="card-panel col s12 hoverable center" >
                    <a href="{{ path('financeiro_contabilidade_encerramento_gerar_restos_pagar')}}">
                        <h6><i class="fa fa-money large" aria-hidden="true"></i></h6>
                        <p class="center">Gerar Restos <br />a Pagar</p>
                    </a>
                    <p></p>
                    <div class="divider col s12"></div>
                    <h5 class="right">
                        <a href="{{ path('financeiro_contabilidade_encerramento_gerar_restos_pagar')}}"
                           class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Editar">
                            <i class="material-icons">edit</i>
                        </a>
                    </h5>
                </div>
            </div>
            <div class="col s6 m6 l3">
                <div class="card-panel col s12 hoverable center" >
                    <a href="{{ path('financeiro_contabilidade_encerramento_anular_restos_pagar') }}">
                        <h6>
                            <span class="fa-stack fa-lg" style="font-size: 2.5em;">
                              <i class="fa fa-money fa-stack-2x" aria-hidden="true"></i>
                              <i class="fa fa-ban fa-stack-2x text-danger"></i>
                            </span>
                        </h6>
                        <p class="center">Anular Inscrição de <br />Restos a Pagar</p>
                    </a>
                    <p></p>
                    <div class="divider col s12"></div>
                    <h5 class="right">
                        <a href="{{ path('financeiro_contabilidade_encerramento_anular_restos_pagar') }}"
                           class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Editar">
                            <i class="material-icons">edit</i>
                        </a>
                    </h5>
                </div>
            </div>
            <div class="col s6 m6 l3">
                <div class="card-panel col s12 hoverable center" >
                    <a href="{{ path('financeiro_contabilidade_encerramento_efetuar_lancamento_contabil_encerramento')}}">
                        <h6><i class="mdi mdi-cash-multiple large"></i></h6>
                        <p class="center">Efetuar Lançamentos Contábeis de Encerramento</p>
                    </a>
                    <p></p>
                    <div class="divider col s12"></div>
                    <h5 class="right">
                        <a href="{{ path('financeiro_contabilidade_encerramento_efetuar_lancamento_contabil_encerramento')}}"
                           class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Editar">
                            <i class="material-icons">edit</i>
                        </a>
                    </h5>
                </div>
            </div>
            <div class="col s6 m6 l3">
                <div class="card-panel col s12 hoverable center" >
                    <a href="{{ path('financeiro_contabilidade_encerramento_excluir_lancamento_contabil_encerramento')}}">
                        <h6>
                            <span class="fa-stack fa-lg" style="font-size: 2.5em;">
                              <i class="fa fa-money fa-stack-2x" aria-hidden="true"></i>
                              <i class="fa fa-ban fa-stack-2x text-danger"></i>
                            </span>
                        </h6>
                        <p class="center">Excluir Lançamentos Contábeis de Encerramento</p>
                    </a>
                    <p></p>
                    <div class="divider col s12"></div>
                    <h5 class="right">
                        <a href="{{ path('financeiro_contabilidade_encerramento_excluir_lancamento_contabil_encerramento')}}"
                           class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Editar">
                            <i class="material-icons">edit</i>
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
