<table class="table table-bordered js-table-lista-creditos">
    <thead>
        <tr>
            <th></th>
            <th>{{ 'label.dividaAtivaRelatorios.remissaoAutomatica.exercicio'|trans }}</th>
            <th>{{ 'label.dividaAtivaRelatorios.remissaoAutomatica.codigo'|trans }}</th>
            <th>{{ 'label.dividaAtivaRelatorios.remissaoAutomatica.descricao'|trans }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="sonata-ba-tbody ui-sortable">
        {% if field.data.itens|length > 0 %}
            {% for item in field.data.itens %}
                <tr class="form_row campo-sonata" data-index="{{ loop.index }}">
                    <td class="control-group">
                        {{ ++loop.index}}
                    </td>
                    <td class="control-group">
                        <span>{{ exercicio }}</span>
                    </td>
                    <td class="control-group">
                        <span>{{ codigo }}</span>
                    </td>
                    <td class="control-group">
                        <span>{{ credito }}</span>
                    </td>
                    <td class="control-group">
                        <button class="js-delete-row">Remover</button>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
