{% extends "base.html.twig" %}
{% block content %}
<div class="container-rh">
    <div class="row">
        <div class="col s12">
            <h5 class="blue-text text-darken-4">{{ 'label.configuracaoCaged.modulo'|trans }}</h5>
            <div class="divider grey title-divider"><p>1</p></div>
        </div>
    </div>
    <div class="row">
    {{ form_start(form) }}
        <div class="col s3 field-filtro select-filtro">
            {{ form_label(form.codCnae, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(form.codCnae, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(form.codCnae) }}
        </div>
        <div class="col s9 field-filtro select-filtro">
            {{ form_label(form.tipoDeclaracao, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
            {{ form_widget(form.tipoDeclaracao, {'attr': {'class': 'white input-rh browser-default'}}) }}
            {{ form_errors(form.tipoDeclaracao) }}
        </div>
    {{ form_end(form) }}
    </div>
    <div class="row">
        <div class="col s6">
            <a  class="btn-floating white-text blue darken-4" href="{{ path('informacoes_configuracao_caged_index') }}"><i class="material-icons">arrow_back</i></a>
        </div>
        <div class="col s6 right-align">
            <button type="submit" class="waves-effect waves-light btn blue darken-4" value="Create"><i class="material-icons left">save</i>Salvar</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock content %}
