{% extends "base.html.twig" %}
{% block content %}
<div class="container-rh">
    <div class="box-header col s12">
    <div class="col s10 box-title left-align show">
        <h2>{{ 'label.concurso.modulo'|trans }}</h2>
    </div>
    <div class="col s2">
        <div class="hide-on-med-and-down col l9 right-align">
            <a class="top-btn btn waves-effect waves-light white-text blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Editar" href="{{ path('informacoes_configuracao_caged_edit', { 'id': configuracao.codConfiguracao }) }}"><i class="material-icons">edit</i></a>
        </div>
        <div class="hide-on-med-and-down col l3 right-align">
            {{ form_start(delete_form) }}
            <button class="top-btn btn waves-effect waves-light white-text blue darken-4 tooltipped" data-position="right" data-delay="50" data-tooltip="Excluir" value="Delete" type="submit" name="action"><i class="material-icons">delete</i></button>
            {{ form_end(delete_form) }}
        </div>
    </div>
</div>
    <div class="box-body  no-padding">
        <table class="bordered show-table">
            <tbody>
                <tr class="sonata-ba-view-container">
                    <th>Codconfiguracao</th>
                    <td>{{ configuracao.codConfiguracao }}</td>
                </tr>
                <tr>
                    <th>Codcnae</th>
                    <td>{{ configuracao.codCnae }}</td>
                </tr>
                <tr>
                    <th>Tipodeclaracao</th>
                    <td>{{ configuracao.tipoDeclaracao }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <a  class="btn-floating white-text blue darken-4" href="{{ path('informacoes_configuracao_caged_index') }}"><i class="material-icons">arrow_back</i></a>
    </div>
</div>
{% endblock %}
