<table class="bordered highlight">
    <thead>
    <tr>
        <th>{{ 'label.itens.codigo'|trans }}</th>
        <th>{{ 'label.itens.agencia'|trans }}</th>
        <th>{{ 'label.itens.conta'|trans }}</th>
        <th>{{ 'label.itens.descricao'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if contas|length > 0 %}
        {% for conta in contas %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ conta.num_agencia }}</td>
                <td>{{ conta.num_conta_corrente }}</td>
                <td>{{ conta.descricao }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="4">Nenhum registro encontrado!</td>
        </tr>
    {% endif %}
    </tbody>
</table>
