{% extends "base.html.twig" %}

{% block title %}{{ 'label.configuracao.modulo'|trans }}{% endblock title %}


{% block menu %}
    {% include '::partials/menu.html.twig' %}
{% endblock menu %}

{% block content %}
    <div class="container">
        <h1>{{ 'label.configuracao.modulo'|trans }}</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create" />
        {{ form_end(form) }}

        <ul>
            <li>
                <a href="{{ path('administracao_configuracao_index') }}">Back to the list</a>
            </li>
        </ul>
    </div>
{% endblock %}
