{% extends "base_home_cards.html.twig" %}
{% block title %}Urbem > Patrimonial{% endblock title %}
{% block content %}
<!--SUB-MODULOS-->
<div class="container">
    <div class="col s12 m12 l12">
        <h4 class="title-filtro blue-text text-darken-4">Módulo Patrimonial</h4>
    </div>
    <div class="row">
        <!--PATRIMÔNIO-->
        <div class="col s10 m6 l3">
            <div class="card small white">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" title="Sub Módulo Patrimônio" id="abrecard">
                        <img class="activator responsive-img"
                             src="{{ asset('/bundles/patrimonial/images/patrimony.png') }}">
                    </a>
                </div>
                <div class="card-content white">
                    <span class="card-title activator blue-text text-darken-4 truncate flow-text">Patrimônio</span>
                </div>
                <div class="card-reveal">
                    <div class="col s12 titulo-inside-card truncate">
                        <i class="material-icons icoTitMenu left">list</i> Patrimônio
                        <span class="card-title grey-text text-darken-4 closeHomeNovo">
                            <i class="material-icons right">close</i>
                        </span>
                    </div>
                    <div class="setaMenu"></div>
                    <div class="menuHomeNovo">
                    <p class="link-cards"><a href="{{ path('patrimonio_patrimonial_configuracao_home') }}"> Configuração</a></p>
                    <p class="link-cards"><a href="{{ path('patrimonio_bem_home') }}"> Bem</a></p>
                    <p class="link-cards"><a href="{{ path('patrimonio_manutencao_home') }}"> Manutenção</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_patrimonial_patrimonio_apolice_list') }}"> Apólice</a></p>
                    <p class="link-cards"><a  href="{{ path('patrimonio_inventario_home') }}">Inventário</a></p>
                    <p class="link-cards"><a href="{{ path('patrimonio_patrimonial_relatorios_home') }}"> Relatórios</a></p>
                </div>
            </div>
                </div>
            </div>

        <!--FROTA-->
        <div class="col s10 m6 l3">
            <div class="card small white">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" title="Sub Módulo Frota" id="abrecard">
                        <img class="activator responsive-img"
                             src="{{ asset('/bundles/patrimonial/images/fleet.png') }}">
                    </a>
                </div>
                <div class="card-content white">
                    <span class="card-title activator blue-text text-darken-4 truncate flow-text">Frota</span>
                </div>
                <div class="card-reveal">
                    <div class="col s12 titulo-inside-card truncate">
                        <i class="material-icons icoTitMenu left">list</i> Frota
                        <span class="card-title grey-text text-darken-4 closeHomeNovo">
                            <i class="material-icons right">close</i>
                        </span>
                    </div>
                    <div class="setaMenu"></div>
                    <div class="menuHomeNovo">
                    <p class="link-cards"><a href="{{ path('patrimonio_frota_configuracao_home') }}"> Configuração</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_patrimonial_frota_veiculo_list') }}"> Veículo</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_patrimonial_frota_motorista_list') }}"> Motorista</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_patrimonial_frota_posto_list') }}"> Posto</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_patrimonial_frota_autorizacao_list') }}"> Autorização de Abastecimento</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_patrimonial_frota_item_list') }}"> Itens de Manutenção</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_patrimonial_frota_manutencao_list') }}">Manutenção</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_patrimonial_frota_infracao_list') }}"> Infração</a></p>
                    <p class="link-cards"><a href="{{ path('patrimonio_frota_controle_escolar_home') }}"> Controle Escolar</a></p>
                    <p class="link-cards"><a href="{{ path('patrimonio_frota_relatorios_home') }}"> Relatorios</a></p>
                </div>
                </div>
            </div>
        </div>

        <!--ALMOXARIFADO-->
        <div class="col s10 m6 l3">
            <div class="card small white">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" title="Sub Módulo Almoxarifado" id="abrecard">
                        <img class="activator responsive-img"
                             src="{{ asset('/bundles/patrimonial/images/warehouse.png') }}">
                    </a>
                </div>
                <div class="card-content white">
                    <span class="card-title activator blue-text text-darken-4 truncate flow-text">Almoxarifado</span>
                </div>
                <div class="card-reveal">
                    <div class="col s12 titulo-inside-card truncate">
                        <i class="material-icons icoTitMenu left">list</i> Almoxarifado
                        <span class="card-title grey-text text-darken-4 closeHomeNovo"><i class="material-icons right">close</i></span>
                    </div>
                    <div class="setaMenu"></div>
                    <div class="menuHomeNovo">
                    <p class="link-cards"><a href="{{ path('urbem_administrativo_administracao_configuracao_create', {id : 29}) }}"> Configuração</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_patrimonial_almoxarifado_almoxarifado_list') }}"> Almoxarifado</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_patrimonial_almoxarifado_almoxarife_list') }}"> Almoxarife</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_patrimonial_almoxarifado_marca_list') }}"> Marca</a></p>
                    <p class="link-cards"><a href="{{ path('patrimonio_almoxarifado_catalogo_home') }}"> Catálogo</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_patrimonial_almoxarifado_localizacao_fisica_list') }}"> Localização</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_patrimonial_almoxarifado_centro_custo_list') }}"> Centro de Custo</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_patrimonial_almoxarifado_processar_implantacao_create') }}">Processar Implantação</a></p>
                    <p class="link-cards"><a href="{{ path('patrimonial_almoxarifado_entrada_home') }}">Entrada</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_patrimonial_almoxarifado_requisicao_list') }}"> Requisição</a></p>
                    <p class="link-cards"><a href="{{ path('patrimonial_almoxarifado_saida_home') }}">Saída</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_patrimonial_almoxarifado_pedido_transferencia_list') }}">Nota de Transferência</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_patrimonial_almoxarifado_inventario_list') }}">Inventário</a></p>
                    <p class="link-cards"><a href="{{ path('patrimonio_almoxarifado_relatorios_home') }}">Relatórios</a></p>
                </div>
                </div>
            </div>
        </div>

        <!--COMPRAS-->
        <div class="col s10 m6 l3">
            <div class="card small white">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" title="Sub Módulo Compras" id="abrecard">
                        <img class="activator responsive-img"
                             src="{{ asset('/bundles/patrimonial/images/purchase.png') }}">
                    </a>
                </div>
                <div class="card-content white">
                    <span class="card-title activator blue-text text-darken-4 truncate flow-text">Compras</span>
                </div>
                <div class="card-reveal">
                    <div class="col s12 titulo-inside-card truncate">
                        <i class="material-icons icoTitMenu left">list</i> Compras
                        <span class="card-title grey-text text-darken-4 closeHomeNovo">
                            <i class="material-icons right">close</i>
                        </span>
                    </div>
                    <div class="setaMenu"></div>
                    <div class="menuHomeNovo">
                    <p class="link-cards"><a href="{{ path('patrimonio_compras_configuracao_home') }}"> Configuração</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_patrimonial_compras_fornecedor_list') }}"> Fornecedor</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_patrimonial_compras_solicitante_list') }}"> Solicitante</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_patrimonial_compras_solicitacao_list') }}">Solicitação de Compra</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_patrimonial_compras_mapa_list') }}">Mapa de Compras</a></p>
                    <p class="link-cards"><a href="{{ path('patrimonio_compras_compra_direta_home') }}"> Compra Direta</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_patrimonial_compras_ordem_list') }}">Ordem de Compra</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_patrimonial_compras_ordem_list') }}">Ordem de Serviço</a></p>
                    <p class="link-cards"><a href="{{ path('patrimonio_compras_contrato_home') }}">Contrato Compras</a></p>
                    <p class="link-cards"><a href="{{ path('patrimonio_compras_relatorios_home') }}">Relatórios</a></p>
                </div>
                </div>
            </div>
        </div>

        <!--LICITAÇÃO-->
        <div class="col s10 m6 l3">
            <div class="card small white">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" title="Sub Módulo Licitação" id="abrecard">
                        <img class="activator responsive-img"
                             src="{{ asset('/bundles/patrimonial/images/bidding.png') }}">
                    </a>
                </div>
                <div class="card-content white">
                    <span class="card-title activator blue-text text-darken-4 truncate flow-text">Licitação</span>
                </div>
                <div class="card-reveal">
                    <div class="col s12 titulo-inside-card truncate">
                        <i class="material-icons icoTitMenu left">list</i> Licitação
                        <span class="card-title grey-text text-darken-4 closeHomeNovo">
                            <i class="material-icons right">close</i>
                        </span>
                    </div>
                    <div class="setaMenu"></div>
                    <div class="menuHomeNovo">
                    <p class="link-cards"><a href="{{ path('urbem_patrimonial_licitacao_comissao_list') }}"> Comissão de Licitação</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_patrimonial_licitacao_publicidade_list') }}"> Publicidade</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_patrimonial_licitacao_documento_list') }}"> Documentos</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_patrimonial_licitacao_participante_certificacao_list') }}" >Fornecedores - Certificação</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_patrimonial_licitacao_convenio_list') }}"> Convênios</a></p>
                    <p class="link-cards"><a href="{{ path('patrimonio_licitacao_processo_licitatorio_home') }}"> Processo Licitatório</a></p>
                    <p class="link-cards"><a href="{{ path('patrimonio_licitacao_contrato_home') }}"> Contrato Licitação</a></p>
                    <p class="link-cards"><a href="{{ path('urbem_patrimonial_licitacao_autorizacao_empenho_list') }}">Autorização de Empenho</a></p>
                    <p class="link-cards"><a class="grey-text">Relatorios</a></p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
