<table class="bordered highlight">
    <thead>
    <tr>
        <th width="3%"></th>
        <th>{{ 'label.itens.item'|trans }}</th>
        <th width="50%" >{{ 'label.patrimonial.licitacao.itens'|trans }}</th>
        <th>{{ 'label.itens.centroCusto'|trans }}</th>
        <th>{{ 'label.itens.valorTotal'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for item in dados %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ item.codItem }}</td>
            <td>{{ item.descricaoResumida }}</td>
            <td>{{ item.centroCustoDescricao }}</td>
            <td class="right-align">{{ item.valorTotal|number_format(2, ',', ' ') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
