{% set convenio = field.data.convenio %}
<div class="box-body  no-padding">
    <table class="table show-table">
        <tbody>
            <tr class="sonata-ba-view-container">
                <th>{{ "empenhoConvenio.convenio" | trans }}</th>
                <td>{{ convenio.numConvenio }}/{{ convenio.exercicio }}</td>
            </tr>
            <tr class="sonata-ba-view-container">
                <th>{{ "empenhoConvenio.assinatura" | trans }}</th>
                <td>{{ convenio.dtAssinatura|date('d/m/Y') }}</td>
            </tr>
            <tr class="sonata-ba-view-container">
                <th>{{ "empenhoConvenio.vigencia" | trans }}</th>
                <td>{{ convenio.dtVigencia|date('d/m/Y') }}</td>
            </tr>
        </tbody>
    </table>
</div>