{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('/bundles/core/css/select2.css') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ asset('/bundles/sonatacore/vendor/select2/select2.css') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ asset('/bundles/sonatacore/vendor/select2-bootstrap-css/select2-bootstrap.min.css') }}"/>
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('/bundles/sonatacore/vendor/select2/select2.min.js') }}"></script>

{% endblock javascripts %}

{% block jquery %}

{% endblock jquery %}

{% block title %}{{ wo_render_breadcrumbs({ separator: '>', viewTemplate: "WhiteOctoberBreadcrumbsBundle::titlebreadcrumbs.html.twig" }) }}{% endblock title %}

{% block menu %}
    {% include '::partials/menu.html.twig' %}
{% endblock menu %}

{% block content %}
    <div class="sonata-ba-show">
        <div class="sonata-ba-view">
            {% include 'FinanceiroBundle:Empenho/Empenho/Convenio:detalhe_dados_convenio.html.twig' %}

            {% include 'FinanceiroBundle:Empenho/Empenho/Convenio:detalhe_participantes_convenio.html.twig' %}

            {% include 'FinanceiroBundle:Empenho/Empenho/Convenio:detalhe_form.html.twig' %}
        </div>
    </div>

{% endblock %}
